<style>


</style>
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">  
    $().ready(function() {  
        $('#add').click(function() {  
        	var data=$('#select1 option:selected').val();
        	var test=$("#select2 option").map(function() {return $(this).val();}).get();
        	if(test.indexOf($('#select1 option:selected').val())>-1)
        		{
        		alert("project already exist on assigned user");
        		return false;
        		}
        	else
        		{
        		return !$('#select1 option:selected').appendTo('#select2'); 
        		}
        });  
        $('#remove').click(function() {  
        	var data=$('#select2 option:selected').val();
        	var test=$("#select1 option").map(function() {return $(this).val();}).get();
        	 if(test.indexOf($('#select2 option:selected').val())>-1)
        		{
        		 $("#select1 option").siblings('[value="'+ data +'"]').remove();
        		 $('#select2 option:selected').appendTo('#select1');
        		return false;
        		} 
            return !$('#select2 option:selected').appendTo('#select1');  
        });  
    });
   
</script>


<link rel="stylesheet" href="css/custom.maindiv.css">
<div class="container-fluid noPadding">

<!-- Main Content -->
<div class="row noMargin-left">
<div class="col-md-10 noPadding-left">

<!-- Main Dashboard View  -->

<div class="col-md-12 heading">
	<div>Access Details</div>
</div>
<div class="row dash-charts">

<div class="col-md-12" data-ng-init="userList(id,user_role)">
<div>{{statusave}}</div>
<table>

    <tr>
        <td>
           <div  data-ng-init="getUserDetails(id)" style="    margin-top: 11%;">Existing project under:{{user}}<br>
             <br>
             </div>
          <select name="multi_list1" id="select1" multiple="multiple" style="margin-top: 8%;height: 48%;width: 100%;">
           <option data-ng-repeat="roww in allprojectList1"value="{{roww.projectid}}">{{roww.projectName}}</option>
          </select>
         </td>
          
         <td> 
         <div style= "margin-top: 134%;">
            <a  id="add"><i class="fa fa-arrow-right"></i></a> 
            <a id="remove"><i class="fa fa-arrow-left"></i></a>
            </div>
        </td>
        <td>   
            <div style="margin-top:13%;">Assign project to: <select class="form-control" name="useridAccess" style="margin-left: 91%;
    margin-top: -23%;" data-ng-change=getUserDetails(userid) data-ng-model="userid">
				   <option value="" disabled selected>Select User</option>
				   <option data-ng-repeat='row in users' value="{{row.id}}">{{row.name}}</option>
                </select></div><br/> 
                <div style="  margin-top: -10%; ">
        <select name="multi_list2[]" id="select2" multiple="multiple" data-ng-model="projectstt" style=" width: 192%;margin-top:20%;">
        <option data-ng-repeat='row in getAccesslist' value="{{row.projectid}}">{{row.projectName}}</option>
       
        </select>  
        </div>
        </td>
    </tr>
    <tr>
    <td></td>
    <td><button id='btnUpdateMain' class="btn-back  btn btn-primary btn-sm" data-ng-click="giveaccess(userid)">Access</button></td>
     <td></td>
    </tr>
</table>
 
</div>
    
<div style="height: 100px; clear: both;"></div>
</div>
<div class="col-md-1"></div>
</div></div> 
<div class="col-md-2"></div>  </div>





 
