<html>
<script src="js/mailvalidation.js"></script>
<link rel="stylesheet" href="css/custom.maindiv.css">
<style>
	.errspan{
		margin-left: -2%;
		margin-top: 1%;
	}
</style>
<div class="col-md-12">
	
<!-- 	<h3>Create New Project &nbsp;&nbsp;&nbsp;
 -->
 <h3 align="center">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<u>Create New Project</u> &nbsp;&nbsp;&nbsp;
 
 <span id="createUserStatus"
							style="color: green; font-size: 17px;">{{statuscreateusere}}</span>
							<span id="statusFails" style="color: red; font-size: 17px;">{{statusfailuser}}</span></h3>

	
	<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
		<div class="x_content">

							<form id="demo-form" name="submitForm">
								
								<div class="row">
									<label for="fullname" class="col-md-2">Project Name
										 <span class="text-danger">*</span> :</label> <input type="text" id="applicationName"
										class="form-control form-control-sm col-md-7"
										data-ng-model="applicationName" name="fullname" required>
								</div>
								<div class="row">
									<label class="col-md-2" for="fullname">Project Key <span class="text-danger">*</span> :</label>
									<input type="text" id="projectName"
										class="form-control form-control-sm col-md-7"
										data-ng-model="projectName" name="fullname"
										required="required">
								</div>
								<div class="row">
									<label class="col-md-2">Select Module <span class="text-danger">*</span>:</label> 
									<label style="margin-left: 17px;" class="col-md-2">
									<input id="auto" name="projectType" data-ng-model="isAuto"
										class="check col-md-1 active" type="checkbox"
										value="Automation" data-ng-click="showAutomationData()"
										checked> Automation </label>
										<label style="margin-left: 28px;" class="col-md-2">
										<input id="manual" name="projectType" data-ng-model="isMannual"
										class="check col-md-1 " type="checkbox" value="Manual"> Manual </label> <br>
								</div>
							<!-- 	<div class="AutoDetail" style="display: none">

									<div class="row">
										<label for="heard" class="col-md-3"
											data-ng-init="toggleSelection()">Select Platform *:</label> <select
											id="platfrom" class="form-control form-control-sm col-md-7"
											data-ng-model="platFrom" checked="checked" required>
											<option value="">Choose..</option>
											<option value="web">Web</option>
											<option value="mobile">Mobile</option>

										</select>
									</div>
									<div class="row">
										<label for="heard" class="col-md-3">Select Slave Machine:</label> <select data-ng-model="slaveMechine"
											id="slaveMechine"
											class="form-control form-control-sm col-md-7" required="">
											<option value="">Choose..</option>
											<option value="Jira">mechine1</option>
											<option value="Bugzilla">Bugmechine2zilla</option>

										</select>
									</div>
								</div> -->
								<div class="row">
									<label for="heard" class="col-md-2">Start Date <span class="text-danger">*</span>:</label> <input
										type="text" id="pStdAte"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pStdAte" name="pStdAte" autocomplete="off"
										required="" readonly><span class="fa fa-calendar errspan"></span>


								</div>
								<div class="row">
									<label for="heard" class="col-md-2">End
										Date(Tentative) <span class="text-danger">*</span>:</label> <input type="text" id="pEndAte"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pEndAte" name="pEndAte" autocomplete="off"
										required="" readonly><span class="fa fa-calendar errspan"></span>

								</div>
								<div class="row">
									<label for="heard" class="col-md-2">Is Active <span class="text-danger">*</span>:</label> 
									<label style="margin-left: 17px;" class="radio-inline active col-md-2">
										<input type="radio" data-ng-model="isActive" name="isActive"
										id="inlineRadio1 customRadio" checked="checked" value="Y">
										Y
									</label> <label style="margin-left: 28px;" class="radio-inline col-md-2">
										<input type="radio" data-ng-model="isActive" name="isActive"
										id="inlineRadio2 customRadio" value="N" checked> N
									</label>
								</div>
								<div class="row">
									<label for="heard" class="col-md-2"
										data-ng-init="showBugToolActive()">Bug Tracking Tool <span class="text-danger">*</span>:</label> <select
										id="BugTracking" class="form-control form-control-sm col-md-7"
										data-ng-model="bugTracking" required>
										<option selected value="" >None</option>
										<option data-ng-repeat='row in showActiveBugTracker'
											value="{{row.toolid}}">{{row.bugTrackingToolName}}</option>
										<!-- <option value="">Choose..</option>
									<option value="Jira">Jira</option>
									<option value="Bugzilla">Bugzilla</option> -->

									</select>
								</div>

								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

										
									</div>
								</div>
							</form>

						</div>
				<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
						</div>
					</div>
				    <button type="submit" data-ng-click="createProject()"  style="margin-left: 1%;" class="btn btn-success" id="submit" >Submit</button>
					<!-- <button class="btn btn-primary" type="reset" style="margin-left: 63%;" data-ng-click="resetProject()">Reset</button> -->
										
						<!-- <button type="button" class="btn btn-danger" data-ng-click="projectCreateClose(status)" data-dismiss="modal">Close</button> -->
						<button type="reset" class="btn btn-danger" data-ng-click="resetProject()" data-dismiss="modal">Reset</button>
	
	</div>
</div>
</div>

<script>
function showSearchData(element){
	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
	    return function( elem ) {
	        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
	    };
	});
	var getdata=element.value;
	if(getdata==''){
		$('h5.project_name').closest(".project_row").show();
	}else{
		$('h5.project_name').closest(".project_row").hide();
		$('h5.project_name:contains('+getdata+')').closest(".project_row").show();
	}
}
function buttonSearch(){
var val=$('[name="search"]').val();
 showSearchData(val);
}

$(".fa-calendar").on("click", function(){
    $(this).siblings("input").datepicker("show");    
});

	var startdate = $('input[name="pStdAte"]'); // Our date input has the name "date"
	var container = $('.bootstrap-iso form').length > 0 ? $(
			'.bootstrap-iso form').parent() : 'body';
		startdate.datepicker({
		format : 'mm/dd/yyyy',
		container : container,
		todayHighlight : true,
		autoclose : true,
		startDate : '01/01/2000', // <-- THIS WORKS
		endDate : '12/31/2050'
	});

	/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	 */
	var endDate = $('input[name="pEndAte"]'); // Our date input has the name "date"
	var container = $('.bootstrap-iso form').length > 0 ? $(
			'.bootstrap-iso form').parent() : 'body';
	endDate.datepicker({
		format : 'mm/dd/yyyy',
		container : container,
		todayHighlight : true,
		autoclose : true,
		startDate : '01/01/2000', // <-- THIS WORKS
		endDate : '12/31/2050'
	// startDate: truncateDate(new Date()) // <-- THIS WORKS
	});

	/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	 */
	 
	

	/* 	 $('#applicationName').on('change', function(e) {
			let appName=$('#applicationName').val();
			if(!(regexNumAlphaSpecial.test(appName))){
				if(!(regexoneAplha).test(appName)){
					alert("Atleast one alphabet should be present!!");
				}
				else{
					alert("Only alphabets, numbers and special characters are allowed...");
				}
				
				$('#applicationName').val('');
			}
			
		}); 
	  */
	function truncateDate(date) {
		return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	}
</script>