<style>
.errspan {
       margin-left: -4%;
    margin-top: 7px;
    /* font-size: 111%; */
    z-index: 100;
}
    </style>
<link rel="stylesheet" href="css/custom.maindiv.css">
<script type="text/javascript" src="js/new.js"></script>
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.testRun">Test
					Runs And Results</a></li>
			<li class="breadcrumb-item active">Add New Run</li>
		</ul>
	</div>
	<div class="suitesOverview">

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-10 noPadding-left">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div>Test Runs And Results</div>
				</div>
				<div class="col-md-12 heading1">
					<div>Add Run<span style="margin-left: 20px;color: green;">{{statusMsg}}</span><span style="margin-left: 20px;color: red;">{{error}}</span></div>
				</div>
				<div class="col-md-12 allProjects noPadding">
					<div class="col-md-12">
						<form>

							<div class="">
								<div class=" col-md-6 noPaddingLeft">
									<label class="control-label" for="">Test Suite Name <span class="text-danger">*</span>:</label>
										<div class="form-control-content" data-ng-init="getTestSuitesNameByPId()">
										<select class="form-control form-control-sm" name="testsuite" id='testSuitesName' data-ng-init="createRunObj.testSuitesId=''" data-ng-model="testsuitesSelected"  data-ng-change="changeRunName()"
													data-ng-options="testsuites as testsuites.testSuitesName for testsuites in testSuitesDetails">
											<option disabled value='' selected>--SELECT--</option>
											<!-- <option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option>	 -->										
										</select>
									</div>
								</div>
							</div>
							<div class="">
								<div class=" col-md-6 noPaddingLeft">
									<label class="control-label" for="">Test Run Name <span class="text-danger">*</span> :</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="runname" data-ng-model="createRunObj.runName">
									</div>
								</div>
							</div>
							<div class="">
								<div class=" col-md-6 noPaddingLeft">
									<label class="control-label" for="">Assigning To <span class="text-danger">*</span> :</label>
									<div class="form-control-content" data-ng-init="getAssignToDetails()">
										<select class="form-control form-control-sm" id='browserName' data-ng-init="createRunObj.assignTo=''" data-ng-model="createRunObj.assignTo"
											>
											<option disabled  value='' selected>--SELECT--</option>
											<option data-ng-repeat="assignto in assignToList | orderBy: 'name'" value="{{assignto.id}}">{{assignto.name}}</option>	
											
										</select>
									</div>
									<div style="color: red;font-size: 13px;font-weight: 600;"> *Select one from dropdown to whom you want to assign test case(s)<div>
								</div></div>
								</div>
								<div class="col-md-6 noPaddingLeft">
									<label class="control-label" for="">End 
										Date(Tentative) <span class="text-danger">*</span>:</label>
										<div class="row" style="margin-left: 0px;" > <input type="text" id="datepicker"
										class="form-control form-control-sm  col-md-6"
										data-ng-model="createRunObj.targetEndDate" name="pEndAte" autocomplete="off" readonly>
										<span class="fa fa-calendar errspan"></span>
									</div>
								</div>
								<div class="col-md-6 noPaddingLeft">
									<label class="control-label" for="">Is Active<span class="text-danger">*</span> :</label> <label
										style="margin-left: 50px;" class="radio-inline"> <input
										type="radio" data-ng-model="createRunObj.isActive" name="isActive"
										id="inlineRadio1" checked="checked" value="Y"> Y
									</label> <label style="margin-left: 50px;" class="radio-inline">
										<input type="radio" data-ng-model="createRunObj.isActive" name="isActive"
										id="inlineRadio2" value="N"> N
									</label>
								</div>
								<div>
									<div class=" col-md-12 noPaddingLeft">
										<label class="control-label" for="">Description </label>
										<div class="form-control-content">
											<textarea class="form-control form-control-sm" rows="4" data-ng-model="createRunObj.description"
												id="steps" placeholder="Enter Description.."></textarea>
										</div>
									</div>
								</div>

							</div>
							<div class="col-md-12 heading1" style="background: aliceblue; margin: 24px 0px;">
								<div><input type='checkbox' class="selecttestcaseinrun" id="allTestCases" data-ng-checked="includeall"  data-ng-modal='includeall' data-ng-click='selectAll()' >&nbsp;&nbsp;All Test Cases Included<br>
								<input type='checkbox' class="selecttestcaseinrun" id="selectOneByOneTestCase"data-ng-checked="selectTestCases"  data-ng-modal=selectTestCases data-ng-click="getAllTestCases()" >
                            &nbsp;Select Test Case(s) <span style="color: red;margin-left: 10px;">{{errormsg}}</span></div>
							</div>
							</div>
							<div class="form-group col-md-12 noPaddingLeft"
								style="margin: 3px;height: 20vh;">
								<div>
									<button type="submit" data-ng-click="confirmCreateRun()" id="submitStrtR" class="btn btn-primary">Start Run</button>	
								</div>
							</div>

						</form>
					</div>
				</div>

			</div>
<!-- 			//<div class="col-md-2 right-side-nav"></div>
 -->			<!-- Side Nav View -->
<!-- -------------------------Modal for TestCaseEdit -->
	<!-- The Modal -->
  <div class="modal fade" id="selectTestCaseModal" style="margin-top: 49px;">
    <div class="modal-dialog modal-xxl">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">Select
							Test Cases</h4>
						<button type="button" class=" " data-dismiss="modal"
							data-ng-click="closeModel()">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12"
								style="max-height: 63vh; overflow-y: scroll; overflow-x: hidden;">

								<!-- Main Dashboard View  -->
								<div class="col-md-12 heading">
									<div>
										<span class='suitesId'>TS_{{testsuitesSelected.testSuitesId}}</span>
										<h5 style='display: inline-block;'>&nbsp;&nbsp;{{testsuitesSelected.testSuitesName}}</h5>
										<div class="input-group input-group-sm col-md-3 pull-right"
											style="padding-right: 0;">
											<select class="form-control form-control-sm" 
												data-ng-model="statusFilterAllTC" 
												data-ng-change="filterTestCaseStatus()">
												<option value="" selected="">--SELECT--</option>
												<option value="status-Fail">Test Case Status--Fail</option>
												<option value="bugStatus-Resolved">Bug Status--Resolved</option>
											</select>

										</div>
										<div class="input-group input-group-sm col-md-2 pull-right"
											style="padding-right: 0;">
											<input type="text" class="form-control"
												placeholder="Search Test Case(s)" aria-label="Small"
												aria-describedby="inputGroup-sizing-sm"
												data-ng-model="search" style="max-height: 4vh;">

										</div>
									</div>
								</div>
								<div data-ng-repeat="(key, value) in testCaseList1">
									<div data-ng-if="value.isActive=='Y'">
										<h6 style='display: inline-block;'>
											<span data-ng-click="toggleTables($index)"><i
												style="padding: 0px 14px;" class="fa fa-angle-double-right"></i><span
												class='suitesId'>TG_{{value.groupId}}</span></span>
											&nbsp;&nbsp;{{key}}
										</h6>
									</div>
									<div class="col-md-12 allProjects" id="tableDatas{{$index}}"
										style="margin-left: 1.5%; border-left: 1px dotted;">
										<!-- <table class="table table-hover table-sm testcase" id="sortable" style="">
							<thead class="thead-light">
								<tr>								
									<th><input type="checkbox" data-ng-model="IsAllChecked[$index]"  id="selectAllCase"
										title='Select All'></th> data-ng-init="CheckUncheckHeader($index)" data-ng-click="CheckUncheckAll($index)"
									<th>TestCase Id</th>
									<th>TestDescription</th>									
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="testcase in value.testCaseList"  >									
									<td data-ng-if="testcase.srNo" ><input type="checkbox"  class="caseCheckbox" data-ng-click="addSelectTCForRun(testcase)"></td>data-ng-model="testcase.selected"
									<td data-ng-if="testcase.srNo" >TC_{{testcase.srNo}}</td>
									<td data-ng-if="testcase.srNo"  style="color: blue;"><a class='caseTitle'>{{testcase.testDescription}}</a></td>														
								</tr>
								
								
								

							</tbody>
						</table> -->
										<table class="table table-hover table-sm testcase"
											id="sortable" style="">
											<thead class="thead-light">
												<tr>
													<th>
														<input type="checkbox"
															data-ng-model="IsAllChecked[$index]" class="selectAllTR"
															id="selectAllCase{{value.groupId}}"
															data-ng-click="selectTestAllCasestart(value.groupId,'')"
															title='Select All'>
													</th>
													<!-- data-ng-init="CheckUncheckHeader($index)" data-ng-click="CheckUncheckAll($index)" -->
													<th>Test Case Id</th>
													<th>Test Description</th>
													<th>Latest Action</th>
													<th>Latest Status</th>
													<th>Latest Bug ID</th>
													<th>Latest Bug Status</th>
												</tr>
											</thead>
											<tbody>
												<!--  id='{{testcase.srID}}' -->
												<tr
													data-ng-repeat="testcase in value.testCaseList | filter:search">
													<td data-ng-if="testcase.srNo"><input type="checkbox"
														id='{{testcase}}' data-ng-model="sltTestCase"
														class="caseCheckbox{{value.groupId}} tcId"
														data-ng-click="selectTestAllCase('',testcase.id)"
														data-ng-change="addSelectTCForRun(testcase)"></td>
													<!-- data-ng-model="testcase.selected" -->
													<td data-ng-if="testcase.srNo" data-ng-model="slectTestNo">TC_{{testcase.srNo}}</td>
													<td data-ng-if="testcase.srNo" style="color: blue;"><a
														class='caseTitle'>{{testcase.testDescription}}</a></td>
													<td data-ng-if="testcase.srNo" style="color: blue;"><a
														class='caseTitle'>{{testcase.action}}</a></td>
													<td data-ng-if="testcase.srNo" style="color: blue;"><a
														class='caseTitle'>{{testcase.status}}</a></td>
													<td data-ng-if="testcase.srNo" style="color: blue;"><a
														class='caseTitle'>{{testcase.bugID}}</a></td>
													<td data-ng-if="testcase.srNo" style="color: blue;"><a
														class='caseTitle'>{{testcase.bugStatus}}</a></td>
												</tr>

											</tbody>
										</table>

									</div>
								</div>
							</div>

						</div>

						<!-- ./Main Dashboard View  -->

						<!-- Side Nav View -->

					</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
				</div>
				</div>

			</div>
    </div>
  </div>
	<!-- -------end -->
		</div>
		<!-- ./Main Content -->


	</div>
	 	<!-- -confirm boxxxxxx--edit project----------- -->
	<div id="confirmation-dialog-create-run" class="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Alert</h4>
					</div>
					<div class="modal-body">
						<div class="span5">Are you sure you want to start run ? </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default mr-3" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="createRun()">Yes</button>
					</div>
				</div>
			</div>
	</div>
	<!-- end------------------- --> 
	</div>
<script type="text/javascript">
$(document).ready(function() {
	  var dateInput = $('input[name="pEndAte"]'); // Our date input has the name "date"
	  var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
	  dateInput.datepicker({
	    format: 'mm/dd/yyyy',
	    container: container,
	    todayHighlight: true,
	    autoclose: true,
	    startDate: truncateDate(new Date()) // <-- THIS WORKS
	  });

	  $('#date').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	});

	function truncateDate(date) {
	  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	}
	
	$(document).ready(function() {
		  $("#datepicker").datepicker();
		  $('.fa-calendar').click(function() {
		    $("#datepicker").focus();
		  });
		});
	
	$('.selecttestcaseinrun').on('change', function() {
        $('.selecttestcaseinrun').not(this).prop('checked', false);  
    });
</script>