<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<script src="js/mailvalidation.js"></script>
<script src="js/dragdropvalidation.js"></script>

<!-- <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->


<link rel="stylesheet" href="css/custom.maindiv.css">
<body>
<div class="col-md-10">
	<div class="col-md-12 heading">Create New User</div>
	<span id="createUserStatus"	style="color: green; font-size: 17px;">
		{{statuscreateusere}}
	</span>
	<span id="statusFails" style="color: red; font-size: 17px;">
		{{statusfailuser}}
	</span>
	<div class="col-md-12 border border-primary m-1">
	 <div class="col-md-10">

				<div class="row m-2">
						<label class="control-label col-sm-2" for="userid" >User ID<span class="text-danger">*</span> :</label>
						<div class="col-sm-10"> 
	        	 <!-- <input type="text" class="form-control" id="userid"
		           data-ng-model="max" placeholder="userid" onKeyup='onlyNumbers(this)' onKeydown='onlyNumbers(this)' onKeypress='onlyNumbers(this)'  required>
				 -->	
				 <input type="text" class="form-control" id="userid"
		           data-ng-model="userid" placeholder="Enter User ID" required>
				 </div>
				</div>
				<div class="row m-2">
						<label class="control-label col-sm-2" for="mailid">Mail ID<span class="text-danger">*</span> :</label>
						<div class="col-sm-10"> 
		 <input type="email" class="form-control" id="mailid1"
		  data-ng-model="mailid" placeholder="Enter Mail ID" required></div>
				</div>
				<div class="row m-2">
						<label class="control-label col-sm-2" for="username">User Name<span class="text-danger">*</span> :</label>
							 <div class="col-sm-10"> 
			<input type="text" class="form-control" id="usernamecreate"
			data-ng-model="username" placeholder="Enter User Name" required>
				</div>
				</div>
				<div class="row m-2">
						    <label class="control-label col-sm-2" for="usertype">User Type<span class="text-danger">*</span> :</label>
             <div class="col-sm-10"> 
            <select class="form-control mb-4 col-md-6" name="select1" data-ng-model="usertype" id="usertype">
             <option value="" selected disabled>Select</option>
             <option data-ng-repeat='row in roles' value="{{row.roleId}}">{{row.roleType}}</option>
                  </select>
                     </div>
				</div>
					
				
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
						</div>
					</div>
				     	<button type="button" class="btn btn-primary m-2" id="createuserid" data-ng-click="confirmCreateUser()" style="margin-right: 11px;">Create User</button>
				
				</div>
			</div>	
</div>


    <!-- 	<!-- -confirm boxxxxxx--edit project----------- -->
			<div id="confirmation-dialog-create-user" class="modal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Alert</h4>
							</div>
							<div class="modal-body">
								<div class="span5">Are you sure you want to create user ? </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal" id="createuserid" data-ng-click="createUser()" >Yes</button>
							</div>
						</div>
					</div>
			</div>
			
<!-- <h3>Create User &nbsp;&nbsp;&nbsp;
	<span id="createUserStatus"	style="color: green; font-size: 17px;">
		{{statuscreateusere}}
	</span>
	<span id="statusFails" style="color: red; font-size: 17px;">
		{{statusfailuser}}
	</span>
	</h3>
<div class="row">
	 <div class="col-md-1"></div>
	 <div class="col-md-10">

				<div class="row">
						<label class="control-label col-sm-2" for="userid" >User ID:</label>
						<div class="col-sm-10"> 
	        	 <input type="text" class="form-control" id="userid"
		           data-ng-model="max" placeholder="userid" onKeyup='onlyNumbers(this)' onKeydown='onlyNumbers(this)' onKeypress='onlyNumbers(this)'  required>
					
				 <input type="text" class="form-control" id="userid"
		           data-ng-model="userid" placeholder="Enter User ID" required>
				 </div>
					</div>
					<div class="row">
						<label class="control-label col-sm-2" for="mailid">Mail ID:</label>
						<div class="col-sm-10"> 
		 <input type="email" class="form-control" id="mailid1"
		  data-ng-model="mailid" placeholder="Enter Mail ID" required></div>
					</div>
					<div class="row">
						<label class="control-label col-sm-2" for="username">Username:</label>
							 <div class="col-sm-10"> 
			<input type="text" class="form-control" id="usernamecreate"
			data-ng-model="username" placeholder="Enter Username" required>
				</div>
					</div>
					<div class="row">
						    <label class="control-label col-sm-2" for="usertype">User Type</label>
             <div class="col-sm-10"> 
            <select class="form-control mb-4" name="select1" data-ng-model="usertype"id="usertype" style="width: 110px;">
             <option value="" selected disabled>Select</option>
             <option data-ng-repeat='row in roles' value="{{row.roleId}}">{{row.roleType}}</option>
                  </select>
                     </div>
					</div>
					
				
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
						</div>
					</div>
				      							<button type="button" class="btn btn-primary" data-ng-click="createUser()" style="margin-right: 11px;">Create User</button>
				
				</div>
			</div> -->	

</body>
</html>