<div class="container-fluid noPadding"><div ui-view></div></div>
<div class="container-fluid noPadding">
<div class="row">
<div class="col-md-10 mt-2">
<div class="row" style="padding-left: 30px;">
	<div class="col-md-4">
	<div class="card" style="text-align: center;">
	  <i class="card-img-top fa fa-group" style="margin-left: 0%;font-size: 25px"></i>
	  <div class="card-body">
	    <h5 class="card-title mr-3">User And Role</h5>
	    <p class="card-text">Add or Deactivate Users and manage Roles & Permissions.</p>
	    <a ui-sref="admin.usermanagement" class="btn btn-primary btn-sm">View User & Roles</a>
	    <a ui-sref="admin.adminAddUser" class="btn btn-primary btn-sm">Add User</a>
	  </div>
	</div>
	</div>
	<div class="col-md-4">
	<div class="card" style="text-align: center;">
			<i class="card-img-top fa fa-archive" style="margin-left: 0%;font-size: 25px"></i>
			<div class="card-body">
				<h5 class="card-title mr-3">Projects</h5>
				<p class="card-text">Manage Projects and Project Access with its Permissions.</p>
				<a  class="btn btn-primary btn-sm" ui-sref="admin.adminEntitlement">Entitlement</a> 
				<a ui-sref="admin.addProject" class="btn btn-primary btn-sm">Add Project</a>
			</div>
		</div>
	</div>
		
		<div class="col-md-4">
		<div class="card" style="text-align: center;">
			<i class="card-img-top fa fa-code" style="margin-left: 0%;font-size: 25px"></i>
			<div class="card-body">
				<h5 class="card-title mr-3">Customizations</h5>
				<p class="card-text">Manage Custom or Standard Fields with Account Setup.</p>
				<a ui-sref="admin.viewProjects" class="btn btn-primary btn-sm">View Projects</a> 
				<a ui-sref="admin.addProject" class="btn btn-primary btn-sm">Add Project</a>
			</div>
		</div>
		</div>
	</div>
	<div class="row" style="padding-left: 30px;margin-top: 2%;"> 
		<div class="col-md-4">
		<div class="card" style="text-align: center;">
			<i class="card-img-top fa fa-cloud" style="margin-left: 0%;font-size: 25px"></i>
			<div class="card-body">
				<h5 class="card-title mr-4">Integration</h5>
				<p class="card-text">Manage your Defects with Bug Tracking Tool.</p>
				<a ui-sref="admin.Integration" class="btn btn-primary btn-sm">Manage Integration</a> 
				
			</div>
		</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="text-align: center;">
			<i class="card-img-top fa fa-history" style="font-size: 25px;margin-left: 0%;"></i>
			<div class="card-body">
				<h5 class="card-title">Resources</h5>
				<p class="card-text">View your Resource Activity and Track Records</p>
				<a ui-sref="admin.resource"  class="btn btn-primary btn-sm">View Resource</a> 
				
			</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="card" style="text-align: center;" >
			<i class="card-img-top fa fa-address-card" style="font-size: 25px;margin-left: 0%;"></i>
			<div class="card-body">
				<h5 class="card-title">My Profile</h5>
				<p class="card-text">View your Activity and Track Records</p>
				<a ui-sref="admin.myprofile"  class="btn btn-primary btn-sm">View My Profile</a> 
				
			</div>
			</div>
		</div>
		
		<!-- <div class="col-md-4">
			<div class="card">
			<i class="card-img-top fa fa-gears"></i>
			<div class="card-body">
				<h5 class="card-title">Automation</h5>
				<p class="card-text">Automate Your Application and Manage</p>
				<a href="" class="btn btn-primary btn-sm">Add Projects</a> 
				<a href="" class="btn btn-primary btn-sm">Run Projects</a> 
			</div>
			</div>
		</div> -->
	</div> 
	</div>
	<div class="col-md-2" style="min-height: 75vh;background: whitesmoke;"></div>
	
	</div>
</div>