<style>
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
	width: 212px;
}

.heading {
	color: black;
	background: #a9d7e8;
	font-weight: 700;
	font-size: 18px;
	padding-left-10px;
}

.btn {
	border-radius: 8px;
	-webkit-box-shadow: none;
	font-size: inherit;
	box-shadow: none;

	/* border: 1px solid transparent; */
}
</style>

<div class="row" style="margin-left: 1%;">
	<div class="col-md-12 heading">Entitlement</div>
</div>
<div class="row">
	<div class="col-md-6"></div>
	 <div class="col-md-1">
		<!-- <label>Search:</label> -->
	</div>
	<div class="input-group input-group-sm col-md-2"
		style="padding-right: 0;">
		<!-- <input type="text" class="form-control" placeholder="Search "
			aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			style="max-height: 4vh; height: 74%;" data-ng-model="search">
 -->
	</div>
	<div class="col-md-1">
		<label>Search&nbsp;By&nbsp;Project:</label>
	</div>
	<div class="col-md-2">
		<select class="form-control form-control-sm"
			style="height: 21px; font-size: 13px; padding: 0px 6px; border: 1px solid #6b8fb39c;" data-ng-init="projectname=''"
			data-ng-model="projectname" data-ng-change="searhProject()">
			<option value=''>--All--</option>
			<option data-ng-repeat="(key, value) in projectList" value="{{key}}">{{key}}</option>
		</select>
	</div>
</div>

	
<div class="row">
	<div class="col-md-12 noPadding-right"
		data-ng-repeat="(key, value) in showAdminViewEntitlement | filter:search">
		<div class="row"
			style="margin-left: 1%; background: whitesmoke; margin-top: 3px; margin-bottom: 3px; cursor: pointer;">

			<h6 class="col-md-10" style='display: inline-block;'
				data-ng-click="toggleTable($index)">
				<span><i style="padding: 0px 14px;"
					class="fa fa-angle-double-right"></i><span class='suitesId'>PID_{{value.projectId}}</span></span>
				&nbsp;&nbsp;{{key}} &nbsp;
			</h6>

		</div>
		<div id="tableData{{$index}}" class="col-md-12 allProjects"
			style="margin-left: 1.5%; border-left: 1px dotted;">
			<table class="table table-hover table-sm testcase sortable"
				id="sortable" style="">
				<thead class="thead-light">
					<tr>
						<th>User Name</th>
						<!-- <th>User Role</th> -->
						<th>Project Role</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="testcase in value.userlist  |filter:search">

						<!-- data-ng-change="addMulTCForAssigin(testcase.id)" -->
						<td>{{testcase.username}}</td>
						<td>
							<!-- <span class='caseTitle'>{{testcase.testerName}}</span> --> <select
							class="form-control form-control-sm" id='projectrole'
							style="height: 21px; font-size: 13px; width: 96px; padding: 0px 6px; border: 1px solid #6b8fb39c !important;"
							data-ng-model="testcase.accessProject">
								<option disabled value=''>--SELECT--</option>
								<option value="Readonly">Readonly</option>
								<option value="Tester">Tester</option>
								<option value="Manager">Manager</option>
						</select>
						</td>

						<td>
							<button type="button" id="access" class="btn btn-primary"
								style="background-color: #28a745;"
								data-ng-click="GiveAccessUserEntitlement(testcase)">Give
								Access</button>
						</td>
						<td>
							<button type="button" class="btn btn-primary"
								style="background-color: #dc3545;"
								data-ng-click="deleteAccessUserEntitlement(testcase)">Delete
								Access</button>
						</td>
					</tr>




				</tbody>
			</table>
		</div>
	</div>
</div>