<style>
.modal {
	position: absolute;
}

.modal-body {
	margin-left: 42px;
}

.modal-xl {
	max-width: 896px;
}

@media ( min-width : 992px) .modal-lg , . modal-xl {
	max-width
	
	
	:
	
	 
	
	800
	px
	
	
	;
}

@media ( min-width : 576px) .modal-dialog {
	max-width
	
	
	:
	
	 
	
	500
	px
	
	
	;
	margin
	
	
	:
	
	 
	
	1
	.75rem
	
	 
	
	auto
	
	
	;
}

.navigator {
	background: whitesmoke;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #0078d4;
}

.noPadding-left {
	padding-right: 0 !important
}

.navigator-admin {
	padding: 5px;
	background: #085ea0;
	color: white;
	padding-bottom: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.navigator-admin:hover {
	color: white !important;
}

.right-side-nav {
	min-height: 85vh;
	background: #efefef;
}

.noMargin-left {
	margin-right: 0px !important;
}

.btn-wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 3%;
}

.todolist {
	background: #c3c3c3;
	padding: 2%;
	padding-left: 6%;
	border-radius: 3px;
	color: #0078d4;
}
/* Adding Folder Style */
.li-style {
	color: darkred;
}

.a-style:hover {
	text-decoration: underline !important;
}
/* ./Adding Folder Style */
.lineChart {
	border-radius: 6px;
}

.heading {
	color: black;
	background: #a9d7e8;
	font-weight: 700;
	font-size: 18px;
}

.project-icons {
	margin-right: 2%;
}

.project-icons i {
	font-size: 85px;
	color: #0078d4;
}

.project-options div a {
	cursor: pointer;
	color: #0078d4 !important;
}

.project-options div a:hover {
	text-decoration: underline !important;
}

.jstree-anchor {
	color: #0078d4 !important;
}

.card-img-top {
	margin-left: 48%;
	font-size: 65px;
	color: #0078d4;
	margin-top: 1%;
}

.card-title {
	color: #0078d4;
}

.card {
	background: whitesmoke;
	/* margin-left:1%; */
}

.card-body a {
	font-size: 13px;
}

.card-text {
	font-size: 15px;
}
</style>
<link rel="stylesheet" href="css/custom.maindiv.css">
<div class="container-fluid noPadding">
	<div class="heading col-md-12 noPadding"
		style="background: #0078d4; height: 4vh;">
		<h5 class="heading-text">Configuration</h5>

		


	</div>
	<div class="top_nav">
		<nav class="navbar navbar-expand-sm"
			style="background-color: #0078d4; height: 6vh; padding-bottom: 0;">
			<!-- Links -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link navigator"
					ui-sref="dashboard" style='padding: 5px;'><i
						class="fa fa-dashboard" style="color: #0078d4;"></i>Dashboard</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li><a class="nav-link navigator-admin"
					ui-sref=".administrator"><i class="fa fa-plus-circle" style="font-size: 133%;"></i> Configuration</a></li>
			</ul>
		</nav>
	</div>
	<!-- <div class="heading">
		<h4 style="margin-left: 1%;">Configuration</h4>
	</div> -->
	<div ui-view></div>

</div>