<link rel="stylesheet" href="css/custom.maindiv.css">
<style>
.start{
background-color: green;
color: white;
}
.stop{
background-color: red;
color: white;
}
.exestatus{
background-color: blue;
color: white;
}

.dt-button-collection{
	margin-top: 2px;
	margin-left: 15rem!important;
}
#automationReport.dataTable thead th, #automationReport.dataTable thead td{
    padding: 3px 18px
}
#automationReport thead tr{
    background: #0078d4;
    color: white;
}

 .dt-button
{
	   /*  margin: 5px 4px 28px; */
	   margin-top: 45px;
	   margin-left: -115px;
	
} 
.dt-button-collection{
	margin-left: 15rem;
}
</style>
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a >{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;">Test Reports</a></li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="suitesOverview" >

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-12 noPadding-left">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div>Test Reports <span id='reRunstatus' style="color: #dc3545;font-size: 13px; margin-left: 2vh;">{{reRunStatus}}</span></div>
				
				
				</div>
				
				<div class='row'>
					<div class="col-md-12">
						<table id="automationReport" class="table table-striped table-sm"
							style="width: 100%" >
							<!-- <thead>
								<tr>
									<th>Run Id</th>
									<th>Start Time</th>
									<th>End Time</th>
									<th>Total Time</th>
									<th>Status</th>
									<th>details</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="report in automationReport">
									<td>{{report[0]}}</td>
									<td>{{report[1]}}</td>
									<td>{{report[2]}}</td>
									<td>{{report[3]}}</td>
									<td>{{report[4]}}</td>
									<td><span style="text-decoration: underline;color: blue;">report</span></td>
								</tr>
								
							</tbody> -->
						</table>
					</div>
				</div>



			</div>
			<!-- ./Main Dashboard View  -->

			<!-- Side Nav View -->
			<!-- <div class="col-md-2 right-side-nav">
				<div class="btn-wrap">
					<button type="button" ui-sref="projectDetails.addtestrun"
						class="btn btn-outline-primary btn-sm pull-right">
						<i class="fa fa-plus-circle"></i> Start New Run
					</button>
				</div>
				<div class="project-view">
					<div class='testSuites'>Test Runs</div>
					<div class="content">
						<div id='project-details'
							style="font-size: 13px; font-weight: 400;">
							<b>-</b> Test Suites and <b>-</b> Cases in this project.
						</div>
					</div>
				</div>
			</div> -->
			<!-- Side Nav View -->

		</div>
		<!-- ./Main Content -->


	</div>



<!-- <script type="text/javascript">
$(document).ready(function() {
	 

});
</script> -->

	</div>