<link rel="stylesheet" href="css/custom.maindiv.css">
<style>
.testcase tr td{
vertical-align: middle;
text-align: center;
}
#sortable thead{
text-align: center;
}                  
.screenshotRunAndResult{
	text-decoration: underline;
    cursor: pointer;
}
.start{
background-color: green;
color: white;
}
.stop{
background-color: red;
color: white;
}
.exestatus{
background-color: blue;
color: white;
}
.select2-selection {
	height: 6vh;
}

.select2-container--default .select2-results>.select2-results__options {
	/*  max-height: 200px;
    overflow-y: auto;
    margin-left: 51%; */
	
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered
{
	height: 5vh !important;
}

.select2-container--default .select2-selection--multiple:focus {
	border-color: #3c8dbc !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li
	{
	    list-style: none;
    font-size: 19px;
    text-align: center;
    font-weight: 600;
    color: green;
    margin-top: -2px;
}
.select2-selection__rendered li{
 list-style: none;
    font-size: 14px !important;
    text-align: center;
    font-weight: 600;
    color: green;
    margin-top: 3px !important;
}
.select2-container {
	width: 15vw !important;
}

.select2-container--open .select2-dropdown {
	/* width: 48vw !important;
    left: -232px !important; */
	
}

.select2-results__option[aria-selected] {
	cursor: pointer;
	float: left !important;
	font-size: 11px;
	font-weight: 600;
}

.select2-results__option:before {
	height: 16px !important;
	width: 15px !important;
}

.select2-container--default .select2-results>.select2-results__options {
	/* max-height: 200px; */
	/* overflow-y: auto; */
	/* margin-left: 51%; */
	
}

.select2-container--default .select2-selection--multiple {
	border-width: 2px;
	height: 2px;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}
</style>

<!-- <script type="text/javascript">

  var app=angular.module("Myapp",[]);
  app.controller("Mycontroller", function($acope,$timeout)
	{
	  $timeout(function()($acope.divshow=true;),5000);
	}	  
  
  );


</script> -->
<!-- <script>
      $(function() {
      $(".hide-it").hide(7000);
    });              
</script> -->
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a >{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;"
				>Test Runs And Results</a></li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="suitesOverview" >

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-10 noPadding-left">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div>Test Runs & Results <span id='reRunstatus' style="color: #dc3545;font-size: 13px; margin-left: 2vh;">{{reRunStatus}}</span></div>
				</div>
				<div class="row">
					<div class="container">
						<form class="form-horizontal" >
							<div class="form-group row noMargin-right">
								<label class="control-label col-sm-2" for="pName">Project
									Name:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="pname" name="pname" readonly="readonly" data-ng-model="projectName">
								</div>
							</div>
							<div class="form-group row noMargin-right">
								<label class="control-label col-sm-2" for="testsuites">Select Test Suite <span class="createCompulsory" style="color: red;">*</span>:</label>
								<div class="col-sm-5" data-ng-init="datasheets=''">
									<select class="form-control form-control-sm test1 sheetsList" data-ng-model="datasheets"
										id="datasheets" name="datasheetsListForRun" data-ng-change="disableTCButton()"><!-- data-ng-change="updateController()" -->
										<option value='' selected>--SELECT--</option>
										<option data-ng-repeat="var in testSuitesName track by $index" value='{{var.testSuitesName}}'
											data-ng-disabled="!var.isFilePresent" data-ng-style="{'color':var.isFilePresent?'green':'red'}">
											{{var.testSuitesName}}
										</option>
										
									</select>
								</div>
							</div>
							<div class="form-group row noMargin-right">
								<label class="control-label col-sm-2" for="smachine">Slave Machine Name<span class="createCompulsory" style="color: red;">*</span>:</label>
								<div class="col-sm-5" data-ng-init="machineName=''"> 
									<select class="form-control form-control-sm" id='smachine' data-ng-model="slavemachine" 
										data-ng-change="disableTCButton()">
									<option disabled value='' selected>--SELECT--</option>
											<option data-ng-repeat="machine in machineName"   value='{{machine.computerName}}--{{machine.computerOS}}' data-ng-disabled="machine.isOffline" >{{machine.computerName}}--{{(machine.isOffline)?'Offline':'Online'}}</option>
										</select>
								</div>
								<div class="loader"></div>
								<div class=" col-sm-3"  >
									<button type="submit" class="btn btn-warning " id="tc" data-ng-click="testConnectionRun()" disabled>Test Connection</button>
									<div class="{{connectioncolor}}"  style="font-size: 14px;">{{connectionmsg}}</div>
								</div>
<!-- 								<div class="loader"></div> -->
							</div>							
							<div class="form-group row noMargin-right">
								
								<div class="col-sm-offset-2 col-sm-1" data-ng-show="start" >
									<button type="submit" class="btn btn-primary start" data-ng-click="startRun()" disabled >Start Run</button>
								</div>
								<div class="col-sm-offset-2 col-sm-1" data-ng-show="stop">
									<button type="submit" class="btn btn-primary stop"  data-ng-click="stopRun()">Stop Run</button>
								</div >
								<!-- <div class="col-sm-offset-2 col-sm-6" data-ng-app="Myapp" data-ng-controller="Mycontroller" data-ng-hide="divshow">
									<img data-ng-show="img" src="{{statusimage}}" width="25px" height="25px" /><span style="color: {{statuscolor}};margin-left: 5px">{{statusmsg}}</span>
								</div> -->
								<div class="col-sm-offset-2 col-sm-6" ">
									<img data-ng-show="img" src="{{statusimage}}" style="margin-left: 11px;" width="25px" height="25px" /><span style="color: {{statuscolor}};margin-left: 5px">{{statusmsg}}</span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="svg" class="" style="">
				<div class=" col-md-12 row heading noMargin-left">
					<div class="col-md-10 ">Execution Status</div>
					<div class="input-group input-group-sm col-md-2 pull-right"
							style="padding-right: 0;">
							<input onkeyup='showSearchAutoData(this)' type="text" placeholder="Search TestCases" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm"   data-ng-model="search" style="border: 2px solid #6b8fb39c !important;max-height: 4vh; width: 100%">

						</div>
				</div>
				<!-- <div data-ng-if="runLogs[0].project_name" style="margin-left: 1%;cursor: pointer;background: whitesmoke;margin-top: 3px;/* margin-bottom: 3px; */">
					
					<span class="suitesId">{{runLogs[0].project_name}}</span>
				</div> -->
				<div id="tableData" class="col-md-12 allProjects tableData"
						style="margin-top: 1.0%;">
						<table class="table table-hover table-sm testcase" id="sortable" style="">
							<thead class="thead-light">
								<tr>									
									<!-- <th>Project Name</th> -->
									<th>Process</th>
									<th>Scenario ID</th>
									<th>TestCase ID</th>
									<th>Description</th>
									<th>Status</th>
									<th>Execution Time(in sec)</th>
									<!-- <th>Expected</th>
									<th>Actual</th> -->
									<th>Browser</th>
									<th>Screenshot</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
							<tr class="Auto_row" data-ng-repeat="row in runLogs | filter : {testCaseID: search}">									
								<!-- <td>{{row.project_name}}</td> -->
								<td data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.process}}</td>
								<td data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.scenarioID}}</td>
								<td class="testCase_ID" data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.testCaseID}}</td>
								<td data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.description}}</td>
								<td data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.status}}</td>
								<td data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.responseTime}}</td>
								<!-- <td>{{row.expectedResult}}</td>
								<td>{{row.actualResult}}</td> -->
								<td data-ng-style="row.status==='FAIL'  ? {'color': 'red'} : {'color': '#000'}">{{row.browserType}}</td>
								<td><a class="screenshotRunAndResult" data-ng-click="openScreenshotModal(row.screenshotName, row.screenshotImg)">{{row.screenshotID}}</a></td>
								<td><button type="submit" class="btn btn-primary testRunToReport">View</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>




				<!-- ///// inactive run  -->
				
					
			</div>
			<!-- ./Main Dashboard View  -->

			<!-- Side Nav View -->
			<div class="col-md-2 right-side-nav">
				<div class="btn-wrap">
					<!-- <button type="button" ui-sref="projectDetails.addtestrun"
						class="btn btn-outline-primary btn-sm pull-right">
						<i class="fa fa-plus-circle"></i> Start New Run
					</button> -->
				</div>
				<div class="project-view">
					<div class='testSuites'>Test Runs</div>
					<div class="content">
						<div id='project-details'
							style="font-size: 13px; font-weight: 400;">
							<b>-</b> Test Runs & Results <b></b> in this project.
						</div>
					</div>
				</div>
			</div>
			<!-- Side Nav View -->

		</div>
		<!-- ./Main Content -->


	</div>
<script>

</script>




	</div>

<!-- Modal -->
<div class="modal fade" id="openScreenshot" tabindex="-1" role="dialog" aria-labelledby="openScreenshot" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openScreenshotTitle">{{screenshotRun.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img data-ng-src="{{'data:image/png;base64, '+screenshotRun.image}}" style="height: 455px; width: 100%;"/>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <script>
/* const showSearchAutoData = (element) => { 
	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
	    return function( elem ) {
	        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
	    };
	});
	var getdata=element.value;
	if(getdata==''){
		$('td.testCase_ID').closest(".Auto_row").show();
	}else{
		$('h5.testCase_ID').closest(".Auto_row").hide();
		$('h5.testCase_ID:contains('+getdata+')').closest(".Auto_row").show();
	}
}

showSearchAutoData(val);
}
</script> -->
