<style>
.navigator{
    background: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color:#0078d4;
}
.noPadding-left{
padding-right:0 !important
}
.navigator-admin{
    padding: 5px;
    background: #085ea0;
    color: white;
    padding-bottom: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.navigator-admin:hover{
	color:white !important;
}
.right-side-nav{
min-height:100vh;
background:#efefef;
}
.noMargin-left{
    margin-right: 0px !important;
}
.btn-wrap{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 15%;

}

.todolist{
	background: #c3c3c3;
    padding: 2%;
    padding-left: 6%;
    border-radius: 3px;
    color: #0078d4;
}
/* Adding Folder Style */
.li-style { color: darkred; }
.a-style:hover { text-decoration: underline !important; }
/* ./Adding Folder Style */

.lineChart{
  border-radius: 6px;
      margin-top: 11px;
}
.heading{
color: black;
background: #a9d7e8;
    font-weight: 700;
    font-size: 18px;
}
</style>
<link rel="stylesheet" href="css/custom.maindiv.css">
<div class="container-fluid noPadding">
<div class="heading col-md-12 noPadding" style="background: #0078d4;height: 6vh;">
		<h5 class="heading-text">My Projects</h5>

		<div class="input-group input-group-sm col-md-2 pull-right" style="padding-right: 0;">
			<input type="text" class="form-control"
				placeholder="Search Projects" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			<div class="input-group-append">
				<span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
			</div>
		</div>


	</div>
<div class="top_nav">
	<nav class="navbar navbar-expand-sm" style="background-color:#0078d4;height: 6vh;padding-bottom: 0;">
	<!-- Links -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link navigator" href="#" style='padding: 5px;'><i class="fa fa-dashboard" style="color: #0078d4;"></i>Dashboard</a></li>	
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link navigator-admin" href="#">Administration</a></li>	
		</ul>
	</nav>
</div>
<div class="container-fluid noPadding" style='background:whitesmoke;min-height:2vh'></div>
<!-- Main Content -->
<div class="row noMargin-left">
<div class="col-md-12 noPadding-left">
<div class="col-md-12 heading ">
		<div>Create Project</div>
	</div>
</div>
</div>
<div class="row noMargin-left">
<div class="col-md-10">
	<div class="col-md-12 content-wrap">
		<div class="x_panel">

			<div class="x_content">

				<form id="demo-form" name="submitForm" novalidate>
					<div class="row">
						<label class="col-md-3" for="fullname">Project Name<span class="text-danger">*</span> :</label> <input
							type="text" id="projectName" class="form-control col-md-4"
							data-ng-model="projectName" name="fullname" required>
					</div>
					<div class="row">
						<label for="fullname" class="col-md-3">Application Name<span class="text-danger">*</span> :</label>
						<input type="text" id="applicationName"
							class="form-control col-md-4" data-ng-model="applicationName"
							name="fullname" required>
					</div>
					<div class="row">
						<label class="col-md-3">Select Module <span class="text-danger">*</span>:</label> <input id="auto"
							name="projectType" data-ng-model="isAuto" checked="checked"
							class="check col-md-1" type="checkbox" value="Automation">
						Automation<br> <input id="manual" name="projectType"
							data-ng-model="isMannual" class="check col-md-1" type="checkbox"
							value="Manual"> Manual<br>

					</div>
					<div class="row">
						<label for="heard" class="col-md-3">Select Platform <span class="text-danger">*</span>:</label> <select
							id="platfrom" class="form-control col-md-4"
							data-ng-model="platFrom" checked="checked" required>
							<option value="">Web</option>
							<option value="press">Mobile</option>

						</select>
					</div>
					<div class="row">
						<label for="heard" class="col-md-3">Select SlaveMechine:</label> <select
							data-ng-model="slaveMechine" id="slaveMechine"
							class="form-control col-md-4" required="">
							<option value="">Choose..</option>

						</select>
					</div>
					<div class="row">
						<label for="heard" class="col-md-3">Start Date:</label> <input
							type="text" id="pStdAte" class="form-control datepicker col-md-4"
							data-ng-model="pStdAte" name="pStdAte" required="">


					</div>
					<div class="row">
						<label for="heard" class="col-md-3">End Date(Tentetive):</label> <input
							type="text" id="pEndAte" class="form-control datepicker col-md-4"
							data-ng-model="pEndAte" name="pEndAte" required="">

					</div>
					<div class="row">
						<label for="heard" class="col-md-3">Is Active :</label> <label
							style="margin-left: 50px;" class="radio-inline"> <input
							type="radio" data-ng-model="isActive" name="isActive"
							id="inlineRadio1" checked="checked" value="Y"> Y
						</label> <label style="margin-left: 50px;" class="radio-inline"> <input
							type="radio" data-ng-model="isActive" name="isActive"
							id="inlineRadio2" value="N"> N
						</label>
					</div>
					<div class="row">
						<label for="heard" class="col-md-3">Bug tracking tool</label> <select
							id="BugTracking" class="form-control col-md-4"
							data-ng-model="bugTracking" required>
							<option value="">Choose..</option>
							<option value="Jira">Jira</option>
							<option value="Bugzilla">Bugzilla</option>

						</select>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							<button type="button" class="btn btn-primary">Cancel</button>
							<button class="btn btn-primary" type="reset">Reset</button>
							<button type="button" data-ng-click="createProject()"
								class="btn btn-success">Submit</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>


</div>
</div>
</div>
<!--  End Of File -->

<script>
	var emailInput;

	$("#email").on("change", function() {
		emailInput = $(this).val();

		if (validateEmail(emailInput)) {
			$(this).css({
				color : "black",
				border : "1px solid green"
			});
		} else {
			$(this).css({
				color : "red",
				border : "1px solid red"
			});

		}
	});

	$("#submitFormButton").on("click", function(e) {
		// e.preventDefault();
		if (validateEmail(emailInput)) {

		} else {
			alert('Enter valid email');
			return false;
		}
	});

	function validateEmail(email) {
		var pattern = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)|()$/;

		return $.trim(email).match(pattern) ? true : false;
	}
</script>