<!DOCTYPE html>
<html>
<head>
	<title>Dash</title>
</head>
<body>
<div class="container-fluid dashboard_wrap">
<div class="top_nav">
		<nav class="navbar navbar-expand-sm"
			style="background-color: #0078d4; height: 6vh; padding-bottom: 0;">
			<!-- Links -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link navigator"  ui-sref="dashboard" 
					style='padding: 5px;'><i class="fa fa-dashboard"
						style="color: #0078d4;"></i>Dashboard</a></li>
			</ul>
			<ul class="navbar-nav ml-auto" data-ng-if=visible>
				<li class="nav-item" ><a class="nav-link navigator-admin"
					ui-sref="admin"><i class="fa fa-cog" style="font-size: 133%;"></i> Configuration</a></li>
			</ul>
		</nav>
	</div>
	<div class="container-fluid noPadding"
		style='background: whitesmoke; min-height: 1vh'></div>
	<!-- Main Content -->
	<div class="row noMargin-left">
		<div class="col-md-10 noPadding-left">
	<div class="row col-md-12 header_wrap">
		<div class="col-md-2"><span>Project Details</span></div>
		<div class="col-md-2"><span>Execution Status</span></div>
		<div class="col-md-2"><span>Run Details</span></div>
		<div class="col-md-2"><span>Current Run</span></div>
		<div class="col-md-2"><span>Defect Status</span></div>
		<div class="col-md-2"><span>Summary</span></div>
	</div>
	<div class="row project_row">
		<div class="col-md-2">
			<div class="card">
				<div class="card-body project_details">
					<h5 class="card-title project_name">Project1</h5>
					<table>
						<tr>
							<th><i class="fa fa-arrow-up" style="color: red;"></i><span class="testcount">123</span></th>
							<th><i class="fa fa-arrow-up" style="color: green;"></i><span class="testcount">22</span></th>
							<th><i class="fa fa-arrow-up" style="color: orange;"></i><span class="testcount">345</span></th>
						</tr>
						<tr class="projetc_labels">
							<td><span class="testdes">Test<br>Suites</span></td>
							<td><span class="testdes">Test<br>Group</span></td>
							<td><span class="testdes">Test<br>Cases</span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body donut_Project1">
					<h6 class="card-title">Updated 1 mins ago</h6>
					<div class="graph-wrap">
						<canvas id="Donut_Project1"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
					<div class="col-sm-6">
						<table class="table_run">
							<tr><td>12</td><td style="width: 15%;"></td><td>6</td></tr>
							<tr><td><span>Total Run</span></td><td></td><td><span>Active Run</span></td></tr>
						</table>
						<table class="executed_status col-sm-11">
							<tr>
								<td>Total Executed</td><td>1210</td>
							</tr>
							<tr>
								<td>Total On Hold</td><td>143</td>
							</tr>
							<tr>
								<td>Under Review</td><td>12</td>
							</tr>
							<tr>
								<td>N/A</td><td>121</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6 status">
						<div class="progress">
							 <div class="progress-bar" role="progressbar" style="width: 85%;background: #08af08"  aria-valuemin="0" aria-valuemax="100">55%</div>
 							 <div class="progress-bar" role="progressbar" style="width: 15%;background: red"  aria-valuemin="0" aria-valuemax="100">45%</div>
						</div>
						<h6>
							<span><i class="fa fa-square" style='color:#08af08'></i>Pass</span>
							<span class="pull-right"><i class="fa fa-square" style='color:red'></i>Fail</span>
						</h6>
						<table class="executed_status col-sm-11">
							<tr>
								<td>Major</td><td>1109</td>
							</tr>
							<tr>
								<td>Minor</td><td>227</td>
							</tr>
							<tr>
								<td>Critical</td><td>12</td>
							</tr>
							<tr>
								<td>Blocker</td><td>175</td>
							</tr>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body Tacho_Project1">
					<h6 class="card-title ">Updated 3 mins ago</h6>
					<div class="graph-wrap">
						<canvas id="Tacho_Project1"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body" style="padding-bottom: 9px;">
					<table class="res_status">
						<tr>
							<td style="background: red;"><i class="fa fa-bug"></i> 124</td><td>Total Bugs</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #0078d4;"><i class="fa fa-clock-o"></i> 16</td><td>Total Time (Days)</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #FFC107;"><i class="fa fa-users"></i> 18</td><td>Alloted Tester</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #08af08;"> 79%</td><td>Success Rates</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #0078d4;"> 4</td><td>Run Completed</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- //////////////////////////////////// -->
	<div class="row project_row">
		<div class="col-md-2">
			<div class="card">
				<div class="card-body project_details">
					<h5 class="card-title project_name">Project2</h5>
					<table>
						<tr>
							<th><i class="fa fa-arrow-up" style="color: red;"></i><span class="testcount">123</span></th>
							<th><i class="fa fa-arrow-up" style="color: green;"></i><span class="testcount">22</span></th>
							<th><i class="fa fa-arrow-up" style="color: orange;"></i><span class="testcount">345</span></th>
						</tr>
						<tr class="projetc_labels">
							<td><span class="testdes">Test<br>Suites</span></td>
							<td><span class="testdes">Test<br>Group</span></td>
							<td><span class="testdes">Test<br>Cases</span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body donut_Project1">
					<h6 class="card-title">Updated 1 mins ago</h6>
					<div class="graph-wrap">
						<canvas id="Donut_Project2"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
					<div class="col-sm-6">
						<table class="table_run">
							<tr><td>12</td><td style="width: 15%;"></td><td>6</td></tr>
							<tr><td><span>Total Run</span></td><td></td><td><span>Active Run</span></td></tr>
						</table>
						<table class="executed_status col-sm-11">
							<tr>
								<td>Total Executed</td><td>1024</td>
							</tr>
							<tr>
								<td>Total On Hold</td><td>143</td>
							</tr>
							<tr>
								<td>Under Review</td><td>17</td>
							</tr>
							<tr>
								<td>N/A</td><td>122</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6 status">
						<div class="progress">
							 <div class="progress-bar" role="progressbar" style="width: 85%;background: #08af08"  aria-valuemin="0" aria-valuemax="100">85%</div>
 							 <div class="progress-bar" role="progressbar" style="width: 15%;background: red"  aria-valuemin="0" aria-valuemax="100">15%</div>
						</div>
						<h6>
							<span><i class="fa fa-square" style='color:#08af08'></i>Pass</span>
							<span class="pull-right"><i class="fa fa-square" style='color:red'></i>Fail</span>
						</h6>
						<table class="executed_status col-sm-11">
							<tr>
								<td>Major</td><td>1120</td>
							</tr>
							<tr>
								<td>Minor</td><td>144</td>
							</tr>
							<tr>
								<td>Critical</td><td>370</td>
							</tr>
							<tr>
								<td>Blocker</td><td>35</td>
							</tr>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body Tacho_Project1">
					<h6 class="card-title ">Updated 3 mins ago</h6>
					<div class="graph-wrap">
						<canvas id="Tacho_Project2"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body" style="padding-bottom: 9px;">
					<table class="res_status">
						<tr>
							<td style="background: red;"><i class="fa fa-bug"></i> 123</td><td>Total Bugs</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #0078d4;"><i class="fa fa-clock-o"></i> 15</td><td>Total Time (Days)</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #FFC107;"><i class="fa fa-users"></i> 14</td><td>Alloted Tester</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #08af08;"> 87%</td><td>Success Rates</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #0078d4;"> 3</td><td>Run Complete</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- //////////////////////////////////////////////////////// -->
	<div class="row project_row">
		<div class="col-md-2">
			<div class="card">
				<div class="card-body project_details">
					<h5 class="card-title project_name">Project3</h5>
					<table>
						<tr>
							<th><i class="fa fa-arrow-up" style="color: red;"></i><span class="testcount">123</span></th>
							<th><i class="fa fa-arrow-up" style="color: green;"></i><span class="testcount">22</span></th>
							<th><i class="fa fa-arrow-up" style="color: orange;"></i><span class="testcount">345</span></th>
						</tr>
						<tr class="projetc_labels">
							<td><span class="testdes">Test<br>Suites</span></td>
							<td><span class="testdes">Test<br>Group</span></td>
							<td><span class="testdes">Test<br>Cases</span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body donut_Project1">
					<h6 class="card-title">Updated 1 mins ago</h6>
					<div class="graph-wrap">
						<canvas id="Donut_Project3"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="row">
					<div class="col-sm-6">
						<table class="table_run">
							<tr><td>12</td><td style="width: 15%;"></td><td>6</td></tr>
							<tr><td><span>Total Run</span></td><td></td><td><span>Active Run</span></td></tr>
						</table>
						<table class="executed_status col-sm-11">
							<tr>
								<td>Total Executed</td><td>1230</td>
							</tr>
							<tr>
								<td>Total On Hold</td><td>153</td>
							</tr>
							<tr>
								<td>Under Review</td><td>13</td>
							</tr>
							<tr>
								<td>N/A</td><td>177</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6 status">
						<div class="progress">
							 <div class="progress-bar" role="progressbar" style="width: 85%;background: #08af08"  aria-valuemin="0" aria-valuemax="100">65%</div>
 							 <div class="progress-bar" role="progressbar" style="width: 15%;background: red"  aria-valuemin="0" aria-valuemax="100">35%</div>
						</div>
						<h6>
							<span><i class="fa fa-square" style='color:#08af08'></i>Pass</span>
							<span class="pull-right"><i class="fa fa-square" style='color:red'></i>Fail</span>
						</h6>
						<table class="executed_status col-sm-11">
							<tr>
								<td>Major</td><td>1730</td>
							</tr>
							<tr>
								<td>Minor</td><td>123</td>
							</tr>
							<tr>
								<td>Critical</td><td>14</td>
							</tr>
							<tr>
								<td>Blocker</td><td>167</td>
							</tr>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body Tacho_Project1">
					<h6 class="card-title ">Updated 3 mins ago</h6>
					<div class="graph-wrap">
						<canvas id="Tacho_Project3"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-body" style="padding-bottom: 9px;">
					<table class="res_status">
						<tr>
							<td style="background: red;"><i class="fa fa-bug"></i> 123</td><td>Total Bugs</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #0078d4;"><i class="fa fa-clock-o"></i> 15</td><td>Total Time (Days)</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #FFC107;"><i class="fa fa-users"></i> 14</td><td>Alloted Tester</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #08af08;"> 87%</td><td>Success Rates</td>
						</tr>
						<tr style="height: 3px;"></tr>
						<tr>
							<td style="background: #0078d4;"> 3</td><td>Run Complete</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- ////////////////////////////////////////////////// -->
</div>
<div class="col-md-2 right-side-nav">
			<div class="btn-wrap" data-ng-if=visible>
				<button type="button"
					class="btn btn-outline-primary btn-sm pull-right"
					data-ng-click="showModalForProject()">
					<i class="fa fa-plus-circle"></i> Add Project
				</button>
			</div>
			<div class="project-view">
				<div class='todolist'>ToDos</div>
				<div class="content">
					<div id='project-details'></div>

				</div>
			</div>
		</div>
</div>
</div>
<script type="text/javascript">
var ctx1 = document.getElementById("Donut_Project1").getContext('2d');
var ctx2 = document.getElementById("Tacho_Project1").getContext('2d');
///////////////////////
var ctx3 = document.getElementById("Donut_Project2").getContext('2d');
var ctx4 = document.getElementById("Tacho_Project2").getContext('2d');
////////////////////////////
var ctx5 = document.getElementById("Donut_Project3").getContext('2d');
var ctx6 = document.getElementById("Tacho_Project3").getContext('2d');
var myChart1 = new Chart(ctx1, {
    type: 'doughnut',
    data: {
        labels: ["Tokyo",	"Mumbai",	"Mexico City",	"Shanghai"],
        datasets: [{    
            data: [500,	50,	2424,14040], 
          	borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'],
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], 
            borderWidth: 1 // Specify bar border width
        }]},         
    options: {
      //responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
      legend: {
            display:false
        } 
    }
});
var myChart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: ["Tokyo",	"Mumbai",	"Mexico City",	"Shanghai"],
        datasets: [{    
            data: [500,	50,	14040,2424], 
          	borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'],
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], 
            borderWidth: 1 // Specify bar border width
        }]},         
    options: {
      //responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
      rotation: 1 * Math.PI,
      circumference: 1 * Math.PI,
      legend: {
            display:false
        }
    }
});
	/////////////////////////////////////////
var myChart3 = new Chart(ctx3, {
    type: 'doughnut',
    data: {
        labels: ["Tokyo",	"Mumbai",	"Mexico City",	"Shanghai"],
        datasets: [{    
            data: [100,	20,	34,	2240], 
          	borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'],
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], 
            borderWidth: 1 // Specify bar border width
        }]},         
    options: {
      //responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
      legend: {
            display:false
        } 
    }
});
var myChart4 = new Chart(ctx4, {
    type: 'doughnut',
    data: {
        labels: ["Tokyo",	"Mumbai",	"Mexico City",	"Shanghai"],
        datasets: [{    
            data: [300,	20,10132,2224], 
          	borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'],
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], 
            borderWidth: 1 // Specify bar border width
        }]},         
    options: {
      //responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
      rotation: 1 * Math.PI,
      circumference: 1 * Math.PI,
      legend: {
            display:false
        }
    }
});
////////////////////////////////////////////
var myChart5 = new Chart(ctx5, {
    type: 'doughnut',
    data: {
        labels: ["Tokyo",	"Mumbai",	"Mexico City",	"Shanghai"],
        datasets: [{    
            data: [300,	10,	2124,	12030], 
          	borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'],
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], 
            borderWidth: 1 // Specify bar border width
        }]},         
    options: {
      //responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
      legend: {
            display:false
        } 
    }
});
var myChart6 = new Chart(ctx6, {
    type: 'doughnut',
    data: {
        labels: ["Tokyo",	"Mumbai",	"Mexico City",	"Shanghai"],
        datasets: [{    
            data: [14022,210,58,2134], 
          	borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'],
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], 
            borderWidth: 1 // Specify bar border width
        }]},         
    options: {
      //responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
      rotation: 1 * Math.PI,
      circumference: 1 * Math.PI,
      legend: {
            display:false
        }
    }
});

</script>
</body>
</html>