<head>
<script src="js/mailvalidation.js"></script>
<link rel="stylesheet" href="css/custom.maindiv.css">
<style>
.labeptype {
   color: white !important;
}
.statusHead{
    font-size: 13px;
    background: #536760;
    color: aliceblue;
    padding: 2px;
    text-align: center;
}
.timespend
{

    font-size: 11px;
    background-color: white;
    font-weight: 600;
   
}
.chartscale {
	transform: scale(0.8) !important;
}

.modal {
	position: absolute;
}

.modal-body {
	margin-left: 42px;
}

.modal-xl {
	max-width: 896px;
}

@media ( min-width : 992px) .modal-lg , . modal-xl {
	max-width
	
	
	
	
	:
	
	
	 
	
	
	800
	px
	
	
	
	
	;
}

@media ( min-width : 576px) .modal-dialog {
	max-width
	
	
	
	
	:
	
	
	 
	
	
	500
	px
	
	
	
	
	;
	margin
	
	
	
	
	:
	
	
	 
	
	
	1
	.75rem
	
	
	 
	
	
	auto
	
	
	
	
	;
}

.navigator {
	background: whitesmoke;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #0078d4;
}

.noPadding-left {
	padding-right: 0 !important
}

.navigator-admin {
	padding: 5px;
	background: #085ea0;
	color: white;
	padding-bottom: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.navigator-admin:hover {
	color: white !important;
}

.right-side-nav {
	min-height: 85vh;
	background: #efefef;
}

.noMargin-left {
	margin-right: 0px !important;
}

.errspan {
	margin-left: -3%;
	margin-top: 1%;
	font-size: 111%;
}

.btn-wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 3%;
}

.calender {
	background-color: transparent;
}

.todolist {
	background: #c3c3c3;
	padding: 2%;
	padding-left: 6%;
	border-radius: 3px;
	color: #0078d4;
}
/* Adding Folder Style */
.li-style {
	color: darkred;
}

.a-style:hover {
	text-decoration: underline !important;
}
/* ./Adding Folder Style */
.lineChart {
	border-radius: 6px;
}

.heading {
	color: black;
	background: #a9d7e8;
	font-weight: 700;
	font-size: 18px;
}

.project-icons {
	margin-right: 2%;
}

.project-icons i {
	font-size: 85px;
	color: #0078d4;
}

.leftChart {
	padding-right: 2px;
	margin-top: 4px;
}

.rightChart {
	margin-left: 34%;
	/* width: 66%; */
	height: 312px;
}

#chartdivbar {
	width: 98%;
	height: 177px;
}

.project-options div a {
	cursor: pointer;
	color: #0078d4 !important;
}

.project-options div a:hover {
	text-decoration: underline !important;
}

.jstree-anchor {
	color: #0078d4 !important;
}

#chartdiv1 {
	height: 39vh;
}
.rectangle {
    width: 10px;
    height: 10px;
    background: blue;
}
.barchart {
	margin-top: -74%;
}

.input-wrapper {
	position: relative;
}

.amcharts-chart-div>a {
	display: none !important;
}

.graphHeading {
	color: blue;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.projectBar {
	margin-top: -65%;
	margin-left: -65%;
}

.editicon {
	font-size: 188%;
	margin-top: 16px;
	color: blue;
}
.testcase tr {
    font-size: 12px;
    font-weight: 500;
}
.testcase thead tr {
    background: #0078d4 !important;
    color: white;
}
.modaloverview{
    font-size: 12px;
    font-weight: 700;
}
.deleteicon {
    color: #dc2626 !important;
    font-size: 19px;
    float: right;
    margin-top: 4px;
    cursor: pointer;
}
.textrectangle
{

}
 .modal-backdrop.show{
 
     opacity: 0 !important;
 
 }
</style>
<title>Dash</title>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<link rel="stylesheet" type="text/css" href="css/Bootstrap/ssss.css">

<style>
.card {
    font-size: 15px !important;
    height: 29vh !important;
}
</style>
</head>
<body>
	<div class="container-fluid dashboard_wrap1">
		<div class="top_nav"><!--  data-ng-init="dashboarddetails() -->
			<nav class="navbar navbar-expand-sm"
				style="background-color: #0078d4; height: 6vh; padding-bottom: 0;">
				<!-- Links -->
				<ul class="navbar-nav mr-auto custom-control custom-radio">
					<li class="nav-item"><a class="nav-link navigator"
						ui-sref="dashboard" style='padding: 5px;'><i	
							class="fa fa-dashboard" style="color: #0078d4;"></i>Dashboard</a></li>
					<li class="nav-item ptypenav ptypeList ml-3">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input"
								id="defaultInline1" data-ng-model="isPtype"
									data-ng-change="getDashboad()" value="mannual"  name="inlineDefaultRadiosExample" data-ng-checked="true"> <label
								class="custom-control-label labeptype" for="defaultInline1">Manual</label>
						</div> <!-- Default inline 2-->
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" data-ng-model="isPtype" data-ng-change="getDashboad()"
									class="radio custom-control-input" value="automation"
								id="defaultInline2" name="inlineDefaultRadiosExample"> <label
								class="custom-control-label labeptype" for="defaultInline2">Automation</label>
						</div> 
						<!-- <div class="custom-control custom-radio custom-control-inline">
								<input class="custom-control-input" data-ng-model="isPtype"
									data-ng-change="getDashboad()" value="mannual" name="pType">
								<label class="custom-control-label" for="defaultInline1">Mannual</label>
							</div> Default inline 2
							<div class="custom-control custom-radio custom-control-inline">
								<input data-ng-model="isPtype" data-ng-change="getDashboad()"
									class="radio custom-control-input" value="automation"
									name="pType"> <label class="custom-control-label"
									for="defaultInline2">Automation</label>
							</div> -->
					</li>
				</ul>
				<ul class="navbar-nav ml-auto" data-ng-if=visible>
					<li><div class="btn-wrap" data-ng-if=visible>
							<button type="button" style="color: aliceblue;"
								class="btn btn-outline-primary btn-sm pull-right"
								data-ng-click="showModalForProject()">
								<i class="fa fa-plus-circle"></i> Add Project
							</button>
						</div></li>
					<li class="nav-item"><a ui-sref="admin"><button
								type="button" style="color: aliceblue;"
								class="btn btn-outline-primary btn-sm pull-right">
								<i class="fa fa-plus-circle"></i> Configuration
							</button></a> <!-- <a class="nav-link navigator-admin"
						ui-sref="admin"><i class="fa fa-cog" style="font-size: 133%;"></i>
							Configuration</a> --></li>
						<!-- 	<li>
								<div
								class="input-group input-group-sm pull-right"
								style="padding-right: 0;">	
									
									<select class="form-control form-control-sm" id='isActive'
									id='status' 
									data-ng-model="filter" >
									<option  value='' selected>All</option>
									<option value='Active'>Active</option>
									<option value='InActive' >InActive</option>
									<option value='Complete' >Complete</option>
											<option value='Blocked'>Blocked</option>
									<option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option>	
								</select>
										<span class="input-group-text" id="inputGroup-sizing-sm"><i
										class="fa-caret-down"></i></span>
								</div>
						</li> -->
					<li><div
							class="input-group input-group-sm pull-right"
							style="padding-right: 0;">
							<input onkeyup='showSearchData(this)' ng-model="searchText" type="text" class="form-control"
								placeholder="Search Projects" type="search" style="max-height: 4vh;" >
							<div class="input-group-append">
								<span class="input-group-text" id="inputGroup-sizing-sm" onclick='buttonSearch()'><i
									class="fa fa-search"></i></span>
							</div>
						</div></li>

				</ul>
			</nav>
		</div>
		<div class="container-fluid noPadding">
		<div class="row" style="margin-top:3px">
		
		<div class="col-lg-12 col-sm-12 col-md-12">
		<a href="javascript:void(0)" style="float:left" data-ng-click="nextprevious('previous')" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
		<a href="javascript:void(0)" style="float:right"  data-ng-click="nextprevious('next')" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		</div>
		</div>
		
		</div>
		<div class="container-fluid noPadding"
			style='background: whitesmoke; min-height: 1vh'></div>
		<!-- Main Content -->
		<div class="row noMargin-left" data-ng-show='showMannualDiv'>
			<div class="col-md-12" style="">
				<div class="row col-md-12 header_wrap">
					<div class="col-md-2">
						<span>Project Details
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('projectdetails')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Execution Status
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('executionstatus')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Run Details
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('rundetails')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Pass/Fail
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('passfailcount')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Defect Status
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('defectstatus')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Summary
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('summary')"></i>
						</span>
					</div>
				</div>
				<!-- Manual dashboard started -->
				<div class="row project_row" data-ng-repeat="x in getdashboardview  | filter : searchText">
					<div class="col-md-2">
						<div class="card">
							<div class="card-body project_details">
								<h5 class="card-title project_name">
									<span data-ng-click="passProject(x.projectname,x.projectid,'mannual',x.applicationName)"
										ui-sref="projectDetails" data-toggle="tooltip" 
										data-placement="bottom" title={{x.projectname}}>{{x.applicationName | limitTo:30}}
									</span> 
									<i data-ng-if=visible class='fa fa-trash table-ico deleteicon'
										data-ng-click="showModalForDeleteProject(x.projectid)"></i>
								</h5>
								<h6 class='runSummary'>
									<a class="card-title " data-ng-click="summeryDetails(x)">View
										Summary</a>
								</h6>
								<table class="testDetails">
									<tr>
										<th><i class="fa fa-arrow-up" style="color: red;"></i><span
											class="testcount">{{x.totaltestsuites}}</span></th>
										<th><i class="fa fa-arrow-up" style="color: green;"></i><span
											class="testcount">{{x.totalgroup}}</span></th>
										<th><i class="fa fa-arrow-up" style="color: orange;"></i><span
											class="testcount">{{x.totaltestcases}}</span></th>
									</tr>
									<tr class="projetc_labels">
										<td><span data-ng-if ="x.totaltestsuites <=1 " class="testdes">Test<br>Suite
										</span><span data-ng-if ="x.totaltestsuites >1 " class="testdes">Test<br>Suites</span></td>
										<td><span data-ng-if ="x.totalgroup <=1 " class="testdes">Test<br>Group
										</span><span data-ng-if ="x.totalgroup >1 " class="testdes">Test<br>Groups</span></td>
										<td><span data-ng-if ="x.totaltestcases <=1 " class="testdes" class="testdes">Test<br>Case
										</span><span data-ng-if ="x.totaltestcases >1 " class="testdes" class="testdes">Test<br>Cases</span></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body donut_Project1">
								<h6 class="card-title">Execution Status</h6>
								<div class="graph-wrap">
									<canvas id="Donut_Project{{$index}}" class="chartscale"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<table class="table_run">
											<tr>
												<td >{{x.totalrun}}</td>
												<td style="width:7px"></td>
												<td style="background-color: orange;">{{x.totalActiverun+x.totalruncompleted+x.totalinActiverun-x.totalrun}}</td>
												<td style="width:7px"></td>
												<td>{{x.totalActiverun}}</td>
											</tr>
											<tr>
												<td><span>Fresh Run</span></td>
												<td></td>
												<td><span> Re Run</span></td>
												<td></td>
												<td><span>Active Run</span></td>
											</tr>
										</table>
										<table class="executed_status col-sm-11">
											<tr>
												<td>Total Testcases</td>
												<td>{{x.totalRunTestcases}}</td>
											</tr>
											<tr>
												<td>Total Completed</td>
												<td>{{x.totalcompleted}}</td>
											</tr>
											<tr>
												<td>Total On Hold</td>
												<td>{{x.totalonhold}}</td>
											</tr>
											<tr>
												<td>Under Review</td>
												<td>{{x.totalunderreview}}</td>
											</tr>
											<tr>
												<td>Total not started</td>
												<td>{{x.totalnotstarted}}</td>
											</tr>
											<tr>
												<td>N/A</td>
												<td>{{x.totalNA}}</td>
											</tr>
											<tr>
												<td>Total Incomplete</td>
												<td>{{x.totalactionincomplete}}</td>
											</tr>
										</table>
									</div>
									<div class="col-sm-6 status">
										<div class="progress" style="background: white;" data-ng-if="x.totaltestcases!=0">
											<div class="progress-bar" role="progressbar" style="width:  {{(x.totalcurrentrunpass/x.totaltestcases)*100}}%; background: #08af08; min-width: 20%;"  aria-valuemin="0" aria-valuemax="100">{{x.totalcurrentrunpass}}</div>
							 				<div class="progress-bar" role="progressbar" style="width: {{(x.totalcurrentrunfail/x.totaltestcases)*100}}%;background: red; min-width: 20%;"  aria-valuemin="0" aria-valuemax="100">{{x.totalcurrentrunfail}}</div>
											<div class="progress-bar" role="progressbar" style="width: {{((x.totaltestcases-x.totalcurrentrunfail-x.totalcurrentrunpass)/x.totaltestcases)*100}}%;background: #aab0b3; min-width: 20%;"  aria-valuemin="0" aria-valuemax="100">{{x.totaltestcases-x.totalcurrentrunfail-x.totalcurrentrunpass}}</div>
										</div>
										<!-- <div class="row">
											<span style="font-size: 13px !important;"><i class="fa fa-square" style="color: #08af08; "></i>&nbsp;Pass</span>&nbsp;
											<span style="font-size: 13px !important;"><i class="fa fa-square" style="color: red;font-size: 13px !important;"></i>&nbsp;Fail</span>&nbsp;
											<span style="font-size: 13px !important;"><i class="fa fa-square" style="color: #aab0b3;font-size: 13px !important;"></i>&nbsp;Not Completed</span>
										
										</div> -->
										<div class="row">
											<div style="font-size: 12px !important;" class="col-md-3">
												<i class="fa fa-square" style="color: #08af08; "></i>&nbsp;Pass
											</div>&nbsp;
											<div style="font-size: 12px !important;" class="col-md-3">
												<i class="fa fa-square" style="color: red;font-size: 13px !important;"></i>&nbsp;Fail
											</div>&nbsp;
											<div style="font-size: 12px !important;" class="col-md-5 p-0">
												<i class="fa fa-square" style="color: #aab0b3;font-size: 13px !important;"></i>&nbsp;Not Completed
											</div>
										
										</div>
										<h6 class="statusHead">Open/Reopen Bug Status</h6>
										<table class="executed_status col-sm-11">
											
											<tr>
												<td>Minor</td>
												<td>{{x.totalcurrentrunminor}}</td>
											</tr>
											<tr>
												<td>Major</td>
												<td>{{x.totalcurrentrunmajor}}</td>
											</tr>
											<tr>
												<td>Critical</td>
												<td>{{x.totalcurrentruncritical}}</td>
											</tr>
											<tr>
												<td>Blocker</td>
												<td>{{x.totalcurrentrunblocker}}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body Tacho_Project1">
								<h6 class="card-title ">Current Defect Status</h6>
								<div class="graph-wrap">
									<canvas id="bugChart_graph{{$index}}" class="chartscale"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body" style="padding: 9px 10px;">
								<table class="res_status">
									<tr>
										<!-- <td style="background: red;"><i class="fa fa-bug"></i>{{x.totalbugs}}</td> -->
										 <td style="background: red;"><i class="fa fa-bug"></i>{{x.totalcurrentrunminor + x.totalcurrentrunmajor + x.totalcurrentruncritical + x.totalcurrentrunblocker}}</td>
										<td data-ng-if="x.totalbugs <=1">Total Bug</td>
										<td data-ng-if="x.totalbugs >1">Total Bugs</td>
									</tr>
									<tr style="height: 3px;"></tr>

									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #FFC107;"><i class="fa fa-users"></i>{{x.totalallotedresource}}</td>
										<td data-ng-if="x.totalallotedresource <=1">Alloted User</td>
											<td data-ng-if="x.totalallotedresource >1">Alloted Users</td>
									</tr>
									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #08af08;">{{x.successrate}}</td>
										<td>Success Rate</td>
									</tr>
									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #0078d4;">{{x.totalruncompleted}}</td>
										<td>Run Completed</td>
									</tr>
									 <!-- <tr style="height: 3px;"></tr>
									<tr class="executed_status">
										<td style="background: #0078d4;" >0</td>
										<td style="background: #0078d4;" >0</td>
										<td style="background: #0078d4;" >0</td>
									</tr>  -->
									</table>
								<div class="row"  style="margin: 0px;">
									<div  class="col-md-12 timespend" style="margin-top: 1px; padding: 0px;background: #17a2b8;color: white;text-align: center;">Time Spent</div>
									<div class="row col-md-12 pt-1" style="/* padding: 1px 17px; */color: white;">
										<div  class="col-md-3" style="background: #0078d4;  /* padding: inherit; */word-wrap: initial;">{{x.day}}</div>
										<div  class="col-md-1"></div>
										<div  class="col-md-3" style="background: #0078d4;  /* padding: inherit; */word-wrap: initial;">{{x.hour}}</div>
										<div  class="col-md-1"></div>
										<div  class="col-md-3" style="background: #0078d4;  /* padding: inherit; */word-wrap: initial;">{{x.minute}}</div>
										<div  class="col-md-1"></div>
									</div>
									<div class="row timespend" style="/* left: -9rem; */margin-left: 0rem;">
										<div class="col-md-3 pl-1 text-center">Day</div>
									<!-- 	<div  class="col-md-1"></div> -->
										<div class="col-md-3 pl-1 text-center" style="margin-left: 1.1rem;">Hour</div>
										<div class="col-md-1"></div>
										<div class="col-md-3 pl-1 text-center" style="margin-left: 2px;">Min</div>
										<div class="col-md-1"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-ng-if="$last" data-ng-init="getChartData()"></div>
				</div>
				<!-- //////////////////////////////////// -->

			</div>
			<!-- <div class="col-md-2 right-side-nav">
				<div class="btn-wrap" data-ng-if=visible>
					<button type="button"
						class="btn btn-outline-primary btn-sm pull-right"
						data-ng-click="showModalForProject()">
						<i class="fa fa-plus-circle"></i> Add Projects
					</button>
				</div>
				<div class="project-view">
					<div class='todolist'>ToDos</div>
					<div class="content">
						<div id='project-details'></div>

					</div>
				</div>
			</div> -->
		</div>
		<div class="row noMargin-left" data-ng-show='showautoDiv'>
			<div class="col-md-12" style="">
				<div class="row col-md-12 header_wrap">
					<div class="col-md-2">
						<span>Project Details
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('projectdetails')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Execution Status
						<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('executionstatus')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Run Details
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('rundetails')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Pass/Fail
								<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('passfailcount')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Execution Graph
						<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('executiongraph')"></i>
						</span>
					</div>
					<div class="col-md-2">
						<span>Summary
							<i class="fa fa-info-circle pl-1 pointerCursor" 
								data-ng-click="alert('summary')"></i>
						</span>
					</div>
				</div><!-- AUTOMATION DASHBOARD STARTED -->
				<!-- begining of actual automation arch ///////////////////////-->
<!-- 				 				<div class="row project_row" >
					<div class="col-md-2">
						<div class="card">
							<div class="card-body project_details">
								<h5 class="card-title project_name"
									><span data-ng-click="passProject('ICICI','7','automation')"
									ui-sref="projectDetailsAuto">ICICI</span> <i data-ng-if=visible class='fa fa-trash table-ico deleteicon'
										data-ng-click=""></i></h5>
								<h6 class='runSummary'>
									<a class="card-title " >view
										Summary</a>
								</h6>
								<table class="testDetails">
									<tr>
										<th><i class="fa fa-arrow-up" style="color: red;"></i><span
											class="testcount">{{x.totaltestsuites}}</span></th>
										<th><i class="fa fa-arrow-up" style="color: green;"></i><span
											class="testcount">{{x.totalgroup}}</span></th>
										<th><i class="fa fa-arrow-up" style="color: orange;"></i><span
											class="testcount">{{x.totaltestcases}}</span></th>
									</tr>
									<tr class="projetc_labels">
										<td><span class="testdes">Test<br>Suites
										</span></td>
										<td><span class="testdes">Test<br>Group
										</span></td>
										<td><span class="testdes">Test<br>Cases
										</span></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body donut_Project1">
								<h6 class="card-title">Execution Status</h6>
								<div class="graph-wrap">
									<canvas id="Auto_project" class="chartscale"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<table class="table_run">
											<tr>
												<td >12</td>
												<td style="width:7px"></td>
												<td style="background-color: orange;">2</td>
												<td style="width:7px"></td>
												<td>10</td>
											</tr>
											<tr>
												<td><span>Fresh Run</span></td>
												<td></td>
												<td><span> Running Run</span></td>
												<td></td>
												<td><span>Completed Run</span></td>
											</tr>
										</table>
										<table class="executed_status col-sm-11">
											<tr>
												<td>Total Testcases</td>
												<td>100</td>
											</tr>
											
										</table>
									</div>
									<div class="col-sm-6 status">
										<div class="progress" style="background: white;" data-ng-if="x.totalcompleted!=0">
											<div class="progress-bar" role="progressbar" style="width:  90%; background: #08af08;"  aria-valuemin="0" aria-valuemax="100">98</div>
							 <div class="progress-bar" role="progressbar" style="width: 10%;background: red;"  aria-valuemin="0" aria-valuemax="100">2</div>

										</div>
										<h6>
											<span><i class="fa fa-square" style='color: #08af08'></i>Pass</span>
											<span class="pull-right"><i class="fa fa-square"
												style='color: red'></i>Fail</span>
										</h6>
										<h6 class='statusHead'>Open/ReOpen Bugs Status</h6>
										<table class="executed_status col-sm-11">
											
											<tr>
												<td>Minor</td>
												<td>{{x.totalcurrentrunfail-x.totalcurrentrunmajor-x.totalcurrentruncritical-x.totalcurrentrunblocker}}</td>
											</tr>
											<tr>
												<td>Major</td>
												<td>{{x.totalcurrentrunmajor}}</td>
											</tr>
											<tr>
												<td>Critical</td>
												<td>{{x.totalcurrentruncritical}}</td>
											</tr>
											<tr>
												<td>Blocker</td>
												<td>{{x.totalcurrentrunblocker}}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body Tacho_Project1">
								<h6 class="card-title ">Execution Time Graph</h6>
								<div class="graph-wrap">
									<canvas id="bugChart_graph_auto" class="chartscale"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body" style="padding: 9px 10px;">
								<table class="res_status">
									
									<tr style="height: 3px;"></tr>

									<tr style="height: 3px;"></tr>
								
									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #08af08;">60</td>
										<td>Success Rates</td>
									</tr>
									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #0078d4;">8</td>
										<td>Run Complete</td>
									</tr>
									 <tr style="height: 3px;"></tr>									
									</table>
								<div class="row"  style="margin: 0px;">
									<div  class="col-md-12 timespend" style="margin-top: 1px; padding: 0px;background: #17a2b8;color: white;text-align: center;">Time spend</div>
												<div class="row" style="padding: 1px 17px;color: white;">
									<div  class="col-md-3" style="background: #0078d4;  padding: inherit;word-wrap: initial;">1</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3" style="background: #0078d4;  padding: inherit;word-wrap: initial;">19</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3" style="background: #0078d4;  padding: inherit;word-wrap: initial;">21</div>
									<div  class="col-md-1"></div>
									</div>
									<div class="row timespend" style="margin-left: 3%;">
									<div  class="col-md-3">Day</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3">Hour</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3">Min</div>
									<div  class="col-md-1"></div>
									</div>
									</div>
							</div>
						</div>
					</div>
					<div data-ng-if="$last" data-ng-init="getChartData()"></div>
				</div>  -->
				<!-- end of actual automation arch -->
				
				
				
								<div class="row project_row" data-ng-repeat="y in getAutodashboardview  | filter : searchText">
					<div class="col-md-2">
						<div class="card">
							<div class="card-body project_details">
								<h5 class="card-title project_name"
									><span data-ng-click="passProject(y.projectname,y.projectid,'automation',y.applicationName)"
									ui-sref="projectDetailsAuto" title={{y.projectname}}>{{y.applicationName}}</span> <i data-ng-if=visible class='fa fa-trash table-ico deleteicon'
										data-ng-click="showModalForDeleteProject(y.projectid)"></i></h5>
										
										
										
										
								<h6 class='runSummary'>
									<a class="card-title " data-ng-click="summeryTestDetails(y)">View
										Summary</a>
								</h6>
								<table class="testDetails">
									<tr>
<!-- 										<th><i class="fa fa-arrow-up" style="color: red;"></i><span -->
<!-- 											class="testcount"> {{y.noOftestSuites}} </span></th> -->
										<th><i class="fa fa-arrow-up" style="color: red;"></i><span
											class="testcount"> {{y.noOfDatasheet}} </span></th>
										<!-- <th><i class="fa fa-arrow-up" style="color: green;"></i><span
											class="testcount">{{y.totalgroup}}</span></th> -->
										<th><i class="fa fa-arrow-up" style="color: orange;"></i><span
											class="testcount">{{y.noOfTestcases}}</span></th>
									</tr>
									<tr class="projetc_labels">
<!-- 										<td><span data-ng-if ="y.noOftestSuites <=1 "  class="testdes">Test<br>Suite -->
<!-- 										</span><span data-ng-if ="y.noOftestSuites >1 " class="testdes">Test<br>Suites</span></td> -->
										<td><span data-ng-if ="y.noOfDatasheet <=1 "  class="testdes">Test<br>Suite
										</span><span data-ng-if ="y.noOfDatasheet >1 " class="testdes">Test<br>Suites</span></td>
										
										<!-- <td><span class="testdes">Test<br>Group
										</span></td> -->
										<td><span data-ng-if ="y.noOfTestcases <=1 " class="testdes">Test<br>Scenarios
										</span><span data-ng-if ="y.noOfTestcases >1 " class="testdes">Test<br>Scenarios</span></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body Tacho_Project1">
								<h6 class="card-title">Execution Status</h6>
								<div class="graph-wrap">
									<canvas id="AutoExeDonutChart{{$index}}" class="chartscale"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<table class="table_run">
											<tr>
												<td >{{y.totalFreshRun}}</td>
												<td style="width:7px"></td>
												<td style="background-color: orange;">{{y.totalCompletedRun}}</td>
												<td style="width:7px"></td>
												<td style="background-color: red;">{{y.totalFailedRun}}</td>
											</tr>
											<tr>
												<td><span>Fresh Run</span></td>
												<td></td>
												<td><span>Completed Run</span></td>
												<td></td>
												<td><span>Failed Run</span></td>
											</tr>
										</table>
										<table class="executed_status col-sm-11">
											<tr>
												<td>Total executed test cases</td>
												<td> {{y.totalLogCount}}</td>
											</tr>
											<tr>
												<td>Total Scenarios Completed</td>
												<td>{{y.toalCompletedScenario}}</td>
											</tr>
											<tr>
												<td>Total Running</td>
												<td>{{y.running}}</td>
											</tr>
											<tr>
												<td>Under Stopped</td>
												<td>{{y.stoppedRun}}</td>
											</tr>
											<tr>
												<td>Total Failed</td>
												<td>{{y.totalFailedRun}}</td>
											</tr>
											<!-- <tr>
												<td>N/A</td>
												<td>{{y.totalNA}}</td>
											</tr> -->
										</table>
									</div>
									<div class="col-sm-6 status">
										<div class="progress" style="background: white;" data-ng-if="y.totalLogCount!=0">  
											<div class="progress-bar" role="progressbar" style="width:  {{(y.totalPass/y.totalLogCount)*100}}%; background: #08af08;"  aria-valuemin="0" aria-valuemax="100">{{y.totalPass}} </div>
							 <div class="progress-bar" role="progressbar" style="margin-left: 4px; width:{{(y.totalFail/y.totalLogCount)*100}}%; background: red;"  aria-valuemin="0" aria-valuemax="100"> {{y.totalFail}} </div>
																						
										</div>
										
											<span data-ng-if="y.totalPass!=0"><i class="fa fa-square" style='color: #08af08'>{{y.totalPass}}</i>Pass</span>
											<span data-ng-if="y.totalPass==0"><i class="fa fa-square" style='color: #08af08'></i>Pass</span>
											<span class="pull-right" data-ng-if="y.totalFail!=0"><i class="fa fa-square" style='color: red'>{{y.totalFail}}</i>Fail</span>
										
										<span class="pull-right" data-ng-if="y.totalFail==0"><i class="fa fa-square" style='color: red'></i>Fail</span>
									<!-- 	<h6 class='statusHead'>Open/ReOpen Bugs Status</h6> -->
										<!-- <table class="executed_status col-sm-11">
											
											<tr>
												<td>Minor</td>
												<td>{{y.totalcurrentrunfail-y.totalcurrentrunmajor-y.totalcurrentruncritical-y.totalcurrentrunblocker}}</td>
											</tr>
											<tr>
												<td>Major</td>
												<td>{{y.totalcurrentrunmajor}}</td>
											</tr>
											<tr>
												<td>Critical</td>
												<td>{{y.totalcurrentruncritical}}</td>
											</tr>
											<tr>
												<td>Blocker</td>
												<td>{{y.totalcurrentrunblocker}}</td>
											</tr>
										</table> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body Tacho_Project1">
								<h6 class="card-title ">Current Defect Status</h6>
								<div class="graph-wrap">
									<canvas id="Chart{{$index}}"></canvas>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<div class="card-body" style="padding: 9px 10px;">
								<table class="res_status">
									
									<tr style="height: 3px;"></tr>

									<tr style="height: 3px;"></tr>
									
									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #08af08;"  to-intege>{{y.totalSuccessRate}} </td>
										<td>Success Rate</td>
									</tr>
									<tr style="height: 3px;"></tr>
									<tr>
										<td style="background: #0078d4;">{{y.runRate}}</td>
										<td>Run Completed</td>
									</tr>
									 <!-- <tr style="height: 3px;"></tr>
									<tr class="executed_status">
										<td style="background: #0078d4;" >0</td>
										<td style="background: #0078d4;" >0</td>
										<td style="background: #0078d4;" >0</td>
									</tr>  -->
									</table>
								<div class="row"  style="margin: 0px;">
									<div  class="col-md-12 timespend" style="margin-top: 1px; padding: 0px;background: #17a2b8;color: white;text-align: center;">Time spent</div>
									<div class="row" style="padding: 4px 17px;color: white;">
									<div  class="col-md-3" style="background: #0078d4;  padding: inherit;word-wrap: initial;">{{y.daySpent}}</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3" style="background: #0078d4;  padding: inherit;word-wrap: initial;">{{y.hourSpent}}</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3" style="background: #0078d4;  padding: inherit;word-wrap: initial;">{{y.minutespent}}</div>
									<div  class="col-md-1"></div>
									</div>
									<!-- <div class="row timespend" style="padding: 1px 17px;">
									<div  class="col-md-3" style="padding: inherit;word-wrap: initial;">Day</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3" style="padding: inherit;word-wrap: initial;">Hour</div>
									<div  class="col-md-1"></div>
									<div  class="col-md-3" style="padding: inherit;word-wrap: initial;">Min</div>
									<div  class="col-md-1"></div>
									</div> -->
									<div class="row timespend" style="/* left: -9rem; */margin-left: 0rem;">
										<div class="col-md-3 pl-1 text-center">Day</div>
									<!-- 	<div  class="col-md-1"></div> -->
										<div class="col-md-3 pl-1 text-center" style="margin-left: 1.1rem;">Hour</div>
										<div class="col-md-1"></div>
										<div class="col-md-3 pl-1 text-center" style="margin-left: 2px;">Min</div>
										<div class="col-md-1"></div>
									</div>
									</div>
							</div>
						</div>
					</div>
					 <div data-ng-if="$last" data-ng-init="autoExeDonutData()"></div> 
				</div>
				<!-- //////////////////////////////////// -->

			</div>
		</div>
		<!-- ./Main Content -->
		<div class="modal fade " style="margin-top: -1px;" id="createProject">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h6 class="modal-title">
							Create New Project &nbsp;&nbsp;&nbsp;<span id="statusDAshBOrd"style="color: green;">{{status}}</span>
						</h6>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="x_content">

							<form id="demo-form" name="submitForm">
								
								<div class="row">
									<label for="fullname" class="col-md-3">Project
										Name<span class="text-danger">*</span> :</label> <input type="text" id="applicationName"
										class="form-control form-control-sm col-md-7"
										data-ng-model="applicationName" name="fullname" required>
								</div>
								<div class="row">
									<label class="col-md-3" for="fullname">Project Key<span class="text-danger">*</span> :</label>
									<input type="text" id="projectName"
										class="form-control form-control-sm col-md-7"
										data-ng-model="projectName" name="fullname"
										required="required">
								</div>
								<div class="row">
									<label class="col-md-3">Select Module<span class="text-danger">*</span> :</label>
									<label style="margin-left: 17px;" class="col-md-2"> 
									<input id="auto" name="projectType" data-ng-model="isAuto" data-ng-checked="isPtype==='automation'"
										 class="check col-md-1 active mt-2" type="checkbox"
										value="Automation" data-ng-click="showAutomationData()"
										checked> Automation </label>
									<label style="margin-left: 28px;" class="col-md-2">
									<input id="manual" name="projectType" data-ng-model="isMannual"  data-ng-checked="isPtype==='mannual'"
										 class="check col-md-1 mt-2" type="checkbox" value="Manual"> Manual </label> <br> <br>
								</div>
							<!-- 	<div class="AutoDetail" style="display: none">

									<div class="row">
										<label for="heard" class="col-md-3"
											data-ng-init="toggleSelection()">Select Platform *:</label> <select
											id="platfrom" class="form-control form-control-sm col-md-7"
											data-ng-model="platFrom" checked="checked" required>
											<option value="">Choose..</option>
											<option value="web">Web</option>
											<option value="mobile">Mobile</option>

										</select>
									</div>
									<div class="row">
										<label for="heard" class="col-md-3">Select Slave Machine:</label> <select data-ng-model="slaveMechine"
											id="slaveMechine"
											class="form-control form-control-sm col-md-7" required="">
											<option value="">Choose..</option>
											<option value="Jira">mechine1</option>
											<option value="Bugzilla">Bugmechine2zilla</option>

										</select>
									</div>
								</div> -->
								<div class="row mt-0">
									<label for="heard" class="col-md-3">Start Date<span class="text-danger">*</span> :</label> <input
										type="text" id="pStdAte"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pStdAte" name="pStdAte" autocomplete="off"
										required="" readonly><span class="fa fa-calendar errspan"></span>


								</div>
								<div class="row">
									<label for="heard" class="col-md-3">End
										Date(Tentative)<span class="text-danger">*</span> :</label> <input type="text" id="pEndAte"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pEndAte" name="pEndAte" autocomplete="off"
										required="" readonly><span class="fa fa-calendar errspan"></span>

								</div>
								<div class="row">
									<label for="heard" class="col-md-3">Is Active<span class="text-danger">*</span> :</label> 
									<label
										style="margin-left: 17px;" class="radio-inline active col-md-2">
										<input type="radio" data-ng-model="isActive" name="isActive"
											id="inlineRadio1 customRadio" checked="checked" value="Y">
											Y
									</label> 
									<label style="margin-left: 28px;" class="radio-inline col-md-2">
										<input type="radio" data-ng-model="isActive" name="isActive"
											id="inlineRadio2 customRadio" value="N" checked> N
									</label>
								</div>
								<div class="row">
									<label for="heard" class="col-md-3"
										data-ng-init="showBugToolActive()">Bug Tracking Tool
										<span class="text-danger">*</span> :</label> 
										<select
										id="BugTracking" class="form-control form-control-sm col-md-7"
										data-ng-model="bugTracking" required>
										<option selected value="" >None</option>
										<option data-ng-repeat='row in showActiveBugTracker'
											value="{{row.toolid}}">{{row.userDefinedToolName}}</option>
										<!-- <option value="">Choose..</option>
									<option value="Jira">Jira</option>
									<option value="Bugzilla">Bugzilla</option> -->

									</select>
								</div>

								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

										
									</div>
								</div>
							</form>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
					<button type="submit" data-ng-click="createProject()"  style="margin-right: 70%"
											class="btn btn-success" id="submit" >Submit</button>
					<button class="btn btn-primary" type="reset" style="margin-right: 10px;" data-ng-click="resetProject()">Reset</button>
										
						<button type="button" class="btn btn-danger" data-ng-click="projectCreateClose(status)" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>
		<div class="modal fade " style="margin-top: -1px;" id="EditProject">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h6 class="modal-title">
							Edit Project &nbsp;&nbsp;&nbsp;<span style="color: green;">{{statusEdit}}</span>
						</h6>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="x_content">

							<form id="demo-form" name="submitForm">
								<div class="row">
									<label class="col-md-3" for="fullname">Project Name* :</label>
									<input type="text" id="projectName"
										class="form-control form-control-sm col-md-7"
										data-ng-model="projectNameEdit" name="fullname"
										required="required">

								</div>
								<div class="row">
									<label for="fullname" class="col-md-3">Application
										Name* :</label> <input type="text" id="applicationName"
										class="form-control form-control-sm col-md-7"
										data-ng-model="applicationNameEdit" name="fullname" required>
								</div>
								<div class="row">
									<label class="col-md-3">Select Module *:</label> <input
										id="auto" name="projectType" data-ng-model="isAutoEdit"
										class="check col-md-1 active" type="checkbox"
										value="Automation" data-ng-click="showAutomationData()"
										checked> Automation <input id="manual"
										name="projectType" data-ng-model="isMannualEdit"
										class="check col-md-1 " type="checkbox" value="Manual">
									Manual<br> <br>
								</div>
								<div class="AutoDetail" data-ng-if=isAuto>

									<div class="row">
										<label for="heard" class="col-md-3"
											data-ng-init="toggleSelection()">Select Platform *:</label> <select
											id="platfrom" class="form-control form-control-sm col-md-7"
											data-ng-model="platFrom" checked="checked" required>
											<option value="web">Web</option>
											<option value="mobile">Mobile</option>

										</select>
									</div>
									<div class="row">
										<label for="heard" class="col-md-3">Select
											SlaveMechine:</label> <select data-ng-model="slaveMechineEdit"
											id="slaveMechine"
											class="form-control form-control-sm col-md-7" required="">
											<option value="">Choose..</option>
											<option value="Jira">mechine1</option>
											<option value="Bugzilla">Bugmechine2zilla</option>

										</select>
									</div>
								</div>
								<div class="row input-wrapper">
									<label for="heard" class="col-md-3">Start Date:</label> <input
										type="text" id="pStdAteEdit"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pStdAteEdit" name="pStdAteEdit"
										autocomplete="off" required=""><span
										class="fa fa-calendar errspan"></span>


								</div>
								<div class="row input-wrapper">
									<label for="heard" class="col-md-3">End
										Date(Tentative):</label> <input type="text" id="pEndAteEdit"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pEndAteEdit" name="pEndAteEdit"
										autocomplete="off" required=""><span
										class="fa fa-calendar errspan"></span>

								</div>
								<div class="row">
									<label for="heard" class="col-md-3">Is Active :</label> <label
										style="margin-left: 50px;" class="radio-inline active">
										<input type="radio" data-ng-model="isActiveEdit"
										name="isActive" id="inlineRadio1 customRadio"
										checked="checked" value="Y"> Y
									</label> <label style="margin-left: 50px;" class="radio-inline ">
										<input type="radio" data-ng-model="isActiveEdit"
										name="isActive" id="inlineRadio2 customRadio" value="N"
										checked> N
									</label> <input type="hidden" id="projectID"
										class="form-control form-control-sm col-md-7"
										data-ng-model="projectID" name="projectID">
								</div>
								<div class="row">
									<label for="heard" class="col-md-3"
										data-ng-init="showBugToolActive()">Bug tracking tool</label> <select
										id="BugTracking" class="form-control form-control-sm col-md-7"
										data-ng-model="bugTrackingEdit" required>
										<option selected value="" >None</option>
										<option data-ng-repeat='row in showActiveBugTracker'
											value="{{row.toolid}}">{{row.userDefinedToolName}}</option>
										<!-- <option value="">Choose..</option>
									<option value="Jira">Jira</option>
									<option value="Bugzilla">Bugzilla</option> -->

									</select>
								</div>

								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
										<button type="button" class="btn btn-primary">Cancel</button>
										<button class="btn btn-primary" type="reset">Reset</button>
										<button type="submit" data-ng-click="EditProject()"
											id="editsubmit" class="btn btn-success">Submit</button>
									</div>
								</div>
							</form>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>
		<!-- View Summary Modal -->
		<div class="modal fade "  id="summeryModel" style="position: fixed;">
			<div class="modal-dialog modal-xxl" style=" margin-top: 35px;">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h6 class="modal-title" style="margin-left:0px !important">
							 Project Execution Summary Details&nbsp;&nbsp;&nbsp;
						</h6>
					
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						
					</div>

					<!-- Modal body -->
					<div class="modal-body" style="margin-left: 0px;">
						<div class="x_content">
						<div class='row' style="padding-bottom: 6px;">
							<div class='col-md-2 modaloverview' style="color: #0078d4">Total Run: {{projectDetails.totalrun+projectDetails.totalActiverun+projectDetails.totalruncompleted+projectDetails.totalinActiverun-projectDetails.totalrun}}</div>
							<div class='col-md-2 modaloverview' style="color: #591b9c">Fresh Run: {{projectDetails.totalrun}}</div>
							<div class='col-md-2 modaloverview' style="color: #8b9c2e">Re-Run: {{projectDetails.totalActiverun+projectDetails.totalruncompleted+projectDetails.totalinActiverun-projectDetails.totalrun}}</div>
							<div class='col-md-2 modaloverview' style="color: green">Active Run: {{projectDetails.totalActiverun}}</div>
							<div class='col-md-2 modaloverview' style="color: #a04915">Completed Run: {{projectDetails.totalruncompleted}}</div>
							<div class='col-md-2 modaloverview' style="color: #808080">Time spent: {{projectDetails.day}}D,{{projectDetails.hour}}H,{{projectDetails.minute}}M</div>
						</div>
							<table class="table table-hover table-sm testcase" id="example"
						style="">
				<thead class="tableheader">
							
							<!-- 		style="color:black; background-color: #a9d7e7" -->
							<tr>
								<th>Sr No</th>
								<th>Run Name</th>
								<th>Current
									Round</th>
									<th>Is Active</th>
									<th>Status</th>
								<th>TestCases</th>
								<th>Completed</th>
								<th>On Hold</th>
								<th>Under Review</th>
								<th>Not Started</th>
								<th>N/A</th>
<!-- 								<th>Action Pass</th> -->
								<th>Action Incomplete</th>
								<th>Pass</th>
								<th>Fail</th>
								<th>Blocked-Showstopper</th>
								<th>Blocked-Undelivered</th>
								<th >Blocked-Testdata</th>
								<th>Blocked-FSD not clear</th>
								<th>NA</th>
								<th>Deferred</th>
								<th>NE</th>
								<th>On Hold</th>
								<th>Duplicate</th>
								<th>Out of scope</th>
								<th>Partially Pass</th>
								<th>Critical</th>
								<th>Major</th>
								<th>Minor</th>
								<th>Blocker</th>
								<th>Open</th>
								<th>Closed</th>
								<th>Reopen</th>
								<th>Resolved</th>
								<th>Must to execute</th>
								<th>Need to execute</th>
								<th>Nice to execute</th>
								<th>High</th>
								<th>Medium</th>
								<th>Low</th>
							</tr>
						</thead>
						<tbody class="tablebody">
							<tr data-ng-repeat="row in testresults| filter : searchText">
							<td>{{$index+1}}</td>
								<td>R{{row.runid}}_{{row.runname}}</td>
								<td>{{row.round}}</td>
								<td>{{row.isActive}}</td>
								<td>{{row.status}}</td>
								<td>{{row.totalcases}}</td>
								<td>{{row.totalcompleted}}</td>
								<td>{{row.totalonhold}}</td>
								<td>{{row.totalunderreview}}</td>
								<td>{{row.totalnotstarted}}</td>
								<td>{{row.totalna}}</td>
<!-- 								<td>{{row.totalactionpass}}</td> -->
								<td>{{row.totalactionincomplete}}</td>
								<td>{{row.totalpass}}</td>
								<td>{{row.totalfail}}</td>
								<td>{{row.blockshowtopper}}</td>
								<td>{{row.blockedundelivered}}</td>
								<td>{{row.blockedtestdata}}</td>
								<td>{{row.blockednotanclear}}</td>
								<td>{{row.na}}</td>
								<td>{{row.deferred}}</td>
								<td>{{row.ne}}</td>
								<td>{{row.onhold}}</td>
								<td>{{row.duplicate}}</td>
								<td>{{row.outofScope}}</td>
								<td>{{row.partiallypass}}</td>
								<td>{{row.totalcritical}}</td>
								<td>{{row.totalmajor}}</td>
								<td>{{row.totalminor}}</td>
								<td>{{row.totalblocker}}</td>
								<td>{{row.open}}</td>
								<td>{{row.closed}}</td>
								<td>{{row.reopen}}</td>
								<td>{{row.resolved}}</td>
								<td>{{row.mustte}}</td>
								<td>{{row.needte}}</td>
								<td>{{row.nicete}}</td>
								<td>{{row.high}}</td>
								<td>{{row.medium}}</td>
								<td>{{row.low}}</td>
								
								
							</tr>

						</tbody>
					</table>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="tableToExcel('summeryModel','Summary Details')">Export to Excel</button>
						<button type="button" class="btn btn-danger" data-ng-click="closepESD()">Close</button>
					</div>

				</div>
			</div>
		</div>
		
		<!-- SUMMARY TEST SUITES MODELS -->
				<div class="modal fade "  id="summeryTSModel"  style="position: fixed;">
			<div class="modal-dialog modal-xxl" style=" margin-top: 35px;">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h6 class="modal-title"   style="margin-left:0px !important">
							 Project Execution Summary Details&nbsp;&nbsp;&nbsp;
						</h6>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" style="margin-left: 0px;">
						<div class="x_content">
						<div class='row' style="padding-bottom: 6px;">
							<div class='col-md-2 modaloverview' style="color: #0078d4">Fresh Run: {{projectDetailsAuto.totalFreshRun}}</div>
							<div class='col-md-2 modaloverview' style="color: green">Completed Run: {{projectDetailsAuto.totalCompletedRun}}</div>
							<div class='col-md-2 modaloverview' style="color: #591b9c">Running: {{projectDetailsAuto.running}}</div>
							<div class='col-md-2 modaloverview' style="color: #8b9c2e">Stopped By User: {{projectDetailsAuto.stoppedRun}}</div>
							<div class='col-md-2 modaloverview' style="color: #a04915">Failed Run: {{projectDetailsAuto.totalFailedRun}}</div>							
						</div>
							<table class="table table-hover table-sm testcase" id="example"
						style="">
				<thead class="tableheader">
							
							<!-- 		style="color:black; background-color: #a9d7e7" -->
							<tr>
							<th>Sr No</th>
								<th>Test Suite Count</th>
								<!-- <th>Current
									Round</th>
									<th>Is Active</th>
									<th>Status</th> -->
								<th>Total Count</th>
								<th>Passed</th>
								<th>Failed</th>
								<!-- <th>Under Review</th>
								<th>Not Started</th>
								<th>Pass</th>
								<th>Fail</th>
								<th>Critical</th>
								<th>Major</th>
								<th>Minor</th>
								<th>Blocker</th>
								<th>Open</th>
								<th>Closed</th>
								<th>Reopen</th> -->
							</tr>
						</thead>
						<tbody class="tablebody">
							<tr data-ng-repeat="sRow in testSuitesresults | filter : searchText">
							<td>{{$index+1}}</td>
								<td>R{{row.runId}}_{{sRow.scenarioID}}</td>
								<td>{{sRow.totalTestSuites}}</td>
								<td>{{sRow.totalPassed}}</td>
								<td>{{sRow.totalFailed}}</td>
								<!-- <td>{{row.totalcases}}</td>
								<td>{{row.totalcompleted}}</td>
								<td>{{row.totalonhold}}</td>
								<td>{{row.totalunderreview}}</td>
								<td>{{row.totalnotstarted}}</td>
								<td>{{row.totalpass}}</td>
								<td>{{row.totalfail}}</td>
								<td>{{row.totalcritical}}</td>
								<td>{{row.totalmajor}}</td>
								<td>{{row.totalminor}}</td>
								<td>{{row.totalblocker}}</td>
								<td>{{row.open}}</td>
								<td>{{row.closed}}</td>
								<td>{{row.reopen}}</td>
 -->							</tr>

						</tbody>
					</table>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>
		<!-- SUMMARY TEST SUITES MODELS -->
	</div>
	
</body>
<script>


var tableToExcel = (function(pName) {
	  var uri = 'data:application/vnd.ms-excel;base64,'
	    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
	    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
	    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
	  return function(table, name) {
	    if (!table.nodeType) table = document.getElementById(table)
	    var ctx = {worksheet: pName || 'Worksheet', table: table.innerHTML}
	    window.location.href = uri + base64(format(template, ctx))
	  }
	})()

function showSearchData(element){
	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
	    return function( elem ) {
	        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
	    };
	});
	var getdata=element.value;
	if(getdata==''){
		$('h5.project_name').closest(".project_row").show();
	}else{
		$('h5.project_name').closest(".project_row").hide();
		$('h5.project_name:contains('+getdata+')').closest(".project_row").show();
	}
}
function buttonSearch(){
var val=$('[name="search"]').val();
 showSearchData(val);
}

$(".fa-calendar").on("click", function(){
    $(this).siblings("input").datepicker("show");    
});

	var startdate = $('input[name="pStdAte"]'); // Our date input has the name "date"
	var container = $('.bootstrap-iso form').length > 0 ? $(
			'.bootstrap-iso form').parent() : 'body';
		startdate.datepicker({
		format : 'mm/dd/yyyy',
		container : container,
		todayHighlight : true,
		autoclose : true,
		startDate : '01/01/2000', // <-- THIS WORKS
		endDate : '12/31/2050'
	});

	/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	 */
	var endDate = $('input[name="pEndAte"]'); // Our date input has the name "date"
	var container = $('.bootstrap-iso form').length > 0 ? $(
			'.bootstrap-iso form').parent() : 'body';
	endDate.datepicker({
		format : 'mm/dd/yyyy',
		container : container,
		todayHighlight : true,
		autoclose : true,
		startDate : '01/01/2000', // <-- THIS WORKS
		endDate : '12/31/2050'
	// startDate: truncateDate(new Date()) // <-- THIS WORKS
	});

	/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	 */

	 
	function truncateDate(date) {
		return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	}
</script>
</html>