<style>
.modal {
	position: absolute;
}

.modal-body {
	margin-left: 42px;
}

.modal-xl {
	max-width: 896px;
}

@media ( min-width : 992px) .modal-lg , . modal-xl {
	max-width
	:
	 
	800
	px
	;
	

}

@media ( min-width : 576px) .modal-dialog {
	max-width
	:
	 
	500
	px
	;
	
    
	margin
	:
	 
	1
	.75rem
	 
	auto
	;
	

}

.navigator {
	background: whitesmoke;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #0078d4;
}

.noPadding-left {
	padding-right: 0 !important
}

.navigator-admin {
	padding: 5px;
	background: #085ea0;
	color: white;
	padding-bottom: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.navigator-admin:hover {
	color: white !important;
}

.right-side-nav {
	min-height: 85vh;
	background: #efefef;
}

.noMargin-left {
	margin-right: 0px !important;
}
.errspan {
        margin-left: -3%;
    margin-top: 1%;
    font-size: 111%;
    }

.btn-wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 3%;
}
.calender
{
    background-color: transparent;
}

.todolist {
	background: #c3c3c3;
	padding: 2%;
	padding-left: 6%;
	border-radius: 3px;
	color: #0078d4;
}
/* Adding Folder Style */
.li-style {
	color: darkred;
}

.a-style:hover {
	text-decoration: underline !important;
}
/* ./Adding Folder Style */
.lineChart {
	border-radius: 6px;
}

.heading {
	color: black;
	background: #a9d7e8;
	font-weight: 700;
	font-size: 18px;
}

.project-icons {
	margin-right: 2%;
}

.project-icons i {
	font-size: 85px;
	color: #0078d4;
}
.leftChart{
    padding-right: 2px;
    margin-top: 4px;
}
.rightChart{
    margin-left: 34%;
    /* width: 66%; */
    height: 312px;
}
#chartdivbar {
  width: 98%;
    height: 177px;
}
.project-options div a {
	cursor: pointer;
	color: #0078d4 !important;
}

.project-options div a:hover {
	text-decoration: underline !important;
}

.jstree-anchor {
	color: #0078d4 !important;
}
#chartdiv1 {
             height: 39vh;
}
.barchart
{
    
       margin-top: -74%;
}
.input-wrapper{
  position: relative;
}
.amcharts-chart-div > a {
    display: none !important;
}
.graphHeading{
    color: blue;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}
.projectBar
{
    margin-top: -65%;
    margin-left: -65%;
}
.editicon
{
	
    font-size: 188%;
    margin-top: 16px;
    color: blue;

}

</style>
<script src="js/mailvalidation.js"></script>
<link rel="stylesheet" href="css/custom.maindiv.css">
<div class="container-fluid noPadding">
	<div class="heading col-md-12 noPadding"
		style="background: #0078d4; height: 5vh;">
		<h5 class="heading-text">Configuration</h5>

		<div class="input-group input-group-sm col-md-2 pull-right"
			style="padding-right: 0;">
			<input type="text" class="form-control" placeholder="Search Projects"
				aria-label="Small" aria-describedby="inputGroup-sizing-sm"
				style="max-height: 4vh;">
			<div class="input-group-append">
				<span class="input-group-text" id="inputGroup-sizing-sm"><i
					class="fa fa-search"></i></span>
			</div>
		</div>


	</div>
	<div class="top_nav">
		<nav class="navbar navbar-expand-sm"
			style="background-color: #0078d4; height: 6vh; padding-bottom: 0;">
			<!-- Links -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link navigator"  ui-sref="dashboard" 
					style='padding: 5px;'><i class="fa fa-dashboard"
						style="color: #0078d4;"></i>Dashboard</a></li>
			</ul>
			<ul class="navbar-nav ml-auto" data-ng-if=visible>
				<li class="nav-item" ><a class="nav-link navigator-admin"
					ui-sref="admin"><i class="fa fa-cog" style="font-size: 133%;"></i> Configuration</a></li>
			</ul>
		</nav>
	</div>
	<div class="container-fluid noPadding"
		style='background: whitesmoke; min-height: 1vh'></div>
	<!-- Main Content -->
	<div class="row noMargin-left">
		<div class="col-md-10 noPadding-left">

			<!-- Main Dashboard View  -->

			<!-- <div class="col-md-12 heading">
				<div>ALL Project</div>
			</div> -->
			<!-- <div class="row">				
				<div class="col-md-6 leftChart" style="background: whitesmoke;margin: 4px;">
						<div class="col-md-12">
						<div class="graphHeading">All Project Run Status</div>
						<div id="chartdiv1"></div>		
						</div>
				</div>
				<div class="col-md-6 rightChart">
				
					<div class="col-md-12">
					<div class="projectBar">
					<div>Select Project Wise:<select>
					<option selected value="" disabled>None</option>
                    <option data-ng-repeat='row in dashboardProjectDetails' value="{{row.roleId}}">{{row.projectName}}</option>
					</select>
					</div>
					<div>Select Time Period: <select>
					<option selected value="" disabled>None</option>
					 <option selected value="7">7 Days</option>
                    <option selected value="15">15 Days</option>
                    <option selected value="30">30 Days</option>
					</select>
					<input type="submit"/>
					</div>
					<div id="barchart_material" class="barchart"></div>
					</div>
				</div>
			</div>
				
			</div> -->

			<div class="col-md-12 allProjects noPadding">
			<div class="row" style="background: #a9d7e8;">
				<div class="col-md-9 heading" style="padding-left: 31px;">All Projects</div>
				<div class="input-group input-group-sm col-md-2 pull-right"
							style="padding-right: 0; margin-left: 71px;">
							<input type="text" class="form-control"
								placeholder="Search Projects" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" style="max-height: 4vh;" data-ng-model="search">

						</div>
				</div>
				<div class="allProjects-wrap"
					style="padding-left: 2%; background: whitesmoke;/*  max-height: 32vh */; overflow-y: auto; overflow-x: hidden;">
					<div class="project-details"
						data-ng-repeat="project in dashboardProjectDetails | filter:search">
						<div class="row">
							<div class="project-icons">
								<i class="fa fa-tasks"></i>
							</div>
							<div class="col-md-9">
								<h6 style="color: #0078d4; cursor: pointer">
									<a data-ng-click=passProject(project.projectName,project.projectId)
										ui-sref="projectDetails">{{project.projectName}}</a>
								</h6>
							
								<div>
									<!-- <a>Tools |</a> --><a data-ng-click=passProject(project.projectName,project.projectId) ui-sref="projectDetails.testRun"> Test Runs |</a><a data-ng-click=passProject(project.projectName,project.projectId) ui-sref="projectDetails.testSuites"> Test Suites |</a><a data-ng-click=passProject(project.projectName,project.projectId) ui-sref="projectDetails.projectreport">
										Reports</a><!-- <a data-ng-if=editpro data-ng-click="showModalForEditProject(project.projectName,project.projectId)"> 
										| Edit</a> -->
											
								</div>
								<span>Contains <b>{{project.testSuitesNo}}</b> Test
									Suites,<b>{{project.testGroupNo}}</b> Test Groups and <b>{{project.testCaseNo}}</b> Test Cases
								</span> <i class='arrow-icons'></i>
							</div>
							<!-- <div class="col-md-1">
								
							</div> -->
								<div class="col-md-1" data-ng-if=editpro>
								<i class='fa fa-edit table-ico  editicon'
										data-ng-click="showModalForEditProject(project.projectName,project.projectId)"></i>
							<i class='fa fa-trash table-ico deleteicon'
										data-ng-click="showModalForDeleteProject(project.projectId)"></i>
										</div>
										
						</div>
					</div>
					<hr style="margin: 3px;">
				</div>
			</div>
		</div>
		<!-- ./Main Dashboard View  -->

		<!-- Side Nav View -->
		<div class="col-md-2 right-side-nav">
			<div class="btn-wrap" data-ng-if=visible>
				<button type="button"
					class="btn btn-outline-primary btn-sm pull-right"
					data-ng-click="showModalForProject()">
					<i class="fa fa-plus-circle"></i> Add Project
				</button>
			</div>
			<div class="project-view">
				<div class='todolist'>ToDos</div>
				<div class="content">
					<div id='project-details'></div>

				</div>
			</div>
		</div>
		<!-- Side Nav View -->

	</div>

	<!-- ./Main Content -->
	<div class="modal fade " style="margin-top: -1px;" id="createProject">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Create New Project &nbsp;&nbsp;&nbsp;<span style="color: green;">{{status}}</span></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label class="col-md-3" for="fullname">Project Name<span class="text-danger">*</span> :</label> <input
									type="text" id="projectName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectName" name="fullname" required="required">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Application Name<span class="text-danger">*</span>
									:</label> <input type="text" id="applicationName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="applicationName" name="fullname" required>
							</div>
							<div class="row">
								<label class="col-md-3">Select Module <span class="text-danger">*</span>:</label> 
								<input
									id="auto" name="projectType" data-ng-model="isAuto"  
									class="check col-md-1 active" type="checkbox" value="Automation" data-ng-click="showAutomationData()" checked >
								Automation
								<input
									id="manual" name="projectType"  data-ng-model="isMannual"
									 class="check col-md-1 " type="checkbox" 
									value="Manual">Manual<br> 
									
							<br>
							</div>
							<div class="AutoDetail" style="display:none">
							
							<div class="row">
								<label for="heard" class="col-md-3" data-ng-init="toggleSelection()">Select Platform <span class="text-danger">*</span>:</label> <select
									id="platfrom" class="form-control form-control-sm col-md-7"
									data-ng-model="platFrom" checked="checked" required>
									<option value="web">Web</option>
									<option value="mobile">Mobile</option>

								</select>
							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Select SlaveMechine:</label>
								<select data-ng-model="slaveMechine" id="slaveMechine"
									class="form-control form-control-sm col-md-7" required="">
									<option value="">Choose..</option>
									<option value="Jira">mechine1</option>
									<option value="Bugzilla">Bugmechine2zilla</option>

								</select>
							</div>
							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Start Date:</label> <input
									type="text" id="pStdAte"
									class="form-control form-control-sm datepicker col-md-7 calender"
									data-ng-model="pStdAte" name="pStdAte" autocomplete="off"
									required="" readonly><span class="fa fa-calendar errspan"></span>


							</div>
							<div class="row">
								<label for="heard" class="col-md-3">End Date(Tentative):</label>
							<input type="text" id="pEndAte"
									class="form-control form-control-sm datepicker col-md-7 calender"
									data-ng-model="pEndAte" name="pEndAte" autocomplete="off"
									required="" readonly><span class="fa fa-calendar errspan"></span>

							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Is Active :</label> <label
									style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="isActive" name="isActive"
									id="inlineRadio1 customRadio" checked="checked" value="Y">
									Y
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="isActive" name="isActive"
									id="inlineRadio2 customRadio" value="N" checked> N
								</label>
							</div>
							<div class="row">
								<label for="heard" class="col-md-3" data-ng-init="showBugToolActive()">Bug tracking tool</label> <select
									id="BugTracking" class="form-control form-control-sm col-md-7"
									data-ng-model="bugTracking" required>
									<option selected value="" disabled>None</option>
                                     <option data-ng-repeat='row in showActiveBugTracker' value="{{row.toolid}}">{{row.bugTrackingToolName}}</option>
									<!-- <option value="">Choose..</option>
									<option value="Jira">Jira</option>
									<option value="Bugzilla">Bugzilla</option> -->

								</select>
							</div>
								
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
									
									<button class="btn btn-primary" type="reset">Reset</button>
									<button type="submit" data-ng-click="createProject()"
										class="btn btn-success" id="submit">Submit</button>
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
		<div class="modal fade " style="margin-top: -1px;" id="EditProject">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Project &nbsp;&nbsp;&nbsp;<span style="color: green;">{{statusEdit}}</span></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label class="col-md-3" for="fullname">Project Name<span class="text-danger">*</span> :</label> <input
									type="text" id="projectName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectNameEdit" name="fullname" required="required">
									
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Application Name<span class="text-danger">*</span>
									:</label> <input type="text" id="applicationName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="applicationNameEdit" name="fullname" required>
							</div>
							<div class="row">
								<label class="col-md-3">Select Module <span class="text-danger">*</span>:</label> 
								<input
									id="auto" name="projectType" data-ng-model="isAutoEdit"  
									class="check col-md-1 active" type="checkbox" value="Automation" data-ng-click="showAutomationData()" checked >
								Automation
								<input
									id="manual" name="projectType"  data-ng-model="isMannualEdit"
									 class="check col-md-1 " type="checkbox" 
									value="Manual">Manual<br> 
									
							<br>
							</div>
							<div class="AutoDetail"  data-ng-if=isAuto>
							
							<div class="row">
								<label for="heard" class="col-md-3" data-ng-init="toggleSelection()">Select Platform <span class="text-danger">*</span>:</label> <select
									id="platfrom" class="form-control form-control-sm col-md-7"
									data-ng-model="platFrom" checked="checked" required>
									<option value="web">Web</option>
									<option value="mobile">Mobile</option>

								</select>
							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Select SlaveMechine:</label>
								<select data-ng-model="slaveMechineEdit" id="slaveMechine"
									class="form-control form-control-sm col-md-7" required="">
									<option value="">Choose..</option>
									<option value="Jira">mechine1</option>
									<option value="Bugzilla">Bugmechine2zilla</option>

								</select>
							</div>
							</div>
							<div class="row input-wrapper">
								<label for="heard" class="col-md-3">Start Date:</label> <input
									type="text" id="pStdAteEdit"
									class="form-control form-control-sm datepicker col-md-7 calender" 
									data-ng-model="pStdAteEdit" name="pStdAteEdit" autocomplete="off"
									required=""><span class="fa fa-calendar errspan"></span>


							</div>
							<div class="row input-wrapper">
								<label for="heard" class="col-md-3">End Date(Tentative):</label>
								<input type="text" id="pEndAteEdit"
									class="form-control form-control-sm datepicker col-md-7 calender"
									data-ng-model="pEndAteEdit" name="pEndAteEdit" autocomplete="off"
									required=""><span class="fa fa-calendar errspan"></span>

							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Is Active :</label> <label
									style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="isActiveEdit" name="isActive"
									id="inlineRadio1 customRadio" checked="checked" value="Y">
									Y
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="isActiveEdit" name="isActive"
									id="inlineRadio2 customRadio" value="N" checked> N
								</label>
								<input
									type="hidden" id="projectID"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectID" name="projectID">
							</div>
							<div class="row">
								<label for="heard" class="col-md-3" data-ng-init="showBugToolActive()">Bug tracking tool</label> <select
									id="BugTracking" class="form-control form-control-sm col-md-7"
									data-ng-model="bugTrackingEdit" required>
									<option selected value="" disabled>None</option>
                                     <option data-ng-repeat='row in showActiveBugTracker' value="{{row.toolid}}">{{row.bugTrackingToolName}}</option>
									<!-- <option value="">Choose..</option>
									<option value="Jira">Jira</option>
									<option value="Bugzilla">Bugzilla</option> -->

								</select>
							</div>
								
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
									<button type="button" class="btn btn-primary">Cancel</button>
									<button class="btn btn-primary" type="reset">Reset</button>
									<button type="submit" data-ng-click="EditProject()" id="editsubmit"
										class="btn btn-success">Submit</button>
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
</div>