<link rel="stylesheet" href="css/custom.maindiv.css">
<script src="js/mailvalidation.js"></script>
<style>
.start{
background-color: green;
color: white;
}
.stop{
background-color: red;
color: white;
}
.exestatus{
background-color: blue;
color: white;
}

.dt-button-collection{
	margin-top: 2px;
	margin-left: 15rem!important;
}
#automationReport.dataTable thead th, #automationReport.dataTable thead td{
    padding: 3px 18px
}
#automationReport thead tr{
    background: #0078d4;
    color: white;
}
#allBugReport.dataTable thead th, #allBugReport.dataTable thead td{
    padding: 3px 18px
}
#allBugReport thead tr{
    background: #0078d4;
    color: white;
}

 .dt-button
{
	   /*  margin: 5px 4px 28px; */
	   margin-top: 45px;
	   margin-left: -115px;
	
} 
.dt-button-collection{
	margin-left: 15rem;
}
</style>
<script>
	$(document).ready(function() {
		$('.time').datetimepicker({
			format : 'HH:mm:ss'

		});
	});
</script>

<script type="text/javascript" src="js/new.js"></script>
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;"
				data-ng-click="backToTestRun()">ToDo </a></li>
			<li class="breadcrumb-item active" data-ng-show='showRunName'>{{testRunName}}</li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="row">

					<!-- //pranik -->
					<div class="col-md-12" id="divAllBugReport" style="display: none">
						<table id="allBugReport" class="table table-striped table-sm"
							style="width: 100%">

						</table>
					</div>

					<div class="col-md-12" id="divReport">
						<table id="automationReport" class="table table-striped table-sm"
							style="width: 100%">

						</table>
					</div>
				</div>




	<div class="modal fade" id="executeTestCase" data-backdrop="static"
		data-keyboard="false">

		<div class="modal-dialog modal-xxl" style="margin-top: 35px;">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header" onload="mfuction()">
					<!-- <h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
TC_{{testCaseEdit.testCaseSrNo}}<span
style="color: green; font-size: 15px; margin-left: 128px;">{{executeTestCaseStatus}}</span>
</h4> -->
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
						{{testCaseEdit.testID}}<span
							style="color: green; font-size: 15px; margin-left: 128px;">{{executeTestCaseStatus[0]}}
							<span data-ng-if="executeTestCaseStatus[1]!=null">| Bug ID
								is {{executeTestCaseStatus[1]}}</span>
						</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="clearTodo()">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body" style="height: 60vh;">
					<div class="col-md-12">
						<form enctype="multipart/form-data" onload="mfuction()">
							<div class="row">
								<div class="form-group col-md-4 noPaddingLeft">
									<label class="control-label" for="">Test Run Id</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="testSuitesName" data-ng-model="testCaseEdit.testID"
											placeholder="Enter testSuites name" readonly="readonly">

									</div>
								</div>


								<div class="form-group col-md-4 noPaddingLeft">
									<label class="control-label" for="">Scenario ID</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="testGroupName" data-ng-model="testCaseEdit.scenarioID"
											placeholder="Enter testGroup name" readonly="readonly">
									</div>
								</div>
								<div class="form-group  col-md-4 noPaddingLeft">
									<label class="control-label" for="">Scenario</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="scenarios" data-ng-model="testCaseEdit.scenarios"
											placeholder="Enter scenarios name" autocomplete="off"
											readonly="readonly">
									</div>
								</div>


							</div>
							<div class="row">


								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Case Type</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											readonly="readonly" id="testCaseType"
											data-ng-model="testCaseEdit.testCaseType"
											placeholder="Enter Test Case Type">
									</div>
								</div>
								<div class="form-group col-md-3 noPaddingLeft">
									<label class="control-label" for="">UserDefined TCId</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="testID" data-ng-model="testCaseEdit.testCaseSrNo"
											placeholder="Enter UserDefined TC Id" readonly> <input
											type="hidden" class="form-control form-control-sm"
											id="testSuitesName" data-ng-model="testCaseEdit.id"
											placeholder="Enter testSuites name" readonly="readonly">
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Functionality</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="funcitionality" readonly="readonly"
											data-ng-model="testCaseEdit.functionality"
											placeholder="Enter funcitionality" readonly="readonly">
									</div>
								</div>
								<div class="form-group col-md-3 noPaddingLeft">
									<label class="control-label" for="">Browser<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content"
										data-ng-init="testCaseEdit.browser=null">
										<select class="form-control form-control-sm required"
											id='browserNameToDo' data-ng-model="testCaseEdit.browser" readonly="readonly">
											<!-- <option value='null' selected disabled>--SELECT--</option> -->
											<option value='' selected disabled>--SELECT--</option>
											<option value='Chrome'>Chrome</option>
											<option value='FireFox'>FireFox</option>
											<option value='IE'>IE</option>
											<option value='' disabled>--or select OS--</option>
											<option value='Android'>Android</option>
											<option value='IOS'>IOS</option>
											<option value='Windows'>Windows</option>
										</select>
									</div>
								</div>
							</div>


							<div class="row">

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Steps<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content" ng-form="stepsForm">
										<textarea class="form-control form-control-sm" rows="4"
											id="steps" data-ng-model="testCaseEdit.steps" name="steps"
											required="required" readonly="readonly"></textarea>
										<!-- <p ng-show="stepsForm.steps.$error.required " class="help-block" style="color:red;">*Required</p>
 -->
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Data<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content" ng-form="testDataForm">
										<textarea class="form-control form-control-sm" rows="4"
											id="testData" data-ng-model="testCaseEdit.testData"
											onChange="c('testData');" name="testData"
											placeholder="Enter Data" required="required" readonly="readonly"></textarea>
										<!-- <p ng-show="testDataForm.testData.$error.required "
											class="help-block" style="color: red;">*Required</p> -->
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Description<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content" ng-form="testDescriptionForm">
										<textarea class="form-control form-control-sm" rows="4"
											id="testDescription" name="testDescription"
											data-ng-model="testCaseEdit.testDescription"
											placeholder="Enter Test Description" required="required" readonly="readonly"></textarea>
										<!-- <p
											ng-show="testDescriptionForm.testDescription.$error.required "
											class="help-block" style="color: red;">*Required</p> -->
									</div>
								</div>
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Expected Result<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content" ng-form="expectedResultForm">
										<textarea class="form-control form-control-sm" rows="4"
											id="expectedResult" name="expectedResult"
											data-ng-model="testCaseEdit.expectedResult"
											placeholder="Enter expected result" required="required" ></textarea>
										<!-- <p
											ng-show="expectedResultForm.expectedResult.$error.required "
											class="help-block" style="color: red;">*Required</p>
									 -->
									</div>
								</div>
							</div>
							<div class="row">

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Actual Result<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content" ng-form="resultForm">
										<textarea class="form-control form-control-sm clear" rows="4"
											id="result" data-ng-model="testCaseEdit.actualResult"
											name="result" placeholder="Enter actual result"
											required="required" readonly="readonly"></textarea>
										<!-- <p ng-show="resultForm.result.$error.required " class="help-block" style="color:red;">*Required</p>
 -->
									</div>
								</div>
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Tester Comment<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content" ng-form="testerCommentForm">
										<textarea class="form-control form-control-sm clear" rows="4"
											id="testerComment" data-ng-model="testCaseEdit.testerComment"
											name="testerComment" placeholder="Enter tester comment"
											required="required" readonly="readonly"></textarea>
										<!-- <p ng-show="resultForm.testerComment.$error.required "
											class="help-block" style="color: red;">*Required</p> -->
									</div>
								</div>
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Case Action<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content"
										data-ng-init="testCaseEdit.testCaseAction=''">
										<select class="form-control form-control-sm"
											id='testCaseAction'
											data-ng-model="testCaseEdit.testCaseAction"
											data-ng-change="switchdiv()" readonly="readonly">
											<!-- onchange="showfield(this.options[this.selectedIndex].value) -->
											<option value='' selected
												data-ng-disabled="disableOpt || !disabledStatus">--SELECT--</option>
											<option value='Not Started'
												data-ng-disabled="disableOpt || disabledStatus">Not
												Started</option>
											<option value='Completed'
												data-ng-disabled="!disableOpt || disabledStatus">Completed</option>

											<option value='On Hold'
												data-ng-disabled="disableOpt || disabledStatus">On
												Hold</option>
											<option value='Under Review'
												data-ng-disabled="disableOpt || disabledStatus">Under
												Review</option>
											<option value='N/A'
												data-ng-disabled="disableOpt || disabledStatus">N/A</option>
											<!-- 				<option value='Pass' data-ng-disabled="disableOpt || disabledStatus">Pass</option> -->
											<!-- changed on 2-7-2021 pass >>> Incomplete -->
											<option value='Incomplete'
												data-ng-disabled="disableOpt || disabledStatus">Incomplete</option>

										</select> <label class="control-label" for="">Execution
											Time(hh:mm:sec)</label>
										<div class="form-control-content">
											<!-- <div class="bfh-timepicker" data-time="now">-->
											<input type="text" id="exetime"
												class="time form-control timepicker"
												data-ng-model="testExcute" readonly="readonly">
										</div>
									</div>
								</div>


								<div class="form-group  col-md-3 noPaddingLeft">

									<label class="control-label" for="">Status</label>
									<div class="form-control-content"
										data-ng-init="testCaseEdit.status=' '">
										<select class="form-control form-control-sm clear"
											id='statusToDo' data-ng-model="testCaseEdit.status"
											data-ng-change="switchdiv()">
											<option value='' selected>--SELECT--</option>
											<option value='Pass'>Pass</option>
											<option value='Fail'>Fail</option>
											<!-- <option value='Blocked-Showstopper'>Blocked-Showstopper</option>
											<option value='Blocked-Undelivered'>Blocked-Undelivered</option>
											<option value='Blocked-Testdata'>Blocked-Testdata</option>
											<option value='Blocked-FSD not clear'>Blocked-FSD
												not clear</option>
											<option value='NA'>NA</option>
											<option value='Deferred'>Deferred</option>
											<option value='NE'>NE</option>
											<option value='On Hold'>On Hold</option>
											<option value='Duplicate'>Duplicate</option>
											<option value='Out of Scope'>Out of Scope</option>
											<option value='Partially Pass'>Partially Pass</option> -->

										</select>
										<!-- <label class="control-label" for="entType">Status</label> -->
										<!-- <div class="form-control-content" data-ng-init="entObj.entType=''"> -->
										<!-- <select class="form-control form-control-sm" id='entType' data-ng-model="entObj.entType"> -->
										<!-- <option value='' selected>--SELECT--</option> -->
										<!-- <option value='Pass'>Pass</option> -->
										<!-- <option value='Fail'>Fail</option> -->
										<!-- </select> -->
										<!-- </div> -->

										<!--  <label class="control-label" for="">Upload ScreenShot1</label>Pranik -->
									
										<div class="form-control-content" Style="Display:none" >
											<input type="file" id="file" name="file"
												class="form-control form-control-sm"
												data-ng-model="imagelink" multiple
												accept="image/x-png,image/jpg,image/jpeg">
										</div> 
									</div>

								</div>
							</div>
							<div class=row>
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Complexity<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content"
										data-ng-init="testCaseEdit.complexity=''">
										<select class="form-control form-control-sm" id='compexity'
											data-ng-model="testCaseEdit.complexity">
											<!-- onchange="showfield(this.options[this.selectedIndex].value) -->
											<!-- <option value="null" selected>--SELECT--</option> -->
											<option value='' selected disable>--SELECT--</option>
											<option value='Must to execute'>Must to execute</option>
											<option value='Need to execute'>Need to execute</option>
											<option value='Nice to execute'>Nice to execute</option>
										</select>
									</div>
								</div>
								<!-- <div class="well">
<div id="datetimepicker3" class="input-append">
<input data-format="hh:mm:ss" type="text"></input> <span
class="add-on"> <i data-time-icon="icon-time"
data-date-icon="icon-calendar"> </i>
</span>
</div>
</div>
 -->

								<div class="form-group  col-md-3 noPaddingLeft">

									<label class="control-label" for="">Priority<span
										class="createCompulsory" style="color: red;">*</span></label>
									<div class="form-control-content"
										data-ng-init="testCaseEdit.priority=' '">
										<select class="form-control form-control-sm clear"
											id='priority' data-ng-model="testCaseEdit.priority">

											<option value='' selected disable>--SELECT--</option>
											<option value='High'>High</option>
											<option value='Medium'>Medium</option>
											<option value='Low'>Low</option>
										</select>
									</div>
								</div>
								<!-- 							added for appreciate -->
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">OS Version</label>
									<div class="form-control-content">
										<input class="form-control form-control-sm clear"
											id="OSVersion" data-ng-model="osVersion" name="OSVersion"
											placeholder="Enter OS with Version" required="required"></input>
									</div>
								</div>
								<div class="row">

									<div class="form-group  col-md-3 noPaddingLeft imagesc"
										data-ng-repeat="image in ss">
										<button id="" style="margin-top: 5px; margin-right: 52%;"
											type="button" class="close" aria-label="Close"
											data-ng-click="deleteScreenshots(testCaseEdit.id,image.attachmentName)">
											<span aria-hidden="true" style="color: red; cursor: pointer;"
												data-ng-click="clearFiles()">&times;</span>
										</button>
										<a
											data-ng-href="/TMT/api/downloadImage?testcaseID={{testCaseEdit.id}}&attachname={{image.attachmentName}}">{{sss}}
											<img id="blah" width="500%" height="130" src="#"
											data-ng-src="{{'data:image/png;base64,'+image.attachment}}"
											data-ng-show="image.attachment!= null ">
										</a>
									</div>

									<div class="form-group1  col-md-3 noPaddingLeft"></div>

									<!-- </div> -->
								</div>
						</form>

					</div>

					<div class="col-md-12 pt-3 mt-5"
						style="border-top: 2px solid #a5a3a3;">
						<div class="row">
							<div class="form-group col-md-12 noPaddingLeft"
								data-ng-if="divTest">
								<div class="row">
									<div class="form-group col-md-2 noPaddingLeft"
										data-ng-if="bugTypeEnable">
										<label class="control-label" for="">Is&nbsp;New/Existing&nbsp;Bug<span
											class="createCompulsory" style="color: red;">*</span></label>
										<div class="form-control-content">
											<select class="form-control form-control-sm" id='isNewIssue'
												data-ng-init="testCaseEdit.bugType"
												data-ng-model="testCaseEdit.bugType"
												data-ng-change="checkIsNew()">
												<option value='' selected disabled>--SELECT--</option>
												<option value="0">New Bug</option>
												<option value="1">Existing Bug</option>
											</select>
										</div>
										<div class="noPaddingLeft">
											<button type="button" class="btn btn-link"
												data-ng-click="openViewAllBugsModal()">View All
												Bugs</button>
										</div>
									</div>
									<div class="form-group col-md-2" data-ng-if="bugid">
										<label class="control-label" for="">Bug&nbsp;ID<span
											class="createCompulsory" style="color: red;">*</span></label> <input
											type="text" id="bugid" style="width: 111%;"
											class="form-control form-control-sm"
											onKeyup='onlyNumbers(this)' onKeydown='onlyNumbers(this)'
											onKeypress='onlyNumbers(this)'
											data-ng-model="testCaseEdit.bugId"
											data-ng-blur="checkFromAllBugs(testCaseEdit.bugId)"
											data-ng-init="checkFromAllBugs(testCaseEdit.bugId)"
											placeholder="Enter Bug ID">

									</div>
									<div class="form-group col-md-2 noPaddingLeft">
										<label class="control-label" for="">Bug&nbsp;Severity<span
											class="createCompulsory" style="color: red;">*</span></label>
										<div class="form-control-content">
											<select class="form-control form-control-sm clear"
												id='bugSeverity' data-ng-model="testCaseEdit.bugSeverity">
												<option value='' selected disabled>--SELECT--</option>
												<option value='Minor'>Minor</option>
												<option value='Major'>Major</option>
												<option value='Critical'>Critical</option>
												<option value='Blocker'>Blocker</option>
											</select>
										</div>
									</div>
									<div id="div2" class="form-group col-md-3 noPaddingLeft"
										data-ng-if="divTest">
										<label class="control-label" for="">Bug Priority<span
											class="createCompulsory" style="color: red;">*</span></label>
										<div class="form-control-content">
											<select class="form-control form-control-sm clear"
												id='bugPriority' data-ng-model="testCaseEdit.bugPriority">
												<option value='' selected disabled>--SELECT--</option>
												<option value='High'>High</option>
												<option value='Medium'>Medium</option>
												<option value='Low'>Low</option>
											</select>
										</div>
									</div>
									<div id="createBugzillaIssue"
										class="form-group col-md-3 noPaddingLeft"
										data-ng-if="raiseNew">
										<button type="submit" class="btn btn-danger"
											style="margin-top: 26px;" data-ng-click="raiseIssue()"
											id="issues">Create Issue</button>
									</div>
									<div id="reopenBugzillaIssueDiv"
										class="form-group col-md-3 noPaddingLeft"
										data-ng-if="raiseReopen">
										<!-- data-ng-if="raiseReopen" -->
										<button type="submit" class="btn btn-warning text-light"
											style="margin-top: 26px;"
											data-ng-click="reopenBugzillaIssueConfirmModal()"
											id="reopenBugzillaIssueBtn">Reopen Issue</button>
									</div>
									<div id="closeBugzillaIssueDiv"
										class="form-group col-md-3 noPaddingLeft"
										data-ng-if="raiseClose">
										<button type="submit" class="btn btn-success text-light"
											style="margin-top: 26px;"
											data-ng-click="closeBugzillaIssueConfirmModal()"
											id="closeBugzillaIssueBtn">Close Issue</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" id="submit" class="btn btn-primary"
						style="margin-right: 12px;" data-ng-click="saveExecution()">Update</button>
					<button type="button" class="btn btn-danger" id="btnclr"
						data-dismiss="modal" data-ng-click="clearTodo()">Close</button>
					<!-- dayaedit -->
				</div>

			</div>
		</div>
	</div>

	<!-- -confirm boxxxxxx------------- -->
	<div id="confirmation-dialog-group">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
					</div>
					<div class="modal-body">
						<div class="span5">{{confirmationDialogConfig.message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button"
							data-ng-repeat="button in confirmationDialogConfig.buttons"
							data-ng-click="executeDialogActionForBugRaise(button.action)"
							class="btn btn-primary">{{button.label}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end------------------- -->
	<div class="modal fade " id="issueModaal" data-backdrop="static">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Raise Issue &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;">{{updateGroupStatus}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body" style="height: 50vh;">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label for="bugToolName" class="col-md-3">Bug Tool Name<span
									class="text-danger">*</span> :
								</label> <input name="bugToolName" type="text" id="toolId"
									class="form-control form-control-sm col-md-7"
									data-ng-model="bugToolName" required readonly="readonly">

							</div>
							<div class="row">
								<label for="productName" class="col-md-3">Product Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="productName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="productName" name="productName" required
									readonly="readonly">
							</div>

							<div class="row">
								<label for="bugSummary" class="col-md-3">Bug Summary<span
									class="text-danger">*</span> :
								</label> <input type="text" id="bugSummary"
									class="form-control form-control-sm col-md-7"
									data-ng-model="testCaseEdit.bugSummary" name="bugSummary"
									required>
							</div>

							<div class="row">
								<label class="col-md-3" for="">Select Component<span
									class="text-danger">*</span> :
								</label> <select class="form-control form-control-sm col-md-7"
									name="component" id='component' data-ng-model="component">
									<option disabled value='' selected>--SELECT--</option>
									<option data-ng-repeat="val in bugZillaCompnent"
										value="{{val.name}}">{{val.name}}</option>
								</select>

							</div>

							<div class="row">
								<label for="bugDescription" class="col-md-3">Bug
									Description<span class="text-danger">*</span> :
								</label>
								<textarea id="bugDescription"
									class="form-control form-control-sm col-md-7"
									style="height: 27vh;"
									data-ng-model="testCaseEdit.bugDescription"
									name="bugDescription" required readonly="readonly">
									
								</textarea>
							</div>

							<div class="ln_solid">*Kindly update after adding Bug
								Summary.111</div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->
									<button type="submit" data-ng-click="addIssue('issueModaal')"
										class="btn btn-success">Update Bug Summary</button>
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->

	<!-- ----start jira modal---- -->
	<div class="modal fade" id="jiraIssueModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Raise Issue &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;">{{jiraStatus}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label for="fullname" class="col-md-3">Bug Tool Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="toolId"
									class="form-control form-control-sm col-md-7"
									data-ng-model="bugToolName" required readonly="readonly">

							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Product Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="productName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="productName" name="testGroupName" required>
							</div>

							<div class=" row ">
								<label class="col-md-3" for="">Select Epic</label>
								<div class="form-control form-control-sm col-md-7">
									<select class=" " name="epic" id='jiraissue'
										data-ng-model="epic">
										<option disabled value='' selected>--SELECT--</option>
										<option data-ng-repeat="jVal in filteredJiraEpics"
											value="{{jVal}}">{{jVal}}</option>
									</select>
								</div>
							</div>
							<div class=" row ">
								<label class="col-md-3" for="">Select Issue Type</label>
								<div class="form-control form-control-sm col-md-7">
									<select class=" " name="component" id='jiraissue'
										data-ng-model="component">
										<option disabled value='' selected>--SELECT--</option>
										<option data-ng-repeat="jVal in filteredJiraIssue"
											value="{{jVal}}">{{jVal}}</option>
									</select>
								</div>
							</div>
							<!--    -->
							<div class=" row ">
								<label class="col-md-3" for="">Select Priority</label>
								<div class="form-control form-control-sm col-md-7">
									<select class=" " name="component" id='jiraPriority'
										data-ng-model="priority">
										<option disabled value='' selected>--SELECT--</option>
										<option data-ng-repeat="jPr in filteredJiraPriority"
											value="{{jPr[1]}}">{{jPr[0]}}</option>
									</select>
								</div>
							</div>
							<!--  -->
							<div class="row">
								<label for="bugSummary" class="col-md-3">Bug Summary<span
									class="text-danger">*</span> :
								</label> <input type="text" id="bugSummary"
									class="form-control form-control-sm col-md-7"
									data-ng-model="testCaseEdit.bugSummary" name="bugSummary"
									required>
							</div>

							<div class="ln_solid">*Kindly update after adding Bug
								Summary...jira</div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->
									<button type="submit"
										data-ng-click="addIssue('jiraIssueModal')"
										class="btn btn-success">Update Bug Summary</button>
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!-- ----start mantis modal----- -->
	<div class="modal fade " id="mantisIssueModal" data-backdrop="static">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Raise Issue &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;">{{updateGroupStatus}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body" style="height: 50vh;">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label for="bugToolName" class="col-md-3">Bug Tool Name<span
									class="text-danger">*</span> :
								</label> <input name="bugToolName" type="text" id="toolId"
									class="form-control form-control-sm col-md-7"
									data-ng-model="bugToolName" required readonly="readonly">

							</div>
							<div class="row">
								<label for="productName" class="col-md-3">Project Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="productName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="productName" name="productName" required
									readonly="readonly">
							</div>

							<div class="row">
								<label for="bugSummary" class="col-md-3">Bug Summary<span
									class="text-danger">*</span> :
								</label> <input type="text" id="bugSummary"
									class="form-control form-control-sm col-md-7"
									data-ng-model="testCaseEdit.bugSummary" name="bugSummary"
									required>
							</div>

							<div class="row">
								<label for="bugDescription" class="col-md-3">Bug
									Description<span class="text-danger">*</span> :
								</label>
								<textarea id="bugDescription"
									class="form-control form-control-sm col-md-7"
									style="height: 27vh;"
									data-ng-model="testCaseEdit.bugDescription"
									name="bugDescription" required readonly="readonly">
									
								</textarea>
							</div>

							<div class="ln_solid">*Kindly update after adding Bug
								Summary.mantic s</div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->
									<button type="submit"
										data-ng-click="addIssue('mantisIssueModal')"
										class="btn btn-success">Update Bug Summary</button>
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->

	<!-- <!-- -confirm boxxxxxx--to do raise issue ----------- -->
	<div id="confirmation-dialog-raise-issue" class="modal" role="dialog"
		data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">

					<h4 class="modal-title">Alert</h4>
				</div>
				<div class="modal-body">
					<div class="span5">Are you sure you want to raise issues?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" id="issue"
						data-ng-click="raiseIssue()" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- --end jira modal-- -->


	<div id="todolistShowss" class="modal mt-4" role="dialog"
		data-backdrop="static">

		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
						Add Comment <span
							style="color: green; font-size: 15px; margin-left: 128px;">
							{{errorMsgAddComment}} </span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<input type="text" id="bugzillaBugComment"
						placeholder="Enter your comment..."
						data-ng-model="bugzillacomments"
						class="form-control form-control-sm col-md-7" name="testGroupName"
						required>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="clearBugzillaComment()">Clear</button>
					<button type="button" class="btn btn-success"
						data-ng-click="reopenBugzillaIssue()">Add</button>
				</div>
			</div>

		</div>
	</div>


	<!-- <!-- -update all existing bugs ----------- -->
	<div id="add-comment-update-bugzillaBug" class="modal mt-4"
		role="dialog" data-backdrop="static">

		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
						Add Comment <span
							style="color: green; font-size: 15px; margin-left: 128px;">
							{{errorMsgAddComment}} </span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<input type="text" id="bugzillaBugComment"
						placeholder="Enter your comment..."
						data-ng-model="bugzillacomments"
						class="form-control form-control-sm col-md-7" name="testGroupName"
						required>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="clearBugzillaComment()">Clear</button>
					<button type="button" class="btn btn-success"
						data-ng-click="reopenBugzillaIssue()">Add</button>
				</div>
			</div>

		</div>
	</div>
	<!--  update bug status and add comment  for jira----------- -->
	<div id="add-comment-update-jiraBug" class="modal mt-4" role="dialog"
		data-backdrop="static">

		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
						Add Comment <span
							style="color: green; font-size: 15px; margin-left: 128px;">
							{{errorMsgAddComment}} </span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<input type="text" id="bugzillaBugComment"
						placeholder="Enter your comment..."
						data-ng-model="bugzillacomments"
						class="form-control form-control-sm col-md-7" name="testGroupName"
						required>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="clearBugzillaComment()">Clear</button>
					<button type="button" class="btn btn-success"
						data-ng-click="reopenJiraIssue()">Add</button>
				</div>
			</div>

		</div>
	</div>
	<!-- --update all existing bugs-- -->

	<div id="add-comment-update-bugzillaBug" class="modal mt-4"
		role="dialog" data-backdrop="static">

		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
						Add Comment <span
							style="color: green; font-size: 15px; margin-left: 128px;">
							{{errorMsgAddComment}} </span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<input type="text" id="bugzillaBugComment"
						placeholder="Enter your comment..."
						class="form-control form-control-sm col-md-7" name="testGroupName"
						required>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="clearBugzillaComment()">Clear</button>
					<button type="button" class="btn btn-success"
						data-ng-click="reopenBugzillaIssue()">Add</button>
				</div>
			</div>

		</div>
	</div>

	<!-- <!-- -view all existing bugzilla bugs ----------- -->
	<div id="view-all-bugs" class="modal mt-4" role="dialog"
		data-backdrop="static">

		<div class="modal-dialog modal-xxl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">Bug(s)
						List</h4>
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="testCaseEdit.bugId=''">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="input-group input-group-sm col-md-2 pull-right"
						style="padding-right: 0;">
						<input type="text" class="form-control"
							placeholder="Search Bug(s)" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm"
							data-ng-model="searchFromBugzillaBugs" style="max-height: 4vh;">

					</div>
					<table class="table table-hover table-sm" id="viewAllBugs" style="">
						<thead class="thead-light">
							<tr>
								<th></th>
								<th>Bug ID</th>
								<th>Bug Summary</th>
								<th>Severity</th>
								<th>Priority</th>
								<th>Component</th>
								<th>Created On</th>
								<th>OS Type</th>
								<th>Platform</th>
								<th>Status</th>
								<th>Resolution</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="bugs in allBugzillaBugsProductWise | filter:searchFromBugzillaBugs"
								class="bugzillaBugID_{{bugs.id}}" data-bugID={{bugs.id}}>
								<td><input type="radio" data-ng-model="testCaseEdit.bugId"
									name="bugzillaBugsProductWise" value={{bugs.id}}></td>
								<td>{{bugs.id}}</td>
								<td>{{bugs.summary}}</td>
								<td>{{bugs.severity}}</td>
								<td>{{bugs.priority}}</td>
								<td>{{bugs.component}}</td>
								<td>{{bugs.creation_time | date:'short'}}</td>
								<td>{{bugs.op_sys}}</td>
								<td>{{bugs.platform}}</td>
								<td>{{bugs.status}}</td>
								<td>{{bugs.resolution}}</td>
								<!-- <td>{{bugs.is_open}}</td> -->
								<!--<td><button class="btn btn-primary fa fa-plus openBugDescriptionBtn"></button></td>
									 <td><button class="btn btn-primary fa fa-minus closeBugDescriptionBtn_{{bugs.id}}"></button></td> -->
								<td colspan=10 data-ng-if="bugs==null">No bugs found!!</td>
							</tr>
						</tbody>
					</table>

					<div class="ln_solid">*The selected bug would be considered
						as bug for this test case.</div>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="testCaseEdit.bugId=''">Clear</button>
					<button type="button" class="btn btn-success" data-dismiss="modal"
						data-ng-click="closeViewAllBugsModal('Bugzilla')">Link
						Bug</button>
				</div>
			</div>

		</div>
	</div>

	<div id="view-all-bugs" class="modal mt-4" role="dialog"
		data-backdrop="static">

		<div class="modal-dialog modal-xxl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">Bug(s)
						List</h4>
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="testCaseEdit.bugId=''">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="input-group input-group-sm col-md-2 pull-right"
						style="padding-right: 0;">
						<input type="text" class="form-control"
							placeholder="Search Bug(s)" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm"
							data-ng-model="searchFromBugzillaBugs" style="max-height: 4vh;">

					</div>
					<table class="table table-hover table-sm" id="viewAllBugs" style="">
						<thead class="thead-light">
							<tr>
								<th></th>
								<th>Bug ID</th>
								<th>Bug Summary</th>
								<th>Severity</th>
								<th>Priority</th>
								<th>Component</th>
								<th>Created On</th>
								<th>OS Type</th>
								<th>Platform</th>
								<th>Status</th>
								<th>Resolution</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="bugs in allBugzillaBugsProductWise | filter:searchFromBugzillaBugs"
								class="bugzillaBugID_{{bugs.id}}" data-bugID={{bugs.id}}>
								<td><input type="radio" data-ng-model="testCaseEdit.bugId"
									name="bugzillaBugsProductWise" value={{bugs.id}}></td>
								<td>{{bugs.id}}</td>
								<td>{{bugs.summary}}</td>
								<td>{{bugs.severity}}</td>
								<td>{{bugs.priority}}</td>
								<td>{{bugs.component}}</td>
								<td>{{bugs.creation_time | date:'short'}}</td>
								<td>{{bugs.op_sys}}</td>
								<td>{{bugs.platform}}</td>
								<td>{{bugs.status}}</td>
								<td>{{bugs.resolution}}</td>
								<!-- <td>{{bugs.is_open}}</td> -->
								<!--<td><button class="btn btn-primary fa fa-plus openBugDescriptionBtn"></button></td>
									 <td><button class="btn btn-primary fa fa-minus closeBugDescriptionBtn_{{bugs.id}}"></button></td> -->
								<td colspan=10 data-ng-if="bugs==null">No bugs found!!</td>
							</tr>
						</tbody>
					</table>

					<div class="ln_solid">*The selected bug would be considered
						as bug for this test case.</div>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="testCaseEdit.bugId=''">Clear</button>
					<button type="button" class="btn btn-success" data-dismiss="modal"
						data-ng-click="closeViewAllBugsModal('Bugzilla')">Link
						Bug</button>
				</div>
			</div>

		</div>
	</div>

	<!-- -- end view all existing bugzilla bugs-- -->

	<!--  -view all existing mantis bugs ------------->

	<!-- 2 jan 2021 -->
	<div id="view-all-bugs-mantis" class="modal mt-4" role="dialog"
		data-backdrop="static">

		<div class="modal-dialog modal-xxl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">Bug(s)
						List</h4>
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="uncheckBug('Mantis')">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="input-group input-group-sm col-md-2 pull-right"
						style="padding-right: 0;">
						<input type="text" class="form-control"
							placeholder="Search Bug(s)" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm"
							data-ng-model="searchFromMantisBugs" style="max-height: 4vh;">

					</div>
					<div style="height: 55vh">
						<table class="table table-hover table-sm" id="viewAllBugsMantis"
							style="">
							<thead class="thead-light">
								<tr>
									<th></th>
									<th style="width: 6%;">Bug ID</th>
									<th>Bug Summary</th>
									<th>Bug Description</th>
									<th>Severity</th>
									<th>Priority</th>
									<th>Created On</th>
									<th>Status</th>
									<th>Resolution</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="bugs in mantisProjectBugs | filter:searchFromMantisBugs"
									class="bugzillaBugID_{{bugs.id}}" data-bugID={{bugs.id}}>
									<td><input type="radio"
										data-ng-model="modalBugsSelectedBugID"
										name="mantisBugsProjectWise" value={{bugs.id}}></td>
									<td class="text-center" style="width: 6%;">{{bugs.id}}</td>
									<td>{{bugs.summary}}</td>
									<td>{{bugs.description | limitTo:100}} <a class="btn-link"
										target="_blank" data-ng-href="{{url}}"
										data-ng-mousedown="bugDescriptionReadMore(bugs.id)"> read
											more..</a>

									</td>
									<td>{{bugs.severity.name}}</td>
									<td>{{bugs.priority.name}}</td>
									<td>{{bugs.created_at | date:'short'}}</td>
									<td>{{bugs.status.name}}</td>
									<td>{{bugs.resolution.name}}</td>
									<td colspan=10 data-ng-if="bugs==null">No bugs found!!</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<div class="ln_solid col-md-10">*The selected bug would be
						considered as bug for this test case.</div>

					<button type="button" class="btn btn-primary mr-2"
						data-ng-click="uncheckBug('Mantis')">Clear</button>
					<button type="button" class="btn btn-success"
						data-ng-click="closeViewAllBugsModal('Mantis')">Link Bug</button>
					<!-- data-dismiss="modal" -->
				</div>
			</div>

		</div>
	</div>
	<!-- -- end view all existing jira bugs-- -->

</div>


<!--   -view all existing jira bugs ----------- -->

<!-- 02-09-2021 -->
<div id="view-all-bugs-jira" class="modal mt-4" role="dialog"
	data-backdrop="static">

	<div class="modal-dialog modal-xxl">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">Bug(s)
					List</h4>
				<button type="button" class="close" data-dismiss="modal"
					data-ng-click="uncheckBug('Jira')">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="input-group input-group-sm col-md-2 pull-right"
					style="padding-right: 0;">

					<!-- 		for search box -->

					<input type="text" class="form-control" placeholder="Search Bug(s)"
						aria-label="Small" aria-describedby="inputGroup-sizing-sm"
						data-ng-model="searchFromJiraBugs" style="max-height: 4vh;">

				</div>

				<!-- 		table header -->

				<div style="height: 55vh">
					<table class="table table-hover table-sm" id="viewAllBugsJira"
						style="">
						<thead class="thead-light">
							<tr>
								<th></th>
								<th style="width: 6%;">Bug ID</th>
								<th>Bug Summary</th>
								<th>Bug Description</th>
								<!-- 				<th>Severity</th> -->
								<th>Issue Type</th>
								<th>Priority</th>
								<th>Created On</th>
								<th>Status</th>
								<!-- 										<th>Resolution</th> -->
								<!-- 										<th>created by(email)</th> -->
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="bugs in jiraProjectBugs | filter:searchFromJiraBugs"
								class="bugzillaBugID_{{bugs.bugId}}" data-bugID={{bugs.bugId}}>
								<td><input type="radio"
									data-ng-model="modalBugsSelectedBugID"
									name="jiraBugsProjectWise" value={{bugs.bugId}}></td>
								<td class="text-center" style="width: 6%;">{{bugs.bugId}}</td>
								<td>{{bugs.summary}}</td>
								<td>{{bugs.desc | limitTo:250}} <!-- 											<a class="btn-link" target="_blank"  -->
									<!-- 											  data-ng-href="{{url}}" data-ng-mousedown="bugDescriptionReadMore(bugs.id)"> -->
									<!-- 											  read more..</a> -->
								</td>
								<!-- 										<td>{{bugs.severity.name}}</td> -->
								<td class="mx-3 font-weight-bold">{{bugs.bugType}}</td>
								<td>{{bugs.priority}}</td>
								<td>{{bugs.created | date:'short'}}</td>
								<td>{{bugs.status}}</td>
								<!-- 										<td>{{bugs.map.fields.map.creator.map.emailAddress}}</td> -->
								<td colspan=10 data-ng-if="bugs==null">No bugs found!!</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<div class="ln_solid col-md-10">*The selected bug would be
					considered as bug for this test case.</div>

				<button type="button" class="btn btn-primary mr-2"
					data-ng-click="uncheckBug('Jira')">Clear</button>
				<button type="button" class="btn btn-success"
					data-ng-click="closeViewAllBugsModal('Jira')">Link Bug</button>
				<!-- data-dismiss="modal" -->
			</div>
		</div>

	</div>
</div>
<!-- -- end view all existing mantis bugs-- -->