<script type="text/javascript">
getShownTab(); 

chart.series[0].update({ });



function getShownTab(){
  
}
</script>
<!-- ---------------------------status wise------------------ -->
<script type="text/javascript">

	jQuery('.chart-input').off().on('input change', function() {
	  var property = jQuery(this).data('property');
	  var target = chart;
	  chart.startDuration = 0;

	  if (property == 'topRadius') {
	    target = chart.graphs[0];
	  }

	  target[property] = this.value;
	  chart.validateNow();
	});
</script>

<!-- -------------------------end-------------- -->
                
<style>
#chartdiv {
  width: 82%;
 /*  height: 435px; */
  height: 325px;
  font-size: 11px;
}
 #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 13px;
}
table.dataTable tbody td .even{
	background-color: #dedede;
}
#projectEntitlement{
	font-size: 14px;
    width: 1265px;
    line-height: 1.1rem;
}
#projectEntitlement_wrapper{
	border: 2px solid blue;
}
.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    font-size: 14px;
}
.dt-button
{
	    margin: 5px 4px 28px;
	
}
#example_paginate{
padding-bottom: 1.2rem !important;
margin-bottom: .6rem !important;
}
.amcharts-chart-div a{opacity: 0!important;}
</style>

<div class="row" >
	<div class="col-md-12" >
		<h3 style="color: black;background: #a9d7e8;font-weight: 700;font-size: 16px">Project Name:{{projectName}}</h3>
 	</div>  
</div>
<div class="row">
	<div class="col-md-6"><center>Status Wise</center>
		<div id="chartZoneDisplay" style="width: 500px; height: 300px; margin: 0 auto; background-position: 50px 0px;
       ">
</div>
	</div>
	<div class=col-md-2></div>
	<div class="col-md-4"><center>Severity Wise</center><!-- <canvas id="runChart1" ></canvas> -->
	<div id="chartdiv"></div>
<!-- <div class="container-fluid">

  <div class="row text-center" style="overflow:hidden;">
 
	</div> -->

</div>
</div>
<div data-ng-if="projectName=='AP'"><button data-ng-click="exportRunWise()">Export Defects Run Wise</button></div>
   <div >
   <button type="button" class="defectrfrsh" data-ng-click="defectInit()" style="margin-left: 91%!important;
    position: absolute!important; cursor: pointer!important;">Refresh
    <i class="fa fa-refresh" aria-hidden="true"></i></button>
	<div class="allProjects-wrap" style="background: whitesmoke;position: relative;top: 2rem;" data-ng-init='defectRfrsh()'>
						
						<table class="table table-hover table-sm row-border cell-border" id="example" style="font-size: 14px;" >
						<thead class="thead-light">
								<tr style="font-size: 14px; align : center ; ">
									<th>Sr No.</th>
									<th>Bug ID</th>	
									<th>Test Suite</th>	 							
									<th>Raised By</th>
									<th>Bug Summary</th>
									<th>Bug Status </th>
									<th>Created Date</th>
									<th>Defect Age</th>
																	
								</tr>
							</thead>
							<!-- <tbody>
								<tr>
									<td>{{$index+1}}</td>
								</tr>
							</tbody> -->
						</table>															
		</div>
	
	</div>