<link rel="stylesheet" href="css/custom.maindiv.css">

<style>
table td {
 	    width: 1px;
}	
</style>

<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<!-- <div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;"
				data-ng-click="backToTestRun()">Test Run And Results</a></li>
			<li class="breadcrumb-item active" data-ng-show='showRunName'>{{testRunName}}</li>
		</ul>
	</div> -->
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="suitesOverview">

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-10 noPadding-left">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div class="row">
						<div class="col-md-6">Project Documents</div><span style="color: green;margin-left: 10px;" id="successStatusDocu">{{successStatus}}</span>
					</div>
				</div>
				<div class="col-md-12 heading1">
					<div class="row" style="margin-top: 4px;">
						<div class="col-md-6" data-toggle="tooltip" data-placement="bottom" style="margin-left: 11px;" title="It consists of documents accessible to everyone.">
							Public Documents
							<span style="color: red;margin-left: 15px;" id="erroStatusDoc">{{erroStatus}}</span>
						</div>
							
					</div>
				</div>
				<div class="col-md-12 allProjects noPadding">
					<div class="allProjects-wrap"
						style="background: whitesmoke;">
						<table class="table table-hover table-sm testcase" id="sortable" style="max-width: 100%;" data-ng-init='publicDocuments()'>
						<thead class="thead-light">
								<tr>									
									
									<th style="padding-left:29px;">Project Name</th>																		
									<th style="padding-left: 12px;">Document Type</th>
									<th style="padding-left: 12px;width: 27%;">Document Name</th>
									<th style="padding-left: 12px;">Uploaded By</th>
									<th style="padding-left: 12px;">Uploaded Date & Time</th>
									<th style="padding-left: 12px;">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="public in publicDocument" style="line-height: 25px; font-size: 14px;" >	
									<td style="padding-left:29px;">{{public.projectName}}</td>								
									<td style="padding-left: 12px;">{{public.documentsType}}</td>
									<td style="padding-left: 12px;"><a style="cursor: pointer;" data-ng-href="/TMT/api/downloadDocument?documentId={{public.id}}">{{public.documentName}}</a></td>
									<td style="color: green;padding-left: 12px;">{{public.uploadByName}}</td>
									<td style="color: red;padding-left: 12px;">{{public.createdTimeStamp | date:'yyyy-MM-dd HH:mm:ss '}}</td>	
										<td><div class="btn-wrap" data-ng-if="buttonvisible">
											<button type="button"
												class="btn btn-outline-primary btn-sm add-btn"
												data-ng-click="deleteDocument(public.id,public.filePath,public.documentName)">
												<i class="fa fa-minus-circle"></i> Delete
											</button>
											<!-- -confirm boxxxxxx--upload-documents----------- -->
												<div id="confirmation-dialog-delete-document" class="modal" role="dialog">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title">Alert</h4>
																</div>
																<div class="modal-body">
																	<div class="span5">Are you sure you want to delete public document ? </div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
																	<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteDocument(public.id,public.filePath,public.documentName)">Yes</button>
																</div>
															</div>
														</div>
												</div>
												<!-- end------------------- -->
										</div></td>																											
								</tr>																								
							</tbody>
						</table>															
					</div>
				</div>
				<div class="col-md-12 heading1">
				<div class="row" style="margin-top: 4px;">
					<div class="col-md-6" data-toggle="tooltip" data-placement="bottom" style="margin-left: 11px;" title="It consists of documents related to this project only.">
						Private Documents
						<span style="color: red;margin-left: 15px;">{{erroStatus}}</span>
					</div>
						
					</div>
				</div>
				<div class="col-md-12 allProjects noPadding" style="height: 20vh;">
					<div class="allProjects-wrap"
						style="background: whitesmoke;">
						<table class="table table-hover table-sm testcase" id="sortable" style="">
						<thead class="thead-light">
								<tr>									
									
									<th style="padding-left:29px;">Project Name</th>																		
									<th style="padding-left: 12px;">Document Type</th>
									<th style="padding-left: 12px;">Document Name</th>
									<th style="padding-left: 12px;">Uploaded By</th>
									<th style="padding-left: 12px;">Uploaded Date & Time</th>
									<th style="padding-left: 12px;">&nbsp;</th>
									
									
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="public in projectDocument" style="line-height: 25px; font-size: 14px;" >	
									<td style="padding-left:29px;">{{public.projectName}}</td>								
									<td style="padding-left: 12px;">{{public.documentsType}}</td>
									<td style="padding-left: 12px;"><a style="cursor: pointer;" data-ng-href="/TMT/api/downloadDocument?documentId={{public.id}}">{{public.documentName}}</a></td>
									<td style="color: green;padding-left: 12px;">{{public.uploadByName}}</td>
									<td style="color: red;padding-left: 12px;">{{public.createdTimeStamp | date:'yyyy-MM-dd HH:mm:ss '}}</td>
									<td><div class="btn-wrap" data-ng-if="buttonvisible">
											<button type="button"
												class="btn btn-outline-primary btn-sm add-btn"
												data-ng-click="deleteDocument(public.id,public.filePath,public.documentName)"">
												<i class="fa fa-minus-circle"></i> Delete
											</button>
											
											<!-- -confirm boxxxxxx--upload-documents----------- -->
			<div id="confirmation-dialog-delete-project-document" class="modal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Alert</h4>
							</div>
							<div class="modal-body">
								<div class="span5">Are you sure you want to delete document ? </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="deleteDocument(public.id,public.filePath,public.documentName)">Yes</button>
							</div>
						</div>
					</div>
			</div>
			<!-- end------------------- -->
										</div></td>	
										
								</tr>																								
							</tbody>
						</table>															
					</div>
				</div>
			</div>


			<!-- ./Main Dashboard View  -->

			<!-- Side Nav View -->
			<div class="col-md-2 right-side-nav">
				<div class="btn-wrap">
					<button type="button"
						class="btn btn-outline-primary btn-sm add-btn"
						data-ng-click="showModalForDocuments()" style="margin-left: 8%">
						<i class="fa fa-plus-circle"></i>Upload Documents
					</button>
					<!-- <button type="button"
						class="btn btn-outline-primary btn-sm pull-right add-btn">
						<i class="fa fa-plus-circle"></i> Add Test Cases
					</button> -->
				</div>
			</div>
			<!-- Side Nav View -->
		</div>
	</div>
	<!-- ./Main Content -->
	<!-- Create test Group--------------------- -->
	<div class="modal fade " id="uploadDocuments">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Upload Documents &nbsp;&nbsp;&nbsp;<br>
						<small style=" color: #ea151b !important; 	" class="text-muted" id="fileHelp">
          For "BRD,User,Technical document" we have limits of upto 3 uploads. For "Other document" we have limits of upto 5 uploads.  
						</small><br>
						<span style="color: green; font-size: 17px;" id="documentstatuss">{{documentstatus}}</span>
						<span style="margin-left: 0px; color: red;" id="errormsg">{{error}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						 <form enctype="multipart/form-data" id='demo-form' name="submitForm" >
							<div class="row">
								<label for="fullname" class="col-md-3">Project Name<span class="text-danger">*</span> :</label> <input
									type="text" id="" class="form-control form-control-sm col-md-7"
									data-ng-model="projectName" required readonly="readonly">
								<input type="hidden" id=""
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectId" name="projectId">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Document Type<span class="text-danger">*</span> :</label>
								<div class="form-control-content"
									data-ng-init="getAllDocumentTypes()">
									<select class="form-control form-control-sm col-md-7" id='documentType' style="width: 400px;"
										data-ng-model="documentTypeName"
										data-ng-options="documentList as documentList for documentList in allDocumentList" required>
										<option value='' disabled selected>Select Document Type</option>
										
									</select>
								</div>

							</div>

							<div class="row">
								<label for="heard" class="col-md-3">Is Public<span class="text-danger">*</span> :</label> <label
									style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="isPublic" name="isPublic"
									id="inlineRadio1 customRadio" checked="checked" value="Y">
									Y
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="isPublic" name="isPublic"
									id="inlineRadio2 customRadio" value="N"> N
								</label>
							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Upload Documents<span class="text-danger">*</span> :</label>
								<div class="">
									<!-- <span class="btn btn-file"> Choose File<input
										style="width: 110px; display: unset;" type="file" id="file"
										data-ng-model="attachment"
										file-select="file" accept=".pdf, .jpg, .jpeg" multiple />
									</span> -->
															
							<input type="file" id="file" data-file-model="attachment"
										style="background-color: #e9ecef; border: 2px solid #6b8fb39c !important; padding: 4px; margin: 4px;"
										class=" form-control-sm" accept=".xlsx, .doc,.docx,.pdf" multiple/>
						 			<div class="">
										<span class='label label-info' id="upload-file-info"></span>
										<button id="showCross" style="    margin-left: -17px; margin-top: -36px;"
											data-ng-click="clear()" type="button" class="close"
											aria-label="Close">
											<span aria-hidden="true" style="color: red;cursor: pointer;margin-left:86%;" data-ng-click="clearFile()">&times;</span>
										</button>
									</div>
								</div>
								
							</div>
							 <small style="    margin-left: 26%;" class="text-muted" id="fileHelp">Max 10mb size(only .xlsx, .xls, .doc, .docx, .pdf)</small><br>
							 
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
							<button type="submit" data-ng-click="confirmUploadDocuments()" style="margin-right: 63%;" class="btn btn-success">Submit</button>
				
					<button type="button" class="btn btn-danger" style="margin-right: 2%;" data-ng-click="resetDocumnetUpload()">Reset</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					
				</div>

			</div>
		</div>
	</div>
	<!-- end -->

<!-- -confirm boxxxxxx--upload-documents----------- -->
			<div id="confirmation-dialog-upload-doument" class="modal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Alert</h4>
							</div>
							<div class="modal-body">
								<div class="span5">Are you sure you want to upload document ? </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="uploadDocuments()">Yes</button>
							</div>
						</div>
					</div>
			</div>
			<!-- end------------------- -->
			
			
			
</div>

