<!-- dashboard -->
	<div id='dashboard-view' class='row' data-ng-init="extentReportAnalysis()">
		<div class='time-totals' style="width: 100%;">
			<div class='col l2 m4 s6'>
				<div class='card suite-total-tests'>
					<span class='panel-name'>Total Scenarios</span> <span
						class='total-tests'> <span class='panel-lead'>{{analysis.scenarioCount1}}</span>
					</span>
				</div>
			</div>
			<div class='col l2 m4 s6'>
				<div class='card suite-total-tests'>
					<span class='panel-name'>Total Test cases</span> <span
						class='total-tests'> <span class='panel-lead'>{{analysis.testCount2}}</span>
					</span>
				</div>
			</div>
			<div class='col l2 m4 s6'>
				<div class='card suite-total-steps'>
					<span class='panel-name'>Total Steps</span> <span
						class='total-steps'> <span class='panel-lead'>{{analysis.stepsCount3}}</span>
					</span>
				</div>
			</div>
			<div class='col l2 m4 s6 suite-start-time'>
				<div class='card'>
					<span class='panel-name'>Start</span> 
					<!-- <span class='panel-lead suite-started-time'>{{analysis.startTime}}</span> -->
					<span>{{analysis.startTime}}</span>
					<span class='panel-name'>End</span>
					<span>{{analysis.endTime}}</span> 
				</div>
			</div>
			<div class='col l2 m4 s12'>
				<div class='card suite-total-time-current'>
					<span class='panel-name'>Total Time Taken (Current Run)</span> <span
						class='suite-total-time-current-value panel-lead'>{{autoReportData[4]}}</span>
				</div>
			</div>
			<div class='col l2 m4 s12'>
				<div class='card suite-total-time-overall'>
					<span class='panel-name'>Total Time Taken (Last Run)</span> <span
						class='suite-total-time-overall-value panel-lead'>{{prevRunIDData[4]}}
						<span data-ng-if="prevRunIDData[3]==null">---</span></span>
				</div>
			</div>
			
			<!-- <div class='col l2 m4 s6 suite-end-time'>
				<div class='card pink-accent'>
					<span class='panel-name'>End</span> <span
						class='panel-lead suite-ended-time'>{{analysis.endTime}}</span>
				</div>
			</div> -->
		</div>
		<div class='charts' style="width: 100%;">
			<div class='col s12 m6 l4 fh'>
				<div class='card-panel'>
					<div>
						<span class='panel-name'>Scenario View</span>
					</div>
					<div class='panel-setting modal-trigger test-count-setting right'>
						<a><i class='fa fa-ellipsis-v'></i></a>
					</div>
					<div class='chart-box' style="display: block;height: 160px;width: 340px;">
						<canvas class='text-centered' id='scenario-analysis'></canvas>
					</div>
					<div>
						<span class='weight-light'><span
							class='t-pass-count weight-normal'>{{analysis.scenarioCount1-analysis.scenarioF}}</span> scenario(s) Passed</span>
					</div>
					<div>
						<span class='weight-light'><span
							class='t-fail-count weight-normal'>{{analysis.scenarioF}}</span> scenario(s) Failed <span
							class='t-others-count weight-normal'></span> </span>
					</div>
				</div>
			</div>
			<div class='col s12 m6 l4 fh'>
				<div class='card-panel'>
					<div>
						<span class='panel-name'>Test Cases View</span>
					</div>
					<div class='panel-setting modal-trigger test-count-setting right'>
						<a><i class='fa fa-ellipsis-v'></i></a>
					</div>
					<div class='chart-box' style="display: block;height: 160px;width: 340px;">
						<canvas class='text-centered' id='test-analysis'></canvas>
					</div>
					<div>
						<span class='weight-light'><span
							class='t-pass-count weight-normal'>{{analysis.testcasesP}}</span> test(s) Passed</span>
					</div>
					<div>
						<span class='weight-light'><span
							class='t-fail-count weight-normal'>{{analysis.testCount2-analysis.testcasesP}}</span> test(s) Failed <span
							class='t-others-count weight-normal'></span> </span>
					</div>
				</div>
			</div>
			<div class='col s12 m6 l4 fh'>
				<div class='card-panel'>
					<div>
						<span class='panel-name'>Validation View</span>
					</div>
					<div class='panel-setting modal-trigger step-status-filter right'>
						<a><i class='fa fa-ellipsis-v'></i></a>
					</div>
					<div class='chart-box' style="display: block;height: 160px;width: 340px;">
						<canvas class='text-centered' id='step-analysis'></canvas>
					</div>
					<div>
						<span class='weight-light'><span
							class='s-pass-count weight-normal'>{{analysis.stepsPassCount}}</span> validation(s) Passed </span>
					</div>
					<div>
						<span class='weight-light'><span
							class='s-fail-count weight-normal'>{{analysis.stepsFailCount}}</span> validation(s) Failed <span
							class='s-others-count weight-normal'></span> </span>
					</div>
				</div>
			</div>
			<div class='col s12 m12 l4 fh'>
					<div class='card-panel'>
					<span class='panel-name'>Environment</span>
					<table>
						<thead>
							<tr>
								<th>Param</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>IP</td>
								<td>{{analysis.ip}}</td>
							</tr>
							<tr>
								<td>Host Name</td>
								<td>{{analysis.user}}</td>
							</tr>
							<tr>
								<td>Location</td>
								<td>{{analysis.location}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class='system-view' style="width: 100%;">
			<div class='col l4 m12 s12'>
			
			</div>
		</div>
	</div>
	<!-- /dashboard -->