<!-- container -->

<style>
	.pagination li.active a {
     	 color: #007bff !important; 
	}
	.pagination li.active {
	    /* background-color: #0069d9  !important; */
	    background-color: white  !important;
	 
	}
	
	.text-center {
    text-align: center !important;
}

.pagination li a {
    color: #212529  !important;
}

</style>

	<!-- tests -->
	<div id='test-view' class='row _addedTable row' data-ng-init="getScenarioRunwise()">
		<div class='col col-md-3' style="resize: horizontal;height: 71.7vh;">
			<div class='contents' >
				<div class='card-panel heading '>
    				 <span>
    				 	<span ><font color="Blue" data-ng-click="sort('tcasesId')" style="cursor:Pointer;"  >Test Cases-</font></span>
    				 	 <span ><font color="Blue"  data-ng-click="sort('scenarioId')" style="cursor:Pointer;">Scenario-</font></span>
    				  	 <span ><font color="Blue" data-ng-click="sort('status')" style="cursor:Pointer;">Status</font></span>
    				    <button data-ng-click="exportTestCases()"><i class="fa fa-save"></i></button>
    				
    				 </span>
    				 
				</div>
				
				<div class='card-panel no-padding-h no-padding-v no-margin-v'>
					<div class='' style="height: 50vh;">
						<ul id='test-collection' class='test-collection'>
						 &nbsp; &nbsp;<b>scenario :</b> &nbsp;&nbsp;&nbsp;
							 <select id="scenarios" data-ng-change="updateval()" data-ng-model="selScenario"
							  style="padding: 0px;height: 1.5rem; width: 30%;font-size: small;margin-top: 1px;" >
										<option selected value="" disabled>None</option>
										<option data-ng-repeat='sce in scenariosList' value="{{sce}}">{{sce}}</option>
							</select>  
							<span class="input-group input-group-sm pull-right col-md-3" style="padding-right: 0;">
									<input  type="text" class="form-control"
										placeholder="Search" type="search" data-ng-model="searchtxt" style="max-height: 4vh;" >
							</span>
							
						 <li class='collection-item test displayed active pass '
								  dir-paginate="val in tcFilteredData | orderBy: 'tcasesId' |itemsPerPage:5|filter : searchtxt|orderBy:sortKey:reverse|orderBy:sortKeyy:reverse" id="{{reportVerify.applicationName}}_{{key}}">
								<div class='test-head'>
									<span class='test-name' data-ng-click="getTestCaseIdName(val.tcasesId)"><font color="Blue"><b>{{reportVerify.scenarioId}}</b></font>
										- <font color="Green"><b>{{val.tcasesId}}</b></font>
										<span class='test-name' data-ng-if="val.status === 'PASS'"><font color="Green">{{val.status}}</font></span>
										<span class='test-name'  data-ng-if="val.status === 'FAIL'"><font color="Red">{{val.status}}</font>
										
										<!-- <input type="button"  data-ng-click="confirmRaisedIssue(key, value)" value="Raise Issue">  -->
	                             
										</span>
									</span>
									<span class='category-assigned hide '></span>  
								</div>  
								<div class='test-body'>
									<div class='test-info'>
										<span title='Test started time' alt='Test started time'
											class='test-started-time label green lighten-2 text-white'>2019-10-15
											19:22:04</span> <span title='Test ended time' alt='Test ended time'
											class='test-ended-time label red lighten-2 text-white'></span>
										<span title='Time taken to finish' alt='Time taken to finish'
											class='test-time-taken label blue-grey lighten-3 text-white'></span>
									</div>
									<div class='test-desc'>
										</br>
										<h5>Checking Login and Logout</h5>
									</div>
									<div class='test-attributes'></div>
									<div class='test-steps'>
										<table class='bordered table-results'>
											<thead>
												<tr>
													<th>Status</th>
													<th>Timestamp</th>
													<th>Details</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class='status info' title='info' alt='info'><i
														class='fa fa-fa fa-info-circle'></i></td>
													<td class='timestamp'>19:22:05</td>
													<td class='step-details'><font color="Blue"><b>Module
																- </b></font>Checking Login and Logout <font color="maroon"><b>Step
																- </b></font>2 <font color="Red"><b>Data Field - </b></font>URL <font
														color="Green"><b>TestData - </b></font>https://www.unionbod.in</td>
												</tr>
											</tbody>
										</table>
										<ul class='collapsible node-list' data-collapsible='accordion'>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="container row ">
					 <div class="align-item-center col-xs-3" style="border: 1px solid #ccf ;  padding: 5px;  margin: 3px;">
					<dir-pagination-controls
	                 max-size="2"
		             direction-links="true"
		             boundary-links="true">
		            </dir-pagination-controls>
		          </div>
				</div>
				</div>
			</div>
		</div>
		<div id='test-details-wrapper' class='col _addedCell2 col-md-8' style="height:75vh;">
			<div class='contents'>
				<div class='card-panel details-view'>
					<h5 class="details-name">
						<font color="Blue"><b>{{reportVerify.scenarioId}}</b></font>
						 - <font color="Green"><b>{{testID}}</b>
						 </font>({{reportVerify.description}}) Browser-{{reportVerify.browserType}} 
					</h5>

					<div class='test-steps'>
					 <div class="input-group input-group-sm pull-right col-md-3"
							style="padding-right: 0;">
							<input  type="text" class="form-control"
								placeholder="Search" type="search" data-ng-model="searchText" style="max-height: 4vh;" >
							
							</div>
							
						<table class='bordered table-results'>
							<thead>
								<tr>
									<th>Status</th>
									<th data-ng-click="sort('timeStamp')" style="cursor:Pointer;">Timestamp
									<span class="glyphicon sort-icon" data-ng-show="sortKey=='timeStamp'" data-ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th>Details</th>
								</tr>
							</thead>
							
							
							<tbody data-ng-repeat="list in reportData[testID]">
								<tr data-ng-repeat="steps in list.steps |  filter:searchText| orderBy:sortKey:reverse">
									<td class='status info' title='info' alt='info'><i
											class='fa fa-fa fa-info-circle'></i></td>
									<td class='timestamp'>{{steps.timeStamp}}</td>
									<td class='step-details'><font color="Blue"><b>Module
											- </b></font>{{steps.module}} <font color="maroon"><b>Step
											- </b></font>{{steps.stepNo}} <font color="Red"><b>Data Field
											- </b></font>{{steps.dataField}} <font color="Green"><b>TestData
											- </b></font>{{steps.testData}}</td>
								</tr>
								<tr>
									<!-- <td class='status pass' title='pass' alt='pass'><i
											class="fa fa-fa fa-check-circle-o"></i></td> -->
											<td style="padding-left: 1%;" data-ng-style="list.verify.status==='PASS'  ? {'color': 'red'} : {'color': 'green'}" >
										
										<span data-ng-if="list.verify.status !='PASS'" style="color:red">
											<i
											class="fa fa-times-circle-o"></i> </span> <span
											data-ng-if="list.verify.status ==='PASS'" style="color:green;"> 
											<i
											class="fa fa-fa fa-check-circle-o"></i> </span></td>
									<td class='timestamp'>{{list.verify.timeStamp}}</td>
									<td class='step-details'><font color="Red"><b>Expected Result is
											- </b></font>{{list.verify.expectedResult}} <br>
											<font color="Red"><b>Actual Result is
											- </b></font>{{list.verify.actualResult}} <br>
											<font color="Green"><b>Status is
											- </b></font>{{list.verify.status}} <br>
											<font color="Blue"><b>Response Time is
											- </b></font>{{list.verify.resTime}} s<br>
											<font color="Blue"><b>Testcase type is
											- </b></font>{{list.verify.testcaseType}} <br>
											<font color="Blue"><b>Step
											- </b></font>{{list.verify.step}} <br>
											<img class="report-img responsive" data-ng-click="showScreenshot(list.verify.screenshot)" data-ng-src="{{'data:image/png;base64, '+list.verify.screenshot}}" 
											style="height: 150px; width: 295px; border: 1px solid darkturquoise;"/>
									</td>
								</tr>
							</tbody>
						</table>
						<ul class='collapsible node-list' data-collapsible='accordion'>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="show-screenshot" tabindex="-1" role="dialog" aria-labelledby="showScreenshotTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img data-ng-src="{{'data:image/png;base64, '+screenshotImage}}" style="height: 455px; width: 720px;"/>
	      </div>
	     </div>
	  </div>
	</div>

<!-- show result -->
<div class="modal fade" id="showResponse" tabindex="-1" role="dialog" aria-labelledby="showScreenshotTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      
	       <label class="control-label" for="" style="color: black;" id="response"></label>
	      </div>
	       <div class = "modal-footer">
	     
				<button type="button" class="btn btn-danger btn-secondary"
					data-dismiss="modal">Okay</button>	
	      
	      </div>
	     </div>
	  </div>
	</div>
<!-- end show result -->

<!-- modal confirmation -->
	<div class="modal fade" id="confirmation-dialog-Mul-Del" tabindex="-1" role="dialog" aria-labelledby="showScreenshotTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	       <h6>Are you sure you want to Raise this Issue?</h6>
	      </div>
	      <div class = "modal-footer">
	      <button type="submit" data-ng-click="getSevirityPriority()"
					class="btn btn-success btn-primary mr-auto">Yes</button>
				<button type="button" class="btn btn-danger btn-secondary"
					data-dismiss="modal">No</button>	
	      </div>
	      </div>
	     </div>
	  </div>
	

<!--end modal confirmation -->

<!-- s&p modal -->
<div class="modal fade" id="getSevirityPriorityModal" tabindex="-1" role="dialog" aria-labelledby="showScreenshotTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	       <h6>Please update the Issue Details</h6><br>
	       <div class="">
	       <label class="control-label" for="" style="color: black;">Bug Severity</label>
										<select class="form-control form-control-sm" id='bugSeverity'
											data-ng-model="raiseValue[0].severity">
											<option value='null' selected disabled>--SELECT--</option>
											<option value='Minor'>Minor</option>
											<option value='Major'>Major</option>
											<option value='Critical'>Critical</option>
											<option value='Blocker'>Blocker</option>
										</select>
			</div>
			<div class="">
				<label class="control-label" for="" style="color: black;">Bug Priority</label>
									
										<select class="form-control form-control-sm" id='bugPriority'
											data-ng-model="raiseValue[0].priority">
											<option value='null' selected disabled>--SELECT--</option>
											<option value='High'>High</option>
											<option value='Low'>Low</option>

										</select>
				
			</div>
	      </div>
	      <div class = "modal-footer">
	      <button type="submit" data-ng-click="RaiseBugAutomationraise()"
					class="btn btn-success btn-primary mr-auto">Raise Issue</button>
				<button type="button" class="btn btn-danger btn-secondary"
					data-dismiss="modal">Cancel</button>	
	      
	      </div>
	      </div>
	     </div>
	  </div>
<!-- end s&p modal -->
	<!-- /tests -->

	<!-- categories -->
	<!-- /categories -->

	<!-- exceptions -->
	<!-- /exceptions -->

	<!-- testrunner logs -->
	<!-- /testrunner logs -->

<!-- /container -->