

<link href='extentreports/css/css.css' type='text/css' rel='stylesheet' />
<!-- <script src="extentreports/js/scripts.js"></script> -->
<style>
.card {
    height: 100px !important;
    padding: 12px 15px;
}

</style>
<!-- nav -->
<nav>
	<!-- <div class='logo-container'>
<a class='logo-content' href='http://extentreports.relevantcodes.com'>
<span>ExtentReports</span>
</a>
<a href='#' data-activates='slide-out' class='button-collapse'><i class='fa fa-bars'></i></a>
</div> -->
	<ul id='slide-out' class='side-nav fixed hide-on-med-and-down' style="height: 74vh;">
		<li class='analysis waves-effect active'><a class='test-view'
			 ui-sref="projectDetailsAuto.exereport.testDetails"><i class='fa fa-tasks'></i>Test
				Details</a></li>
		
		<li class='analysis waves-effect'><a class='dashboard-view' ui-sref="projectDetailsAuto.exereport.analysis"><i
				class='fa fa-dashboard'></i></i>Analysis</a></li>
		
	</ul>
	<!-- <span class='report-name'>Automation Report</span> <span
		class='report-headline'></span> -->
		<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a >{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;" ui-sref="projectDetailsAuto.autoreport">Test Reports</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;">{{currentRun}}</a></li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- <ul class='right hide-on-med-and-down nav-right'>
		<li class='theme-selector'
			alt='Click to toggle dark theme. To enable by default, use js configuration $("body").addClass("dark");'
			title='Click to toggle dark theme. To enable by default, use js configuration $("body").addClass("dark");'>
			<i class='fa fa-desktop'></i>
		</li>
		<li><span class='suite-started-time'>2019-10-15 19:22:06</span></li>
		<li><span>v2.40.2</span></li>
	</ul> -->
</nav>
<!-- /nav -->

<!-- test dashboard counts setting -->
<div id='test-count-setting' class='modal bottom-sheet'>
	<div class='modal-content'>
		<h5>Configure Tests Count Setting</h5>
		<input name='test-count-setting' type='radio' id='parentWithoutNodes'
			class='with-gap'> <label for='parentWithoutNodes'>Parent
			Tests Only (Does not include child nodes in counts)</label> <br> <input
			name='test-count-setting' type='radio'
			id='parentWithoutNodesAndNodes' class='with-gap'> <label
			for='parentWithoutNodesAndNodes'>Parent Tests Without Child
			Tests + Child Tests</label> <br> <input name='test-count-setting'
			type='radio' id='childNodes' class='with-gap'> <label
			for='childNodes'>Child Tests Only</label>
	</div>
	<div class='modal-footer'>
		<a class='modal-action modal-close waves-effect waves-green btn'>Save</a>
	</div>
</div>
<!-- /test dashboard counts setting -->

<!-- filter for step status -->
<div id='step-status-filter' class='modal bottom-sheet'>
	<div class='modal-content'>
		<h5>Select status</h5>
		<input checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-pass'> <label
			for='step-dashboard-filter-pass'>Pass</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-fail'> <label
			for='step-dashboard-filter-fail'>Fail</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-fatal'> <label
			for='step-dashboard-filter-fatal'>Fatal</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-error'> <label
			for='step-dashboard-filter-error'>Error</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-warning'> <label
			for='step-dashboard-filter-warning'>Warning</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-skip'> <label
			for='step-dashboard-filter-skip'>Skipped</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-info'> <label
			for='step-dashboard-filter-info'>Info</label> <br> <input
			checked class='filled-in' type='checkbox'
			id='step-dashboard-filter-unknown'> <label
			for='step-dashboard-filter-unknown'>Unknown</label>
	</div>
	<div class='modal-footer'>
		<a class='modal-action modal-close waves-effect waves-green btn'>Save</a>
	</div>
</div>
<!-- /filter for step status -->
<div class='container'>
	<div ui-view></div>
</div>

<script>jQuery(document).ready(function() { jQuery('.logo span').html('ExtentReports'); });</script>
<!-- <script>

            
                $(document).ready(function() {
                	/* fixed-containers */
                	var ct; // current page id

                	var currentBrowserIE = detectIE();

                	$(function() {
                	    
                	    ct = $('#test-view');
                	    
                	    var timer = false;
                	    timer = setInterval(function() {
                	        _adjustSize();
                	    }, 200);
                	    
                	    $('._addedTable').mousemove(function(){
                	        _adjustSize();
                	    });
                	    
                	    if(currentBrowserIE != false){
                	        $('._addedCell1').resizable({
                	                minWidth: 300,
                	                handles: "e"
                	        });
                	    }else{
                	        $('._addedCell1').css({'resize':'horizontal'})
                	    }
                	    
                	    
                	    _adjustSize();
                	});
                	
                	function _adjustSize(){

                	    ct.find('._addedTable').css({'height':($(window).height() - 50)+'px'});
                	    
                	    ct.find('._addedCell1, ._addedCell2').css({'height':($(window).height() - 50)+'px'});
                	    ct.find('._addedCell1 .contents, ._addedCell2 .contents').css({'height':($(window).height() - 65)+'px'});
                	    
                	    if ($(window).width() < 992) {
                	        ct.find('._addedCell2').css({'width':Math.round($(window).width() - 18 - ct.find('._addedCell1').width())+'px'});
                	    }
                	    else {
                	        ct.find('._addedCell2').css({'width':Math.round($(window).width() - 70 - 18 - ct.find('._addedCell1').width())+'px'});
                	    }
                	    
                	    _restrictSize();
                	}

                	function _restrictSize(){
                	    if(ct.find('._addedCell1').width() > Math.round($(window).width() * 0.6)){
                	        ct.find('._addedCell1').css({'width': Math.round($(window).width() * 0.6) +'px'});
                	        _adjustSize();
                	    }
                	}

                });
            
        
</script> -->
