<!DOCTYPE html>
<html data-ng-app="demo">
<head>
<base href="/TMT/tmt/">
<title>Welcome To T.M.T</title>
<link rel="shortcut icon" href="images/user-ico.png" type="image/png"
	sizes="16x16" />
<link rel="stylesheet"href="ui/jquery-ui.css">
<link rel="stylesheet" href="css/Bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
<link rel="stylesheet"href="js/jsTree/dist/themes/default/style.min.css" />
<link rel="stylesheet" href="js/jsGrid/jsgrid-theme.min.css" />
<link rel="stylesheet" href="js/jsGrid/jsgrid.min.css" />
<link rel="stylesheet" href="js/AdminLTE.min.css">
<link rel="stylesheet"href="js/datepicker/css/bootstrap-datepicker.min.css">
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
<link rel="stylesheet" href="js/select2.min.css">
<!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" /> -->
<link rel="stylesheet" href="css/jquery.dataTables.min.css" />
<link href="js/overrideSelect.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/Bootstrap/ssss.css">
<link rel="stylesheet" href="js/timepicker/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="js/timepicker/font-awesome.min.css">
<link rel="stylesheet" type="text/css"href="/js/datatable/bootstrap.css">
<link rel="stylesheet" href="/js/datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="js/timepicker/font-awesome.min.css">
<link rel="stylesheet" type="text/css"href="/js/datatable/buttons.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"href="css/indexPage.css">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<style>


.logo_new{
	font-size: 0.71em;
	position: absolute;
	margin-top: 1.7rem;
	margin-left: -2.2rem;
	color: blue;
	font-style: oblique;
}
</style>
</head>
<body style="font-family:Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif" data-ng-controller="sidemenuController" onbeforeunload="logout()" >
<div class="container-fluid noPadding">
<div class="top_nav">
	<nav class="navbar navbar-expand-sm" style="background-color:whitesmoke;height: 7vh;" id="top">
		<!-- Brand/logo -->
 		
			<!-- <img src="bird.jpg" alt="logo" style="width:40px;"> -->
				<div style="margin-left: -1px;">
<!-- 					<img height="49" width="190px" src="images/TMT_Logo_new.jpeg"><b -->
					<img height="49" width="100px" src="images/TMT_Logo_new.jpeg">
					<!-- <b style="color: blue;margin-left:0.1rem">TMT</b>
						<span class="logo_new">A Product Of ApMoSys</span> -->
					<span id="random"><a ui-sref="dashboard"
						style="margin-left: 6rem; margin-top: 1.5rem; font-size: 13px; text-decoration: underline;position: absolute;">Back
							To Home</a></span>
				</div>

				<!-- Links -->
	<ul class="navbar-nav ml-auto">
						<!-- <li class="nav-item"><a class="nav-link" href="#"><i
								class="fa fa-bell" style="color: #0078d4; font-size: 19px;"></i></a></li> -->
						<li class="dropdown nav-item" style="position: inherit;"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							style="color: #0078d4;"> <i class="fa fa-user-circle-o"
								style="font-size: 20px; color: #0078d4;"></i>{{user}}
						</a>
							<div class="dropdown-menu" style="margin-left: calc(104% - 249px);">
								<a class="dropdown-item" data-ng-click="showAccountView()"><i
									class="fa fa-cog"></i> Account</a> <a class="divider"></a> <a
									class="dropdown-item" data-ng-click="showUpdatePasswordModal()"><i
									class="fa fa-key"></i> Change Password</a> <a class="dropdown-item"
									data-ng-controller="userController" data-ng-click="logout()"><i
									class="fa fa-sign-out"></i> Sign-out</a>
							</div>
							<!-- onclick="logout()" --></li>

					</ul>
	</nav>
</div>
<div>
<!-- Modal -->
<div class="modal fade" id="change-password" tabindex="-1"
role="dialog" aria-labelledby="change-password-title"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
	<h3 class="modal-title" id="change-password-title" style="margin-left: -5px !important;">
	Change Password &nbsp;&nbsp;&nbsp;</h3>
	<div></div>
	
	<button type="button" class="close" data-dismiss="modal"
	aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body" style="margin: 0;">
<span style="font-size: 14px;" class="text-warning p-2">{{passwordChangeStatus}}</span>
<form id="password-update-form">
         <div class="row" id="currID" >
           <label for="recipient-name" class="col-md-4 col-form-label" style="font-size: 13px; font-weight: bold;">Current&nbsp;Password&nbsp;<span class="text-danger">*</span> :</label>
          &nbsp;&nbsp; <div class="col-md-7 input-icons">
           <input type="password" class="form-control  input-field" id="current-password" >
           <i class="fa fa-eye-slash icon" id='showIco1'></i>
           </div>
         </div>
         <div class="row" id="newPassId">
           <label for="message-text" class="col-md-4 col-form-label" style="font-size: 13px; font-weight: bold;">New&nbsp;Password&nbsp;<span class="text-danger">*</span> :</label>
          &nbsp;&nbsp; <div class="col-md-7 input-icons">
           <input type="password" data-ng-focus="checkDBpassword()" class="form-control input-field" id="new-password" onkeypress="return AvoidSpace(event)">
          <i class="fa fa-eye-slash icon" id='showIco2'></i>
       </div>  

         </div>
         <div class="row" id="confoPassId">
           <label for="recipient-name" class="col-md-4 col-form-label" style="font-size: 13px; font-weight: bold;">Confirm&nbsp;New&nbsp;Password&nbsp;<span class="text-danger">*</span>:</label>
          &nbsp;&nbsp; <div class="col-md-7 input-icons"  >
           <input type="password" data-ng-focus="checkDBpassword()" class="form-control  input-field" id="confirm-new-password" onkeypress="return AvoidSpace(event)">
           <i class="fa fa-eye-slash icon" id='showIco3'></i>
          </div>

         </div>
       </form>
     
   <!--     <form id="password-update-forms" >
        <div class="row" id="currID">
         <label  for="message-text"  class="col-md-4" >Current&nbsp;Password&nbsp;:</label>
          &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" class="form-control form-control-sm col-md-7  input-field" id="current-password">
           <i class="fa fa-eye-slash icon" id='showIco1'></i>
         </div>
         
         <div class=" row" id="newPassId">
           <label for="recipient-name" class="col-md-4 " >New&nbsp;Password&nbsp;:</label>
           &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control form-control-sm col-md-7  input-field" id="current-password">
           <i class="fa fa-eye-slash icon" id='showIco1'></i>
             
         </div>
         <div class=" row" id="confoPassId">
           <label for="recipient-name" class="col-md-4 " >Confirm&nbsp;New&nbsp;Password&nbsp;:</label>  
         &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" data-ng-focus="checkDBpassword()" class="form-control form-control-sm col-md-7  input-field" id="confirm-new-password">
           <i class="fa fa-eye-slash icon" id='showIco3'></i>
         

         </div>
       </form> -->
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-danger" data-dismiss="modal" style="    margin-right: 10px;
       ">Close</button>
       <button type="button" class="btn btn-primary" data-ng-click="updatePassword()">Update</button>
     </div>
   </div>
 </div>
</div> <!-- /Modal -->
</div>


<!-- modal start license message -->

<div class="modal fade" id="checklicense" tabindex="-1" role="dialog" aria-labelledby="checklicense-title" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
	<h4>Alert!!!</h4>
	<button type="button" class="close" data-dismiss="modal"
	aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body" style="margin: 0;">
<span style="font-size: 14px;" class="">License to be expired within {{CheckLicenseexpiredornotResponse}} days</span>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal" style="    margin-right: 10px;
       ">OK</button>
       
     </div>
   </div>
 </div>
</div> <!-- /Modal license  -->


<div style="margin-bottom : 4vh;">
<!-- Modal -->
<div class="modal fade" id="accountview" tabindex="-1" role="dialog" aria-labelledby="accountview-title" aria-hidden="true">
 <div class="modal-dialog modal-xl" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h3 class="modal-title" id="accountview-title">My Profile &nbsp;&nbsp;&nbsp;</h3>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form id="viewProfile-form" >
         <div class="ng-invalid ng-invalid-required ng-dirty">
         <div class="form-group profileDiv row">
               <label class="control-label col-md-2" >User Name:</label>
             &nbsp;  <div class="col-md-6 commonCss">
                <input type="text" class="form-control form-control-sm  ng-pristine ng-invalid ng-invalid-required " name="name" id="name"
                data-ng-model="accountDetailsView[0].name" disabled/>
               </div>
</div>
         
        <div class="form-group profileDiv row">
               <label class="control-label col-md-2" for="userID">User Mail ID:</label>
              &nbsp; <div class="col-md-6 commonCss">
                <input type="text" class="form-control form-control-sm  ng-pristine ng-invalid ng-invalid-required" name="userMailId" id="userMailId" data-ng-model="accountDetailsView[0].username" disabled/>
</div>
</div>
<div class="form-group profileDiv row">
               <label class="control-label col-md-2" for="userName">User Role:</label>
              &nbsp; <div class="col-md-6 commonCss">
               <input type="text" class="form-control form-control-sm  ng-pristine ng-invalid ng-invalid-required" name="userRole" id="userRole"
                data-ng-model="accountDetailsView[0].roleType" disabled/>
</div>
</div>
<div class="form-group profileDiv row">
               <label class="control-label col-md-2" >User ID :</label>
               &nbsp;<div class="col-md-6 commonCss">
                <input type="text" class="form-control form-control-sm  ng-pristine ng-invalid ng-invalid-required" name="userId" id="userId"
                data-ng-model="accountDetailsView[0].userid" disabled/>
</div>
</div>
<div class="form-group profileDiv row">
               <label class="control-label col-md-2" >Created By :</label>
              &nbsp; <div class="col-md-6 commonCss">
                <input type="text" class="form-control form-control-sm  ng-pristine ng-invalid ng-invalid-required" name="createdby" id="createdBy"
                data-ng-model="accountDetailsView[0].userroleAdmin" disabled/>
               </div>
</div>
<div class="form-group profileDiv row">
               <label class="control-label col-md-2" for="extension">Is Active :</label>
              &nbsp; <div class="col-md-6 commonCss">
                <input type="text" class="form-control form-control-sm  ng-pristine ng-invalid ng-invalid-required" name="isActive" id="isActive"
                data-ng-model="accountDetailsView[0].isactive"
                disabled/>
               </div>
</div>
<div class="form-group profileDiv row">
               <label class="control-label col-md-2" >Created Date:</label>
              &nbsp; <div class="col-md-6 commonCss">
                <input type="text" class="form-control form-control-sm ng-pristine ng-invalid ng-invalid-required" name="createdDate" id="createdDate"
                data-ng-model="accountDetailsView[0].createdDate" disabled />
               </div>
</div>
<div>
<span class="modal-title" id="accountview-title" style="margin-left: 0!important;">My Entitlement &nbsp;&nbsp;&nbsp;</span>

<table class="table  table-striped table-bordered table-sm table-hover " id="tableMyEntitlemer">
<tr style="background-color: #e2e1e1;font-size: 14px; font-weight: bold;">
<td>Project Name</td>
<td>Project Role</td>
 </tr>
<tr data-ng-repeat="entitlement in showMyEntitlement" style="font-size: 13px;">
   <td>{{entitlement.projectName}}</td>
<td>{{entitlement.accessType}}</td>
</tr>
 
</table>

</div>
   
        </div>
        </form>
   </div>
 </div>
</div> <!-- /Modal -->

			</div>
<div id="pageMessages">

</div>
<div ui-view></div>

</div>
<div class="se-pre-con"></div>
<br>
<br>
<br>
<footer class="" style=" width : 100%; left:0; bottom:0; position:fixed; text-align: center; background: #0069d9; color: white; height: 4vh;">
         <span style="float: right;margin-right: 12px;">Copyright &copy; 2020 ApMoSys Pvt Ltd. All rights reserved.<a href="https://apmosys.co.in/" target="_blank" title="Colorlib"></a>. Version 6.0.0</span> <!-- background-color: #0cadc1; -->    
</footer>
</body>

<script>
$(".fa-calendar").on("click", function(){
    $(this).siblings("input").datepicker("show");    
});
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
})
document.addEventListener('contextmenu', event => event.preventDefault());
$(document).keydown(function (event) {
	if (event.keyCode == 123) { // Prevent F12
	return false;
	} else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
	return false;
	}
	}); 

$(function(){
$("li.nav-item a").click(function(){
	var id=$(this).attr("data-ref");
	$(".sidenav").not("div"+id).removeClass("openMenu");
	if($(id).hasClass("closeMenu")){
		$(id).removeClass("closeMenu");
	}
	$(id).toggleClass("openMenu");
});


$('.next').click(function(){
	$('a.active').addClass('work').removeClass("show").removeClass("active");
	$('a.work').closest('li').next().find('a').addClass('active show');
});
$("a.closebtn").click(function(){
var sideNavMenu=$(this).closest("div.sidenav");
if(sideNavMenu.hasClass("openMenu")){
sideNavMenu.removeClass("openMenu");
}
$(this).closest("div.sidenav").toggleClass('closeMenu');
});

/*  $(document).not('li.nav-item a').on('click',function(){
var sideNavMenu=$("div.sidenav");
sideNavMenu.each(function(){
	if($(this).hasClass("openMenu")){
		$(this).removeClass("openMenu");
	}
}) 
}); */
$(".side-heading-con").click(function(){
	$(this).closest("div.sidenav").addClass('closeMenu').removeClass('openMenu');
});


});//END OF JQuery
/* Some of JavaScript */
function changeTabOnclick(){
	var linkHref=$('a.active').closest('li').next().find('a').attr('href');
	$('a[href="' + linkHref + '"]').trigger('click');
	$('li.active').next().addClass('active');
}

  var logout = function() {
	document.cookie = 'access-token=; Path=/;'
	window.location.href = "/TMT/logout";
}
  window.setInterval(function(){

     alert("not working");

	  $.post("/TMT/api/checkSession",function(result){
	         
	  checkcookie();
	  //alert(result.serviceResponse);
	  resp=result.serviceResponse;

	  if (resp==false)
	  {
	  //$.post("/ApmosysMonitoringPortal/api/sessionkill",function(result){
	  document.cookie = 'access-token=; Path=/;'
		  window.location.href = "/TMT/logout";
	  }

	     });
	  }, 90000);
 
	  function checkcookie(){

	  iscookie=getCookie("access-token");
	  //alert(iscookie);
	  if (iscookie==null || iscookie=="")
	  {
	  //.cookie = 'access-token=; Path=/;'
	 	window.location.href = "/TMT/logout";
	  //alert("Please Login");
	  }
	  }

	  function getCookie(cname) {
	   var name = cname + "=";
	   var decodedCookie = decodeURIComponent(document.cookie);
	   var ca = decodedCookie.split(';');
	   for(var i = 0; i <ca.length; i++) {
	     var c = ca[i];
	     while (c.charAt(0) == ' ') {
	       c = c.substring(1);
	     }
	     if (c.indexOf(name) == 0) {
	       return c.substring(name.length, c.length);
	     }
	   }
	   return "";
	  }
	  
	  function AvoidSpace(event) {
		    var k = event ? event.which : window.event.keyCode;
		    if (k == 32) return false;
		}
</script>
<script src="js/jquery/3.6.0/jquery-3.6.0.min.js"></script>
<script src="ui/jquery-ui.js"></script>
<script src="css/Bootstrap/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-route.js"></script>
<script src="js/angular/angular-ui-router.min.js"></script>
 <script src="js/chartjs/2.8.0/chart.min.js"></script>
<script src="jspdf/1.4.1/jspdf.min.js"></script>
<script src="jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>
<script src="js/jsTree/dist/jstree.min.js"></script>
<!-- <script src="plugins/Chart.min.js"></script> -->
<script src="js/jsGrid/jsgrid.min.js"></script>
<script src="lib/moment.min.js"></script>
<script src="lib/moment.js"></script>
<script src="js/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript"
	src="js/timepicker/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="js/timepicker/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="js/timepicker/font-awesome.min.css">
<script type="text/javascript"
	src="js/timepicker/moment-with-locales.js"></script>
<script src="js/highchart/highcharts.js"></script>
<script src="js\highchart\modules\solid-gauge.js"></script>
<!-- <script type='text/javascript' src='extentreports/js/scripts.js'></script> --> 
<script src="js/select2.min.js"></script>
<script src="js/select/select2.full.js"></script>
 <script src="js/datatable/jquery.dataTables.min.js"></script>
<script src="js/datatable/dataTables.buttons.min.js"></script>
<script src="js/datatable/jszip.min.js"></script>
<script src="js/datatable/pdfmake.min.js"></script>
<script src="js/datatable/vfs_fonts.js"></script>
<script src="js/datatable/buttons.html5.min.js"></script>
<script src="js/datatable/buttons.flash.min.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script src="js/datatable/buttons.print.min.js"></script>
<script src="js/tableHTMLExport.js"></script>
<script src="js/pagination/dirPagination.js"></script>

<script src="angularjs/app.js"></script>
<script src="angularjs/controllers/dashboardController.js"></script>
<script src="angularjs/services/dashboardService.js"></script>
<script src="angularjs/controllers/menuController.js"></script>
<script src="angularjs/controllers/projectDetailsController.js"></script>
<script src="angularjs/services/projectDetailsService.js"></script>
<script src="angularjs/controllers/testSuitesController.js"></script>
<script src="angularjs/services/testSuitesService.js"></script>
<script src="angularjs/controllers/projectOverviewController.js"></script>
<script src="angularjs/services/projectOverviewService.js"></script>
<script src="angularjs/controllers/userController.js"></script>
<script src="angularjs/services/userService.js"></script>
<script src="angularjs/controllers/applicationController.js"></script>
<script src="angularjs/services/applicationService.js"></script>
<script src="angularjs/controllers/testRunController.js"></script>
<script src="angularjs/services/testRunService.js"></script>
<script src="angularjs/controllers/administratorController.js"></script>
<script src="angularjs/services/administratorService.js"></script>
<script src="angularjs/controllers/configurationController.js"></script>
<script src="angularjs/services/configurationservice.js"></script>
<script src="angularjs/controllers/todoController.js"></script>
<script src="angularjs/services/todoService.js"></script>
<script src="angularjs/controllers/entitlementController.js"></script>
<script src="angularjs/services/entitlementService.js"></script>
<script src="angularjs/controllers/viewProjectsController.js"></script>
<script src="angularjs/services/viewProjectsService.js"></script>
<script src="angularjs/controllers/reportController.js"></script>
<script src="angularjs/services/reportService.js"></script>
<script src="angularjs/controllers/documentController.js"></script>
<script src="angularjs/services/documentService.js"></script>
<script src="angularjs/controllers/resourceController.js"></script>
<script src="angularjs/services/resourceService.js"></script>
<script src="angularjs/controllers/autopdetailsController.js"></script>
<script src="angularjs/controllers/automationRunControllers.js"></script>
<script src="angularjs/services/automationRunService.js"></script>
<script src="angularjs/controllers/autoReportController.js"></script>
<script src="angularjs/controllers/defectAutoController.js"></script>
<script src="angularjs/services/autoReportService.js"></script>
<script src="angularjs/controllers/scriptConfigController.js"></script>
<script src="angularjs/services/scriptConfigService.js"></script>
<script src="angularjs/controllers/extendedReportController.js"></script>
 <script src="angularjs/controllers/projectOverviewAutoController.js"></script>
<script src="angularjs/services/projectOverviewAutoService.js"></script> 
<script src="angularjs/controllers/AddUserController.js"></script>
<script src="angularjs/services/addUserServices.js"></script> 
<script src="angularjs/controllers/defectsController.js"></script>
<script src="angularjs/services/defectsService.js"></script>
<script src="angularjs/controllers/configResoucesController.js"></script>
<script src="angularjs/services/configResoucesServices.js"></script> 
<script src="angularjs/controllers/myProfileController.js"></script>
<script src="angularjs/services/myProfileService.js"></script> 

</body>
</html>