<style>
.jsgrid-grid-body {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.jsgrid-grid-header {
    background-color: #007bff;
    overflow-x: hidden;
       overflow-y: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
</style>
<script>

</script>

<div class="container-fluid noPadding">

<!-- Main Content -->
<div class="row noMargin-left">
<div class="col-md-10 noPadding-left">

<!-- Main Dashboard View  -->

<div class="col-md-12 heading">
	<div data-ng-init="showBugTool()">Tracker</div>
</div>
<div class="row dash-charts">

<div class="col-md-12" data-ng-init="showBugTool()">
<!--  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#createBugTrackerTool">
	 <i class="fa fa-plus"></i>
	 Create New Trackor</button> -->
	 <div id="grid"></div>

	<!-- <table class="table"  class="table table-hover responsive-utilities"  border="2 solid">
  <thead class="tableheader">
    <tr>
      <th scope="col">Sr No</th>
       <th scope="col">Bug Trackor Tool</th>
       <th scope="col">IP Address</th>
        <th scope="col">Active</th>
       <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody data-ng-repeat="row in allBugTool" class="tablebody">
    <tr>
      <td>{{row.toolid}}</td>
       <td class="edit">{{row.buGTrackingToolName}}</td>
        <td class="edit">{{row.ip}}</td>
         <td class="edit">{{row.isactive}}</td>
      <td>
        <div data-ng-click="showBugToolbyid(row)" data-toggle="modal" data-target="#EditBugTrackorTool">
          <div data-ng-click="showBugToolbyid(row)">
        <i class="fa fa-pencil" aria-hidden="true"></i></div>
    </td>
    	<td>
   <div  data-ng-click="deleteBugToolbyid(row)" > 
   <i class="fa fa-trash" aria-hidden="true"></i></div>
</td>
    </tr>
  </tbody>
</table> -->
<!-- 	  -->
</div>
<div class="col-md-1"></div></div></div> <div class="col-md-2"><br>Configure the Bug Tracking Tools.</div>  </div>
<!--  <div class="modal fade" id="createBugTrackorTool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: #dee2e6;">
         	<strong>Give</strong> 
         	<a class="green-text font-weight"><strong style="background: #dee2e6;">Access</strong></a>
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
        <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: red;"> {{statusave}}</span>
    <div class="modal-body mx-3">
    <label for="Select User">Select user* :</label>selectMultipleProject(id,user_role) 
           <select class="form-control" name="useridAccess" data-ng-change=getUserDetails(userid) data-ng-model="userid">
                   <option disabled>Select user</option>
				   <option data-ng-repeat='row in users' value="{{row.id}}">{{row.username}}</option>
				   
                  </select>
            <label for="Select User">Select Role* :</label>
			   <input type="text" class="form-control" id="username" data-ng-model='updateList' placeholder="role" required>
									
									  <label for="Select User">Select project :</label>
									   <input type='checkbox' data-ng-model='selMul'
									data-ng-click='selectMultiple()'><label>SelectgetaccessDetails(data.userid)
									All</label>
					 <select class="form-control selectproject1"  multiple="multiple" name="projectid[]" data-ng-model="projects">

						<option disabled>Select project</option>
						<option data-ng-repeat='row in getAccesslist' value="{{row.projectid}}">{{row.projectName}}</option>
						
					</select>
				</div>	
  <div class="modal-footer d-flex justify-content-center">  
     <button id='btnUpdateMain' class="btn-back pull-right btn btn-primary btn-sm "  data-ng-click="giveaccess(projects,userid)">Access</button>
     <button class="btn-back pull-right btn btn-primary btn-sm resetFooterMainTicket" data-ng-click="resetForm()" type="reset">Reset</button>
   	<button type="reset" class="btn-back pull-right btn btn-primary btn-sm resetFooterMainTicket" data-ng-click="removedatauser()" data-dismiss="modal" >Cancel</button>
    </div>
    </div>
    </div>
    </div> -->


</div>
<!-- <div class="modal fade" id="EditBugTrackorTool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: #dee2e6;">
         	<strong>Edit BugTrackorTool</strong> 
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
        <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: red;"> {{statusave}}</span>
    <div class="modal-body mx-3">
       <div class="form-group">
         <label for="mailid">Name of BugTrackorTool</label>
		 <input type="text" class="form-control" id="tool"
		  data-ng-model="showBugToolid.buGTrackingToolName" placeholder="Enter Tool Name" required>
		  </div>
		  <div class="form-group">
		   <label for="urlBugtrackor">URL of Tool</label>
			<input type="text" class="form-control" id="URL"
			data-ng-model="showBugToolid.ip" placeholder="Enter URL of BugTrackor" required>
           </div>
           	  <div class="form-group">	
            <label for="Select User"> Active:</label>
					 <select class="form-control" data-ng-model="showBugToolid.isactive">
						<option value="Y">Y</option>
						<option value="N">N</option>
						
					</select>
					     </div>
					     <input type="hidden" class="form-control" id="id"
			data-ng-model="showBugToolid.toolid" placeholder="Enter  of BugTrackor" >
					    
				</div>	
  <div class="modal-footer d-flex justify-content-center">  
    <button id='btnUpdateMain' class="btn-back pull-right btn btn-primary btn-sm " data-dismiss="modal" data-ng-click="EditBugTool(showBugToolid)">Edit Tool</button>
   	<button type="reset" class="btn-back pull-right btn btn-primary btn-sm resetFooterMainTicket" data-dismiss="modal"  >Cancel</button>
    </div>
    </div>
    </div>
    </div> -->
<div class="modal fade" id="createBugTrackerTool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: #dee2e6;">
         	<strong>Create BugTrackorTool</strong> 
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
        <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: red;"> {{statusave}}</span>
    <div class="modal-body mx-3">
       <div class="form-group">
         <label for="mailid">Name of BugTrackorTool</label>
		 <input type="text" class="form-control" id="tool"
		  data-ng-model="bugtrackor" placeholder="Enter Tool Name" required>
		  </div>
		  <div class="form-group">
		   <label for="urlBugtrackor">URL of Tool</label>
			<input type="text" class="form-control" id="URL"
			data-ng-model="URL" placeholder="Enter URL of BugTrackor" required>
           </div>
           	  <div class="form-group">	
            <label for="Select User"> Active:</label>
					 <select class="form-control" data-ng-model="active">
						<option value="Y">Yes</option>
						<option value="N">No</option>
						
					</select>
					     </div>
				</div>	
  <div class="modal-footer d-flex justify-content-center">  
    <button id='btnUpdateMain' class="btn-back pull-right btn btn-primary btn-sm " data-ng-click="createBugTool()">Create Tool</button>
   	<button type="reset" class="btn-back pull-right btn btn-primary btn-sm resetFooterMainTicket" data-ng-click="removedatauser()" >Cancel</button>
    </div>
    </div>
    </div>
    </div>


 
