<style>
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 13px;
    text-align: center;
}
#projectEntitlement{
	font-size: 14px;
    width: 1265px;
    line-height: 1.1rem;
}
#projectEntitlement_wrapper{
	border: 2px solid blue;
}
.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    font-size: 14px;
}
.dt-button
{
	    margin: 5px 4px 28px;
	
}
/* #projectEntitlement_wrapper .dt-button
{
	 height: -6vh;
	
} */
[type=search]{
   outline-offset:0px !important;

}
</style>

<div class="row" >
<div class="col-md-12" ><h3 style="color: black;background: #a9d7e8;font-weight: 700;font-size: 16px">Project Name:{{projectName}}</h3>
   </div>
  <!--  <div class="col-md-2">
   			<input type="text" class="form-control"
			placeholder="Search by name" aria-label="Small"
			aria-describedby="inputGroup-sizing-sm" style="max-height: 4vh;"
			data-ng-model="search.name	"> -->
	</div>
</div>
   
	<div class="allProjects-wrap" style="background: whitesmoke;" data-ng-init='projectEntitleDataset()'>
						<table class="table table-hover table-sm" id="projectEntitlement" style="font-size: 14px;" >
						<thead class="thead-light">
					<!-- 			<tr style="font-size: 14px;align:center;"> -->	
					             <tr style="font-size: 14px;text-align: center;">								
									<th>Mail_Id</th>
									<th>Name</th>
									<th>Role</th>
									<th>Access Given By </th>
									<th>Access Date </th>									
								</tr>
							</thead>
							<!-- <tbody>
								<tr data-ng-repeat="public in getShowProject |filter:search " style="line-height: 25px;align:center; font-size: 13px;" >	
									<td style="padding-left:29px;">{{public.name}}</td>								
									<td>{{public.username}}</td>
									<td>{{public.userid}}</td>
									<td>{{public.accessGivenBy}}</td>
									<td>{{public.accessDate}}</td>
								</tr>																								
							</tbody> -->
						</table>															
		</div>
	
	
