<div class="col-md-12 heading1" data-ng-init="getMyProjectsData()">
	<div class="row">
		<div class="col-md-6">Projects Assigned</div>
	</div>
</div>
<table class="table table-hover table-bordered  table-sm myProjects" id="myProjects">
	<thead class="tableheader" >
		<tr >
			<th style=" border: 1.2px solid;">Sr No.</th>
			<th style=" border: 1.2px solid;">Project Name</th>
			<th style=" border: 1.2px solid;width:10%;">Project Key</th>
			<th style=" border: 1.2px solid;">Start Date</th>
			<th style=" border: 1.2px solid;">End Date(Tentative)</th>
			<th style=" border: 1.2px solid;">Project Access</th>
			<th style=" border: 1.2px solid;">Is Active</th>
			<th style=" border: 1.2px solid;">Assigned Count</th>

		</tr>
	</thead>
	<tbody class="tablebody" data-ng-if="!(tableData=='No Data Available')" >
		<tr data-ng-repeat="data in myProjectsData | filter : searchText" >
			<td style=" border: 1.2px solid;">{{$index+1}}</td>
			<td style=" border: 1.2px solid;">{{data.applicationName}}</td>
			<td style=" border: 1.2px solid;width:10%;">{{data.projectName}}</td>
			<td style=" border: 1.2px solid;">{{data.projectStartDate}}</td>
			<td style=" border: 1.2px solid;">{{data.projectEndDate}}</td>
			<td style=" border: 1.2px solid;">{{data.projectAccess}}</td>
			<td style=" border: 1.2px solid;">{{data.projectIsActive}}</td>
			<td style=" border: 1.2px solid;">{{data.assignedTCCount}} TC(s), {{data.assignedRerunCount}} Run(s)</td>
		</tr>

	</tbody>
</table>