<div class="container-fluid noPadding">
	<div class="row noMargin-left">
		<div class="col-md-10 noPadding-left">
			<div class="col-md-12 heading m-1">
				<h4>My Profile</h4>
			</div>
			<div class="row dash-charts">
				<div class="col-md-12">
					<!-- <div class="row">
						<div class="col-md-4">
							<div class="form-group row m-0">
							    <label for="myProfile-email" class="col-sm-2 col-form-label">Email ID</label>
							    <div class="col-sm-10">
							      <input type="text" readonly class="form-control-plaintext" id="myProfile-email" value={{email}}>
							    </div>
						  	</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row m-0">
							    <label for="myProfile-username" class="col-sm-2 col-form-label">User Name</label>
							    <div class="col-sm-10">
							      <input type="text" readonly class="form-control-plaintext" 
							      	id="myProfile-username" value={{username}}>
							    </div>
						  	</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row m-0">
							    <label for="myProfile-userid" class="col-sm-2 col-form-label">User ID</label>
							    <div class="col-sm-10">
							      <input type="text" readonly class="form-control-plaintext" id="myProfile-userid" 
							      	value={{userid}}>
							    </div>
						  	</div>
						</div>
						<div class="col-md-2">
							<div class="form-group row m-0">
							    <label for="myProfile-role" class="col-sm-2 col-form-label">Role</label>
							    <div class="col-sm-10">
							      <input type="text" readonly class="form-control-plaintext" id="myProfile-role" 
							      	value={{userRole}}>
							    </div>
						  	</div>
						</div>
					</div>
					<div ui-view></div> -->
					
					<div class="row">
						<div class="col-md-4">
							
							    <label for="myProfile-email" class="col-sm-6 col-form-label">Email ID</label>
							    
						  
						</div>
						<div class="col-md-3">
							<div class="form-group row m-0">
							    <label for="myProfile-username" class="col-sm-6 col-form-label">User Name</label>
							    
						  	</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row m-0">
							    <label for="myProfile-userid" class="col-sm-6 col-form-label">User ID</label>
							    
						  	</div>
						</div>
						<div class="col-md-2">
							<div class="form-group row m-0">
							    <label for="myProfile-role" class="col-sm-6 col-form-label">Role</label>
							    
						  	</div>
						</div>
					</div>
					
				<div class="row">
						<div class="col-md-4">
							<div class="form-group row m-0">
							    
							    <div class="col-sm-10">
							      <input type="text" readonly="" class="form-control-plaintext" id="myProfile-email" value={{email}}>
							    </div>
						  	</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row m-0">
							    
							    <div class="col-sm-10">
							      <input type="text" readonly="" class="form-control-plaintext" id="myProfile-username" value={{username}}>
							    </div>
						  	</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row m-0">
							    
							    <div class="col-sm-10">
							      <input type="text" readonly="" class="form-control-plaintext" id="myProfile-userid" value={{userid}}>
							    </div>
						  	</div>
						</div>
						<div class="col-md-2">
							<div class="form-group row m-0">
							    
							    <div class="col-sm-10">
							      <input type="text" readonly="" class="form-control-plaintext" id="myProfile-role" value={{userRole}}>
							    </div>
						  	</div>
						</div>
					</div>
					<!-- ui-view-anchor --><div ui-view=""></div>
				</div>
			<!-- Pranik start -->	
			<!-- 	<div class="col-md-12">
					</div> -->
			<!--Pranik end  -->	
			</div>
		</div>
		<div class="col-md-2 right-side-nav">
		 	<div class="project-view">
				<div class="myprofilelist">My Profile</div>
				<div class="content">
				 	<!-- <div id="mp-overview" class="table-ico" ui-sref="admin.myprofile.overview">
				 		<i class='fa fa-angle-right'></i>Overview
				 	</div> -->
				 	<div id="mp-projects" class="table-ico" ui-sref="admin.myprofile.myprojects">
				 		<i class='fa fa-angle-right'></i>My Projects
				 	</div>
				 	<!-- <div id="mp-todo" class="table-ico" ui-sref="admin.myprofile.mytodo">
				 		<i class='fa fa-angle-right'></i>My ToDo
				 	</div>
				 	<div id="mp-report" class="table-ico" ui-sref="admin.myprofile.myreports">
				 		<i class='fa fa-angle-right'></i>My Report
				 	</div>
				 	<div id="mp-defects" class="table-ico" ui-sref="admin.myprofile.mydefects">
				 		<i class='fa fa-angle-right'></i>My Defects
				 	</div> -->
				</div>
			</div>
		</div>
	</div>
</div>