<style>
.container-fluid {
    width: 100%;
    padding-right: 3px !important;
    padding-left: 5px !important;
    margin-right: auto;
    margin-left: auto;
}
.navigator{
    background: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color:#0078d4;
}
.noPadding-left{
padding-right:0 !important
}
.navigator-admin{
    padding: 5px;
    background: #085ea0;
    color: white;
    padding-bottom: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.navigator-admin:hover{
	color:white !important;
}
.right-side-nav{
min-height:85vh;
background:#efefef;
}
.noMargin-left{
    margin-right: 0px !important;
}
.btn-wrap{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 3%;

}

.defectlist,.actions,.testSuites{
	background: #c3c3c3;
    padding: 2%;
    padding-left: 6%;
    border-radius: 3px;
    color: #0078d4;
}
/* Adding Folder Style */
.li-style { color: darkred; }
.a-style:hover { text-decoration: underline !important; }
/* ./Adding Folder Style */

.lineChart{
border-radius: 6px;
}
.heading{
color: black;
background: #a9d7e8;
font-weight: 700;
font-size: 18px;
}
.project-icons{
    margin-right: 2%;
}
.project-icons i{
    font-size: 85px;
    color: #0078d4;
}

.project-options div a{
	cursor:pointer;
	color: #0078d4 !important;
}
.project-options div a:hover{
	text-decoration: underline !important;
}
.jstree-anchor{
color:#0078d4 !important;
}
.dash-charts{
margin-left: -1%;
}
.tab-body{
padding: 0px;
}

/* Styling Nav Bar */
.top_nav{
 background-color:#0078d4;
}
.nav-pills .nav-link.active{
    color: #0078d4 !important;
    background-color: whitesmoke !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.nav-pills .nav-link{
    padding-left: 8px !important;
    padding-right: 8px !important;
    background: #0b0ba2;
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 14px;
}

.nav-pills .nav-item{
 margin-left:0.5%;
}

.content-details{
	margin-left: 8%;
    font-size: 13px;
}
.content-details h6{color: #0078d4;}
.content-details a:hover{
text-decoration:underline !important;
cursor: pointer;
color:#0078d4;
}
.content-details span{
color:#0078d4;
}

.suits-icons{
    width: 7%;
    height: 70px;
    background: #0078d4;
   	margin-right: 1%;
}
.suitesId{
	background: #8686e2;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    padding: 1px;
}

/*  #sortable tbody .ui-selecting { background: #0078d4; }
 #sortable tbody .ui-selected { background: #0078d4; color: white; }
 #sortable tbody { list-style-type: none; margin: 0; padding: 0; width: 60%; } */
 
.table-ico{
	color:#0078d4;
	cursor: pointer;
}

.add-btn{
	font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;

}
a.caseTitle:hover{
cursor:pointer;
text-decoration:underline !important;
}

.add-anchor{
    background: #0b0ba2;
    color: white !important;
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.hide{
  display:none;  
}



</style>

<div class="container-fluid noPadding">
<div class="heading col-md-12 noPadding" style="background: #0078d4;height: 5vh;">
		<h5 class="heading-text">{{projectName}}</h5>

	</div>
<div class="top_nav">
	<!-- Nav pills -->
  <ul id="iconList" class="nav nav-pills" role="tablist">
     <!-- <li class="nav-item" id="home" style="margin-left: 1%;" >
      <a class="nav-link" data-toggle="pill" ui-sref="dashboard">Home</a>
    </li> -->
    
    <li class="nav-item" id="overViewsAuto"  >
      <a class="nav-link" data-toggle="pill" ui-sref=".autoOverview" >Overview</a>
    </li>
    <li class="nav-item"  id="testSuitesAuto" >
      <a class="nav-link" data-toggle="pill" ui-sref=".scriptconfgfile" data-ng-click="getProjectAutoFiles()">Controller & Datasheets</a>
    </li>
    <li class="nav-item" id="testRunAuto"  >
      <a class="nav-link" data-toggle="pill" ui-sref=".autorun">Test Runs & Results</a>
    </li>  
    
    
    <li class="nav-item" id="ReportsAuto" >
      <a class="nav-link" data-toggle="pill" ui-sref=".autoreport">Reports</a>
    </li>
    <!-- pranik changes -->
    <li class="nav-item"  id="todo">
      <a class="nav-link" data-toggle="pill" ui-sref=".defectList">Defects</a>
    </li> 
   <!--   <li class="nav-item" id="documentAuto" >
      <a class="nav-link" data-toggle="pill">Documents</a>
    </li> -->
  </ul>
  
  </div>
<!-- ./Nav pills -->
<div class="container-fluid noPadding" style='background:whitesmoke;min-height:1vh'></div>
 
<div ui-view></div>

</div>