<head>
<link rel="stylesheet" href="css/custom.maindiv.css">
<script src="js/mailvalidation.js"></script>
<style>
.form-control:disabled, .form-control[readonly] {
    background-color: #f4f5f7;
    /* opacity: 1; */
}
.form-control {
    border: 2px solid #aaaaaa !important;
}
.progressbar {
	height: 50px;
	width: 100px;
}
button, input, optgroup, select, textarea {
    margin: 13px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.projectdetail {
    background: #a9d7e7;
    font-size: 17px;
    font-family: initial;
    margin-top: 0%;
}

#chartdiv123 {
	margin-top: 18%;
	height: 69%;
}

#chartdiv {
	height: 39vh;
}

.amcharts-chart-div>a {
	display: none !important;
}

.graphHeading {
	color: blue;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.leftChart {
	padding-right: 2px;
	margin-top: 4px;
}

.rightChart {
	padding-left: 2px;
	margin-top: 4px;
}

.table td, .table th {
	/* padding: .75rem; */
	vertical-align: top;
	border-top: 1px solid black;
}

th {
	height: 10%;
}

.table>thead>tr>th {
	border-bottom: 2px solid #f4f4f4;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
	padding: 5px;
	font-size: 13px;
}
/* .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #5d363629;
    border-color: black;
    padding: 5px;
    font-size: 11px;
} */
.tableheader {
	/* background: #2278d4; */
	/* font-size: medium; */
	font-family: serif;
	/* color: white; */
	font-size: 7px;
/* 	height: 133px; */
	color: #444;
	background-color: #a9d7e8;
}

.tablebody {
	font-size: 88%;
	font-family: serif;
}

button, select {
	text-transform: none;
}

.graph_container {
	display: block;
	width: 600px;
}

.scrollcheck {
    /* margin-top: 8%; */
    margin-left: 0%;
    margin-right: 5px;
    /* width: 118%; */
    border: 1px solid #d2d6de;
    overflow: auto;
}

.search {
	height: 16%;
	width: 9%;
	margin-top:10%;
	margin-left: 91%;
	font-family: -webkit-body;
}

.card {
	width: 11rem !important;
}

.card-body {
	padding: 0px 10px;
}
.mt-1, .my-1 {
	margin-top: .5rem !important
}

.row.card_row {
	/* margin-left: 0px; */
	margin-right: 12px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #5d363629;
	padding: 5px;
	font-size: 11px;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: bold;
    border-color: black;
    text-align: center;
}
.table>thead>tr>th {
    border-bottom: 0px solid #f4f4f4;
}
#sortable tbody {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* width: 60%; */
	color: #1b78bf !important;
}

.errspan {
float: right;
    /* margin-right: -11px; */
    margin-top: -39px;
    position: relative;
    z-index: 2;
    color: black;
    
}
.errspan1 {
float: right;
    margin-left: -5%;
    /* margin-right: -11px; */
    margin-top: 19px;
    position: relative;
    z-index: 2;
    color: black;
     
}
.editicon {
          font-size: 96%;
    margin-left: 5%;

}
.right-side-nav {
        min-height: 72vh;
    background: transparent;
}

.testcase tr {
	text-align: center;
}
.select2-selection{
	height: 4vh;
}

.select2-container--default .select2-results>.select2-results__options {
   /*  max-height: 200px;
    overflow-y: auto;
    margin-left: 51%; */
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
height: 4vh !important;
}
.select2-container--default .select2-selection--multiple:focus {
    border-color: #3c8dbc !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: green;
}
 .select2-container {
	width: 15vw !important;
} 
.select2-container--open .select2-dropdown {
    /* width: 48vw !important;
    left: -232px !important; */
}
.select2-results__option[aria-selected] {
        cursor: pointer;
    width: 25vh !important;
    float: left !important;
    font-size: 11px;
    font-weight: 600;
}
.select2-results__option:before {
  
    height: 16px !important;
    width: 15px !important;

}

.select2-container--default .select2-results>.select2-results__options {
    /* max-height: 200px; */
    /* overflow-y: auto; */
    /* margin-left: 51%; */
}
.select2-container--default .select2-selection--multiple {
    border-width: 2px;
    height: 1.5px;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: -1px;
    margin-left: 13px;
    padding: 0;
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 37px;
    user-select: none;
    -webkit-user-select: none;
}
selection--multiple {
    margin-bottom: 4px;
}
/* For Data Tables */
#example.dataTable thead th, #example.dataTable thead td{
    padding: 3px 18px
}
#example thead tr{
    /* background: #0078d4;
    color: white; */
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: bold;
    border-color: black;
}
#example.dataTable thead th, #example.dataTable thead td {
    padding: 0px 18px;
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin-top: 3%;
    min-height: 35px;
    user-select: none;
    -webkit-user-select: none;
}
.dt-button-collection
{
margin-top:none;
}
.dt-button buttons-collection
{
margin-top: -60px;
}
.dt-buttons{
 margin: 5px 4px 28px;
}
div.dt-button-collection
{
  margin-top:-5px!important; 
}

#example1 td{
	text-align: center;
	vertical-align: middle;
}

</style>
<!-- 
 <script src="js/sortingTable.js"></script>  -->
<script>

/* $("select").on("select2:select", function (evt) {
	  var element = evt.params.data.element;
	  var $element = $(element);
	  
	  $element.detach();
	  $(this).append($element);
	  $(this).trigger("change");
	}); */
$('select').on('select2:close', function (evt) {
	var uldiv = $(this).siblings('span.select2').find('ul')
	  var count = $(this).select2('data').length
      if(count==0){
        uldiv.html("<li>"+count+" item selected</li>")
      }
      else if(count==1){
        uldiv.html("<li>"+count+" item selected</li>")
      }
      else{
	 	uldiv.html("<li>"+count+" items selected</li>")}
 	
});
</script>

</head>
       

<div class="container-fluid dashboard_wrap">

<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item active"><a >Overview</a></li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<div class="row noMargin-left" >
		<div class="col-md-10 noPadding-left">
		
			<div class="col-md-12 heading">
				<div>Project Summary</div>
		 	</div> 
			<div class="col-md-12 row noMargin-left ">
<div class="col-xl-3 m-b-4"><!-- class="col-xl-3 m-b-4"	 -->
                        <div class="card-auto widget-box-two bg-purple border-purple">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle bg-soft-light mt-2">
                                    <i class="mdi mdi-chart-line font-22 avatar-title text-white"></i>
                                </div>

                                <div class="wigdet-two-content">
                                    <p class="m-0 text-uppercase text-white" title="Total Requests"><a ui-sref="viewRequest" style="color: white;">Total Run</a></p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{getoverviewdetailList[0].freshRun}}</span> <i class="mdi mdi-arrow-up text-white font-22"></i></h2>
                                    <!-- <p class="text-white m-0"><b>10%</b> From previous month</p> -->
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->


                      <div class="col-xl-3 m-b-4"><!-- class="col-xl-3 m-b-4"	 -->
                        <div class="card-auto widget-box-two bg-success border-warning">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle bg-soft-light mt-2">
                                    <i class="mdi mdi-access-point-network  font-22 avatar-title text-white"></i>
                                </div>
                               
                                <div class="wigdet-two-content" data-ng-click="requestStatus('Pending')">
                                    <p class="m-0 text-white text-uppercase" title="Pending Requests"><a ui-sref="viewRequest" style="color: white;">Completed Run</a></p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{getoverviewdetailList[0].completedRun}}</span> <i class="mdi mdi-arrow-up text-white font-22"></i></h2>
                                    <!-- <p class="text-white m-0"><b>5.6%</b> From previous month</p> -->
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                      <div class="col-xl-3 m-b-4"><!-- class="col-xl-3 m-b-4"	 -->
                        <div class="card-auto widget-box-two bg-danger border-success">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle bg-soft-light mt-2">
                                    <i class="mdi mdi-timetable font-22 avatar-title text-white"></i>
                                </div>
                                <div class="wigdet-two-content" data-ng-click="requestStatus('Approved')">
                                    <p class="m-0 text-uppercase text-white" title="Approved Request"><a ui-sref="viewRequest" style="color: white;">Failed Run</a></p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{getoverviewdetailList[0].failedRun}}</span> <i class="mdi mdi-arrow-up text-white font-22"></i></h2>
                                    <!-- <p class="text-white m-0"><b>7.02%</b> From previous month</p> -->
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
 			<div class="col-xl-3 m-b-4"><!-- class="col-xl-3 m-b-4"	 -->
                        <div class="card-auto widget-box-two bg-warning border-success">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle bg-soft-light mt-2">
                                    <i class="mdi mdi-timetable font-22 avatar-title text-white"></i>
                                </div>
                                <div class="wigdet-two-content" data-ng-click="requestStatus('Approved')">
                                    <p class="m-0 text-uppercase text-white" title="Approved Request"><a ui-sref="viewRequest" style="color: white;">Stopped By User</a></p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{getoverviewdetailList[0].stoppedRun}}</span> <i class="mdi mdi-arrow-up text-white font-22"></i></h2>
                                    <!-- <p class="text-white m-0"><b>7.02%</b> From previous month</p> -->
                                </div>
                            </div>
                        </div>
                    </div>

<div class="col-xl-3 m-b-4"><!-- class="col-xl-3 m-b-4"	 -->
                        <div class="card-auto widget-box-two bg-brown border-purple">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle bg-soft-light mt-2">
                                    <i class="mdi mdi-chart-line font-22 avatar-title text-white"></i>
                                </div>

                                <div class="wigdet-two-content">
                                    <p class="m-0 text-uppercase text-white" title="Total Requests"><a ui-sref="viewRequest" style="color: white;">Running Run</a></p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{getoverviewdetailList[0].running}}</span> <i class="mdi mdi-arrow-up text-white font-22"></i></h2>
                                    <!-- <p class="text-white m-0"><b>10%</b> From previous month</p> -->
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                </div>
                
			
			<div class="col-md-12 allProjects">
		<div class="row allProjects" style="padding-left: 2%; background: whitesmoke;"> 
					<div class=" col-md-3">
					<label>Select Runwise</label>
							<input type='checkbox' id="selectCheckBox" data-ng-model='selMul' data-ng-click='selectMultiple()'><label>Select All</label>
					
							<select class="mdb-select validate md-form test" multiple id="columnlist" name="columnList['']" data-ng-model="sddfdsf" data-ng-click="specificrunwisedata()" >
							    <option data-ng-if ="key.runId !=0 " data-ng-repeat="key in activerunlist" value="{{key.runId}}">R{{key.runId}}_{{key.scenarioID}}</option>
							  </select>
						</div>
			 	<div class='col-md-2'>
					<label style="margin-left: 8%;">Start Date</label>
					<input type="text" id="fromDate" name="fromDate"
										class="form-control datepicker datepickerinput" data-ng-model='fromDate' placeholder={{fromDate}} data-ng-click="cleardata()" autocomplete="off" readonly />
										<span
										class="fa fa-calendar errspan" aria-hidden="true"></span>
				</div>
				<div class='col-md-2'>
					<label style="margin-left: 8%;">End Date</label>
					<input type="text" id="toDate" name="toDate"
										class="form-control datepicker datepickerinput" data-ng-model='toDate' placeholder={{toDate}} autocomplete="off" data-ng-click="cleardata()" readonly />
										<span
										class="fa fa-calendar errspan" aria-hidden="true"></span>
		<!-- 		data-ng-click="specificrunwisedata()" -->
				</div>
			  <div  class='col-md-3'>
			 <button type="submit" data-ng-click="datewiserun()" style="margin-top: 16%;"
									class="btn btn-primary" >Submit</button>
			  </div> 
			
			
			</div>
			</div>
			<div class="row">
				<div class='col-md-2'></div>
				<div class='col-md-8 graph'>
					<div class="graph_wrap">
						<h6 style="text-align: center; color: chocolate;">Execution Status</h6>
						<canvas id="Chart1"></canvas>
						
					</div>
				</div>
				<!-- <div class='col-md-6 graph'>
					<div class="graph_wrap">
						<h6 style="text-align: center; color: chocolate;">Defect Summary</h6>
						<canvas id="bar-chart" width="600" height="300"></canvas>
						
					</div>
				</div> -->

			</div>
			
		</div>
		<div class="col-md-2 right-side-nav"	
			data-ng-init="getProjectDetailssingle()">
			<div class="row">
				<div class="col-md-12">
					<div class="project-view" style="
   						 background: whitesmoke;">
						<div class='projectdetail heading' style="text-align: center;">
							<b style="">Project Details
							<i class='fa fa-edit table-ico  editicon' style=""  data-ng-if="roletype==='Manager'||user_role==='100' || user_role===101"
							data-ng-click="showModalForEditProject()"></i></b>
						</div>
						<div class="content" style="color: #0078d4; font-size: 12px;    height: 46vh;">
						<table>
						<tr>
						
						<b style="color: #0078d4; font-size: 13px; word-break: break-all;">
							{{projectNamedetail}}
						</b>
						</tr>
							<tr><td>Start&nbsp;Date</td>	
							<td>:{{pStdAtedetail}}</td>
							</tr>
								<tr><td>End&nbsp;Date(Tentative)</td>
								<td>:{{pEndAtedetail}}</td>

						<tr>
							<td>Project&nbsp;Type</td><br><br>
							<td>:{{isMannualdetail}}&nbsp;{{isAutodetail}}</td>	
						</tr>
						
						<tr data-ng-if="delayTimeProject !='in time'">
							<td>Project&nbsp;Delay&nbsp;By</td><br><br>
							<td >:{{delayTimeProject}}</td>		
						</tr>
						<!--  pranik-->
				
						</table>
								</div>

					</div>
				</div>
			</div>
			</div>
			</div>
		
		<div class="row noMargin-left noMargin-right" style=" margin-top: -15px;">
				<div class='col-md-12 noPadding'>
					<table class="table table-striped table-bordered table-sm table-hover nowrap display compact" id="example1"
						style="   /*  margin-top: 10% */;">
						<thead class="tableheader">
							<tr>
								<th height="100">Run Name</th>
									<th>Test Cases</th>
								<th>Total Logs</th>
								<th>Passed Logs</th>
								<th>Failed Logs</th>
								
								
							</tr>
						
						</thead>
 	
					</table>
				</div>
			</div>

	</div>
<div class="modal fade " style="/* margin-top: -1px; */" id="EditProject">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">
							Edit Project &nbsp;&nbsp;&nbsp;<span style="color: green;">{{statusEdit}}</span>
						</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="x_content">

							<form id="demo-form" name="submitForm">
								<div class="row">
									<label class="col-md-3" for="fullname">Project Name<span class="text-danger">*</span> :</label>
									<input type="text" id="projectName" style="margin-top:-2px"
										class="form-control form-control-sm col-md-7"
										data-ng-model="projectNameEdit" name="fullname"
										required="required">

								</div>
								<div class="row">
									<label for="fullname" class="col-md-3">Application
										Name<span class="text-danger">*</span> :</label> <input type="text" id="applicationName"  style="margin-top:-2px"
										class="form-control form-control-sm col-md-7" 
										data-ng-model="applicationNameEdit" name="fullname" required>
								</div>
								<div class="row">
									<label class="col-md-3" >Select Module <span class="text-danger">*</span>:</label> <input
										id="auto" name="projectType" data-ng-model="isAutoEdit"  style="margin-top:-2px"
										class="check col-md-1 active" type="checkbox"
										value="Automation" data-ng-click="showAutomationData()"
										checked><span style="margin-top:-2px">Automation</span>  <input id="manual" style="margin-top:-2px"
										name="projectType" data-ng-model="isMannualEdit"
										class="check col-md-1 " type="checkbox" value="Manual">
									<span style="margin-top:-2px">Manual</span><br> <br>
								</div>
								<div class="AutoDetail" data-ng-if=isAuto>

									<div class="row">
										<label for="heard" class="col-md-3"
											data-ng-init="toggleSelection()">Select Platform <span class="text-danger">*</span>:</label> <select
											id="platfrom" class="form-control form-control-sm col-md-7" style="margin-top:-2px"
											data-ng-model="platFrom" checked="checked" required>
											<option value="web">Web</option>
											<option value="mobile">Mobile</option>

										</select>
									</div>
									<div class="row">
										<label for="heard" class="col-md-3">Select
											SlaveMechine:</label> <select data-ng-model="slaveMechineEdit"
											id="slaveMechine"  style="margin-top:-2px"
											class="form-control form-control-sm col-md-7" required="">
											<option value="">Choose..</option>
											<option value="Jira">mechine1</option>
											<option value="Bugzilla">Bugmechine2zilla</option>

										</select>
									</div>
								</div>
								<div class="row input-wrapper">
									<label for="heard" class="col-md-3">Start Date <span class="text-danger">*</span>:</label> <input
										type="text" id="datepicker"  style="margin-top:-2px"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pStdAteEdit" name="pStdAteEdit"
										autocomplete="off" required="" readonly><span
										class="fa fa-calendar errspan1" aria-hidden="true" style="    margin-top: 8px;
										"></span>
								</div>
								<div class="row input-wrapper">
									<label for="heard" class="col-md-3">End
										Date(Tentative) <span class="text-danger">*</span>:</label> <input type="text" id="datepicker"  style="margin-top:-2px"
										class="form-control form-control-sm datepicker col-md-7 calender"
										data-ng-model="pEndAteEdit" name="pEndAteEdit"
										autocomplete="off" required="" readonly><span
										class="fa fa-calendar errspan1" aria-hidden="true"  style="    margin-top: 8px;"></span>
								</div>
								<div class="row">
									<label for="heard" class="col-md-3">Is Active<span class="text-danger">*</span> :</label> <label
										style="margin-left: 50px;" class="radio-inline active">
										<input type="radio" data-ng-model="isActiveEdit"  style="margin-top:-2px"
										name="isActive" id="inlineRadio1 customRadio"
										checked="checked" value="Y"> Y
									</label> <label style="margin-left: 50px;" class="radio-inline ">
										<input type="radio" data-ng-model="isActiveEdit"  style="margin-top:-2px"
										name="isActive" id="inlineRadio2 customRadio" value="N"
										checked> N
									</label> <input type="hidden" id="projectID"  style="margin-top:-2px"
										class="form-control form-control-sm col-md-7"
										data-ng-model="projectID" name="projectID">
								</div>
								<div class="row">
									<label for="heard" class="col-md-3"
										data-ng-init="showBugToolActive()">Bug Tracking Tool <span class="text-danger">*</span></label> <select
										id="BugTracking" class="form-control form-control-sm col-md-7"  style="margin-top:-2px"
										data-ng-model="bugTrackingEdit" required>
										<option selected value="" disabled>None</option>
										<option data-ng-repeat='row in showActiveBugTracker'
											value="{{row.toolid}}">{{row.userDefinedToolName}}</option>
										<!-- <option value="">Choose..</option>
									<option value="Jira">Jira</option>
									<option value="Bugzilla">Bugzilla</option> -->
 
									</select>
								</div>

								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
										
										
									</div>
								</div>
							</form>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
					<button type="submit" data-ng-click="EditProject()" 
											id="editsubmit" class="btn btn-success">Submit</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>
		
	<!-- 	<!-- -confirm boxxxxxx--edit project----------- -->
	<div id="confirmation-dialog-Edit-Project" class="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Alert</h4>
					</div>
					<div class="modal-body">
						<div class="span5">Are you sure you want to edit? </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="">Yes</button>
					</div>
				</div>
			</div>
	</div>
	<!-- end------------------- --> 
<script>

$(".fa-calendar").on("click", function(){
    $(this).siblings("input").datepicker("show");    
});
var startDate = $('input[name="pStdAteEdit"]'); // Our date input has the name "date"
var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
startDate.datepicker({
  format: 'mm/dd/yyyy',
  container: container,
  todayHighlight: true,
  autoclose: true,
  startDate: '01/01/2000', // <-- THIS WORKS
  endDate: '12/31/2050'
});

/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
 */
var endDate = $('input[name="pEndAteEdit"]'); // Our date input has the name "date"
var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
endDate.datepicker({
  format: 'mm/dd/yyyy',
  container: container,
  todayHighlight: true,
   autoclose: true,
  startDate: '01/01/2000', // <-- THIS WORKS
   endDate: '12/31/2050'
 // startDate: truncateDate(new Date()) // <-- THIS WORKS
});


 var startDate = $('input[name="fromDate"]'); // Our date input has the name "date"
var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
startDate.datepicker({
  format: 'mm/dd/yyyy',
  container: container,
  todayHighlight: true,
  autoclose: true,
  startDate: '01/01/2000', // <-- THIS WORKS
  endDate: '12/31/2050'
});



 var endDate = $('input[name="toDate"]'); // Our date input has the name "date"
var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
endDate.datepicker({
  format: 'mm/dd/yyyy',
  container: container,
  todayHighlight: true,
  autoclose: true,
  startDate: '01/01/2000', // <-- THIS WORKS
  endDate: '12/31/2050'
 // startDate: truncateDate(new Date()) // <-- THIS WORKS
});

     
   
   

</script>