<link rel="stylesheet" href="css/custom.maindiv.css">
<style>
.chartscale {
	transform: scale(0.9);
}

.graphHeading {
	color: blue;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.leftChart {
	padding-right: 2px;
	margin-top: 4px;
}

.rightChart {
	padding-left: 2px;
	margin-top: 4px;
}

.select2-selection {
	height: 4vh;
}

.select2-container--open .select2-dropdown {
width: 250.891px;

}
.select2-columnlist-results{
width: 250.891px;
}

.select2-container--default .select2-results>.select2-results__options {
	/*  max-height: 200px;
    overflow-y: auto;
    margin-left: 51%; */
	
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered
	{
	height: 4vh !important;
}

.select2-container--default .select2-selection--multiple:focus {
	border-color: #3c8dbc !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li
	{
	list-style: none;
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	color: green;
}

.select2-container {
	width: 15vw !important;
}

.select2-container--open .select2-dropdown {
	/* width: 48vw !important;
    left: -232px !important; */
	
}

.select2-results__option[aria-selected] {
	cursor: pointer;
	width: 25vh !important;
	float: left !important;
	font-size: 11px;
	font-weight: 600;
}

.select2-results__option:before {
	height: 16px !important;
	width: 15px !important;
}

.select2-container--default .select2-results>.select2-results__options {
	/* max-height: 200px; */
	/* overflow-y: auto; */
	/* margin-left: 51%; */
	
}

.select2-container--default .select2-selection--multiple {
	border-width: 2px;
	height: 1.5px;
}

.select2-container .select2-search--inline .select2-search__field {
	box-sizing: border-box;
	border: none;
	font-size: 100%;
	margin-top: -1px;
	margin-left: 13px;
	padding: 0;
}

.reportBtn {
	height: 5vh;
	width: 10vw;
	font-size: 11px;
	margin: 3px;
}

.form-control {
	border: 2px solid #7a848e9c !important;
	border-radius: 5px;
	height: 33px;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
</style>




<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;"
				data-ng-click="backToTestRun()">Test Reports</a></li>
			<li class="breadcrumb-item active" data-ng-show='showRunName'>{{testRunName}}</li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="suitesOverview">

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-12 noPadding-left">

				<!-- Main Dashboard View  -->
				
				
				<div class="col-md-12 heading">
					<div class="row">
						<div class="col-md-10">Test Reports</div>
						 <div class="col-md-2">
							<button type="button" value=""
								data-ng-click="downloadReport('TCReport','TCReport')"
								class="btn btn-primary pull-right reportBtn">
								<span class="fa fa-download"></span> Export CSV
							</button>
						</div> 
						<!-- <div class="col-md-2">
<button type="button" value=""
data-ng-click="downloadPDFReport('TCReport','TCReport')"
class="btn btn-primary pull-right reportBtn">
<span class="fa fa-download"></span> Export PDF
</button>
</div> -->
					</div>
				</div>
				<div class="col-md-12 allProjects">
					<div class="row" style="padding-left: 2%; background: whitesmoke;">

						<div class=" col-md-2 ">
							<label class="control-label" for="">Select Test Run<span
										class="createCompulsory" style="color: red;">*</span></label>
							<div class="form-control-content" data-ng-init="getAllRunName()">
								<select class="form-control form-control-sm" name="testsuite"
									id='testSuitesName' data-ng-model="runListSelected"
									data-ng-change="changeRunName(runListSelected)"
									data-ng-options="runList as runList.runName for runList in allRunList">
									<option disabled value='' selected>--Select--</option>
									<!-- <option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option> -->
								</select>
							</div>
						</div>
						<div class=" col-md-2 ">
							<label class="control-label" for="">Select Test ReRun<span
										class="createCompulsory" style="color: red;">*</span></label>
							<div class="form-control-content">
								<select class="form-control form-control-sm" name="testsuite"
									id='testSuitesName' data-ng-model="rerunListSelected"
									data-ng-options="runList as runList.rerunname for runList in rerunname">
									<option disabled value='' selected>--Select--</option>
									<!-- <option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option> -->
								</select>
							</div>
						</div>


						<div class=" col-md-2 ">
							<label class="control-label" for="">Select Action</label>
							<div class="form-control-content">
								<select class="form-control form-control-sm" name="testsuite"
									id='testcaseAction'
									data-ng-init="createRunObj.testSuitesId='null'"
									data-ng-model="testCaseAction.testCaseAction"
									data-ng-change="checkAction()">

									<option value=''>--Select---</option>
									<option value='NULL' data-ng-disabled="disableOpt || disblestatus">NULL</option>
									<option value='Not Started' data-ng-disabled="disableOpt || !disblestatus">Not
										Started</option>
									<option value='Completed' data-ng-disabled="disableOpt || !disblestatus" >Completed</option>
									<option value='On Hold' data-ng-disabled="disableOpt || !disblestatus">On
										Hold</option>
									<option value='Under Review' data-ng-disabled="disableOpt || !disblestatus">Under
										Review</option>
									<option value='N/A' data-ng-disabled="disableOpt || !disblestatus">N/A</option>
																		<option value='Pass' data-ng-disabled="disableOpt || !disblestatus">Pass</option>
									
									<!-- <option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option> -->
								</select>
							</div>
						</div>


						<div class=" col-md-2 ">
							<label class="control-label" for="">Select Status</label>
							<div class="form-control-content" data-ng-init="status=''">
								<select class="form-control form-control-sm" id='status'
									data-ng-change="switchdiv()" data-ng-model="status">
									<option value='' selected>--Select---</option>
									<option value='Pass' data-ng-if="notcompleted">Pass</option>
									<option value='Fail' data-ng-if="notcompleted">Fail</option>
									<option value='Blocked-Showstopper' >Blocked-Showstopper</option>
									<option value='Blocked-Undelivered' >Blocked-Undelivered</option>
									<option value='Blocked-Testdata' >Blocked-Testdata</option>
									<option value='Blocked-FSD not clear'>Blocked-FSD not clear</option>
									<option value='NA'>NA</option>
									<option value='Deferred'>Deferred</option>
									<option value='NE'>NE</option>
									<option value='On Hold'>On Hold</option>
									<option value='Duplicate'>Duplicate</option>
									<option value='Out of Scope'>Out of Scope</option>
									<option value='Partially Pass'>Partially Pass</option>
														<!-- <option value='Blocked'>Blocked</option> -->
									<!-- <option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option> -->
								</select>
							</div>
						</div>
						<div class=" col-md-3">
							<!-- <select class="reportColumnList" id="pagelist"
multiple="multiple" name="pageAccess[]">
<option disabled>Select Multiple</option>
<option >id</option>
<option >name</option>
<option >tcid</option>
</select> -->

							<label class="control-label" for="">Select Columns<span
										class="createCompulsory" style="color: red;">*</span></label>&nbsp;&nbsp;&nbsp;
							<input type='checkbox' id="selectCheckBox" data-ng-model='selMul'
								data-ng-click='selectMultiple()'><label style="padding-left:7px;">Select
								All</label> <select
								class="form-control mdb-select validate md-form reportColumnList"
								multiple id="columnlist" name="columnList['']">
								<option data-ng-repeat="key in items" value="{{key.title}}">{{key.title}}</option>
							</select>
						</div>
						<div class="form-group col-md-1" style="margin-left: -30px;">
							<div>
								<button type="submit" data-ng-click="getRunReport()"
									class="btn btn-primary" id="testtext">Submit</button>
							</div>
						</div>


					</div>

				</div>
				<div class="row" data-ng-show='showRunDetails'
					style="margin-top: 9px;">
					<div class="col-md-12"
						style="height: 67vh; overflow-y: auto; overflow-x: auto;">

						<!-- Main Dashboard View  -->

						<div>
							<div class="col-md-12 allProjects"
								style="margin-left: 1.5%; border-left: 1px dotted;">
								<table class="table table-hover table-sm testcase" id="TCReport"
									style="">
									<thead class="thead-light" id="header-fixed">
										<tr>
											<!-- <th><input type="checkbox" id="selectAllCase"
title='Select All'></th> -->
											<th data-ng-repeat="key in items1 ">{{key.title}}</th>

										</tr>
									</thead>
									<tbody id="bodytest">
										<tr style="color: #327ca7;" 
											data-ng-repeat="testcase in allRunListReport | filter:testCaseAction | filter:{'status' :status}">


											<td data-ng-repeat="key in items1"
												data-ng-init="abc=getRowVal(testcase,key.value)"><span
												data-ng-if="key.value=='testCaseSrNo'">TC_</span> <span
												data-ng-if="key.value=='dateOfExec'">{{abc |
													date:"dd-MM-yyyy HH:mm:ss"}}</span> <span
												data-ng-if="!(key.value=='dateOfExec')">{{abc}}</span></td>
											<!-- <td data-ng-if="testcase.testCaseSrNo" ><input type="checkbox" class="caseCheckbox"></td> -->
											<!-- <td data-ng-if="tableHeadingList | contains:wine.Id" >{{testcase.groupName}}</td>
<td  >TC_{{testcase.testCaseSrNo}}</td>
<td data-ng-if="">scenarioID</td>
<td data-ng-if="">scenarios</td>
<td data-ng-if="">functionality</td>
<td data-ng-if="">testCaseType</td>
<td   style="color: blue;"><a class='caseTitle'>{{testcase.testDescription}}</a></td>
<td  ><span class='caseTitle'  style="color: {{getColorCode(testcase.status)}};">{{testcase.status}}</span></td>
<th data-ng-if="">dateOfExec</th>
<td data-ng-if="">browser</td>
<td data-ng-if="">testData</td>
<td data-ng-if="">steps</td>
<td data-ng-if="">expectedResult</td>
<td data-ng-if="">actualResult</td>
<td ><span style="color: {{getColorCodeAction(testcase.testCaseAction)}};" class='caseTitle'>{{testcase.testCaseAction}}</span></td>
<td data-ng-if="testcase.testCaseSrNo" > <i class='fa fa-edit table-ico'
data-ng-click="editTestCaseOfRun(testcase)"></i></td>
<td data-ng-if="">testerComment</td> -->
										<!-- <td data-ng-if="testcase.testCaseSrNo==null" colspan="6"
												style="color: red;">No TestCases Found...Kindly add
												below</td> -->
										</tr>
									</tbody>
								</table>
								<p id="errorid"></p>
							</div>
						</div>
					</div>
					<!-- ./Main Dashboard View  -->

					<!-- Side Nav View -->

					<!-- Side Nav View -->

				</div>
			</div>


			<!-- ./Main Dashboard View  -->

			<!-- Side Nav View -->

		</div>
		<!-- ./Main Content -->


	</div>


	<div class="caseDetails" data-ng-show='showSuitesDetails'></div>

<script>
	$(document).ready(function() {
		document.getElementById("errorid").innerHTML = '';
	    $("#testtext").click(function(){
	    	var rowCount = $('#TCReport tr').length;
	    	if (rowCount == 1) {
	    		error = "No TestCases Found....";
	            document.getElementById("errorid").innerHTML = error;
	    	   
	    	}else{
	    		
	    		document.getElementById("errorid").innerHTML = '';
	    	}
	    }); 
	    $('#status').on('change', function() {
	    	var rowCount = $('#TCReport tr').length;
	    	if (rowCount == 1) {
	    		error = "No TestCases Found....";
	            document.getElementById("errorid").innerHTML = error;
	    	   
	    	}else{
	    		
	    		document.getElementById("errorid").innerHTML = '';
	    	}
	    	});
	});
</script>