<link rel="stylesheet" href="css/custom.maindiv.css">
<script src="js/mailvalidation.js"></script>
<style>
.d_mand{
	color:red;
}
[id^="selectCheckBox"]{
	margin: 4px;
}
.graph_wrap{
/* background-color: whitesmoke !important; */
}
.datepickerinput{
    height: 5vh !important;
}
.progressbar {
	height: 50px;
	width: 100px;
}

.errspan1 {
float: right;
    margin-left: -5%;
    /* margin-right: -11px; */
    margin-top: 19px;
    position: relative;
    z-index: 2;
    color: black;
     
}
.projectdetail {
	background: #a9d7e7;
	font-size: 17px;
	font-family: initial;
	margin-top: 0%;
}

#chartdiv123 {
	margin-top: 18%;
	height: 69%;
}

#chartdiv {
	height: 39vh;
}

.amcharts-chart-div>a {
	display: none !important;
}

.graphHeading {
	color: blue;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.leftChart {
	padding-right: 2px;
	margin-top: 4px;
}

.rightChart {
	padding-left: 2px;
	margin-top: 4px;
}

.table td, .table th {
	/* padding: .75rem; */
	vertical-align: top;
	border-top: 1px solid black;
}

th {
	height: 10%;
}

.table>thead>tr>th {
	border-bottom: 2px solid #f4f4f4;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
	padding: 5px;
	font-size: 13px;
}

.tableheader {
	/* background: #2278d4; */
	/* font-size: medium; */
	font-family: serif;
	/* color: white; */
	font-size: 7px;
	height: 30px;
	color: #444;
	background-color: #a9d7e8;
}

.tablebody {
	font-size: 88%;
	font-family: serif;
}

button, select {
	text-transform: none;
}

.graph_container {
	display: block;
	width: 600px;
}

.scrollcheck {
	/* margin-top: 8%; */
	margin-left: 0%;
	margin-right: 5px;
	/* width: 118%; */
	border: 1px solid #d2d6de;
	overflow: auto;
}

.search {
	height: 16%;
	width: 9%;
	margin-top: 10%;
	margin-left: 91%;
	font-family: -webkit-body;
}

.card {
	width: 11rem !important;
}

.row.card_row {
	/* margin-left: 0px; */
	margin-right: 12px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #5d363629;
	padding: 5px;
	font-size: 11px;
}

#sortable tbody {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* width: 60%; */
	color: #1b78bf !important;
}

.errspan {
	float: right;
	margin-left: -3%;
	/* margin-right: 6px; */
	margin-top: 7px;
	position: relative;
	z-index: 2;
	color: black;
}

.editicon {
	font-size: 96%;
	margin-left: 5%;
}

.right-side-nav {
	min-height: 72vh;
	background: transparent;
}

.testcase tr {
	text-align: center;
}

.select2-selection{
	height: 4vh;
}

.select2-container--default .select2-results>.select2-results__options {
   /*  max-height: 200px;
    overflow-y: auto;
    margin-left: 51%; */
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
height: 4vh !important;
}
.select2-container--default .select2-selection--multiple:focus {
    border-color: #3c8dbc !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: green;
    margin-top: 0.3rem; 
}

 .select2-container {
	width: 15vw !important;
} 
.select2-container--open .select2-dropdown {
    /* width: 48vw !important;
    left: -232px !important; */
}
.select2-results__option[aria-selected] {
        cursor: pointer;
    width: 25vh !important;
    float: left !important;
    font-size: 11px;
    font-weight: 600;
}
.select2-results__option:before {
  
    height: 16px !important;
    width: 15px !important;

}

.select2-container--default .select2-results>.select2-results__options {
    /* max-height: 200px; */
    /* overflow-y: auto; */
    /* margin-left: 51%; */
}
.select2-container--default .select2-selection--multiple {
    border-width: 2px;
    height: 1.5px;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: -1px;
    margin-left: 13px;
    padding: 0;
}
.resource{
font-size: 12px;
    font-weight: 900;
    padding-left: 16px;
    font-family: monospace;
    background-color: #d2d6de66;
    margin: 5px 0px;
}
.table td,.table th{
border: 1px solid #00000030 !important;
}
</style>
<script>
/* $("select").on("select2:select", function (evt) {
	  var element = evt.params.data.element;
	  var $element = $(element);
	  
	  $element.detach();
	  $(this).append($element);
	  $(this).trigger("change");
	}); */
$('select').on('select2:close', function (evt) {
	var uldiv = $(this).siblings('span.select2').find('ul')
	  var count = $(this).select2('data').length
      if(count<2){
        uldiv.html("<li>"+count+" item selected</li>")
      }
      else{
	 	uldiv.html("<li>"+count+" items selected</li>")}
 	
});
</script>


<div class="container-fluid dashboard_wrap">

	<div class="row noMargin-left">
		<div class="col-md-12 noPadding-left">

			<div class="col-md-12 heading" style="margin-left: -5px">
				<div data-ng-init="getResourcesGraph1()" style="margin-left: -11px">Resource Summary</div>
			</div>
			<div class="row">
				<div class='col-md-2'>
					<label>Select Run<span class="d_mand">*</span></label> 
					<input type='checkbox' id="selectCheckBoxRun" data-ng-model='selMulRun' data-ng-click='selectMultipleRun()'><label>Select All</label>
					<select class="mdb-select validate md-form test runList"
						multiple id="RunListList" name="reRunListList['']">
						<option data-ng-repeat="key in allRunList" value="{{key.id}}">R_{{key.id}}_{{key.runName}}</option>
					</select>
				</div>
				<div class='col-md-2'>
					<label>Select User<span class="d_mand">*</span></label> 
					<input type='checkbox' id="selectCheckBoxUser" data-ng-model='selMulUser' data-ng-click='selectMultipleUser()'><label>Select All</label>
					
					<select class="mdb-select validate md-form test1 testerList"
						multiple id="testerList" name="testerList['']">
						<option data-ng-repeat="key in userList" value="{{key.id}}">{{key.name}}</option>

					</select>
				</div>
				<div class='col-md-2'>
					<label>Start Date<span class="d_mand">*</span></label> <input type="text" id="fromDate" name="fromDate"
										class="form-control datepicker datepickerinput" data-ng-model='fromDate' placeholder={{fromDate}}
										style="margin-right: 0px;"  autocomplete="off" readonly/><span
										class="fa fa-calendar errspan1" aria-hidden="true" style=" margin-top: -25px; margin-right: 6%;"></span>
				</div>
				<div class='col-md-2'>
					<label>End Date<span class="d_mand">*</span></label> <input type="text" id="toDate" name="toDate"
										class="form-control datepicker datepickerinput" data-ng-model='toDate' placeholder={{toDate}}
										style="margin-right: 0px;"  autocomplete="off" readonly /><span
										class="fa fa-calendar errspan1" aria-hidden="true" style="margin-top: -25px; margin-right: 6%;"></span>
				</div>
				<div class='col-md-1'>
					<button type="submit" data-ng-click="getResourcesGraph1()"
						class="btn btn-primary" id="resoucesSubmit"
						style=" padding: 4px 10px; margin-top: 29px;">Submit</button>
				</div>


			</div>
			<div class="row noMargin">
				<div class='col-md-6 graph'>
					<div class="graph_wrap">
						<h6 style="text-align: center; color: chocolate;">Resource
							Wise Execution Efforts</h6>
						<canvas id="runChart" ></canvas>

					</div>
				</div>
				<div class='col-md-6 graph'>
					<div class="graph_wrap">
						<h6 style="text-align: center; color: chocolate;">Date Wise Execution Efforts</h6>
						<div id="ResourceChart1"></div>

					</div>
				</div>

			</div>

		</div>
	</div>
	<div class="x_content" style="height: 60vh;">
		<div class='row resource' style="padding-top: 3px;">
			<div class='col-md-2 modaloverview' style="color: #0078d4">Total Tester: {{testerCount}}</div>
			<div class='col-md-2 modaloverview' style="color: #591b9c">Total Run: {{runCount}}</div>
			<div class='col-md-2 modaloverview' style="color: #8b9c2e">Total Status: {{statusCount}}</div>
			<div class='col-md-2 modaloverview' style="color: green">Total Pass: {{passCount}}</div>
			<div class='col-md-2 modaloverview' style="color: #a04915">Total Fail: {{failCount}}</div>
			<div class='col-md-2'><input ng-model="searchText" placeholder="Search Item"  type="search"></div>
		</div>
		<table class="table table-hover table-sm testcase" id="example"
			style="">
			<thead class="tableheader">
				<!-- 		style="color:black; background-color: #a9d7e7" -->
				<tr>
					<th>Tester Name</th>
					<th>Total Executed</th>
					<th>Pass</th>
					<th>Fail</th>
					<th>Time Spent(Execution)</th>
					<th>Total Prepared</th>
					<th>Time Spent(Preparation)</th>
					
				</tr>
			</thead>
			<tbody class="tablebody" data-ng-if="!(tableData=='No Data Available')">
				<tr data-ng-repeat="data in tableData | filter : searchText">
					<td>{{data.testerName}}</td>
					<td>{{data.exeCount}}</td>
					<td>{{data.exePass}}</td>
					<td>{{data.exeFail}}</td>
					<td>{{data.exeTime}}</td>
					<td>{{data.prepCount}}</td>
					<td>{{data.prepTime}}</td>
				</tr>

			</tbody>
		</table>
	</div>
	<!-- <div class="row" style="margin-top: -9%;">
		<div class='col-md-12 noPadding'>
			<div class="row noMargin-left noMargin-right">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<input ng-model="searchText" placeholder="search item"
						class=" ng-valid ng-dirty" type="search"><span
						class="fa fa-search errspan"></span>
				</div>
			</div>

			<table class="table table-hover table-sm testcase" id="example"
				style="">
				<thead class="tableheader">
					<tr>
						<th height="100" style="text-align: center; border: 1px solid;">Run
							Name</th>
						<th style="text-align: center; border: 1px solid;">Round</th>
						<th style="text-align: center; border: 1px solid;">TestCases</th>
						<th colspan="4" style="text-align: center; border: 1px solid;">Execution
							Status</th>
						<th colspan="2" style="text-align: center; border: 1px solid;">Pass/Fail</th>
						<th colspan="4" style="text-align: center; border: 1px solid;">Defect
							Severity</th>
						<th colspan="3" style="text-align: center; border: 1px solid;">Defect
							Status</th>
					</tr>
							style="color:black; background-color: #a9d7e7"
					<tr>
						<th height="100"">Run Name</th>
						<th>Current Round</th>
						<th>TestCases</th>
						<th>Completed</th>
						<th>On Hold</th>
						<th>Under Review</th>
						<th>Not Started</th>
						<th>Pass</th>
						<th>Fail</th>
						<th>Critical</th>
						<th>Major</th>
						<th>Minor</th>
						<th>Blocker</th>
						<th>Open</th>
						<th>Closed</th>
						<th>Reopen</th>
					</tr>
				</thead>
				<tbody class="tablebody">

				</tbody>
			</table>
		</div>
	</div> -->

</div>

<script>
$(".fa-calendar").on("click", function(){
    $(this).siblings("input").datepicker("show");    
});

	var startDate = $('input[name="fromDate"]'); // Our date input has the name "date"
	var container = $('.bootstrap-iso form').length > 0 ? $(
			'.bootstrap-iso form').parent() : 'body';
			startDate.datepicker({
		format : 'mm/dd/yyyy',
		container : container,
		todayHighlight : true,
		autoclose : true,
		startDate : '01/01/2000', // <-- THIS WORKS
		endDate : '12/31/2050'
	});

	/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	 */
	var endDate = $('input[name="toDate"]'); // Our date input has the name "date"
	var container = $('.bootstrap-iso form').length > 0 ? $(
			'.bootstrap-iso form').parent() : 'body';
	endDate.datepicker({
		format : 'mm/dd/yyyy',
		container : container,
		todayHighlight : true,
		 autoclose: true,
		startDate : '01/01/2000', // <-- THIS WORKS
		endDate : '12/31/2050'
	// startDate: truncateDate(new Date()) // <-- THIS WORKS
	});	

	/* $('#datepicker').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	 */
	function truncateDate(date) {
		return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	}
	
	$("#resoucesSubmit").click(function(e){
		
		   var startdate1=$("[name='fromDate']").val();
		   var enddate1=$("[name='toDate']").val();
		   if(new Date(enddate1)<new Date(startdate1))
		   {
			   alert("Please select 'End Date' greater than 'Start Date' !!");
			   e.stopImmediatePropagation();
			   return false;  
		   }
		});

</script>