<style>

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

</style>
<link rel="stylesheet" href="css/custom.maindiv.css">
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetailsAuto.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;">Controller And Datasheet</a></li>
			<!-- <li class="breadcrumb-item active" data-ng-show='showRunName'>{{testRunName}}</li> -->
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<div class="row">
	<div class="col-md-10">
		<div>
			<div class="col-md-12 heading">
				Controller And Datasheet
				<span id="controllerAndDatasheet" style="color: #dc3545;font-size: 13px; margin-left: 2vh;"></span>
			</div>
			<div class="row container">
			  <div class="col-md-6">
			      <form id="controllerSheetForm" enctype="multipart/form-data">
		              <div class="form-group files color">
		                <label>Upload Your Controller </label>
		                <input type="file" id="controllerSheetFile" class="form-control" оnchange="angular.element().scope().checkFileType()">
		              </div>
			           <div style="margin-bottom: 5px;">
			          	<button data-ng-click="checkControllerFile()">Submit</button>
			          </div>
		          </form>
		          <!-- <div>
		          	<span data-ng-if="!(controllerName==null)">{{controllerName}}	<i class="fa fa-download" aria-hidden="true"></i></span>
		          </div> -->
			  </div>
			   <div class="col-md-6">
			      <form id="dataSheetForm" enctype="multipart/form-data">
		              <div class="form-group files color">
		                <label>Upload Your Datasheet </label>
		                <input type="file" id="dataSheetFile" class="form-control" data-ng-click="checkFileType()">
		              </div>
		              <div>
			          	<button data-ng-click="uploadDataSheets()">Submit</button>
			          </div>
		          </form>
		          <!-- <div>
		          	<span data-ng-repeat="names in dataSheetName" data-ng-if="!(names==null)">{{names}}		<i class="fa fa-download" aria-hidden="true"></i></span>
		          </div> -->
			  </div>
			</div>
		</div>
		<div>
			<div class="col-md-12 heading">
				Download Controller And Datasheet
				<span id="downloadControllerAndDatasheet" style="color: #dc3545;font-size: 13px; margin-left: 2vh;"></span>
			</div>
			<div class="row container">
				<!-- <div class="col-md-6">
			    	<span data-ng-if="!(controllerName==null)">{{controllerName}}	<a style="cursor: pointer;" data-ng-href="/TMT/api/downloadAutoFile?type=controller&fileName={{controllerName}}&projectName={{projectName}}"><i class="fa fa-download" aria-hidden="true"></i></a></span>
				</div>
				<div class="col-md-6">
			    	<span data-ng-repeat="names in dataSheetName" data-ng-if="!(names==null)">{{names}}	<a style="cursor: pointer;" data-ng-href="/TMT/api/downloadAutoFile?type=datasheets&fileName={{names}}&projectName={{projectName}}"><i class="fa fa-download" aria-hidden="true"></i></a></span>
				</div> -->
				<div class="col-md-6">
					<table class="table">
						<thead>
							<tr>
								<th>Controller</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-if="!(controllerName==null)">
								<td><span>{{controllerName}}</span></td>
								<td><a style="cursor: pointer;" data-ng-href="/TMT/api/downloadAutoFile?type=controller&fileName={{controllerName}}&projectName={{projectName}}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
								<td><a data-ng-click="deleteFileConfirmation('controller', controllerName)"><i class="fa fa-trash-o text-danger"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table">
						<thead>
							<tr>
								<th>Datasheets</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="names in dataSheetName" data-ng-if="!(names==null)">
								<td><span >{{names}}</span></td>
								<td></td>
								<td><a style="cursor: pointer;" data-ng-href="/TMT/api/downloadAutoFile?type=datasheets&fileName={{names}}&projectName={{projectName}}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
								<td><a data-ng-click="deleteFileConfirmation('datasheets', names)"><i class="fa fa-trash-o text-danger"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 right-side-nav" style="padding-right: 3px;">
		<div class="btn-wrap">
			<div class="row">
				<!-- <div class="col-md-4">
					<button type="button" class="btn btn-outline-primary btn-sm add-btn" data-ng-click="showModalForTestGroup()" style="margin-left: -29%;">
						<i class="fa fa-plus-circle"></i> Add Group
					</button>
				</div>
				<div class="col-md-8">
					<button type="button" class="btn btn-outline-primary btn-sm add-btn" style="margin-left: 1%;">
						<a style="cursor: pointer;" data-ng-href="/TMT/api/downloadTemplate" href="/TMT/api/downloadTemplate">Download Template</a>
					</button>
				</div> -->
			</div>
		</div>
	</div>
	</div>
	
</div>

<!-- <div>
	<div id="ss" style="height: 500px; width: 800px"></div>
	<iframe id="serviceFrameSend" data-ng-src=file://D:/Lipu/TMT_Project/TMT/AutoProjects/ICICI/Main_Controller.xlsx width="1000" height="1000" frameborder="0"></iframe>
</div> -->

	<!-- -confirm boxxxxxx------------- -->
<div id="controller-confirmation" class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Alert!!!</h4>	
					</div>
					<div class="modal-body">
						<div class="span5">Main_Controller already exists.... Do you want to override?</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" data-ng-click="uploadControllerFile()">Yes</button>
					</div>
				</div>
			</div>
</div>

<!-- -confirm boxxxxxx datasheet------------- -->
<div id="datasheet-confirmation" class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Alert!!!</h4>	
					</div>
					<div class="modal-body">
						<div class="span5">{{shettname}} already exists.... Do you want to override?</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" data-ng-click="dataSheetUpload()">Yes</button>
					</div>
				</div>
			</div>
</div>
	<!-- -file delete confirm box //03_06_2020------------- -->
<div id="confirm-file-delete" class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Alert!!!</h4>	
					</div>
					<div class="modal-body">
						<div class="span5">Do you want to delete {{toBeDeleted}}?</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-primary" data-ng-click="deleteFile()">Yes</button>
					</div>
				</div>
			</div>
</div>
<script type="text/javascript">

/* $http.get('resources\application.properties').then(function (response) {
    $scope.automationPath = response.data.TestString;
    //$scope.BooleanValue = response.data.BooleanValue;
       //console.log('TestString is ', response.data.TestString);
       //console.log('BooleanValue is ', response.data.BooleanValue);            
     }); */
/* 	window.оnload = function()
	{
		var spread = new GC.Spread.Sheets.Workbook(document.getElementById("ss"),{sheetCount:3});
		var sheet = spread.getActiveSheet(); 
		// Overflow display is enabled.
	    activeSheet.options.allowCellOverflow = true;
	  //Set to be always in input mode.
	     spread.bind(GC.Spread.Sheets.Events.EnterCell, function (event, data) {
	         var sheet = data.sheet;
	         activeSheet.startEdit(false);
	     });
		   $("#btn1").click(function () {
               $("head").append($('<link href="https://code.jquery.com/ui/1.8.12/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" type="text/css" />'));
               setTimeout(
                   function () {   
                       spread.repaint();
                   }, 500);
           });
	} */

</script>
	<!-- end------------------- -->