<head>
  
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <!-- Simple Line Icons -->
    <script src="js/sortingTable.js"></script>

<style>
.res_status, #res_status {
	font-size: 56%;
	width: 96%;
	text-align: center;
	/* padding: 25px; */
	margin: 4px;
	font-weight: 800;
	overflow: hidden;
	background-color: #f8f9fa;
}

table#res_status tr td:first-child {
	min-width: 4vw;
	color: white;
}
 
.suits-icons2 {
	width: 11% !important;
	height: 87px !important;
	border: 1px solid black;
	/* background: #0078d4; */
	margin-right: 1%;
	background: white !important;
}

.card-header {
	padding: 0rem 1.25rem;
}

.card-body {
	padding: 0px 46px;
}

.accordion .fa {
	margin-right: 0.5rem;
}

.errspan {
	margin-left: -4%;
	margin-top: 7px;
	/* font-size: 111%; */
	z-index: 100;
}

.chartscale {
	transform: scale(0.9);
}

.graphHeading {
	color: blue;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.leftChart {
	padding-right: 2px;
	margin-top: 4px;
}

.rightChart {
	padding-left: 2px;
	margin-top: 4px;
}

.legend {
	height: 3vh;
	width: 0px !important;
	max-width: 0px;
}

.legendName {
	font-size: 9px;
	/* margin-left: -11px; */
	margin-right: -28px;
	padding-left: 4px;
}

.manHourscol {
	font-size: 11px;
	font-weight: 800;
	padding: 8px 0px;
	margin: 0px 0px;
	padding-left: 23px;
	color: blue;
}

.activerun {
	height: 29vh;
	overflow-y: auto;
	/* padding: 0px; */
	/* margin: 0px; */
	overflow-x: hidden;
}

.progress1 {
	position: relative;
	margin: 4px;
	float: left;
	text-align: center;
}

.barOverflow1 { /* Wraps the rotating .bar */
	position: relative;
	overflow: hidden; /* Comment this line to understand the trick */
	width: 90px;
	height: 45px; /* Half circle (overflow) */
	margin-bottom: -14px; /* bring the numbers up */
}

.bar1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px; /* full circle! */
	border-radius: 50%;
	box-sizing: border-box;
	border: 5px solid #e61111; /* half gray, */
	border-bottom-color: #2ecc71; /* half azure */
	border-right-color: #2ecc71;
}

.passPer {
	display: inline-block;
	margin-top: 5vh;
	color: #2ecc71;
	font-weight: bold;
	font-size: 9px;
}

.modal-xxl {
	margin-top: 6vh !important;
}
</style>

<!-- <script>
	$(document).ready(function() {
		$('.time').datetimepicker({
			format : 'HH:mm:ss'

		});
	});
</script> -->


<link rel="stylesheet" href="css/custom.maindiv.css">
</head>
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;"
				data-ng-click="backToTestRun()">Test Runs And Results</a></li>
			<li class="breadcrumb-item active" data-ng-show='showRunName'>{{testRunName}}</li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="suitesOverview" data-ng-show='!showRunDetails'>

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-10 noPadding-left">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div>
						Test Runs & Results <span id='reRunstatus'
							style="color: #FF0000; font-size: 13px; margin-left: 2vh;">{{reRunStatus}}</span>
					</div>
				</div>
				<!--
<div class="col-md-12 headinge2">
                  <div><span style="margin-left: 0px;color: green;">{{doneUpload}}</span><span style="margin-left: 0px;color: red;">{{failUpload}}</span></div>
               </div> -->



				<div class="col-md-12 heading1">
					<div class="row" style="margin-top: 4px;">
						<div class="col-md-6">
							Active Run<span style="color: red; margin-left: 10px;" id="errorAR">{{erroAStatus}}</span>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-1 legend" style="background-color: #95a5a6;">

								</div>
								<div class="col-md-2 legendName" style="">Not Started</div>

								<div class="col-md-1 legend" style="background-color: #2ecc71;">

								</div>
								<div class="col-md-2 legendName" style="">Completed</div>

								<div class="col-md-1 legend" style="background-color: #f1c40f;">

								</div>
								<div class="col-md-2 legendName" style="">Under Review&nbsp;</div>

								<div class="col-md-1 legend" style="background-color: #9b59b6;">
								&nbsp;
								</div>
								<div class="col-md-2 legendName" style="">On Hold</div>
								
								<div class="col-md-1 legend" style="background-color: #d21250;">
								&nbsp;
								</div>
								<div class="col-md-2 legendName" style="">N/A</div>
								&nbsp;
								<div class="col-md-1 legend" style="background-color: #aa483b;">
								</div>
								<div class=" legendName" style="">Incomplete</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 allProjects noPadding activerun "
					>
					<div class="allProjects-wrap"
						style="padding-left: 2%; background: whitesmoke;">
						<div class="project-details"
							data-ng-repeat="active in activeRunList">
							<div class="row" style="margin-top: 0.5%;">
								<div class="suits-icons1 suits-icons2">
									<table id="res_status">
										<tr>
											<td style="background: #FFC107;"><i class="fa fa-users"></i>{{active.pass}}</td>
											<td>Total Pass</td>
										</tr>
										<tr style="height: 3px;"></tr>
										<tr>
											<td style="background: red;"><i class="fa fa-bug"></i>{{active.fail}}</td>
											<td>Total Bugs</td>
										</tr>
										<tr style="height: 3px;"></tr>

										<tr>
											<td style="background: #08af08;">{{(active.pass/active.completed)*100
												| number: 1}}</td>
											<td>Success Rates(%)</td>
										</tr>
										<tr style="height: 3px;"></tr>
										<!-- <tr>
<td style="background: #0078d4;">{{x.totalruncompleted}}</td>
<td>Run Complete</td>
</tr>
<tr style="height: 3px;"></tr> -->
									</table>

								</div>
								<div class="project-options col-md-5">
									<h6 style="color: #0078d4; cursor: pointer">
										<a  class="btn btn-link ng-binding" data-ng-click='getRunDetails(active,"Running")'>R_{{active.runId}}-{{active.runName}}_Round{{active.round}}</a>
									</h6>
									<div>
										<h6 style="font-size: 12px;">
											Initiated By <b>{{active.createdBy}}</b> on
											{{active.createdDate| date:'yyyy-MM-dd HH:mm:ss'}}
										</h6>
									</div>
									<div  >
										<h6 style="font-size: 12px; color: red;" data-ng-if="active.delayby === 'in time'">
											Target End Date is <b style="color: green;">{{active.targetEndDate}}</b>
										</h6>
										<h6 style="font-size: 12px; color: red;" data-ng-if="active.delayby != 'in time'">
											Target End Date is <b style="color: #ff0000;">{{active.targetEndDate}}</b>
										</h6>
									</div>
									<div data-ng-if ="active.testCaseNo <=1 "
										style="font-size: 14px; font-weight: 500; margin: -4px 0px;">
										Contains <span style="color: blue; font-weight: bold;">{{active.testCaseNo}}</span>
										TestCase
									</div>
										<div data-ng-if ="active.testCaseNo >1 "
										style="font-size: 14px; font-weight: 500; margin: -4px 0px;">
										Contains <span style="color: blue; font-weight: bold;">{{active.testCaseNo}}</span>
										TestCases
									</div>

								</div>
								<!-- <div class="col-md-2 ">
<div class=" progress1">
<div class=" barOverflow1">
<div id="bar{{$index}}" class=" bar1" data-ng-init="getstatusChart($index,active.pass,active.completed)"></div>
<span class="passPer">{{(active.pass/active.completed)*100 | number:0}} % Pass</span>
</div>
</div>
</div> -->
								<!-- <div class="col-md-2 ">
<canvas id="statusChart_{{$index}}" data-ng-init="getstatusChart($index)"  class="chartscale"></canvas>
</div> -->
								<div class="col-md-2 progress" style="padding: 0px;margin-top: 10px;height: 30px;border-radius: 4px;background-color: #ffff">
<div class="progress-bar" title="Not Started: {{active.notStarted}} || {{(active.notStarted/active.testCaseNo)*100 |number:2}}%" role="progressbar"
aria-valuemin="0" aria-valuemax="100" style=" max-width: 16.7%;background-color: #95a5a6;">
{{(active.notStarted/active.testCaseNo)*100 |number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Completed: {{active.completed}} || {{(active.completed/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style=" max-width: 16.7%;background-color: #2ecc71;">
{{(active.completed/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Under Review: {{active.underReview}} || {{(active.underReview/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="   max-width: 16.7%;background-color: #f1c40f;">
{{(active.underReview/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="On Hold: {{active.onHold}} || {{(active.onHold/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="   max-width: 16.7%;background-color: #9b59b6;">
{{(active.onHold/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="N/A: {{active.na}} || {{(active.na/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style=" max-width: 16.7%;background-color: #d21250;">
{{(active.na/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Action Incomplete: {{active.totalactionpass}} || {{(active.totalactionpass/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="max-width: 16.7%; background-color : #aa483b;">
{{(active.totalactionpass/active.testCaseNo)*100 | number:2}}%</div>
<!-- aria-valuemin="0" aria-valuemax="100" style="width: {{(active.totalactionpass/active.testCaseNo)*100 | number:2}}%; background-color : #aa483b;"> -->

</div>	
								<div class="col-md-1 manHourscol">
									<!-- Execution Time:{{(active.timeTake)/3600 | number:2}} hrs -->
									Execution Time:{{active.timetakendhm}}
									<div style="margin-right: -28%; margin-left: -282%;"
										data-ng-style="active.delayby === 'in time' ? {'color': 'green'} : {'color': 'red'}">
										<span data-ng-if="active.delayby === 'in time'">
											Progress : {{active.delayby}} </span> <span
											data-ng-if="active.delayby != 'in time'"> Delay :
											{{active.delayby}} </span>

									</div>
								</div>
								<div class="col-md-2" style="font-size: 27px">
									<!-- <!-- data-ng-click="editRun(active)"> -->
									<i style="padding: 2px 31px;" class='fa fa-edit table-ico'
										data-ng-click="showModalForEditRun(active)"></i><i
										class='fa fa-trash table-ico' style="color: #dc2626;"
										data-ng-click="deleteRun(active)"></i>
								</div>
							</div>
							<hr style="margin: 3px;">
						</div>
					</div>
				</div>
				<div class="col-md-12 heading1">
					<div>Completed Run</div>
				</div>
				<!-- <div class="col-md-12 allProjects noPadding activerun">
<div class="allProjects-wrap"
style="padding-left: 2%; background: whitesmoke;">
<div class="project-details"
data-ng-repeat="active in completeRunList">
<div class="row" style="margin-top: 0.5%;">
<div class="suits-icons1"></div>
<div class="project-options col-md-5">
<h6 style="color: #0078d4; cursor: pointer">
<a>R_{{active.runId}}-{{active.runName}}_Round{{active.round}}</a>
data-ng-click='getRunDetails(active)'
</h6>
<div>
<h6 style="font-size: 12px;">
Initiated By <b>{{active.createdBy}}</b> on
{{active.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}
</h6>
</div>
<div
style="font-size: 14px; font-weight: 500; margin: -4px 0px;">
Contains <span style="color: blue; font-weight: bold;">{{active.testCaseNo}}</span>
TestCases
</div>

</div>
<div class="col-md-3 progress" style="padding: 0px;margin-top: 10px;height: 30px;border-radius: 4px;">
<div class="progress-bar" title="Not Started: {{active.notStarted}}" role="progressbar"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.notStarted/active.testCaseNo)*100 |number:0}}%;background-color: #95a5a6;">
{{(active.notStarted/active.testCaseNo)*100 |number:0}}%</div>
<div class="progress-bar" role="progressbar" title="Completed: {{active.completed}}"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.completed/active.testCaseNo)*100 | number:0}}%;background-color: #2ecc71;">
{{(active.completed/active.testCaseNo)*100 | number:0}}%</div>
<div class="progress-bar" role="progressbar" title="Under Review: {{active.underReview}}"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.underReview/active.testCaseNo)*100 | number:0}}%;background-color: #f1c40f;">
{{(active.underReview/active.testCaseNo)*100 | number:0}}%</div>
<div class="progress-bar" role="progressbar" title="On Hold: {{active.onHold}}"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.onHold/active.testCaseNo)*100 | number:0}}%;background-color: #9b59b6;">
{{(active.onHold/active.testCaseNo)*100 | number:0}}%</div>
</div>
<div class="col-md-1 manHourscol">Execution
Time:{{active.timeTake}} hrs</div>
<div class="col-md-2" style="font-size: 27px">
<!-- data-ng-click="editRun(active)">
<i style="padding: 2px 31px;" class='fa fa-refresh table-ico'
data-ng-click="showModalForReRun(active)"></i><i
class='fa fa-trash table-ico' style="color: #dc2626;"
data-ng-click="deleteRun(active)"></i>
</div>
</div>
<hr style="margin: 3px;">
</div>
</div>
</div> -->
				<div class="row" style="margin-top: 4px;">
					<div class="accordion col-md-12" id="accordionExample">
						<div class="card1" data-ng-repeat="(key, value) in completeRunList">
							<div class="card-header row" id="headingOne">
								<h2 class="mb-0 col-md-6 ">
									<button type="button" class="btn btn-link"
										data-toggle="collapse" data-target="#collapseOne{{$index}}">
										<i class="fa fa-plus"></i> R_{{key}}-{{value.runName}}(id={{value.reRunList[0].testSuitesId}})
									</button>
								</h2>
								<div class='col-md-4'>Contains {{value.totalReRunCount}}
									Round</div>
								<div class='col-md-2'>
									Rerun <i style="padding: 11px 31px;"
										class='fa fa-refresh table-ico'
										data-ng-click="showModalForReRun(key, value.reRunList[0].testSuitesId)"></i>
								</div>
							</div>
							<div id="collapseOne{{$index}}" class="collapse"
								aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<div class="project-details"
										data-ng-repeat="active in value.reRunList">
										<div class="row" style="margin-top: 0.5%;">
											<div class="suits-icons1 suits-icons2">
									<table id="res_status">
										<tr>
											<td style="background: #FFC107;"><i class="fa fa-users"></i>{{active.pass}}</td>
											<td>Total Pass</td>
										</tr>
										<tr style="height: 3px;"></tr>
										<tr>
											<td style="background: red;"><i class="fa fa-bug"></i>{{active.fail}}</td>
											<td>Total Bugs</td>
										</tr>
										<tr style="height: 3px;"></tr>

										<tr>
											<td style="background: #08af08;">{{(active.pass/active.completed)*100
												| number: 1}}</td>
											<td>Success Rates(%)</td>
										</tr>
										<tr style="height: 3px;"></tr>
										<!-- <tr>
<td style="background: #0078d4;">{{x.totalruncompleted}}</td>
<td>Run Complete</td>
</tr>
<tr style="height: 3px;"></tr> -->
									</table>

								</div>
											<div class="project-options col-md-5">
												<h6 style="color: #0078d4; cursor: pointer">
													<a class="btn btn-link ng-binding" data-ng-click='getRunDetails(active,"Completed")'>R_{{active.runId}}-{{active.runName}}_Round{{active.round}}</a>
													<!-- data-ng-click='getRunDetails(active)' -->
												</h6>
												<div>
													<h6 style="font-size: 12px;">
														Completed By <b>{{active.createdBy}}</b> on
														{{active.actualEndDate | date:'yyyy-MM-dd HH:mm:ss'}}
													</h6>
												</div>
												<div
													style="font-size: 14px; font-weight: 500; margin: -4px 0px;">
													Contains <span style="color: blue; font-weight: bold;">{{active.testCaseNo}}</span>
													TestCases
												</div>

											</div>
													<div class="col-md-2 progress" style="padding: 0px;margin-top: 10px;height: 30px;border-radius: 4px;">
<div class="progress-bar" title="Not Started: {{active.notStarted}} || {{(active.notStarted/active.testCaseNo)*100 |number:2}}%" role="progressbar"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.notStarted/active.testCaseNo)*100 |number:2}}%;background-color: #95a5a6;">
{{(active.notStarted/active.testCaseNo)*100 |number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Completed: {{active.completed}} || {{(active.completed/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.completed/active.testCaseNo)*100 | number:2}}%;background-color: #2ecc71;">
{{(active.completed/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Under Review: {{active.underReview}} || {{(active.underReview/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.underReview/active.testCaseNo)*100 | number:2}}%;background-color: #f1c40f;">
{{(active.underReview/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="On Hold: {{active.onHold}} || {{(active.onHold/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(active.onHold/active.testCaseNo)*100 | number:2}}%;background-color: #9b59b6;">
{{(active.onHold/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="N/A: {{active.na}} || {{(active.na/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax = "100" style="width: {{(active.na/active.testCaseNo)*100 | number:2}}%;background-color: #d21250;">
{{(active.na/active.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Action incomplete: {{active.totalactionpass}} || {{(active.totalactionpass/active.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax = "100" style="width: {{(active.totalactionpass/active.testCaseNo)*100 | number:2}}% ; background-color : #aa483b;">
{{(active.totalactionpass/active.testCaseNo)*100 | number:2}}%</div>
</div>
											<div class="col-md-1" style="font-size: 27px">
												<!-- <!-- data-ng-click="editRun(active)"> -->
												<!-- <i style="padding: 13px 31px;" class='fa fa-refresh table-ico'
data-ng-click="showModalForReRun(active)"></i> -->
												<!-- <i
class='fa fa-trash table-ico' style="color: #dc2626;"
data-ng-click="deleteRun(active)"></i> -->
											</div>
											<div class="col-md-2 manHourscol">
												<!-- Execution Time:{{active.timeTake/3600 | number:2}} hrs -->
												<!-- Execution Time:{{(active.timeTake)/3600/24 | number:0}}day :
												{{(active.timeTake)/3600 % 24 | number:0}}hrs:
												{{(active.timeTake)/60 % 60 | number:0}}min -->
												Execution Time:{{active.timetakendhm}}
											</div>
										</div>
										<hr style="margin: 3px;">
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>

				<!-- ///// inactive run  -->
				<div class="col-md-12 heading1" id="inactiveRun">
					<div class="row" style="margin-top: 4px;">
						<div class="col-md-6">
							InActive Run<span style="color: red; margin-left: 10px;" id="errorstatu">{{erroInStatus}}</span>
						</div>

					</div>
				</div>
				<div class="col-md-12 allProjects noPadding activerun"
					id="inactiveRunResult">
					<div class="allProjects-wrap"
						style="padding-left: 2%; background: whitesmoke;">
						<div class="project-details"
							data-ng-repeat="inactive in inactiveRunList">
							<div class="row" style="margin-top: 0.5%;">
								<div class="suits-icons1 suits-icons2">
									<table id="res_status">
										<tr>
											<td style="background: #FFC107;"><i class="fa fa-users"></i>{{inactive.pass}}</td>
											<td>Total Pass</td>
										</tr>
										<tr style="height: 3px;"></tr>
										<tr>
											<td style="background: red;"><i class="fa fa-bug"></i>{{inactive.fail}}</td>
											<td>Total Bugs</td>
										</tr>
										<tr style="height: 3px;"></tr>

										<tr>
											<td style="background: #08af08;">{{(inactive.pass/inactive.completed)*100
												| number: 1}}</td>
											<td>Success Rates(%)</td>
										</tr>
										<tr style="height: 3px;"></tr>
										<!-- <tr>
<td style="background: #0078d4;">{{x.totalruncompleted}}</td>
<td>Run Complete</td>
</tr>
<tr style="height: 3px;"></tr> -->
									</table>

								</div>
								<div class="project-options col-md-5">
									<h6 style="color: #0078d4; cursor: pointer">
										<a data-ng-click='getRunDetails(inactive,"Running")'>R_{{inactive.runId}}-{{inactive.runName}}_Round{{inactive.round}}</a>
									</h6>
									<div>
										<h6 style="font-size: 12px;">
											Initiated By <b>{{inactive.createdBy}}</b> on
											{{inactive.createdDate| date:'yyyy-MM-dd HH:mm:ss'}}
										</h6>
									</div>
									<div>
										<h6 style="font-size: 12px; color: red;">
											Target End Date is <b>{{inactive.targetEndDate}}</b>
										</h6>
									</div>
									<div
										style="font-size: 14px; font-weight: 500; margin: -4px 0px;">
										Contains <span style="color: blue; font-weight: bold;">{{inactive.testCaseNo}}</span>
										TestCases
									</div>

								</div>
								<!-- <div class="col-md-2 ">
<div class=" progress1">
<div class=" barOverflow1">
<div id="bar{{$index}}" class=" bar1" data-ng-init="getstatusChart($index,active.pass,active.completed)"></div>
<span class="passPer">{{(active.pass/active.completed)*100 | number:0}} % Pass</span>
</div>
</div>
</div> -->
								<!-- <div class="col-md-2 ">
<canvas id="statusChart_{{$index}}" data-ng-init="getstatusChart($index)"  class="chartscale"></canvas>
</div> -->
								<div class="col-md-2 progress" style="padding: 0px;margin-top: 10px;height: 30px;border-radius: 4px;">
<div class="progress-bar" title="Not Started: {{active.notStarted}} || {{(inactive.notStarted/inactive.testCaseNo)*100 |number:2}}%" role="progressbar"
aria-valuemin="0" aria-valuemax="100" style="width: {{(inactive.notStarted/inactive.testCaseNo)*100 |number:2}}%;background-color: #95a5a6;">
{{(inactive.notStarted/inactive.testCaseNo)*100 |number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Completed: {{inactive.completed}} || {{(inactive.completed/inactive.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(inactive.completed/inactive.testCaseNo)*100 | number:2}}%;background-color: #2ecc71;">
{{(inactive.completed/inactive.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Under Review: {{inactive.underReview}} || {{(inactive.underReview/inactive.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(inactive.underReview/inactive.testCaseNo)*100 | number:2}}%;background-color: #f1c40f;">
{{(inactive.underReview/inactive.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="On Hold: {{inactive.onHold}} || {{(inactive.onHold/inactive.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(inactive.onHold/inactive.testCaseNo)*100 | number:2}}%;background-color: #9b59b6;">
{{(inactive.onHold/inactive.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="N/A: {{inactive.na}} || {{(inactive.na/inactive.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(inactive.na/inactive.testCaseNo)*100 | number:2}}%;background-color: #d21250;">
{{(inactive.na/inactive.testCaseNo)*100 | number:2}}%</div>
<div class="progress-bar" role="progressbar" title="Action Pass: {{inactive.totalactionpass}} || {{(inactive.totalactionpass/inactive.testCaseNo)*100 | number:2}}%"
aria-valuemin="0" aria-valuemax="100" style="width: {{(inactive.totalimcomete/inactive.testCaseNo)*100 | number:2}}%;background-color: #aa483b;">
{{(inactive.totalimcomete/inactive.testCaseNo)*100 | number:2}}%</div>


</div>
						
								<div class="col-md-1 manHourscol">
									<!-- Execution Time:{{inactive.timeTake/3600 | number:2}} hrs -->
									Execution Time:{{inactive.timetakendhm}}
									<div style="margin-right: -28%; margin-left: -282%;"
										data-ng-style="inactive.delayby === 'in time' ? {'color': 'green'} : {'color': 'red'}">
										<span data-ng-if="inactive.delayby === 'in time'">
											Progress : {{inactive.delayby}} </span> <span
											data-ng-if="inactive.delayby != 'in time'"> Delay :
											{{inactive.delayby}} </span>

									</div>
								</div>
								<div class="col-md-2" style="font-size: 27px" >
									<!-- <!-- data-ng-click="editRun(inactive)"> -->
									<i style="padding: 2px 31px;" class='fa fa-edit table-ico' 
										data-ng-click="showModalForEditRun(inactive)"></i><i
										class='fa fa-trash table-ico' style="color: #dc2626;" 
										data-ng-click="deleteRun(inactive)"></i>
								</div>
							</div>
							<hr style="margin: 3px;">
						</div>
					</div>
				</div>
				<!-- ///// inactive run end -->
			</div>
			<!-- ./Main Dashboard View  -->
<!-- Side Nav View -->
			<div class="col-md-2 right-side-nav">

				
				<div class="project-view">
					<div class='testSuites'>Test Runs</div>
					<div class="content">
						<div id='project-details'
							style="font-size: 13px; font-weight: 400;">
							<b>-</b> Test Runs & Result in this project.
						</div>
					</div>
					<div class="btn-wrap">

						<button type="button" ui-sref="projectDetails.addtestrun"
							class="btn btn-outline-primary btn-sm mt-2 col-md-10">
							<i class="fa fa-plus-circle"></i> Start New Run
						</button>
	
						<button type="button" data-ng-click="showModalForTestExecution()"
							class="btn btn-outline-primary btn-sm mt-2 col-md-10">
							<i class="fa fa-upload "></i> Upload Test Execution
						</button>
						
						<button type="button"  data-ng-click="matissynchronized()" data-ng-disabled="!projectBugToolID"
								class="btn btn-outline-primary btn-sm mt-2 col-md-10">
							<div class="row">
						        <div class="col-md-3 p-0 mt-1">
						            <img src="images/cloudSync.png" id="BugTool">
						        </div>
						        <div class="col-md-6 p-0">
						            Synchronize <br>With Bugtool
						        </div>
						    </div>
						</button>
	
					</div>
				</div>
			</div>
			<!-- Side Nav View -->
			

		</div>
		<!-- ./Main Content -->


	</div>
	<!-- ./Adding Suites Overview Section -->


	<div class="suitesDetails" data-ng-show='showRunDetails'>

		<!-- Main Content -->
		<div class="row row noMargin-left">
			<div class="col-md-12" style="overflow-x: scroll;">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div data-ng-init="getAssignToDetails()">
						<span class='suitesId'>TR_{{testRunId}}</span>
						<h5 style='display: inline-block;'>
							&nbsp;&nbsp;{{testRunName}}<span
								style="color: #5d795d; margin-left: 10px; font-size: 15px;">
								<!-- {{status}} -->
							</span>
						</h5>
						<div class="input-group input-group-sm col-md-2 pull-right"
							style="padding-right: 0;">
							<input type="text" class="form-control"
								placeholder="Search TestCases" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" style="max-height: 4vh;"
								data-ng-model="search">

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 leftChart">
						<div class="col-md-12" style="background: whitesmoke;">
							<div class="graphHeading">Execution Status</div>
							<canvas id="actionchartContainer" class="chartscale"></canvas>
						</div>
					</div>
					<div class="col-md-4 rightChart leftChart">
						<div class="col-md-12" style="background: whitesmoke;">
							<div class="graphHeading">Pass/Fail</div>
							<canvas id="chartContainer" class="chartscale"></canvas>
						</div>
					</div>
					<div class="col-md-4 rightChart">
						<div class="col-md-12" style="background: whitesmoke;">
							<div class="graphHeading">Defect Status By Severity</div>
							<canvas id="defectchartContainer" class="chartscale"></canvas>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-md-2" data-ng-if="isCompleted">
						<label>Filter By Assign Status:</label>
					</div>
					<div class="col-md-2" data-ng-if="isCompleted">
						<select class="form-control form-control-sm" id=''
							style="height: 21px; font-size: 13px; padding: 0px 6px; border: 1px solid #6b8fb39c; margin-left: -3%;"
							data-ng-model="assiginAction"
							data-ng-change="changeselect(runTestCaseList,assiginAction)">
							<option value="">All</option>
							<option value="1" selected>Assigned</option>
							<option value="0">Not Assigned</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 noPadding-right"
					data-ng-repeat="(key, value) in runTestCaseList">
					<!-- <div class="row"
						style="margin-left: 1%; background: whitesmoke; margin-top: 3px; margin-bottom: 3px; cursor: pointer;"> -->
                         <div class="row">
						<h6 class="col-md-8" data-ng-click="toggleTable($index)"
							style='display: inline-block;'>
							<span><i style="padding: 0px 14px;"
								class="fa fa-angle-double-right"></i><span class='suitesId'>TG_{{value.groupId}}</span></span>
							&nbsp;&nbsp;{{key}} &nbsp;<span
								style="font-size: 13px; color: blue">Contains
								{{value.testCaseCount}} TestCases</span>
						</h6>

						<div class="col-md-2" data-ng-if="isCompleted">Select an User to Assign : </div>
						<div class="col-md-2" data-ng-if="isCompleted">
							<select class="form-control form-control-sm"
								id='AssignDrop{{value.groupId}}' class=""
								style="height: 21px; font-size: 13px; padding: 0px 6px; border: 1px solid #6b8fb39c;"
								data-ng-change="saveMulAssigin(assgId,testRunId,value.groupId,assignToList)"
								data-ng-init="assignto.id=''" data-ng-model="assgId">
								<option value=''>--SELECT--</option>
								<option data-ng-repeat="assignto in assignToList | orderBy: 'name'"
									value="{{assignto.id}}">{{assignto.name}}</option>
							</select>
						</div>

					</div>
					<div id="tableData{{$index}}" class="col-md-12 allProjects"
						style="margin-left: 1.5%; border-left: 1px dotted;">
						<table class="table table-hover table-sm testcase sortable"
							id="sortable" style="">
							<thead class="thead-light">
								<tr>
									<th data-ng-if="isCompleted"><input type="checkbox"
										id="selectall{{value.groupId}}" title='Select All'
										data-ng-click="selectAllCheckBox(value.groupId,'')"></th>
									<th>TMT TC_ID</th>
									<th>UserDefined TC_ID</th>
									<th style="width: 42vw;    word-break: break-all;">Test Description</th>
									<th data-ng-if="isCompleted">Assign To</th>
									<th>Status</th>
									<th>Action</th>
									<th data-ng-if="isCompleted">Delete</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="testcase in value.testCaseExecutionLogs | filter:search ">
									<td data-ng-if="isCompleted" class="other"><input
										type="checkbox" id='{{testcase.id}}'
										class="selectAllCase{{value.groupId}} caseCheckbox"
										data-ng-click="selectAllCheckBox('',testcase.id)"></td>
									<!-- data-ng-change="addMulTCForAssigin(testcase.id)" -->
									<td data-ng-if="testcase.testCaseSrNo" class="descp">TC_{{testcase.testCaseSrNo}}</td>
									<td data-ng-if="testcase.testCaseSrNo" class="descp">{{testcase.testID}}</td>
									<td data-ng-if="testcase.testCaseSrNo" style="color: blue; word-break: break-all;"
										class="descp"><a class='atcaseTitle'>{{testcase.testDescription}}</a></td>
									<td data-ng-if="isCompleted" class="other">
										<!-- <span class='caseTitle'>{{testcase.testerName}}</span> -->
										<select class="form-control form-control-sm" id='browserName'
										style="height: 21px; font-size: 13px; padding: 0px 6px; border: 1px solid #6b8fb39c !important;"
										data-ng-change="changeAssiginTo(testcase.testerId,testcase.id,assignToList)"
										data-ng-model="testcase.testerId">
											<option disabled value=''>--SELECT--</option>
											<option data-ng-repeat="assignto in assignToList | orderBy: 'name'"
												data-ng-selected="testcase.testerId==assignto.id"
												value="{{assignto.id}}">{{assignto.name}}</option>
									</select>
									</td>
									<td data-ng-if="testcase.testCaseSrNo" style="color: blue;"><span
										style="color: {{getColorCodeStatus(testcase.status)}}">{{testcase.status}}</span></td>
									<td data-ng-if="testcase.testCaseSrNo" style="color: blue;"><span
										style="color: {{getColorCodeAction(testcase.testCaseAction)}}"
										class='caseTitle'>{{testcase.testCaseAction}}</span></td>
									<!-- <td data-ng-if="testcase.testCaseSrNo" > <i class='fa fa-edit table-ico'
data-ng-click="editTestCaseOfRun(testcase)"></i></td> -->
									<!-- <td
										data-ng-if="testcase.status !='Pass' && testcase.testCaseAction !='Completed'"
										class='other'><i class='fa fa-trash table-ico'
										style="color: #dc2626;"
										data-ng-click="confirmationDialogForDeleteOfRun(testcase)"></i></td> -->
									<td
										data-ng-if="isCompleted"
										class='other'>&nbsp;&nbsp;&nbsp;<i class='fa fa-trash table-ico'
										style="color: #dc2626;"
										data-ng-click="confirmationDialogForDeleteOfRun(testcase)"></i></td>
									<td
										class='other'>&nbsp;&nbsp;<i class='fa fa-eye table-ico'
										data-ng-click="openCompleteRunModal(key, testcase)"></i></td>

									<td data-ng-if="testcase.testCaseSrNo==null" colspan="6"
										style="color: red;">No TestCases Found...Kindly add below</td>
								</tr>



							</tbody>
						</table>

						<!-- <div class="addCase-wrap">
<a class='add-anchor'
data-ng-click="addNewTestCase($index)">Add Test Case</a>
<span data-ng-show="showAddCaseBox[$index]">
<input type="text" class="caseAddWrap" placeholder="Enter Case Title.."
data-ng-model="caseDescription[$index]" />
<i class="fa fa-check"
style="padding: 0px 14px; color: green; cursor: pointer;"
data-ng-click="createTestCase($index,value.groupId)">
</i>
<i
class="fa fa-times" style="color: red; cursor: pointer;"
data-ng-click="clear($index)">
</i>
</span>
<div id="success" style="margin-left: 98px;color: green;display: none;">*{{caseAddStatus}}</div>
<div id="fail" style="margin-left: 98px;color: red;display: none;">*{{failStatus}}</div>
</div>
 -->
					</div>
					<div data-ng-if="$last" data-ng-init="shortTable()"></div>
				</div>

			</div>
			<!-- ./Main Content -->




		</div>
	</div>
	<!-- Suites Details Ends  -->


	<div class="caseDetails" data-ng-show='showSuitesDetails'></div>
	<!-- Edit test Run--------------------- -->
	<div class="modal fade " id="editRun">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Edit Run &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;">{{updateRunStatus}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label for="fullname" class="col-md-3">Test Run Name<span class="text-danger">*</span> :</label> <input
									type="text" id="" class="form-control form-control-sm col-md-7"
									data-ng-model="active.runName" required readonly="readonly">
								<input type="hidden" id="activeid"
									class="form-control form-control-sm col-md-7"
									data-ng-model="active.id" name="testRunName">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Status<span class="text-danger">*</span> :</label> <select
									class="form-control form-control-sm col-md-7" id='status'
									data-ng-model="active.status">
									<option value='Running'>Running</option>
									<option value='Completed'>Completed</option>
								</select>
							</div>

							<div class="row">
								<label for="heard" class="col-md-3">Is Active<span class="text-danger">*</span> :</label> <label
									style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="active.isActive"
									name="isActive" class="inlineRadio1 customRadio"
									checked="checked" value="Y"> Y
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="active.isActive"
									name="isActive" class="inlineRadio2 customRadio" value="N">
									N
								</label>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->
									
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="submit"
										data-ng-click="confirmationDialogForStopRun()" style="margin-right: 3%;"
										class="btn btn-success">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->
	<!-- Start Re test Run--------------------- -->
	<div class="modal fade " id="reRun">
		<div class="modal-dialog modal-xxl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Start Re-Run &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;">{{reRunStatus}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label for="fullname" class="col-md-3">Test Run Name<span
												class="createCompulsory" style="color: red;">*</span> :</label> <input
									type="text" id="" class="form-control form-control-sm col-md-7"
									data-ng-model="createReRunObj.runName" required
									readonly="readonly"> <input type="hidden" id=""
									class="form-control form-control-sm col-md-7"
									data-ng-model="createReRunObj.id" name="testRunName">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Round<span
												class="createCompulsory" style="color: red;">*</span> :</label> <input
									type="text" id="" class="form-control form-control-sm col-md-7"
									data-ng-model="createReRunObj.round" required
									readonly="readonly">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Assigning To<span
												class="createCompulsory" style="color: red;">*</span> :</label> <select
									class="form-control form-control-sm col-md-7" id='browserName'
									data-ng-init="createReRunObj.assignTo=''"
									data-ng-model="createReRunObj.assignTo">
									<option disabled value='' selected>--SELECT--</option>
									<option data-ng-repeat="assignto in assignToList"
										value="{{assignto.id}}">{{assignto.name}}</option>

								</select>

							</div>
							<div class="row"
								style="color: red; font-size: 13px; font-weight: 600; margin-left: 0px;">
								<span class="createCompulsory" style="color: red;">*</span>Select one from dropdown to whom you want to assign testcase(s)
								</div>
							<div class="row">
								<label for="fullname" class="col-md-3">End
									Date(Tentative)<span class="createCompulsory" style="color: red;">*</span>:</label> <input type="text" id="targetEndDate"
									class="form-control form-control-sm  col-md-7"
									data-ng-model="createReRunObj.targetEndDate"
									name="targetEndDate" autocomplete="off" readonly> <span
									class="fa fa-calendar errspan" ></span>

							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Is Active <span class="createCompulsory" style="color: red;">*</span>:</label> 
								<label style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="createReRunObj.isActive"
									name="isActive" class="inlineRadio1 customRadio"
									checked="checked" value="Y"> Y
								</label> 
								<label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="createReRunObj.isActive"
									name="isActive" class="inlineRadio2 customRadio" value="N">
									N
								</label>
							</div>
							<div class='row'>

								<label class="control-label col-md-3" for="">Description
								<span class="createCompulsory" style="color: red;">*</span></label>
								<div class="form-control-content col-md-9">
									<textarea class="form-control form-control-sm col-md-9"
										rows="2" data-ng-model="createReRunObj.description" id="steps"
										placeholder="Enter description"></textarea>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="row">
								<label for="testcaseSelection" class="col-md-3">Select testcase from<span
												class="createCompulsory" style="color: red;">*</span> :</label> 
								<div class="col-md-7">
									<select	class="form-control form-control-sm col-md-12" id='selectRound'
										data-ng-init="createReRunObj.reRunId=''"
										data-ng-model="createReRunObj.reRunId" 
										data-ng-change="(includeall=false)&&(includeFail=false)&&(includeFailResolved)">
										<option disabled value='' selected>--SELECT--</option>
										<option data-ng-repeat="run in rerunsList"
											value="{{run.id}}">Round {{run.round}}</option>
	
									</select>
									<div class="row">
										<!-- <label class="radio-inline col-md-4 active">
											<input type="radio" data-ng-model="includeall"
											name="selectTC" class="inlineRadio1 customRadio"
											 data-ng-checked="includeall" data-ng-change='selectAllTC()'
											 value=true>
											  All Test Cases
										</label>
										<label class="radio-inline col-md-4">
											<input type="radio"  data-ng-checked="includeFail"
											data-ng-model='includeFail'	data-ng-change='selectFailTCFromReId()'
											name="selectTC" class="inlineRadio2 customRadio" value=true>
											Fail Test Cases
										</label> -->
										<div class="col-md-4">
											<div class='heading1'>
												<input type='checkbox' data-ng-checked="includeall"
													data-ng-modal='includeall' data-ng-click='selectAllTC()'>&nbsp;&nbsp;All
												Test Cases
											</div>
										</div>
										<div class="col-md-4">
											<div class='heading1' style="background: aliceblue;">
												<input type='checkbox' data-ng-checked="includeFail"
													data-ng-modal='includeFail'
													data-ng-click='selectFailTCFromReId()'>&nbsp;&nbsp;Failed Test Cases
												 
											</div>
										</div>
										<div class="col-md-4">
											<div class='heading1'>
												<input type='checkbox' data-ng-checked="includeFailResolved"
													data-ng-modal='includeFailResolved'
													data-ng-click='selectFailResolvedTCFromReId()'>&nbsp;&nbsp;Resolved Test &nbsp;&nbsp;Cases
												 </button>
											</div>
										</div>
									</div>
									<span style="color: red; margin-left: 10px;">{{errormsg}}</span>
								</div>
							</div>
							<!-- <div class="col-md-12 heading1"
								style="background: aliceblue; margin: 24px 0px;">
								<div>
									<input type='checkbox' data-ng-checked="includeall"
										data-ng-modal='includeall' data-ng-click='selectAllTC()'>All
									Test Cases<span
										style="color: red; margin-left: 10px;">{{errormsg}}</span>
								</div>
							</div>
							<div class="col-md-12 heading1"
								style="background: aliceblue; margin: 24px 0px;">
								<div>
									<input type='checkbox' data-ng-checked="includeFail"
										data-ng-modal='includeFail'
										data-ng-click='selectFailTCFromReId()'>Fail Test Cases
									 <span
										style="color: red; margin-left: 10px;">{{errormsg}}</span>
								</div>
							</div> -->
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->
									
								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="submit" data-ng-click="startReRun()" style="margin-right: 3%"
										class="btn btn-success">Start</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->
	<!-- -confirm boxxxxxx------------- -->
	<div id="confirmation-dialog-group">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
					</div>
					<div class="modal-body">
						<div class="span5">{{confirmationDialogConfig.message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button"
							data-ng-repeat="button in confirmationDialogConfig.buttons"
							data-ng-click="executeDialogActioncompleteRun(button.action)"
							class="btn btn-primary">{{button.label}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end------------------- -->
</div>
<!-- -confirm boxxxxxx------------- -->
<div id="confirmation-dialog">
	<div class="modal fade confirmation-dialog" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
				</div>
				<div class="modal-body">
					<div class="span5">{{confirmationDialogConfig.message}}</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button"
						data-ng-repeat="button in confirmationDialogConfig.buttons"
						data-ng-click="executeDialogAction(button.action,testcase)"
						class="btn btn-primary">{{button.label}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end------------------- -->

<!--upload test execution--------------------- -->
<div class="modal fade" id="uploadTestExecution">
	<div class="modal-dialog modal-xxl"">
		<div class="modal-content">



			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">
					Upload Test Execution &nbsp;&nbsp;&nbsp;<br>
					<div class="col-md-12 ">
						<div>
							<span style="margin-left: 0px; color: green;" id="statusMsg">{{statusMsg}}</span><span
								style="margin-left: 0px; color: red;" id="errormsg">{{error}}</span>
						</div>
					</div>
					<span style="color: green; font-size: 17px;"></span>
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="x_content">

					<form enctype="multipart/form-data" id='demo-form'
						name="submitForm">
						<div class="">
							<div class=" col-md-6 noPaddingLeft">
								<label class="control-label" for="">Test Suite Name<span class="text-danger">*</span></label>
								<div class="form-control-content"
									data-ng-init="getTestSuitesNameByPId()">
									<select class="form-control form-control-sm" name="testsuite"
										id='testSuitesName'
										data-ng-init="createRunObj.testSuitesId=''"
										data-ng-model="testsuitesSelected"
										data-ng-change="changeRunName()"
										data-ng-options="testsuites as testsuites.testSuitesName for testsuites in testSuitesDetails">
										<option disabled value='' selected>--SELECT--</option>
										<!-- <option data-ng-repeat="testsuites in testSuitesDetails" value="testsuites.testSuitesId">{{testsuites.testSuitesName}}</option> -->
									</select>
								</div>
							</div>
						</div>
						<div class="">
							<div class=" col-md-6 noPaddingLeft">
								<label class="control-label" for="">Test Run Name <span class="text-danger">*</span></label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm" id=""
										data-ng-model="createRunObj.runName">
								</div>
							</div>
						</div>
						
						
						<div class="col-md-6 noPaddingLeft">
							<label class="control-label" for="">End Date(Tentative) <span class="text-danger">*</span></label>
							<div class="row" style="margin-left: 0px;">
								<input type="text" id="targetEndDate1"
									class="form-control form-control-sm  col-md-7"
									data-ng-model="createReRunObj.targetEndDate"
									name="targetEndDate1" autocomplete="off" readonly> <span
									class="fa fa-calendar errspan"></span>
							</div>
						</div>
						
						
						<div class="">
							<div class=" col-md-6 noPaddingLeft">
								<label class="control-label" for="">Upload Test
									Execution<span class="text-danger">*</span> </label>
								<div class="">
									<!-- <span class="btn btn-file"> Choose File<input
style="width: 110px; display: unset;" type="file" id="file"
data-ng-model="attachment"
file-select="file" accept=".pdf, .jpg, .jpeg" multiple />
</span> -->
									<input type="file" id="file" data-file-model="attachment"
										class=" form-control-sm" accept=".xlsx, .doc,.docx,.xls,.pdf"
										multiple />
								</div>
								<small class="text-muted" id="fileHelp">Max 10mb
									size(only .xlsx, .xls)</small><br>
							</div>
						</div>

<!-- 
						<div class="col-md-6 noPaddingLeft">
							<label class="control-label" for="">End Date(Tentative) <span class="text-danger">*</span></label>
							<div class="row" style="margin-left: 0px;">
								<input type="text" id="targetEndDate1"
									class="form-control form-control-sm  col-md-7"
									data-ng-model="createReRunObj.targetEndDate"
									name="targetEndDate1" autocomplete="off" readonly> <span
									class="fa fa-calendar errspan"></span>
							</div>
						</div> -->
						
						<div class="col-md-6 noPaddingLeft">
							<label class="control-label" for="">Is Active<span class="createCompulsory" style="color: red;">*</span> :</label> <label
								style="margin-left: 50px;" class="radio-inline"> <input
								type="radio" data-ng-model="createRunObj.isActive"
								name="isActive" id="inlineRadio1" checked="checked" value="Y">
								Y
							</label> <label style="margin-left: 50px;" class="radio-inline">
								<input type="radio" data-ng-model="createRunObj.isActive"
								name="isActive" id="inlineRadio2" value="N"> N
							</label>
						</div>
						<div>
							<div class=" col-md-12 noPaddingLeft">
								<label class="control-label" for="">Description<span class="text-danger">*</span></label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm" rows="4"
										data-ng-model="createRunObj.description" id="steps"
										placeholder="Enter Description.."></textarea>
								</div>
							</div>
						</div>
				</div>


				<div class="ln_solid"></div>

				</form>

			</div>


			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="submit" data-ng-click="showPreview()"
					class="btn btn-success btn-primary mr-auto" style="margin-left:4%">Preview</button>
				<button type="button" class="btn btn-danger btn-secondary"
					data-dismiss="modal" style="margin-right:3%">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- end -->

<!-- sheet preview  -->
<!--upload test execution--------------------- -->
<div class="modal fade " id="showPreview">
	<div class="modal-dialog modal-xxl"">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">
					Preview {{attachment}} &nbsp;&nbsp;&nbsp;<br>
					<div class="col-md-12 ">
						<div>
							<span style="margin-left: 0px; color: green;">{{preStatusMsg}}</span><span
								style="margin-left: 0px; color: red;">{{preError}}</span>
						</div>
					</div>
					<span style="color: green; font-size: 17px;"></span>
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="x_content">
					<form enctype="multipart/form-data" id='demo-form'
						name="submitForm">
						<div>
							<div class="safeCtrl" data-ng-if="isValidTableVisible">
								<table id="grid-data"
									class="datarow table  table-bordered table-hover">


									<thead class="table-success">
										<tr>
											<td>Sr.No</td>
											<td>Module</td>
											<td>Sub-Module</td>
											<td>Scenario ID</td>
											<td>Scenarios</td>
											<td>Functionality</td>
											<td>Test Case ID</td>
											<td>Test Cases</td>
											<td>Test case type(Positive/negative)</td>
											<td>Test Data/Inputs</td>
											<td>Steps to Reproduce</td>
											<td>Expected Result</td>
											<td>Date Of Execution</td>
											<td>Actual Result</td>
											<td>Execution Time(In Seconds)</td>
											<td>Tester Comment</td>
											<td>Tester Name</td>
											<td>Is Active</td>
											<td>Bug Severity</td>
											<td>Bug Priority</td> 
											<td>Bug Status</td>
											<td>Browser/OS</td>
											<td>Bug Id</td>
											<td>Sr ID</td>
											<td>Status</td>
											<td>Test case Action</td>	
											<td>Priority</td>
											<td>Complexity</td>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="logs in caseExecutionLogs">
											<td>{{logs.testCaseSrNo}}</td>
											<td>{{logs.module}}</td>
											<td>{{logs.subModule}}</td>
											<td>{{logs.scenarioID}}</td>
											<td>{{logs.scenarios}}</td>
											<td>{{logs.functionality}}</td>
											<td>{{logs.testID}}</td>
											<td>{{logs.testDescription}}</td>
											<td>{{logs.testCaseType}}</td>
											<td>{{logs.testData}}</td>
											<td>{{logs.steps}}</td>
											<td>{{logs.expectedResult}}</td>
											<td>{{logs.dateOfExec}}</td>
											<td>{{logs.actualResult}}</td>
											<td>{{logs.executionTime}}</td>
											<td>{{logs.testerComment}}</td>
											<td>{{logs.testerName}}</td>
											<td>{{logs.isActive}}</td>
											<td>{{logs.bugSeverity}}</td>
											<td>{{logs.bugPriority}}</td>
											<td>{{logs.bugStatus}}</td>
											<td>{{logs.browser}}</td>
											<td>{{logs.bugId}}</td>
											<td>{{logs.id}}</td>
											<td>{{logs.status}}</td>
											<td>{{logs.testCaseAction}}</td>
											<td>{{logs.priority}}</td>
											<td>{{logs.complexity}}</td>

										</tr>
									</tbody>

								</table>
							</div>
						</div>
						<div class="ln_solid" data-ng-if="isNoteVisible">
							<span style="color: red; font-weight: bold;">Note: The
								Test Cases which are referred to the selected Test Suite will
								only be included. If there are different modules available then
								kindly upload it with another Test Suites. </span><br> <span
								style="color: blue">Below table shows Test Suites other
								than selected Test Suite, which will be discarded for current
								Test Run Execution.</span>

						</div>
						<div class="ln_solid" data-ng-if="isLoading">

							<span style="color: blue">Wait! Loading Data</span>

						</div>

						<div class="safeCtrl" data-ng-if="isInValidTableVisible">
							<table id="grid-data"
								class="datarow table  table-bordered table-hover">


								<thead class="table-info">
									<tr>
										<td>Sr.No</td>
										<td>Module</td>
										<td>Sub-Module</td>
										<td>Scenario ID</td>
										<td>Scenarios</td>
										<td>Functionality</td>
										<td>Test Case ID</td>
										<td>Test Cases</td>
										<td>Test case type(Positive/negative)</td>
										<td>Test Data/Inputs</td>
										<td>Steps to Reproduce</td>
										<td>Expected Result</td>
										<td>Date Of Execution</td>
										<td>Actual Result</td>
										<td>Execution Time</td>
										<td>Tester Comment</td>
										<td>Tester Name</td>
										<td>Is Active</td>
										<td>Bug Severity</td>
										<td>Bug Priority</td>
										<td>Bug Status</td>
										<td>Browser/OS</td>
										<td>Bug Id</td>
										<td>Sr ID</td>
										<td>Status</td>
										<td>Test Case Action</td>
										<td>Priority</td>
										<td>Complexity</td>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="diffLogs in diffCaseExecutionLogs">
										<td>{{diffLogs.testCaseSrNo}}</td>
										<td>{{diffLogs.module}}</td>
										<td>{{diffLogs.subModule}}</td>
										<td>{{diffLogs.scenarioID}}</td>
										<td>{{diffLogs.scenarios}}</td>
										<td>{{diffLogs.functionality}}</td>
										<td>{{diffLogs.testID}}</td>
										<td>{{diffLogs.testDescription}}</td>
										<td>{{diffLogs.testCaseType}}</td>
										<td>{{diffLogs.testData}}</td>
										<td>{{diffLogs.steps}}</td>
										<td>{{diffLogs.expectedResult}}</td>
										<td>{{diffLogs.dateOfExec}}</td>
										<td>{{diffLogs.actualResult}}</td>
										<td>{{diffLogs.executionTime}}</td>
										<td>{{diffLogs.testerComment}}</td>
										<td>{{diffLogs.testerName}}</td>
										<td>{{diffLogs.isActive}}</td>
										<td>{{diffLogs.bugSeverity}}</td>
										<td>{{diffLogs.bugPriority}}</td>
										<td>{{diffLogs.bugStatus}}</td>
										<td>{{diffLogs.browser}}</td>
										<td>{{diffLogs.bugId}}</td>
										<td>{{diffLogs.id}}</td>
										<td>{{diffLogs.status}}</td>
										<td>{{diffLogs.testCaseAction}}</td>
										<td>{{diffLogs.priority}}</td>
										<td>{{diffLogs.complexity}}</td>

									</tr>
								</tbody>

							</table>
						</div>



					</form>
				</div>
			</div>


			<!-- Modal footer -->
			<div class="modal-footer">


				<button type="submit" data-ng-click="uploadTestExecution()"
					class="btn btn-success  btn-primary mr-auto">Upload</button>
				<button type="button" class="btn btn-danger  btn-secondary"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- sheet preview -->
<!-- Status msg -->
<div id="showStatus">
	<div class="modal fade confirmation-dialog" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Upload Tes Run Execution Status</h4>
				</div>
				<div class="modal-body">
					<div class="span5">
						<div class="col-md-12 headinge2">
							<div>
								<span style="margin-left: 0px; color: green;">{{doneUpload}}</span><span
									style="margin-left: 0px; color: red;">{{failUpload}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-danger  btn-secondary"
						data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- status msg end --><!-- ----------------------complete run details(Start)---------------------------- -->
<div class="modal fade" id="complete-run-testcase-details" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-xxl" style="margin-top: 35px;">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
				TC_{{testCaseCompleteRun.testCaseSrNo}}
					<span style="color: green; font-size: 15px; margin-left: 128px;">
					{{executeTestCaseStatus[0]}}
						<span data-ng-if="executeTestCaseStatus[1]!=null">
						and Bug	Id is {{executeTestCaseStatus[1]}}</span>
					</span>
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="col-md-12">
					<form enctype="multipart/form-data">
						<div class="row">
							<div class="form-group col-md-4 noPaddingLeft">
								<label class="control-label" for="">Test Run Name</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="testSuitesName" data-ng-model="testRunName"
											placeholder="Enter testSuites name" readonly="readonly">

								</div>
							</div>
							<div class="form-group col-md-4 noPaddingLeft">
								<label class="control-label" for="">Test Group Name</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="testGroupName" data-ng-model="testCaseCompleteRun.testGroupName"
											readonly="readonly">
								</div>
							</div>
							<div class="form-group  col-md-4 noPaddingLeft">
								<label class="control-label" for="">Scenario</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="scenarios" data-ng-model="testCaseCompleteRun.scenarios"
											readonly="readonly">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">TestCase Type</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											readonly="readonly" id="testCaseType"
											data-ng-model="testCaseCompleteRun.testCaseType"
											placeholder="Enter testCaseType">
								</div>
							</div>
							<div class="form-group col-md-3 noPaddingLeft">
								<label class="control-label" for="">UserDefined TCId</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="testID" data-ng-model="testCaseCompleteRun.testID"
											placeholder="Enter UserDefined TC Id" readonly> <input
											type="hidden" class="form-control form-control-sm"
											id="testSuitesName" data-ng-model="testCaseCompleteRun.id"
											readonly="readonly">
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Functionality</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="funcitionality" readonly="readonly"
											data-ng-model="testCaseCompleteRun.functionality">
								</div>
							</div>
							<div class="form-group col-md-3 noPaddingLeft">
								<label class="control-label" for="">Browser</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="browserNameToDo" readonly="readonly"
											data-ng-model="testCaseCompleteRun.browser">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Steps</label>
								<div class="form-control-content" ng-form="stepsForm">
									<textarea class="form-control form-control-sm" rows="4"
											id="steps" data-ng-model="testCaseCompleteRun.steps" name="steps"
											readonly="readonly"></textarea>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Data</label>
								<div class="form-control-content" ng-form="testDataForm">
									<textarea class="form-control form-control-sm" rows="4"
											id="testData" data-ng-model="testCaseCompleteRun.testData"
											onChange="c('testData');" name="testData" readonly="readonly">
									</textarea>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Description</label>
								<div class="form-control-content" ng-form="testDescriptionForm">
									<textarea class="form-control form-control-sm" rows="4"
											id="testDescription" name="testDescription"
											data-ng-model="testCaseCompleteRun.testDescription" readonly="readonly">
									</textarea>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Expected Results</label>
								<div class="form-control-content" ng-form="expectedResultForm">
									<textarea class="form-control form-control-sm" rows="4"
											id="expectedResult" name="expectedResult"
											data-ng-model="testCaseCompleteRun.expectedResult" readonly="readonly">
									</textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Actual Results</label>
								<div class="form-control-content" ng-form="resultForm">
									<textarea class="form-control form-control-sm" rows="4"
											id="result" data-ng-model="testCaseCompleteRun.actualResult"
											name="result" readonly="readonly">
									</textarea>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Tester Comment </label>
								<div class="form-control-content" ng-form="testerCommentForm">
									<textarea class="form-control form-control-sm" rows="4"
											id="testerComment" data-ng-model="testCaseCompleteRun.testerComment"
											name="testerComment" readonly="readonly"></textarea>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">TestCase Action</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
											id="testCaseAction" readonly="readonly"
											data-ng-model="testCaseCompleteRun.testCaseAction">
									<label class="control-label" for="">Execution Time(in sec)</label>
									<div class="form-control-content">
											<!-- <div class="bfh-timepicker" data-time="now">-->
							 				<input type="text" id="exetime" readonly="readonly"
												class="form-control timepicker"
												data-ng-model="testCaseCompleteRun.executionTime"> 
												
												<!-- <input type="text" id="exetime" 
												class="time form-control timepicker ng-pristine ng-valid" data-ng-model="testExcute"> -->
									</div>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">

									<label class="control-label" for="">Status</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="statusCompleteRun" readonly="readonly"
											data-ng-model="testCaseCompleteRun.status">
									</div>

							</div>
						</div>
						<div class=row>
								<div class="form-group  col-md-3 Complexity">
									<label class="control-label" for="">Complexity</label>
									<div class="form-control-content"
										>
										<input type="text" class="form-control form-control-sm"
											id="complexityCompleteRun" readonly="readonly"
											data-ng-model="testCaseCompleteRun.complexity">
										
										
								</div>
							</div>
								
								<!-- <div class="well">
<div id="datetimepicker3" class="input-append">
<input data-format="hh:mm:ss" type="text"></input> <span
class="add-on"> <i data-time-icon="icon-time"
data-date-icon="icon-calendar"> </i>
</span>
</div>
</div> --><div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Priority</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="priorityCompleteRun" readonly="readonly"
											data-ng-model="testCaseCompleteRun.priority">
										
									</div>
								</div>

								
							</div>
						
						<div class="row">
							<div class="form-group col-md-12 noPaddingLeft">
								<div class="row">
									<div class="form-group col-md-2" >
										<label class="control-label" for="">Bug&nbsp;Id</label> 
										<input type="text" id="bugid" style="width: 111%;"
												class="form-control form-control-sm" readonly="readonly"
												data-ng-model="testCaseCompleteRun.bugId">

									</div>
									<div id="div3" class="form-group col-md-2 noPaddingLeft">
										<label class="control-label" for="">Bug&nbsp;Severity</label>
										<div class="form-control-content">
											<input type="text" id="bugSeverity" style="width: 111%;"
												class="form-control form-control-sm" readonly="readonly"
												data-ng-model="testCaseCompleteRun.bugSeverity">
										</div>
									</div>
									<div id="div2" class="form-group col-md-3 noPaddingLeft">
										<label class="control-label" for="">BugPriority</label>
										<div class="form-control-content">
											<input type="text" id="bugPriority" style="width: 111%;"
												class="form-control form-control-sm" readonly="readonly"
												data-ng-model="testCaseCompleteRun.bugPriority">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-3 noPaddingLeft imagesc" 
								data-ng-repeat="image in ssCompleteRun">
									<!-- <button id="" style="margin-top: 5px; margin-right: 52%;"
										type="button" class="close" aria-label="Close"
										data-ng-click="deleteScreenshots(testCaseCompleteRun.id,image.attachmentName)">
										<span aria-hidden="true" style="color: red; cursor: pointer;"
											data-ng-click="clearFiles()">&times;</span>
									</button> -->
									<a
										data-ng-href="/TMT/api/downloadImage?testcaseID={{testCaseCompleteRun.id}}&attachname={{image.attachmentName}}">{{sss}}
										<img id="blah" width="33.33%" height="130" src="#"
										data-ng-src="{{'data:image/png;base64,'+image.attachment}}"
										data-ng-show="image.attachment!= null ">
									</a>
								</div>

								<div class="form-group1  col-md-3 noPaddingLeft"></div>

								<!-- </div> -->
							</div>


						</form>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger"
						data-dismiss="modal" data-ng-click="clearTodos(testCaseCompleteRun)">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- ----------------------complete run details(End)---------------------------- -->



<script>

/* $(document).ready(function(){
      // Add minus icon for collapse element which is open by default
      $(".collapse.show").each(function(){
       $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
      });
     
      // Toggle plus minus icon on show hide of collapse element
      $(".collapse").on('show.bs.collapse', function(){
       $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
      }).on('hide.bs.collapse', function(){
       $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
      });

      var endDate = $('input[name="endDate"]'); // Our date input has the name "date"
      var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
      endDate.datepicker({
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        startDate: truncateDate(new Date()) // <-- THIS WORKS
      });

      $('#date').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
     
      var dateInput1 = $('input[name="targetEndDate"]'); // Our date input has the name "date"
      var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
      dateInput1.datepicker({
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        startDate: truncateDate(new Date()) // <-- THIS WORKS
      });
     
    
 
  var dateInput1 = $('input[name="targetEndDate1"]'); // Our date input has the name "date"
  var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
  dateInput1.datepicker({
    format: 'mm/dd/yyyy',
    container: container,
    todayHighlight: true,
    autoclose: true,
    startDate: truncateDate(new Date()) // <-- THIS WORKS
  });
 
  var dateInput1 = $('input[name="targetEndDate3"]'); // Our date input has the name "date"
  var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
  dateInput1.datepicker({
    format: 'mm/dd/yyyy',
    container: container,
    todayHighlight: true,
    autoclose: true,
    startDate: truncateDate(new Date()) // <-- THIS WORKS
  });
 

  $('#date').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
  }
 );
  $( function() {	
    $( "#resizable" ).resizable({ grid: [10000, 1] });
  } );
  function truncateDate(date) {
  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
 }
   
  $(document).ready(function() {
	  $("#targetEndDate").datepicker();
	  $('.fa-calendar').click(function() {
	    $("#targetEndDate").focus();
	  });
	});
  function myFunction() {
	 
	  var dateInput = $('input[name="pEndAte"]'); // Our date input has the name "date"
	  var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
	  dateInput.datepicker({
	    format: 'mm/dd/yyyy',
	    container: container,
	    todayHighlight: true,
	    autoclose: true,
	    startDate: truncateDate(new Date()) // <-- THIS WORKS
	  });

	  $('#date').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	}

	function truncateDate(date) {
	  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	}
	
	
	}
	$(document).ready(function() {
		  $("#datepicker").datepicker();
		  $('.fa-calendar').click(function() {
		    $("#datepicker").focus();
		  });
		});
 
	 */
	 $(document).ready(function(){
	      // Add minus icon for collapse element which is open by default
	      $(".collapse.show").each(function(){
	       $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
	      });
	     
	      // Toggle plus minus icon on show hide of collapse element
	      $(".collapse").on('show.bs.collapse', function(){
	       $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
	      }).on('hide.bs.collapse', function(){
	       $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
	      });

	      var endDate = $('input[name="endDate"]'); // Our date input has the name "date"
	      var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
	      endDate.datepicker({
	        format: 'mm/dd/yyyy',
	        container: container,
	        todayHighlight: true,
	        autoclose: true,
	        startDate: truncateDate(new Date()) // <-- THIS WORKS
	      });

	      $('#date').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	     
	     
	      var dateInput = $('input[name="targetEndDate"]'); // Our date input has the name "date"
	  var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
	  dateInput.datepicker({
	    format: 'mm/dd/yyyy',
	    container: container,
	    todayHighlight: true,
	    autoclose: true,
	    startDate: truncateDate(new Date()) // <-- THIS WORKS
	  });
	 
	  var dateInput1 = $('input[name="targetEndDate1"]'); // Our date input has the name "date"
	  var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
	  dateInput1.datepicker({
	    format: 'mm/dd/yyyy',
	    container: container,
	    todayHighlight: true,
	    autoclose: true,
	    startDate: truncateDate(new Date()) // <-- THIS WORKS
	  });
	 
	 

	  $('#date').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
	  }
	 );
	  $( function() {	
	    $( "#resizable" ).resizable({ grid: [10000, 1] });
	  } );
	  function truncateDate(date) {
	  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	 }
	  
	 /*  $(document).ready(function(){
		 var value= $("#statusCompleteRun").val();
		 console.log(value);
		 if(value=='fail'){
			 $('#div2').hide();
			 $('#div3').hide();
		 }else{
			 $('#div2').show();
			 $('#div3').show();
		 }
	  }); */
	  
	  $(document).ready(function() {
		  $("#targetEndDate").datepicker();
		  $('.fa-calendar').click(function() {
		    $("#targetEndDate").focus();
		  });
		});
	  
	  $(document).ready(function() {
		  $("#targetEndDate1").datepicker();
		  $('.fa-calendar').click(function() {
		    $("#targetEndDate1").focus();
		  });
		});
</script>
