<style>
.dt:hover {
	color: white;
}

.caseTitle {
	color: #55b5d6;
}

.importTC {
	margin-top: 9px;
	margin-left: -7px;
}

.btn1 {
	background: #0b0ba2;
	font-size: 13px;
	padding: 3px 16px !important;
	margin: 0px 18px;
}

.btn2 {
	background: red;
	margin: 0px !important;
}

.status {
	margin-left: 10px;
	color: green;
	font-size: 12px;
}
</style>
<link rel="stylesheet" href="css/custom.maindiv.css">
<script type="text/javascript" src="js/new.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js"></script>
<div id="testSuites" class="container-fluid">
	<!-- Adding Bread Crumb -->
	<div class="breadcrumb-wrap">
		<ul class="breadcrumb" style="padding: 2px; margin-bottom: 5px;">
			<li class="breadcrumb-item"><a ui-sref="dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a ui-sref="projectDetails.overview">{{projectName}}</a></li>
			<li class="breadcrumb-item"><a style="cursor: pointer;"
				data-ng-click="backToTestSuites(suitesName,suitsId)">Test Suites
					& Cases</a></li>
			<li class="breadcrumb-item active" data-ng-show='showSuitesname'>{{suitesName}}</li>
		</ul>
	</div>
	<!-- ./Adding Bread Crumb -->
	<!-- Adding Suites Overview Section -->
	<div class="suitesOverview" data-ng-show='!showSuitesDetails'>

		<!-- Main Content -->
		<div class="row noMargin-left">
			<div class="col-md-10 noPadding-left">

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div>
						Test Suites & Cases
						<!-- <span class="status">{{status}}</span> -->
					</div>
				</div>
				<div class="col-md-12 allProjects noPadding">
					<div class="allProjects-wrap"
						style="padding-left: 2%; background: whitesmoke;">
						<div class="project-details"
							data-ng-repeat="testsuites in testSuitesDetails">
							<div class="row" style="margin-top: 0.5%;">
								<div class="suits-icons text-center">
									<i class="fa fa-list text-light mt-3" style="font-size: 3rem"></i>
								</div>
								<div class="col-md-9">

									<h6 style="color: #0078d4; cursor: pointer">
										<a class="projectView"
											data-ng-click='getSuitesDetails(testsuites.testSuitesName,testsuites.testSuitesId,testsuites.isActive)'">{{testsuites.testSuitesId}}-{{testsuites.testSuitesName}}</a>

									</h6>
									<div></div>

									<div>
										<span data-ng-if="testsuites.testGroupNo <=1 ">Contains
											<b>{{testsuites.testGroupNo}}</b> Group,<b
											data-ng-if="testsuites.testCaseNo <=1 ">{{testsuites.testCaseNo}}
												Test Case</b> <b data-ng-if="testsuites.testCaseNo >1 ">{{testsuites.testCaseNo}}
												Test Cases</b>
										</span> <span data-ng-if="testsuites.testGroupNo >1 ">Contains
											<b>{{testsuites.testGroupNo}}</b> Groups,<b
											data-ng-if="testsuites.testCaseNo <=1 ">{{testsuites.testCaseNo}}
												Test Case</b> <b data-ng-if="testsuites.testCaseNo >1 ">{{testsuites.testCaseNo}}
												Test Cases</b>
										</span>
									</div>
									<i class='arrow-icons'></i>
								</div>
								<div class="col-md-1">
									<i class='fa fa-edit table-ico editicon'
										data-ng-click="editTestSuites(testsuites.testSuitesId,projectName)"></i>

									<i class="fa fa-trash deleteicon" style="color: #dc2626;"
										data-ng-click="deleteTestSuites(testsuites.testSuitesId, testsuites.testSuitesName)"></i>

								</div>
							</div>
						</div>
						<hr style="margin: 3px;">
					</div>
				</div>
			</div>

			<!-- ./Main Dashboard View  -->

			<!-- Side Nav View -->
			<div class="col-md-2 right-side-nav">
				<div class="btn-wrap">
					<button type="button"
						class="btn btn-outline-primary btn-sm pull-right"
						data-ng-click="showModalForTestsuites()">
						<i class="fa fa-plus-circle"></i> Add Test Suites
					</button>

				</div>
				<div class="project-view">
					<div class='testSuites'>Test Suites</div>
					<div class="content">
						<div id='project-details'
							style="font-size: 13px; font-weight: 400;">
							<b>-</b> Test Suites and Cases in this project.
						</div>
					</div>
				</div>
			</div>
			<!-- Side Nav View -->

		</div>
		<!-- ./Main Content -->


	</div>
	<!-- ./Adding Suites Overview Section -->

	<!-- Adding Suites Details Section -->
	<div class="suitesDetails" data-ng-show='showSuitesDetails'>

		<!-- Main Content -->
		<div class="row row noMargin-left">
			<div class="col-md-10"
				style="max-height: 80vh; overflow-y: scroll; overflow-x: hidden;">
				<div class="row uploadHead">
					<input type="file" id="TsTcfile" class="col-md-3 form-control-sm" />
					<div class='col-md-7'>
						<input id="appendts" name="uploadTypets" class="check"
							type="radio" value="append" checked> Append <input
							id="replacets" name="uploadTypets" class="check" type="radio"
							value="replace"> Replace
						<button type="submit"
							data-ng-click="importTestSuites(suitsId,suitesName)"
							class="btn btn1 btn-success">Import</button>
						<button type="submit" data-ng-click="clearImportTS()"
							class="btn btn1 btn2 btn-success">Clear</button>
					</div>
				</div>

				<!-- Main Dashboard View  -->
				<div class="col-md-12 heading">
					<div>
						<span class='suitesId'>TS_{{suitsId}}</span>
						<h5 class="col-md-6" style='display: inline-block;'>
							&nbsp;&nbsp;{{suitesName}}
							<!-- <span class="status">{{status1}}</span> -->
						</h5>
						<!-- <div class="input-group input-group-sm col-md-2 pull-right"
style="padding-right: 0;">
<input type="text" class="form-control"
placeholder="Search TestCases" aria-label="Small"
aria-describedby="inputGroup-sizing-sm" style="max-height: 4vh;" data-ng-model="search">

</div> -->
					</div>
				</div>
				<div data-ng-repeat="(key, value) in testCasesData">
					<div
						style="margin-left: 1%; cursor: pointer; background: whitesmoke; margin-top: 3px; margin-bottom: 3px;">
						<span data-ng-click="toggleTable($index)"><i
							style="padding: 0px 14px;" class="fa fa-angle-double-right"></i><span
							class='suitesId'>TG_{{value.groupId}}</span></span>
						<h6 style='display: inline-block;'>
							&nbsp;&nbsp;<span data-ng-click="toggleTable($index)">{{key}}</span><i
								style="margin: 0px 14px;" class='fa fa-edit table-ico'
								data-ng-click="showModalForTestGroupEdit(value.groupId,suitesName)"></i><i
								class='fa fa-trash table-ico' style="color: #dc2626;"
								data-ng-click="confirmationDialogForDeleteGroup(key,value.groupId)"></i>
						</h6>
						<div class="input-group input-group-sm col-md-2 pull-right"
							style="padding-right: 0;">
							<input type="text" class="form-control"
								placeholder="Search Test Cases" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" style="max-height: 4vh;"
								data-ng-model="search">

						</div>
					</div>
					<div id="tableData{{$index}}"
						class="col-md-12 allProjects tableData"
						style="margin-left: 1.5%; border-left: 1px dotted;">
						<table id="{{value.groupId}}"
							class="table table-hover table-sm testcase sortable" style="">
							<thead class="thead-light">
								<tr>
									<th style="width: 10%">Move</th>
									<th><input type="checkbox"
										id="selectAllCase{{value.groupId}}"
										data-ng-click="selectTestCaseCheckBox(value.groupId,value.testCaseList)"
										title='Select All'></th>
									<th style="width: 9%">TMT TC_ID</th>
									<th style="width: 26%">UserDefined TC_ID</th>
									<th style="width: 40%; color: blue; word-break: break-all;">Test
										Description</th>
									<th style="width: 10%">Edit</th>
									<th style="width: 10%">Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="testcase in value.testCaseList | filter: search"
									id="{{testcase.srID}}">
									<td data-ng-if="testcase.srNo" class="other" style="width: 10%"><span
										class="handle ui-icon ui-icon-grip-dotted-vertical"></span></td>
									<td data-ng-if="testcase.srNo" class='other'><input
										type="checkbox"
										data-ng-click="selectEachTestCaseCheckBox(value.groupId,testcase.srID,value.testCaseList)"
										id="checkBoxID{{testcase.srID}}"
										class="caseCheckbox{{value.groupId}}"></td>
									<td data-ng-if="testcase.srNo" class="descp" style="width: 7%">TC_{{$index+1}}</td>
									<td data-ng-if="testcase.srNo" class="descp" style="width: 26%">{{testcase.testID}}</td>
									<!-- <td data-ng-if="testcase.srNo"  style="color: blue;"><a class='caseTitle'>{{testcase.testDescription}}</a></td>
-->
									<td data-ng-if="testcase.srNo"
										style="color: blue; word-break: break-all; width: 40%"
										class="caseTitle descp">{{testcase.testDescription}}</td>
									<td data-ng-if="testcase.srNo && testcase.isActive=='Y'"
										class='other'><i class='fa fa-edit table-ico'
										data-ng-click="editTestCase(testcase)" style="width: 10%"></i></td>
									<td data-ng-if="testcase.srNo && testcase.isActive=='Y'"
										class='other' style="width: 10px"><i
										class='fa fa-trash table-ico' style="color: #dc2626;"
										data-ng-click="confirmationDialogForDelete(testcase)"></i></td>

									<td data-ng-if="testcase.srNo==null && testcase.srID==null"
										colspan="6" style="color: red; width: 10%">No TestCases
										found...Kindly add below</td>
								</tr>




							</tbody>
						</table>

						<div class="addCase-wrap" data-ng-if="value.isActive=='Y'">
							<a class='add-anchor' data-ng-click="addNewTestCase($index)">Add
								Test Case</a> <span data-ng-show="showAddCaseBox[$index]"> <input
								type="text" class="caseAddWrap"
								placeholder="Enter Test Case Description"
								data-ng-model="caseDescription[$index]" /> <i
								class="fa fa-check"
								style="padding: 0px 14px; color: green; cursor: pointer;"
								data-ng-click="showUpdateModal($index,value.groupId, key, suitesName)">
							</i> <i class="fa fa-times" style="color: red; cursor: pointer;"
								data-ng-click="clear($index)"> </i>
							</span>
							<div class="success"
								style="margin-left: 98px; color: green; display: none;">*{{caseAddStatus[$index]}}</div>
							<div class="fail"
								style="margin-left: 98px; color: red; display: none;">*{{failStatus[$index]}}</div>

							<div class="row importTC">
								<input type="file" id="Tcfile{{$index}}"
									class="col-md-3 form-control-sm" />
								<div class='col-md-7'>
									<input id="append{{$index}}" name="uploadType{{$index}}"
										class="check" type="radio" value="append" checked>
									Append <input id="replace{{$index}}"
										name="uploadType{{$index}}" class="check" type="radio"
										value="replace"> Replace
									<button type="submit" id="cleanFile"
										data-ng-click="importTestCases($index,value.groupId,suitesName)"
										class="btn btn1 btn-success">Import</button>
									<button type="submit" data-ng-click="clearImportTC($index)"
										class="btn btn1 btn2 btn-success">Clear</button>
								</div>

								<div>
									<button type="submit" class="btn btn1 btn2 btn-success"
										data-ng-click="confirmationDialogForDeleteMul(value.groupId)"
										style="color: #fff;">Multiple Delete</button>
								</div>
							</div>
							<div class="row">
								<marquee class="faq" scrollamount="5">
									<span class="text-danger">*</span>Either you can add
									TestCase(s) or import TestCase(s) at Test Group level and Test
									Suite level also
								</marquee>
							</div>
						</div>

					</div>
					<div data-ng-if="$last" data-ng-init="shortTable()"></div>
				</div>
			</div>
			<!-- ./Main Dashboard View  -->

			<!-- Side Nav View -->
			<div class="col-md-2 right-side-nav" style="padding-right: 3px;">
				<div class="btn-wrap">
					<div class="row">
						<div class="col-md-4">
							<button type="button"
								class="btn btn-outline-primary btn-sm add-btn"
								data-ng-click="showModalForTestGroup()"
								style="margin-left: -20%;">
								<i class="fa fa-plus-circle"></i> Add Group
							</button>
						</div>
						<div class="col-md-8">
							<button type="button"
								class="btn btn-outline-primary btn-sm add-btn"
								style="margin-left: 1%;">
								<a class="dt" style="cursor: pointer;"
									data-ng-href="/TMT/api/downloadTemplate">Download Template</a>

							</button>
						</div>
					</div>
				</div>
				<!-- <div class="btn btn-outline-primary btn-sm add-btn">
						<button type="button" onclick="exportTableToCSV('members.csv')"  style="cursor: pointer;">Download TestCase Data</button>
				</div> -->
				<div class="col-md-10">
					<button type="button"
						class="btn btn-outline-primary btn-sm add-btn"
						onclick="exportTableToCSV('members.csv')" style="cursor: pointer;">Download
						TestCase Data</button>
				</div>
				<div class="col-md-4">
					<span><i class="fa fa-info-circle fa-lg" aria-hidden="true"
						data-ng-click="viewInforTC()"></i></span>

				</div>
				<div class="project-view">
					<div class='testSuites'>Groups</div>
					<div class="content">
						<!-- <div id='project-details' style="font-size: 13px;font-weight: 400;"><b>2</b> Test Suites and <b>328</b> Cases in this project.</div> -->
					</div>
				</div>
			</div>
			<!-- Side Nav View -->

		</div>
		<!-- ./Main Content -->




	</div>
	<!-- Suites Details Ends  -->

	<div class="caseDetails" data-ng-show='showSuitesDetails'></div>
	<div class="modal fade " id="createTestSuites">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Create New Test Suite &nbsp;&nbsp;&nbsp;<span
							style="color: red; font-size: 17px;">{{newTestSuiteStatus}}</span>
					</h4>

					<span id="modalResultTSuit" style="color: red; font-size: 17px;">{{status}}</span>

					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="clearTS()">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form enctype="multipart/form-data" id="demo-form"
							name="submitForm">
							<div class="row">
								<label class="col-md-3" for="fullname">Project Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="projectName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectName" name="fullname" required="required"
									readonly="readonly"> <input type="hidden"
									id="projectId" class="form-control form-control-sm col-md-7"
									data-ng-model="projectId" name="fullname">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Test Suite Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="applicationName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="testSuitesName" name="fullname" required>
							</div>

							<div class="row">
								<label for="heard" class="col-md-3">Is Active<span
									class="text-danger">*</span> :
								</label> <label style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="isActive" name="isActive"
									id="inlineRadio1 customRadio" checked="checked" value="Y">
									<span style="padding: 4px;">Y</span>
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="isActive" name="isActive"
									id="inlineRadio2 customRadio" value="N"><span
									style="padding: 4px;">N</span>
								</label>
							</div>
							<div class="row">
								<label for="heard" class="col-md-3">Upload Test Case(s)
									:</label>
								<div class=" col-md-4">
									<!-- <span class="btn btn-file"> Choose File<input
style="width: 110px; display: unset;" type="file" id="file"
data-ng-model="attachment"
file-select="file" accept=".pdf, .jpg, .jpeg" multiple />
</span> -->
									<input type="file" id="file" data-file-model="attachment"
										style="background-color: #e9ecef; width: 201%; margin-left: -14px; border: 2px solid #6b8fb39c !important;"
										class=" form-control-sm" />
								</div>
								<div class=" col-md-1">
									<span class='label label-info' id="upload-file-info"></span>
									<button id="showCross"
										style="margin-left: 10px; margin-top: 24%;"
										data-ng-click="clear()" type="button" class="close"
										aria-label="Close">
										<span aria-hidden="true" id="fileUpTS"
											style="color: red; cursor: pointer; margin-right: -222px;"	data-ng-click="clearFile()">&times;</span>
									</button>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">



								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" data-ng-click="createTestSuites()"
						class="btn btn-success" style="margin-right: 4%;">Submit</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"
						data-ng-click="clearTS()">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Edit test suites--------------------- -->
	<div class="modal fade " id="editTestSuites">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Edit Test Suite &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;" id="showstestsuiteupdate">{{testsuiteStatus}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label class="col-md-3" for="fullname">Project Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="projectName1"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectNameEdit" name="fullname"
									required="required" readonly="readonly"> <input
									type="hidden" id="projectId1"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectIdEdit" name="fullname">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Test Suite Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="applicationName1"
									class="form-control form-control-sm col-md-7"
									data-ng-model="testSuitesNameEdit" name="fullname" required>
							</div>

							<div class="row">
								<label for="heard" class="col-md-3">Is Active<span
									class="text-danger">*</span> :
								</label> <label style="margin-left: 50px;" class="radio-inline active">
									<input type="radio" data-ng-model="isActiveEdit"
									name="isActive" id="inlineRadio1 customRadio" checked="checked"
									value="Y"> Y
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio" data-ng-model="isActiveEdit"
									name="isActive" id="inlineRadio2 customRadio" value="N">
									N
								</label>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->

								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" data-ng-click="updateTestSuites()"
						style="margin-right: 6%;" class="btn btn-success"
						data-dismiss="modal">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->
	<!-- Create test Group--------------------- -->
	<div class="modal fade " id="createTestGroup">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Add New Group &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;">{{createGroupStatus}}</span>
						<span style="color: red; font-size: 17px;">{{createGroupStatuserroe}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label class="col-md-3" for="fullname">Project Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="projectName1"
									class="form-control form-control-sm col-md-7"
									data-ng-model="projectName" required="required"
									readonly="readonly"> <input type="hidden"
									id="projectId1" class="form-control form-control-sm col-md-7"
									data-ng-model="projectId" name="fullname">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Test Suite Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="testSuitesName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="suitesName" required readonly="readonly">
								<input type="hidden" id="suitesId"
									class="form-control form-control-sm col-md-7"
									data-ng-model="suitsId" name="suitsId">
							</div>
							<div class="row">
								<label for="fullname" class="col-md-3">Test Group Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="applicationName1"
									class="form-control form-control-sm col-md-7"
									data-ng-model="createTestGroupsObj.groupName"
									name="testGroupName" required>
							</div>

							<div class="row">
								<label for="heard" class="col-md-3">Is Active<span
									class="text-danger">*</span> :
								</label> <label style="margin-left: 50px;" class="radio-inline active">

									<input type="radio"
									data-ng-model="createTestGroupsObj.isActive" name="isActive"
									id="inlineRadio1 customRadio" value="Y" checked><span
									style="padding: 5px;">Y</span>
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio"
									data-ng-model="createTestGroupsObj.isActive" name="isActive"
									id="inlineRadio2 customRadio" value="N"><span
									style="padding: 5px;">N</span>
								</label>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->

								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" data-ng-click="addNewTestGroup()"
						style="margin-right: 10%" class="btn btn-success">Create</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->
	<!-- Create test Group--------------------- -->
	<div class="modal fade " id="editTestGroup">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Edit Group &nbsp;&nbsp;&nbsp;<span
							style="color: green; font-size: 17px;" id="updategs">{{updateGroupStatus}}</span>
						<span style="color: red; font-size: 17px;" id="updategropsterror">{{updateGroupStatuserror}}</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="x_content">

						<form id="demo-form" name="submitForm">
							<div class="row">
								<label for="fullname" class="col-md-3">Test Suite Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="testSuitesName"
									class="form-control form-control-sm col-md-7"
									data-ng-model="suitesName" required readonly="readonly">
								<input type="hidden" id="suitesId"
									class="form-control form-control-sm col-md-7"
									data-ng-model="suitsId" name="suitsId">
							</div>
							<div class="row">

								<label for="fullname" class="col-md-3">TestGroup Name<span
									class="text-danger">*</span> :
								</label> <input type="text" id="applicationName1"
									class="form-control form-control-sm col-md-7"
									data-ng-model="createTestGroupsObj.groupName"
									name="testGroupName" required>
							</div>

							<div class="row">
								<label for="heard" class="col-md-3">Is Active<span
									class="text-danger">*</span> :
								</label> <label style="margin-left: 50px;" class="radio-inline active">
									<input type="radio"
									data-ng-model="createTestGroupsObj.isActive" name="isActive"
									id="inlineRadio1 customRadio" checked="checked" value="Y">
									Y
								</label> <label style="margin-left: 50px;" class="radio-inline ">
									<input type="radio"
									data-ng-model="createTestGroupsObj.isActive" name="isActive"
									id="inlineRadio2 customRadio" value="N"> N
								</label>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

									<!-- <button class="btn btn-primary" type="reset">Reset</button> -->

								</div>
							</div>
						</form>

					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" data-ng-click="UpdateTestGroup()"
						style="margin-right: 10%" class="btn btn-success">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end -->
	<!-- -------------------------Modal for TestCaseEdit -->
	<!-- The Modal -->
	<div class="modal fade" id="editTestCase">
		<div class="modal-dialog modal-xxl" style="margin-top: 35px;">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
						TC_{{testCaseEdit.srNo}}<span
							style="color: green; font-size: 15px; margin-left: 128px;">{{updateTestCaseStatus}}</span>
					</h4>
					<span style="margin-left: 819px;"><i
						class="fa fa-info-circle fa-lg" aria-hidden="true"
						data-ng-click="viewInforTC()"></i></span>
					<button type="button" class="close" data-dismiss="modal"
						data-ng-click="clearTestCaseEdit()">&times;</button>
					<!-- dedit -->
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="col-md-12">
						<form>
							<div class="row">
								<div class="form-group col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Suite Name</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="testSuitesName"
											data-ng-model="testCaseEdit.testSuitesName"
											placeholder="Enter Test Suite Name" readonly="readonly">
									</div>
								</div>

								<div class="form-group col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Group Name</label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="testGroupName" data-ng-model="testCaseEdit.testGroupName"
											placeholder="Enter Test Group Name" readonly="readonly">
									</div>
								</div>
								<div class="form-group col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Case ID<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="testID" data-ng-model="testCaseEdit.testID"
											placeholder="Enter UserDefined TC Id" required>
									</div>
								</div>

								<div class="form-group col-md-3 noPaddingLeft">
									<label class="control-label" for="">Browser<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<select class="form-control form-control-sm"
											id='browserNameTest' data-ng-model="testCaseEdit.browser">
											<option value='' selected disabled>--SELECT--</option>
											<option value='Chrome'>Chrome</option>
											<option value='FireFox'>FireFox</option>
											<option value='IE'>IE</option>
										</select>
									</div>
								</div>



							</div>
							<div class="row">
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Scenario Id<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<input type="text" class="form-control form-control-sm"
											id="scenariosId" data-ng-model="testCaseEdit.scenarioID"
											placeholder="Enter Scenario Id...">
									</div>
								</div>
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Scenario<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<textarea class="form-control form-control-sm"
											id="scenarioName" data-ng-model="testCaseEdit.scenarios"
											placeholder="Enter Scenario Name..."></textarea>
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Case Type<span
										class="text-danger">*</span></label>
									<div class="form-control-content"
										data-ng-init="testCaseEdit.testCaseType='null'">
										<select class="form-control form-control-sm" id='testCaseType'>
											<option selected value='' selected disabled>--SELECT--</option>
											<option value='Positive'>Positive</option>
											<option value='Negative'>Negative</option>
										</select>
									</div>
									<label class="control-label" for="">Preparation
										Time(hh:mm:sec)</label>
									<div class="form-control-content">
										<input type="text" id="prepTime" placeholder="00:00:00"
											class="time form-control" data-ng-model="testExcute">
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Steps<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<textarea class="form-control form-control-sm" rows="5"
											id="stepsTest" data-ng-model="testCaseEdit.steps"
											placeholder="Enter steps..."></textarea>
									</div>
								</div>


							</div>
							<div class="row">
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Functionality<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<textarea class="form-control form-control-sm" rows="4"
											id="funcitionality"
											data-ng-model="testCaseEdit.functionality"
											placeholder="Enter Functionality..."></textarea>
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Data<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<textarea class="form-control form-control-sm" rows="4"
											id="testData" data-ng-model="testCaseEdit.testData"
											placeholder="Enter Test Data..."></textarea>
									</div>
								</div>
								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Expected Result<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<textarea class="form-control form-control-sm" rows="4"
											id="expectedResult"
											data-ng-model="testCaseEdit.expectedResult"
											placeholder="Enter Expected Result..."></textarea>
									</div>
								</div>

								<div class="form-group  col-md-3 noPaddingLeft">
									<label class="control-label" for="">Test Description<span
										class="text-danger">*</span></label>
									<div class="form-control-content">
										<textarea class="form-control form-control-sm" rows="4"
											id="testDescription"
											data-ng-model="testCaseEdit.testDescription"
											placeholder="Enter Test Description..." required></textarea>
									</div>
								</div>
							</div>
							<div class="form-group col-md-12 noPaddingLeft"
								style="margin: 3px;">
								<div></div>
							</div>

						</form>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="submity"
						style="margin-right: 60px;"
						data-ng-click="confirmTestCaseUpdate()">Update</button>
					<button type="submit" class="btn btn-primary" id="submitNew"
						style="margin-right: 63px;" data-dismiss="modal"
						data-ng-click="createTestCase()">Submit</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"
						data-ng-click="clearTestCaseEdit()">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- -------end -->
	<!-- -confirm boxxxxxx------------- -->
	<div id="confirmation-dialog-Mul-Del" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Alert!!!</h4>
				</div>
				<div class="modal-body">
					<div class="span5">Are you sure you want to delete?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary"
						data-ng-click="deleteMulTestCase()">Yes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end------------------- -->
	<!-- -confirm boxxxxxx------------- -->
	<div id="confirmation-dialog">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
					</div>
					<div class="modal-body">
						<div class="span5">{{confirmationDialogConfig.message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button"
							data-ng-repeat="button in confirmationDialogConfig.buttons"
							data-ng-click="executeDialogAction(button.action,testcase)"
							class="btn btn-primary">{{button.label}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end------------------- -->
	<!-- -confirm boxxxxxx------------- -->
	<div id="confirmation-dialog-group">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
					</div>
					<div class="modal-body">
						<div class="span5">{{confirmationDialogConfig.message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button"
							data-ng-repeat="button in confirmationDialogConfig.buttons"
							data-ng-click="executeDialogActionGroupDelete(button.action,groupId)"
							class="btn btn-primary">{{button.label}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end------------------- -->
	<!-- -notify boxxxxxx------------- -->
	<div id="notify-dialog-group">
		<div class="modal fade confirmation-dialog" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{notify.title}}</h4>
					</div>
					<div class="modal-body">
						<div class="span5">{{notify.message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end------------------- -->
</div>
<!-- -------------------------Modal for Information TestCase -->
<!-- The Modal -->
<div class="modal fade" id="infoTestCase">
	<div class="modal-dialog modal-xxl" style="margin-top: 35px;">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="color: #003c6b; margin-left: 16px;">
					Example of Test Cases<span
						style="color: green; font-size: 15px; margin-left: 128px;">{{updateTestCaseStatus}}

					</span>
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="col-md-12">
					<form>
						<div class="row">
							<div class="form-group col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Suite Name</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
										placeholder="Motor_FW_Buy New" disabled>
								</div>
							</div>

							<div class="form-group col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Group Name</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
										placeholder="Search quote" disabled>
								</div>
							</div>
							<div class="form-group col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Case ID</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
										placeholder="SC_Website_FW_SQ_001_TC_001" disabled>
								</div>
							</div>

							<div class="form-group col-md-3 noPaddingLeft">
								<label class="control-label" for="">Browser</label>
								<div class="form-control-content">
									<select class="form-control form-control-sm" disabled>
										<option value='' selected disabled>Chrome</option>

									</select>
								</div>
							</div>



						</div>
						<div class="row">
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Scenario Id</label>
								<div class="form-control-content">
									<input type="text" class="form-control form-control-sm"
										placeholder="SC_Website_FW_SQ_001" disabled>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Scenario</label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm"
										placeholder="To check the search quote functionality" disabled></textarea>
								</div>
							</div>

							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Case Type</label>
								<div class="form-control-content"
									data-ng-init="testCaseEdit.testCaseType='null'">
									<select class="form-control form-control-sm" id='testCaseType'
										disabled>
										<option selected value='' selected disabled>Positive</option>

									</select>
								</div>
							</div>

							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Steps</label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm" rows="4"
										placeholder="1.login with credentials:- UserID:- 

Testingteam@echannel.com  Password:- Testing@123     
2.Enter URL:- https://ipartneruiuxsync.icicilombard.com 
3.Go to Basic details Page
4.Go till Get Quote Page"
										disabled></textarea>
								</div>
							</div>


						</div>
						<div class="row">
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Functionality</label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm" rows="4"
										placeholder="Validation and UI" disabled></textarea>
								</div>
							</div>

							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Data</label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm" rows="4"
										placeholder="City : MUMBAI-MAHARASHTRA
Model Name: FORD - CLASSIC 1.4 DURATORQ CLXI (1399CC)"
										disabled></textarea>
								</div>
							</div>
							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Expected Result</label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm" rows="4"
										placeholder="Validation Message should appear." disabled></textarea>
								</div>
							</div>

							<div class="form-group  col-md-3 noPaddingLeft">
								<label class="control-label" for="">Test Description</label>
								<div class="form-control-content">
									<textarea class="form-control form-control-sm" rows="4"
										placeholder="To check Validation message of all fields in 

Basic details page and Get Quote Page"
										disabled></textarea>
								</div>
							</div>
						</div>
						<div class="form-group col-md-12 noPaddingLeft"
							style="margin: 3px;">
							<div></div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- -------end -->

<!-- -confirm boxxxxxx--update-test-case----------- -->
<div id="confirmation-dialog-update-test-case" class="modal"
	role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<div class="span5">Are you sure you want to edit test case ?</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					data-ng-click="updateTestCase()">Yes</button>
			</div>
		</div>
	</div>
</div>
<!-- end------------------- -->

<!-- -confirm boxxxxxx--update-test-case----------- -->
<!-- <div id="confirmation-dialog-retrieve-deleted-test-case" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<div class="span5">This test suite has already been deleted previously.</div>
				<div class="span5"> Do you want to retrieve the same test suite or create a new one with the same name?</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="retrieveDeletedTestCase('retrieve')">Retrieve</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="retrieveDeletedTestCase('new')">Create New</button>
			</div>
		</div>
	</div>
</div> -->
<!-- end------------------- -->
<script>
	/* $(".tableData").hide(); */
	function downloadCSV(csv, filename) {
		var csvFile;
		var downloadLink;

		// CSV file
		csvFile = new Blob([ csv ], {
			type : "text/csv"
		});

		// Download link
		downloadLink = document.createElement("a");

		// File name
		downloadLink.download = filename;

		// Create a link to the file
		downloadLink.href = window.URL.createObjectURL(csvFile);

		// Hide download link
		downloadLink.style.display = "none";

		// Add the link to DOM
		document.body.appendChild(downloadLink);

		// Click download link
		downloadLink.click();
	}
	function exportTableToCSV(filename) {
		var csv = [];
		var rows = document.querySelectorAll("table tr");

		for (var i = 0; i < rows.length; i++) {
			var row = [], cols = rows[i].querySelectorAll("td, th");

			for (var j = 0; j < cols.length; j++)
				row.push(cols[j].innerText);

			csv.push(row.join(","));
		}

		// Download CSV file
		downloadCSV(csv.join("\n"), filename);
	}
</script>