<style>
.table {
	background-color: #fff;
	border: 1px solid #ae275f;
}
</style>

<div class="row">
	<div class="col-md-2" style="margin-left: 6%; margin-right: -23px;">
		<button type='button' class="btn btn-primary"
			data-ng-click="createUser()" style="width: 95%;">Create
			Users</button>
	</div>
	<div class="col-md-2">
		<button type='button' class="btn btn-primary"
			data-ng-click="seeAllUsers()" style="width: 95%;">See All
			Users</button>
	</div>
</div>


<div class="col-md-9" data-ng-if="isCreateUser">
	<div class="panel panel-default"
		style="width: 75%; left: 8%; top: 6vh; position: absolute;">
		<div class="panel-heading"
			style="background-color: #ae275f; color: white;">
			<strong style="margin-left: -28%;">Create User</strong>
		</div>
		<div class="card-body" style="padding: 30px;">
			<form class="form-horizontal">

				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="email-input">User
						ID</label>
					<div class="col-md-9">
						<input class="form-control" id="userid" type="text"
							data-ng-model="userid" data-ng-blur='getADUser()' name="userId"
							placeholder="User ID">

					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="email-input">User
						Name</label>
					<div class="col-md-9">
						<input class="form-control" id="username" type="text"
							data-ng-model="username" name="userName" placeholder="User Name"
							disabled>

					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="select1">User
						Role</label>
					<div class="col-md-9">
						<select class="form-control" id="userrole"
							data-ng-model="userRole" name="select1">
							<option disabled value="">Select</option>
							<option value="admin">Admin</option>
							<option value="user">User</option>
						</select>
					</div>
				</div>

			</form>
		</div>
		<div class="card-footer" style="margin-left: 28%; margin-bottom: 3%;">
			<button class="btn btn-sm btn-primary" id='downtime' type="submit"
				data-ng-click="saveUser()">Submit</button>
			<button class="btn btn-sm btn-danger" type="reset">Reset</button>
		</div>
	</div>
</div>


<div class="col-md-9" data-ng-if="isSeeAllUser"
	style="margin-left: 5%; margin-top: 2%;">

	<div class="row">
		<div class="col-md-6">
			<h4>All User Details</h4>
		</div>
		<div class="col-md-6">
			<div class="form-group" style="margin-left: 41%; margin-bottom: 8px;">
				<input type="text" class="form-control ng-valid ng-dirty"
					placeholder="Search User..." data-ng-model="userId">
			</div>
		</div>
	</div>
	<table id="example"
		class="table table-striped responsive-utilities jambo_table">

		<thead>
			<tr class="headings" bgcolor="#ae275f">
				<th style="width: 70px; text-align: center; color: white">Sr.No</th>
				<th style="width: 70px; text-align: center; color: white">User
					ID</th>
				<th style="width: 70px; text-align: center; color: white">User
					Name</th>
				<th style="width: 70px; text-align: center; color: white">User
					Role</th>
				<th style="width: 26%; text-align: center; color: white">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="user in userList | filter : userId"
				id={{$index+1}}>
				<td style="color: black; text-align: center;">{{$index+1}}</td>
				<td style="color: black; text-align: center;">{{user.userId}}</td>
				<td style="color: black; text-align: center;">{{user.name}}</td>
				<td style="color: black; text-align: center;">{{user.role}}</td>
				<td style="color: black; text-align: center;">
					<button class="btn btn-sm btn-primary" id='downtime' type="submit"
						data-ng-click="openUserUpdateModal(user)">Update</button>
					<button class="btn btn-sm btn-danger"
						data-ng-click="deleteUser(user,$index+1)">Delete</button>
				</td>
			</tr>

		</tbody>
	</table>

</div>

<!-- The Modal -->
<div class="modal fade" id="userUpdateModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header" style="padding-bottom: 0%;">
				<h4 class="modal-title">User Update Modal</h4>
				<h5 style="color: red">{{fail}}</h5>
				<h5 style="color: green">{{success}}</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">

				<!-- <div class="panel panel-primary">
					<div class="panel-heading">Panel with panel-primary class</div>
					<div class="panel-body">Panel Content</div>
				</div> -->

				<div class="panel panel-default">
					<div class="panel-heading"
						style="background-color: #ae275f; color: white;">
						<strong>Update User</strong>
					</div>
					<div class="card-body"
						style="margin-left: 3%; width: 88%; margin-top: 4%;">
						<form class="form-horizontal">
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="email-input">User
									ID</label>
								<div class="col-md-9">
									<input class="form-control" id="userid" type="text"
										data-ng-model="updateUserId" name="userId"
										placeholder="User ID" disabled>

								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="email-input">User
									Name</label>
								<div class="col-md-9">
									<input class="form-control" id="username" type="text"
										data-ng-model="updateUserName" name="userName"
										placeholder="User Name">

								</div>
							</div>

							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="select1">User
									Role</label>
								<div class="col-md-9">
									<select class="form-control" id="select1"
										data-ng-model="updateUserRole" name="select1">
										<option disabled value="">Select</option>
										<option value="superAdmin">Super Admin</option>
										<option value="admin">admin</option>
										<option value="user">user</option>
									</select>
								</div>
							</div>


						</form>
					</div>
					<div class="card-footer"
						style="margin-left: 26%; margin-bottom: 3%; margin-top: 4%;">
						<button class="btn btn-sm btn-primary" id='downtime' type="submit"
							data-ng-disabled="!updateUserId || !updateUserName || !updateUserRole"
							data-ng-click="updateUser()">Update</button>
					</div>
				</div> 



			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>





