<style>
.modal{
    position: absolute;
}
.modal-body{
margin-left: 42px;
}
.modal-xl {
    max-width: 896px;
}
@media (min-width: 992px)
.modal-lg, .modal-xl {
    max-width: 800px;
}
@media (min-width: 576px)
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.navigator{
    background: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color:#0078d4;
}
.noPadding-left{
padding-right:0 !important
}
.navigator-admin{
    padding: 5px;
    background: #085ea0;
    color: white;
    padding-bottom: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.navigator-admin:hover{
	color:white !important;
}
.right-side-nav{
min-height:85vh;
background:#efefef;
}
.noMargin-left{
    margin-right: 0px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
        min-height: 59px;
    min-width: 262px;
}
.btn-wrap{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 3%;

}

.todolist{
	background: #c3c3c3;
    padding: 2%;
    padding-left: 6%;
    border-radius: 3px;
    color: #0078d4;
}
/* Adding Folder Style */
.li-style { color: darkred; }
.a-style:hover { text-decoration: underline !important; }
/* ./Adding Folder Style */

.lineChart{
border-radius: 6px;
}
.heading{
color: black;
background: #a9d7e8;
font-weight: 700;
font-size: 18px;
}
.project-icons{
    margin-right: 2%;
}
.project-icons i{
    font-size: 85px;
    color: #0078d4;
}

.project-options div a{
	cursor:pointer;
	color: #0078d4 !important;
}
.project-options div a:hover{
	text-decoration: underline !important;
}
.jstree-anchor{
color:#0078d4 !important;
}
.table td, .table th {
    /* padding: .75rem; */
    vertical-align: top;
        border-top: 1px solid black;

}
.tableheader
{
background: #2278d4;
    font-size: 87%;
    font-family: serif;
            color: white;
    }
    .tablebody
    {
        font-size: 88%;
    font-family: serif;
    }
    
button, select {
    text-transform: none;
}
li.selected {
    background-color:GoldenRod
}
.ulstyle
{
       border: 1px solid Black;
    width: 169px;
    height: 170px;
    display: inline-block;
    vertical-align: top;
    /*overflow: auto;*/
    /* margin: 0px; */
    padding: 0px;
    overflow-wrap: break-word;
    overscroll-behavior: initial;
    overflow-y: scroll;
}
.table td, .table th {
    padding: 6px !important;
    font-size: 13px !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
</style>
<script src="js/mailvalidation.js"></script>
<script src="js/dragdropvalidation.js"></script>

<!-- <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->


<link rel="stylesheet" href="css/custom.maindiv.css">
<div class="container-fluid noPadding">

<!-- Main Content -->
<div class="row noMargin-left">
<div class="col-md-10 noPadding-left">

<!-- Main Dashboard View  -->

<div class="col-md-12 heading">
	<div>Users</div>
</div>
<div class="row dash-charts">
<div class="col-md-10">
<div class="row">
    <div class="col-md-4 form-group" style=" margin-left: 1%;">
 <button type="submit" class="" data-toggle="modal"  data-ng-click="getmaxid()" >
	 <i class="fa fa-user"></i>&nbsp;Create User</button>
	  <button type="button"  data-ng-click="showmodalGiveAccess()" ><i class="fa fa-universal-access"></i>&nbsp;Give Access</button>
	<div class="input-group input-group-sm col-md-2 pull-right"
							style="padding-right: 0;"></div>
 </div>
     <div class="col-md-1 form-group">
</div>
							 <div class="col-md-4 form-group pull-right" style="margin-left: 24%;">
							<label>Search:</label>
							<input type="text"  aria-label="Small"
								aria-describedby="inputGroup-sizing-sm"  data-ng-model="search" style="border: 2px solid #6b8fb39c !important;max-height: 4vh;">
<!-- <input type="text" class="form-control"
								placeholder="Search TestCases" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" style="max-height: 4vh;" data-ng-model="search">
 -->
						</div>
						
</div>
	<table class="table" data-ng-init="userList(id,user_role)" class="table table-hover responsive-utilities"  border="2 solid" style=" margin-left: 1%;   margin-top: 1%;
    overflow: auto;">
  <thead class="tableheader">
    <tr>
      <!-- <th scope="col">User ID</th> -->
      <th scope="col">Mail ID</th>
       <th scope="col">User name</th>
       <th scope="col">User&nbsp;ID</th>
      <th scope="col">Active</th>
     <!--  <th scope="col">Created BY</th> -->
      <th scope="col">User role</th>
      <th scope="col">Locked</th>
      <th>Update</th>
      <th>Action</th>
      <th>Unlock User</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody data-ng-repeat="row in users | filter:search" class="tablebody">
    <tr>
 <!--       <td>{{row.userid}}</td> -->
      <td>{{row.username}}</td>
      <td>{{row.name}}</td>
       <td>{{row.userid}}</td>
      <td>{{row.isactive}}</td>
      <!-- <td>{{row.userCreatedBy}}</td> -->
      <td>{{row.userrole}}</td>
      <td data-ng-if="row.filedAttempts < 5 ">NO</td>
      <td data-ng-if="row.filedAttempts >= 5">YES</td>
      <td class="text-center">
        <div data-ng-click="openUserUpdateModal(row)" data-toggle="modal" data-target="#EditUser">
        <i style="color: blue; cursor: pointer;" class="fa fa-pencil" aria-hidden="true"></i></div>
     </td>
	<td class="text-center">
	   <div  data-ng-click="delete(row)" data-toggle="modal" data-target="#deleteuser"> 
	   <i style="color: red; cursor: pointer;" class="fa fa-trash" aria-hidden="true"></i></div>
	</td>
	<td class="text-center">
	   <div data-ng-if="row.filedAttempts >= 5" data-ng-click="unlockUser(row.userid)" data-toggle="modal" > 
	   <i style="color: red; cursor: pointer;">Unlock</i></div>
	</td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-md-2"></div>
</div>
</div>
<div class="col-md-2 right-side-nav">
 	<div class="project-view">
	<div class='todolist'>
	   Manage Projects, Users and Global settings</div>
		<div class="content">
		 	<div id='Users & Roles' class="table-ico">
		 	<a data-ng-click=""  ui-sref="UserManagement">Users & Roles</a>
		 	</div>
		 	<div id='Integration' class="table-ico" ui-sref="admin.Integration">Integration</div>
		</div>
	</div>
</div>
</div>
<div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
              <h4 class="modal-title" >Edit User&nbsp;&nbsp;&nbsp;<span id="statusEditusers"
							style="color: green; font-size: 17px;">{{statusEdituser}}</span></h4>

            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
     
      <!-- Modal body -->
      <div class="modal-body">
      <div class="x_content">

				<form id="demo-form" name="submitForm">
					<div class="row">
						<label class="col-md-3" for="username">User Mail ID<span class="text-danger">*</span> :</label> <input
							type="text" id="mailid" class="form-control form-control-sm col-md-7"
							 data-ng-model="Edituser.Editmailid" name="fullname" required="required">
							 <input
							type="hidden"  class="form-control form-control-sm col-md-7"
							 data-ng-model="Edituser.Editid"  required="required">
					</div>
						<div class="row">
						<label for="fullname" class="col-md-3">User name <span class="text-danger">*</span> :</label>
						<input type="text" id="username"
							class="form-control form-control-sm col-md-7"  data-ng-model="Edituser.Editname"
							name="fullname" required>
					</div>
					<div class="row">
					 <label class="col-sm-3" for="usertype">User role<span class="text-danger">*</span> :</label>
					  <select class="form-control form-control-sm col-md-7" data-ng-Model="Edituser.EditupdatedRole" style="width: 138px;" required="required">
                       <!-- <select class="form-control col-md-7" name="select1" data-ng-value="EditupdatedRole" data-ng-Model="EditupdatedRole" data-ng-change="manager(updatedRole)"  style="width: 110px;" required="required">
 -->
 
 <option data-ng-repeat='row in roles' value="{{row.roleId}}">{{row.roleType}}</option>
 <!-- value="{{row.roleId}} -->
                   </select>
                    
					</div>
						<div class="row">
						<label for="manager" class="col-md-3">Active<span class="text-danger">*</span> :</label>
					 <select class="form-control form-control-sm col-md-7" data-ng-Model="Edituser.EditActive"  required="required">
                     <option>Y</option>
				    <option>N</option>
                     </select>
				    	</div>
						<!-- <div class="row" data-ng-if=visibletester>
						<label for="manager" class="col-md-3">Assign Manager* :</label>
								<select class="allmanger" id="allmanger"  name="manger[]" data-ng-model="updateList[0].manager"
									multiple="multiple" data-ng-model="allmanger" style="min-width: 268px;">
									<option data-ng-repeat='applist in getmanagerlist' value={{applist.id}}>{{applist.username}}</option>
								</select>
				    	</div> -->
					
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							 <!-- <button type="button" class="btn-back pull-right btn btn-primary btn-sm "  data-toggle="modal" data-target="#accesslist" data-ng-click="getaccessDetails(updateList[0].id)" >Show Projects</button>
						 -->	<!--  <button type="button" data-toggle="modal" data-target="#updateAccess" data-ng-click="getaccessDetails(updateList[0].id)" onclick="showMul()">Update projects</button>
					     	 --> 
					     
					     <!-- <button type="button" class="btn-back pull-right btn btn-primary btn-sm " data-ng-click="EditUser(updateList[0])" onclick="showMul()">Update User</button>
					     -->	
					   
						</div>
					</div>
				</form>
				
			
			</div>
			<!-- 	<!-- -confirm boxxxxxx--edit project----------- -->
			<div id="confirmation-dialog-Edit-user" class="modal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Alert</h4>
							</div>
							<div class="modal-body">
								<div class="span5">Are you sure you want to edit user? </div>
							</div>
							<div class="modal-footer">
								 <button type="button" class="btn btn-default" data-ng-click="closeEditUser()">No</button> 
<!-- 								<button type="button" class="btn btn-default" data-ng-click="openUserUpdateModal(row)">No</button>
 -->								
								
								<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="EditUser(Edituser)">Yes</button>
							</div>
						</div>
					</div>
			</div>
      </div>
	
      <!-- Modal footer -->
      <div class="modal-footer">
      	  <button type="button" class="btn-back pull-right btn btn-primary btn-sm " style="margin-right: 10px;"data-ng-click="confirmEditUser()">Update User</button>
      
        <button type="button" class="btn-back pull-right btn btn-danger btn-sm" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade " tabindex="-1" style="margin-top: -1px;" id="createuser" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" >Create New User&nbsp;&nbsp;&nbsp;<span id="createUserStatus"
							style="color: green; font-size: 17px;">{{statuscreateusere}}</span>
							<span id="statusFails" style="color: red; font-size: 17px;">{{statusfailuser}}</span>
							</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <div class="x_content">

				<form id="demo-form" name="submitForm">
				<div class="row">
						<label class="control-label col-sm-2" for="userid" >User ID<span class="text-danger">*</span> :</label>
						<div class="col-sm-10"> 
	        	 <!-- <input type="text" class="form-control" id="userid"
		           data-ng-model="max" placeholder="userid" onKeyup='onlyNumbers(this)' onKeydown='onlyNumbers(this)' onKeypress='onlyNumbers(this)'  required>
				 -->	
				 <input type="text" class="form-control" id="userid"
		           data-ng-model="userid" placeholder="Enter User ID" required>
				 </div>
					</div>
					<div class="row">
						<label class="control-label col-sm-2" for="mailid">Mail ID<span class="text-danger">*</span>:</label>
						<div class="col-sm-10"> 
		 <input type="email" class="form-control" id="mailid1"
		  data-ng-model="mailid" placeholder="Enter Mail ID" required></div>
					</div>
					<div class="row">
						<label class="control-label col-sm-2" for="username">User name<span class="text-danger">*</span> :</label>
							 <div class="col-sm-10"> 
			<input type="text" class="form-control" id="usernamecreate"
			data-ng-model="username" placeholder="Enter Username" required>
				</div>
					</div>
					<div class="row">
						    <label class="control-label col-sm-2" for="usertype">User type<span class="text-danger">*</span> :</label>
             <div class="col-sm-10"> 
            <select class="form-control mb-4 col-md-6" name="select1" data-ng-model="usertype" id="usertype">
             <option value="" selected disabled>Select</option> 
             <option data-ng-repeat='row in roles' value="{{row.roleId}}">{{row.roleType}}</option>
                  </select>
                     </div>
					</div>
					
				
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
						</div>
					</div>
				</form>

			</div>
      </div>

      <div class="modal-footer">
      							<button type="button" class="btn btn-primary" data-ng-click="confirmCreateUser()" style="margin-right: 11px;">Create User</button>
      
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="resetcreate()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="giveaccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-ng-init="dropdownlist()">

    <div class="modal-dialog modal-xxl" style="margin-top: 41px;">
    <div class="modal-content"  style="background: whitesmoke;" >
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background:#3c8dbc;">
         	<strong style=" color: white;">Give Access</strong>&nbsp;&nbsp;&nbsp;<span id="successSaveAccess" style="color: white;">{{statusave}}</span>
         	<span id="failsSaveAccess" style="color: red;">{{statusfail}}</span>
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close" data-ng-click="resetForm()">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
        <div class="modal-body" data-ng-init="dragndrop()">
      <div class="x_content">
      <div class="row">
      
        <div class="col-md-7">
       <!--  <span  >Available Projects</span> -->
        </div>
         <div class="col-md-5">
         Assign project to:
          <select name="useridAccess" id="useridAccess" data-ng-change="getUserDetails(userid)" data-ng-model="userid">
       			<option value="" disabled selected>Select User</option>
			    <option data-ng-repeat='row in usersAccessdropdown' value="{{row.id}}">{{row.name}}</option>
       </select>
         </div>
      </div>
       <div class="row">
      
        <div class="col-md-2">
       <label for="admin"> Available Projects</label>
        <ul  class="admin ulstyle">
    <li data-ng-repeat="row in allprojectList1" value="{{row.projectid}}" style="display: inline-block; background-color:Azure;display: list-item; list-style: none;
    border-bottom:1px dotted Gray">{{row.projectName}}</li>
          </ul>
        </div>
        <div class="col-md-1">
        
        </div>
         <div class="col-md-8">
         <div class="row">
          <div class="col-md-4">
          <label for="Tester">Tester</label>
        <ul class="Tester ulstyle"> 
         <li data-ng-repeat="row in tester"  value={{row.projectid}} style=" background-color:Azure;display: list-item; list-style: none ;
    border-bottom:1px dotted Gray">{{row.projectName}}</li>
          </ul>
          </div>
           <div class="col-md-4">
           <label for="Readonly">Readonly</label>
        <ul  class="Readonly ulstyle">
         <li data-ng-repeat="row in readonly"  value={{row.projectid}} style=" background-color:Azure;display: list-item; list-style: none;
    border-bottom:1px dotted Gray">{{row.projectName}}</li>
          </ul>
           </div>
            <div class="col-md-4">
             <label for="Manager">Manager</label>
        <ul class="manager ulstyle">
      <li data-ng-repeat="row in manager"  value={{row.projectid}} style=" background-color:Azure;display: list-item; list-style: none;
    border-bottom:1px dotted Gray">{{row.projectName}}</li>
          </ul>
            </div>
         </div>
         </div>
      </div>
        <div class="modal-footer d-flex justify-content-center">
      <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-2">
   </div>
      </div>
    </div>
</div>
 <div class="modal-footer">
        <button id='grant' class="btn-back  btn btn-primary"  style="margin-right: 1%;" data-ng-click="giveaccess(userid)">Grant Access</button>
 
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="resetForm()">Close</button> 

      </div>
         	    
    </div>
    </div>
    </div>
       <div class="modal fade" id="Addrole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: #dee2e6;">
         <strong>Add Role</strong> 
         
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         {{statuscreateusere}}
       </div>
    <div class="modal-body mx-3">
    <div class="form-group">
    <p>
		<label for="mailid">Add Role:</label>
	
				<input type="text" class="form-control" id="role"
				data-ng-model="role" placeholder="Enter role" required>

	</p>
	</div>
<!-- 	<div class="form-group">
		<label class="control-label col-sm-2" for="username">Existing Roles</label>
							 <div class="col-sm-10"> 
			<input type="text" class="form-control" id="username"
			data-ng-model="fullName" placeholder="Enter Username" required>
				</div>
           </div>
     -->
       <div class="col-sm-10"> 
       <label for="rolename">Existing role:</label>
        <div  ng-repeat="item in roles">{{item.roleType}}</div>
   
    </div>
     <div class="modal-footer d-flex justify-content-center">
      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
       <button id='btnUpdateMain' class="btn-back  btn btn-primary btn-sm"  data-ng-click="addrole(role)">Add Role</button>
   </div>
      </div>
       </div>
     <div class="modal-footer">
   	<button type="reset" data-dismiss="modal" class="btn btn-danger" data-ng-click="removerole()" >Cancel</button>
    </div>
    </div>
    </div>
 
      <div class="modal fade" id="accesslist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: #dee2e6;">
         	<strong>Access</strong> 
         	<a class="green-text font-weight"><strong style="background: #dee2e6;">Details</strong></a>
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
    <div class="modal-body mx-3">
  
									  <label for="Select User">Access project :</label>
									
									 <div  ng-repeat="item in getAccesslist">{{item.projectName}}</div>
				
           
			      </div>
  <div class="modal-footer d-flex justify-content-center">
 <!--       <button id='btnUpdateMain' class="btn-back pull-right btn btn-primary btn-sm " data-dismiss="modal" data-ng-click="createUser()">Access</button> -->
   	<button type="reset" class="btn-back pull-right btn btn-primary btn-sm resetFooterMainTicket" data-dismiss="modal" >Cancel</button>
    </div>
    </div>
    </div>
    </div>
    
      <div class="modal fade" id="updateAccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-4">
         <span class="modal-title w-100  font-weight" id="myModalLabel"  style="background: #dee2e6;">
         	<strong>Update</strong> 
         	<a class="green-text font-weight"><strong style="background: #dee2e6;">Details</strong></a>
         </span>
         <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <form id="demo-form" name="submitForm">
					<div class="row">
						<label class="col-md-3" for="username">User name:</label> <input
							type="text" id="projectName" class="form-control form-control-sm col-md-7"
							 data-ng-model="updateList[0].username" name="fullname" required="required">
					</div>
					<div class="row">
						<label for="fullname" class="col-md-3">User Role<span class="text-danger">*</span> :</label>
						<input type="text" id="applicationName"
							class="form-control form-control-sm col-md-7"  data-ng-model="updateList[0].userrole"
							name="fullname" required>
					</div>
						<div class="col-sm-10">
					    	<label for="fullname" class="col-md-3">Select Project:</label>
								 <input type='checkbox' data-ng-model='selMul' data-ng-change='selectMultiple()'><label>Select
									All</label> 
									<select class="selectproject1" id="selectproject1" multiple="multiple"
									name="appAccess[]">
									<option data-ng-repeat='applist in getAccesslist' value={{applist.projectid}}>{{applist.projectName}}</option>
								</select>
							<!-- 
									 <select class="updatedApplist" id="updateApplist"  name="states[]" data-ng-model="updateapplistApp"
									multiple="multiple" data-ng-model="data.test"style=" min-width: 414px;"  data-ng-click="getaccessDetails(data.test)" >
									
									<option disabled>Select Multiple</option>
									 <option disabled>Select Multiple</option>
									<option data-ng-repeat='applist in allprojectList1' value={{applist.projectid}}>{{applist.projectName}}</option>
								</select> -->
								</div>
					
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
						
							<button class="btn btn-primary" data-toggle="modal" data-target="#updateAccess" data-ng-click="getupdateproject(updateList[0].id,updateapplistApp)">Update projects</button>
						
						</div>
					</div>
				</form>
   
  <div class="modal-footer d-flex justify-content-center">
 <!--       <button id='btnUpdateMain' class="btn-back pull-right btn btn-primary btn-sm " data-dismiss="modal" data-ng-click="createUser()">Access</button> -->
   	<button type="reset" class="btn-back pull-right btn btn-primary btn-sm resetFooterMainTicket" data-dismiss="modal" >Cancel</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- 	<!-- -confirm boxxxxxx--edit project----------- -->
			<div id="confirmation-dialog-create-user" class="modal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Alert</h4>
							</div>
							<div class="modal-body">
								<div class="span5">Are you sure you want to create user ? </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal" id="createuserid" data-ng-click="createUser()" >Yes</button>
							</div>
						</div>
					</div>
			</div>
    <script>
   
    $('#mailid1').on('change', function(e) {
		
		
		var userid=$("#userid").val();
	    
	    //var regexLetter =/^.*(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$/;
	    var regexLetter = /^[A-Za-z0-9_@./#&+-]*$/;

	    
	    
	    if((regexLetter.test(userid))==false){
	        alert("User ID must be alphanumeric and no beginning and ending  white space are allowed ");
	    return false;
	      } else{
	      
	      }

	 return true;
		
	});
    
$('#username').on('change', function(e) {
		
		
		var userid=$("#userid").val();
	    
	    //var regexLetter =/^.*(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$/;
	    	    var regexLetter = /^[A-Za-z0-9_@./#&+-]*$/;

	    
	    if((regexLetter.test(userid))==false){
	        alert("User ID must be alphanumeric and no beginning and ending  white space are allowed ");
	    return false;
	      } else{
	      
	      }

	 return true;
		
	});
	
$('#usernamecreate').on('change', function(e) {
	
	
	var userid=$("#userid").val();
    
    //var regexLetter =/^.*(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$/;
    	var regexLetter = /^[A-Za-z0-9_@./#&+-]*$/;

    
    if((regexLetter.test(userid))==false){
        alert("User ID must be alphanumeric and no beginning and ending  white space are allowed ");
    return false;
      } else{
      
      }

 return true;
	
});
    </script>
	