<style>
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
	width: 212px;
}

.heading {
	color: black;
	background: #a9d7e8;
	font-weight: 700;
	font-size: 18px;
}

.btn {
	border-radius: 8px;
	-webkit-box-shadow: none;
	font-size: inherit;
	box-shadow: none;

	/* border: 1px solid transparent; */
}
</style>

<div class="row" >
	<div class="col-md-12 heading" style="margin-left: 17px">View Projects</div>
</div>


<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-1">
		<label><div style="margin-left: -100%;">Search&nbsp;By&nbsp;Project&nbsp;Name:</div></label>
	</div>
	<div class="input-group input-group-sm col-md-2"
		style="padding-right: 0; margin-left: -7%;">
		<input type="text" class="form-control" placeholder="Search Project"
			aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			style="max-height: 5vh;"
			data-ng-model="searchByProjectName.projectName">

	</div>
	<div class="col-md-1">
		<label>Search&nbsp;By&nbsp;Project&nbsp;Status:</label>
	</div>
	<div class="col-md-2">
		<select class="form-control form-control-sm"
			style="height: 29px; font-size: 13px; padding: 0px 6px; border: 1px solid #6b8fb39c; margin-left: 26%;" data-ng-model="searhProjectByDropDown"
			data-ng-change="searhProjectByProjectStatus()">
			<option value=''>--All--</option>
			<option value="Y">Active</option>
			<option value="N">Inactive</option>
		</select>
	</div>
</div>

<div class="row">
	<table class="table table-hover table-sm testcase sortable"
		id="sortable" style="text-align: center;">
		<thead class="thead-light">
			<tr>
				<th>Sr No</th>
				<th>Project Id</th>
				<th>Project Name</th>
				<th>Project Start Date</th>
				<th>Project End Date</th>
				<th>Created By</th>
				<th>Created Date</th>
				<th>Status</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr
				data-ng-repeat="projectList in allproject  |filter : searchByProjectName">

				<!-- data-ng-change="addMulTCForAssigin(testcase.id)" -->
				<td>{{$index+1}}</td>
				<td>{{projectList.projectID}}</td>
				<td>{{projectList.projectName}}</td>
				<td>{{projectList.projectStartDate}}</td>
				<td>{{projectList.projectEndDate}}</td>
				<td>{{projectList.createdBy}}</td>
				<td>{{projectList.createdTime}}</td>
				<!-- <td>{{projectList.isActive}}</td> -->
				<td>
					<!-- <span class='caseTitle'>{{testcase.testerName}}</span>  --> <select
					class="form-control form-control-sm" id='projectrole'
					style="height: 21px; font-size: 13px; width: 96px; margin-left: 24%; padding: 0px 6px; border: 1px solid #6b8fb39c !important;"
					data-ng-model="projectList.isActive">
						<option value="Y">Active</option>
						<option value="N">Inactive</option>
				</select>
				</td>

				<td>
					<button type="button" id="access" class="btn btn-primary"
						style="background-color: #28a745;"
						data-ng-click="changeProjectStatus(projectList)">Change</button>
				</td>
				<!-- <td>
							<button type="button" class="btn btn-primary" style="    background-color: #dc3545;"
								data-ng-click="deleteAccessUserEntitlement(testcase)">Delete
								Access</button>
						</td> -->
			</tr>
		</tbody>
	</table>

	<div class="ng-binding"
		style="display: inline; color: red; margin-left: 50%;">{{FailStatus}}</div>



</div>