.select2-container {

	font-family: Roboto, Helvetica;
}

.select2-container--open .select2-dropdown--below,
	.select2-container--open .select2-dropdown--above {
/* 	background: #df1351; */
}

.select2-container--flat .select2-container--focus .select2-selection--multiple
	{
	/* border: 1px solid #16a085; */
	border: 1px solid #DDE2E8;
}

.select2-container--flat .select2-results__option--highlighted[aria-selected]
	{
	background: #16a085 !important;
	color: #ffffff;
}

.select2-container--flat .select2-results__option[aria-selected=true] {
	background: #16a085;
	color: #fff;
	opacity: 0.8;
}

.select2-container--flat .select2-selection--single {
	border-radius: 0px;
}

.select2-container--flat.select2-container--open .select2-selection__arrow b
	{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.select2-container--flat span.select2-search input {
	height: 30px !important;
}

.select2-container .select2-choice {
	border: 2px solid #dce4ec;
	height: 36px;
	border-radius: 0px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	text-indent: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
}

.select2-container .select2-choice div {
	border-left: 2px solid #dce4ec;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.select2-container .select2-choice .select2-arrow {
	border: 0px;
	border-radius: 0px;
	background: transparent;
	background-image: none;
}

.select2-container *:focus {
	outline: 0px;
}

.select2-container.select2-drop-above .select2-choice {
	border-bottom-color: #dce4ec;
	border-radius: 0px;
}

.select2-drop {
	margin-top: -2px;
	border: 2px solid #dce4ec;
	border-top: 0;
	border-radius: 0px !important;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.select2-drop.select2-drop-above {
	margin-top: 2px;
	border-top: 2px solid #dce4ec;
	border-bottom: 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.select2-search {
	margin-top: 3px;
}

.select2-search input {
	height: 26px;
	border: 2px solid #dce4ec;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices
	{
	border: 2px solid #dce4ec;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.select2-dropdown-open .select2-choice {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}

.select2-dropdown-open .select2-choice .select2-choice div {
	background: transparent;
	border-left: none;
	filter: none;
}

.select2-results {
	padding: 0 0 0 0px;
	margin: 4px 0px 0px 0;
}

.select2-results .select2-highlighted {
	background: #16a085;
	color: #fff;
	border-radius: 0px;
}

.select2-container-multi .select2-choices {
	height: auto !important;
	height: 1%;
	border: 2px solid #dce4ec;
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 2px solid #dce4ec;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/****** Single SCSS *******/
.select2-container--flat .select2-selection--single {
	background: #48c9b0;
	border: 0px;
	height: 34px;
}

.select2-container--flat .select2-selection--single .select2-selection__rendered
	{
	color: #fff;
	line-height: 34px;
}

.select2-container--flat .select2-selection--single .select2-selection__arrow
	{
	height: 26px;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
}

.select2-container--flat .select2-selection--single .select2-selection__arrow b
	{
	border-color: #fff transparent transparent transparent;
	top: 60%;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	width: 0;
}

.select2-container--flat .select2-selection--single .select2-selection__placeholder
	{
	color: #fff;
}

.select2-container--flat .select2-selection--single .select2-selection__clear
	{
	cursor: pointer;
	float: right;
	font-weight: bold;
}

/****** Multiple SCSS *******/
.select2-container--flat .select2-selection--multiple {
	/*  border: 1px solid #16a085; */
	border: 1px solid #DDE2E8;
}

.select2-container--flat .select2-selection--multiple .select2-selection__choice__remove:hover
	{
	color: #16a085;
	cursor: pointer;
}

.select2-container--flat .select2-selection--multiple .select2-selection__rendered
	{
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0 5px;
	width: 100%;
}

.select2-container--flat .select2-selection--multiple .select2-selection__choice
	{
	background-color: #f03e62;
	color: #fff;
	border: 1px solid #DDE2E8;
	border-radius: 0px;
	padding: 3px 5px;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

.select2-container--flat .select2-selection--multiple .select2-selection__choice__remove
	{
	color: #010007;
	margin-right: 6px;
	margin-left: 6px;
	font-size: 10px;
	float: right;
}
/* Adding Multi Option Dropdown */
.select2-container {
	width: 25vw !important;
}

.select2-results__option {
	padding-right: 20px;
	vertical-align: middle;
}

.select2-results__option:before {
	content: "";
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	border: 2px solid #e9e9e9;
	border-radius: 4px;
	background-color: #fff;
	margin-right: 20px;
	vertical-align: middle;
}

.select2-results__option[aria-selected=true]:before {
	font-family: fontAwesome;
	content: "\f00c";
	color: #fff;
	background-color: #f77750;
	border: 0;
	display: inline-block;
	padding-left: 3px;
}

.select2-container--default .select2-results__option[aria-selected=true]
	{
	background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: white;
	color: #272727;
}

.select2-container--default .select2-selection--multiple {
	margin-bottom: 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple
	{
	border-radius: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple
	{
	border-color: #f77750;
	border-width: 2px;
}

.select2-container--default .select2-selection--multiple {
	border-width: 2px;
}

.select2-container--open .select2-dropdown--below {
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.select2-selection .select2-selection--multiple:after {
	content: 'hhghgh';
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
	display: none;
}

.select-icon .placeholder {
	display: none;
}

.select-icon .select2-results__option:before, .select-icon .select2-results__option[aria-selected=true]:before
	{
	display: none !important;
}

.select-icon  .select2-search--dropdown {
	display: none;
}

default .select2-selection--multiple .select2-selection__choice {
	background-color: #bf154b !important;
	border: 1px solid #3819b3 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
	{
	color: #fbf5f5 !important;
	background-color: #bf154b !important;
	border: 1px solid #3819b3 !important;
}